.spacing-block {
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: 6px;
    font-size: 87% !important;
    top: 4px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
}

.addButton {
    color: #1AA4E8;
    margin-left: auto;
    cursor: pointer;
}

li {
    list-style-type: none !important;
    color: grey !important;
    margin: 5px !important;
}

li button {
    margin: 5px !important;
}

.ends {
    margin-left: auto;
}

#view_details input {
    color: white;
    pointer-events: none;
}

.input-disable {
    pointer-events: none;
}

.example-chip-list {
    border: 1px solid #616161;
    width: 100%;
    background-color: #14171E;
    padding-bottom: 10px;
}

.example-chip-list input::placeholder {
    color: #585a5f;
}

.mat-standard-chip {
    background-color: white;
    color: black;
}

.cancel {
    color: #ff0000;
}

.example-chip-list-2 {
    height: 38px;
    border: 1px solid #616161;
    width: 100%;
    background-color: #14171E;
    padding-bottom: 10px;
    width: 75%;
}

.input-btn {
    display: flex;
}

.inputCatagory {
    padding: 0px !important;
    margin: 0px !important;
}

.rmBtn {
    margin-left: 4px;
    width: 24%;
}

.form-control:disabled,
.form-control[readonly] {
    background: #191C24 !important;
}

.cancel {
    margin: 5px !important;
    color: white;
}

.export {
    width: 110% !important;
    background: #656667 !important
}

.excel {
    margin-top: -3px;
    margin-right: 8px !important;
    height: 15px;
}

.pdf {
    margin-top: -3px !important;
    margin-right: 12px !important;
    height: 15px;
}

.d-block {
    text-transform: capitalize !important;
}

.strip-heading {
    text-transform: capitalize !important;
}

.mat-standard-chip .mat-chip-remove.mat-icon,
.mat-standard-chip .mat-chip-remove .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #ff0000 !important;
    margin-top: 1px !important;
}

mat-chip {
    text-transform: capitalize;
}

@media (max-width: 1900px) {
    .export {
        height: 40px !important;
        font-size: 13px !important;
    }
}

@media (max-width: 1480px) {
    .export {
        font-size: 11px !important;
    }
    .excel {
        height: 12px !important;
    }
}

@media (max-width: 1251px) {
    .export {
        font-size: 10px !important;
    }
    .excel {
        height: 12px !important;
    }
}

@media (max-width:760px) {
    .export {
        margin-top: 16px !important;
        font-size: 12px !important;
    }
}

.modal-title {
    font-size: 1.25rem !important;
}
