<ngx-spinner> </ngx-spinner>
<esp-content [title]="'Organizations'">
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid" *ngIf="Table">
            <div class="statistic-block block">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><img class="height_20" src="./assets/img/icons/search.svg"></span></div>
                            <input type="text" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Organization" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-2  col-md-4 col-sm-12">
                        <div class="input-group">
                            <button class="btn btn-primary text-white  export" (click)="exportToExcel()"><img class="mx-1 excel"  src="assets/img/excel.svg" />  Export To Excel</button>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="input-group">
                            <button class="btn btn-primary  text-white export" (click)="exportToPdf()"><img class="mx-1 pdf"  src="assets/img/pdf.svg" />  Export To Pdf</button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <a class="add-link m_top_8" routerLink="/esp-super-admin/new-organisations">Onboard New Organization<i class="material-icons">add_circle_outline</i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngFor="let card of oraganisationslist2  | filter:searchText" #reportContent>
                    <div class="public-user-block questionaire-div block m-btm-15">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-4 col-md-4 col-sm-5  d-flex align-items-center">
                                <a class="name"><strong class="d-block strip-heading">{{card.organisationName}}</strong><span class="d-block">{{card.organisationName}}/{{card.subDomain}}/{{card.addressline1}}/{{card.addressline2}} </span></a>
                            </div>
                            <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
                            <div class="col-lg-6 col-md-6 col-sm-5 ">
                                <div class="details d-flex row">
                                    <div class="item col-md-4">
                                        <span> Onboarded Date</span><br>
                                        <strong>{{card.onBoardedDate | date: 'dd/MM/yyyy'}}</strong>
                                    </div>
                                    <div class="item col-md-4">
                                        <span>Expiry Date</span><br>
                                        <strong>{{card.expiryDate | date: 'dd/MM/yyyy'}}</strong>
                                    </div>
                                    <div class="item col-md-4">
                                        <span>Admin Status</span><br>
                                        <strong class="dashbg_txt_4" *ngIf="card.status==true">Active</strong>
                                        <strong class="injured_txt" *ngIf="card.status==false">In-Active</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 text-right d-flex ">
                                <div class="dropdown action-spacing">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="check(card)">
                  Actions
                </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" (click)="openEditPage(card)" style="cursor: pointer;">Edit Organization</a>
                                        <a class="dropdown-item" (click)="openViewPage(card)" style="cursor: pointer;">View Organization</a>
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myDownloaded" style="cursor: pointer;" (click)="download(card.id)">Download Details</a>
                                        <div class="border-top w-100 pt--sm mt--sm"></div>
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete" style="cursor: pointer;" (click)="removePage(card.id)">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myDownloaded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2 "><span style="color: #6ed94d;">Download!</span> </strong>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p class="">Click to download. <br></p>
                                </div>
                                <div class="modal-footer">
                                    <li>
                                        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="EXCEL()" style="width: 80px !important;">EXCEL</button>
                                        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="PDF()" style="width: 80px !important;">PDF</button>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"> <img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the organization</span></strong>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton" aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this organization.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-bs-dismiss="modal" (click)="deletePage()" class="btn btn-primary toast-btn">Delete</button>
                                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="Edit">
            <section class="no-padding-top no-padding-bottom">
                <div class="container-fluid">
                    <div class="statistic-block block">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="sports_Categ_title_1">Organization Onboarding</h2>
                                <p class="descrip_text">Lorem ipsum is placeholder text commonly used in the graphic. </p>
                            </div>
                        </div>
                        <form [formGroup]='myReactiveForms' (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Organization Name</label>
                                        <input type="text" (keypress)="keyPressAlphaNumeric($event)" formControlName="organisationName" placeholder="Enter Organization name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Sub Domain Mapping</label>
                                        <input type="text" (keypress)="keyPressAlphaNumeric($event)" formControlName="subDomain" placeholder="Enter Sub Domain details" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Email Address </label>
                                        <input type="email" formControlName="emailAddress" placeholder="Enter Email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Organization Address line 1</label>
                                        <input type="text" formControlName="addressline1" placeholder="Enter Address Line 1" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Organization Address line 2</label>
                                        <input type="text" formControlName="addressline2" placeholder="Enter Address Line 2" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Zip Code</label>
                                        <input type="text" (input)="zipcodee()" [(ngModel)]="zipcode" (keypress)="keyPressAlphaNumerics($event)" placeholder="Enter Zip Code" formControlName="zipcode" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">City</label>
                                        <input type="text" [(ngModel)]="city" (keypress)="keyPressAlphaNumeric($event)" readonly placeholder="Enter City" formControlName="city" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">State</label>
                                        <input type="text" [(ngModel)]="state" (keypress)="keyPressAlphaNumeric($event)" readonly placeholder="Enter State" formControlName="state" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Country Code</label>
                                        <div class="slt_0">
                                            <input type="text" formControlName="countryCode" readonly (keypress)="keyPressAlphaNumerics($event)" placeholder="Enter country calling code" class="form-control slt1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group block spacing-block w-100">
                                        <h5>Sports Category</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Sports Category</label>
                                        <div class="slt_0">
                                            <select class="form-control slt" (change)="inputBox($event)">
                      <option value="0" selected default>-- Select --</option>
                      <option value="Football">Football</option>
                      <option value="Tennis">Tennis</option>
                      <option value="Cricket">Cricket</option>
                      <option value="others">Others</option>
                  </select>
                                        </div>
                                    </div>
                                    <div *ngIf="alert1" class="text-danger">
                                        Sports category already exists
                                    </div>
                                </div>
                                <div *ngIf="inputChipBox2" class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Add Other Category</label>
                                        <div class="input-btn">
                                            <mat-form-field class="example-chip-list-2" appearance="fill">
                                                <mat-chip-list #chipList aria-label="Fruit selection">
                                                    <input maxlength="15" placeholder="Add Other..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" class="inputCatagory capitalize" />
                                                </mat-chip-list>
                                            </mat-form-field>
                                            <button type="button" class="rmBtn btn-secondary" (click)="pushData()">
                            Add +
                          </button>
                                        </div>
                                        <div *ngIf="alert" class="text-danger">
                                            Sports category already exists
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 " *ngIf="inputChipBox1">
                                    <div class="form-group">
                                        <label class="form-control-label">All Sports Category</label>
                                        <mat-form-field class=" example-chip-list" appearance="fill">
                                            <mat-chip-list #chipList aria-label="Fruit selection">
                                                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="true" (removed)="remove(fruit)">
                                                    {{fruit.sportsCategory}}
                                                    <button matChipRemove *ngIf="fruit.showRemove">
                        <mat-icon     class="cancel">cancel</mat-icon>
                      </button>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 d-flex">
                                    <br>
                                    <div class="ends"><button type="submit" class="btn btn-primary mr-5">Update Organization</button>
                                        <button (click)='closeView()' class="btn btn-secondary  cancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="View" id="view_details">
            <section class="no-padding-top no-padding-bottom">
                <div class="container-fluid">
                    <div class="statistic-block block">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="sports_Categ_title_1">Organization Onboarding</h2>
                                <p class="descrip_text">Lorem ipsum is placeholder text commonly used in the graphic, </p>
                            </div>
                        </div>
                        <form [formGroup]='myReactiveForms' (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Organization Name</label>
                                        <input type="text" formControlName="organisationName" placeholder="Enter Organization name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Sub Domain Mapping</label>
                                        <input type="text" formControlName="subDomain" placeholder="Enter Sub Domain details" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Email Address </label>
                                        <input type="email" formControlName="emailAddress" placeholder="Enter Email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Organization Address line 1</label>
                                        <input type="text" formControlName="addressline1" placeholder="Enter Address Line 1" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Organization Address line 2</label>
                                        <input type="text" formControlName="addressline2" placeholder="Enter Address Line 2" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Zip Code</label>
                                        <input type="text" placeholder="Enter Zip Code" formControlName="zipcode" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">City</label>
                                        <input type="text" placeholder="Enter City" formControlName="city" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">State</label>
                                        <input type="text" placeholder="Enter State" formControlName="state" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Country Code</label>
                                        <div class="slt_0">
                                            <input type="text" formControlName="countryCode" placeholder="Enter country calling code" class="form-control slt1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group block spacing-block w-100">
                                        <h5>Sports Category</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 " *ngIf="inputChipBox1">
                                    <div class="form-group">
                                        <label class="form-control-label">All Sports Category</label>
                                        <mat-form-field class=" example-chip-list" appearance="fill">
                                            <mat-chip-list #chipList aria-label="Fruit selection">
                                                <mat-chip class="input-disable" *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                                                    {{fruit.sportsCategory}}
                                                    <button matChipRemove *ngIf="fruit.showRemove">
                        <mat-icon class="cancel">cancel</mat-icon>
                      </button>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 d-flex">
                                    <br>
                                    <div class="ends">
                                        <button (click)='closeView()' class="btn btn-secondary">Back</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                                    width: 55px;     position: relative;
                        right: 12px;" >Success Message! </strong>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p>Organization has been updated successfully.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-bs-dismiss="modal" (click)="updateItems(edit)" class="btn btn-primary toast-btn">Okay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <div id="Updated" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                    width: 55px;     position: relative;
        right: 12px;" >Success Message! </strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p *ngIf="success">Organization has been updated successfully.</p>
                    <p *ngIf="wrong">Something went wrong.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                </div>
            </div>
        </div>
    </div>
    <div id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"> <span ><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                    width: 55px;     position: relative;
        right: 12px; color: #6ed94d;" >Success Message!</span>  </strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Organization deleted successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                </div>
            </div>
        </div>
    </div>
</esp-content>
<esp-footer></esp-footer>