<div class="login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">

                <!-- Form Panel    -->
                <div style="margin: auto;" class="col-lg-5">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-validate mb-4">

                                <img class="login-img" src="assets/img/evvo_m_logo.svg">

                                <h4 class="color-white">Get a code to reset your password</h4>

                                <p>Please enter your email address below.</p>

                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">@</span>
                                            </div>
                                            <!-- <input formControlName='email' name="emails" type="email" placeholder="Enter email" class="form-control"> -->



                                            <input placeholder="Enter email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors && f.email.invalid  }" />
                                            <div *ngIf="f.email.invalid && f.email.errors && f.email.touched" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Email is required</div>
                                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                            </div>



                                        </div>
                                        <!-- <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">enter the proper email</span> -->
                                    </div>
                                </div>

                                <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary login-btn">Send</button>
                                <!-- <a class="btn btn-secondary login-btn" routerLink="/home/login">Back</a> -->

                            </form>
                            <!-- <a   class="forgot-pass">Forgot Password?</a> -->


                            <!-- <br><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <p>Powered by Evvo Sports</p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
    </div>
</div>



<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p> Check your email inbox <br> We have send you information to change your password</p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                <button type="button" data-bs-dismiss="modal" routerLink="/login" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->