<esp-content [title]="'Messages'">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 w-100">
        <div class="row outBorder">

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 index-details">
                <div class="row" [class.sideBarActive]="!sentButton">


                    <span class="list-Items"> <a [ngClass]="{'p-2-highlight':!sentButton}" (click)="showInbox()"
              class="d-flex justify-content-between"><span class="abc"><img class="sideNavImages"
                  src="./assets/img/messages/inbox.png" alt=""><span class="item-title">Inbox</span></span>
                    <span class="item-count">{{msgCount}}</span>
                    </a>
                    </span>
                </div>
                <div class="row" [class.sideBarActive]="sentButton">


                    <span class="list-Items"> <a [ngClass]="{'p-3-highlight':sentButton}" (click)="showSentMessages()"
              class="d-flex justify-content-between"><span class="abc"><img class="sideNavImages"
                  src="./assets/img/messages/sent.png" alt=""> <span class="item-title">Sent</span></span>

                    </a>
                    </span>
                </div>







            </div>


            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">


                <div class="row main-heading p-2" *ngIf="isEnableMsgHistory">


                    <div class="col-11 avatar float-left">
                        <i class="fas fa-chevron-left" (click)="onClickBackToList()"></i>
                        <!-- <img src="assets//img//coache-avatar.png" alt="..." class="img-fluid rounded-circle" style="height: 26px;margin-left: 18px; margin-right: 10px;"> -->
                        <img [src]="selectedMessage[0].image == null? 'assets//img//coache-avatar.png' : selectedMessage[0].image" alt="..." class="img-fluid rounded-circle" style="height: 26px; width:26px;margin-left: 18px; margin-right: 10px;">

                        <span style="margin-left: 5px;">{{selectedMessage[0].roleName}}</span>
                        <span class="headingStyle">{{selectedMessage[0].subject.split('_')[0]}}</span>
                    </div>


                    <div class="col-1 newMsg">

                        <img (click)="printPage()" *ngIf="isEnableMsgHistory" class="img-header" src="./assets/img/messages/print.png" alt="">


                        <img (click)="confirmDelete()" *ngIf="isEnableMsgHistory || isRowSelected" class="img-header" src="./assets/img/messages/delete.png" alt="">


                    </div>
                </div>

                <div class="row main-heading" *ngIf="!isEnableMsgHistory">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between align-items-center h_100">
                            <div class="d-flex align-items-center">
                                <!-- <select name="diagnosticCode" class="form-control header-box"> -->
                                <select name="diagnosticCode" class="form-control header-box" *ngIf="coachId ==undefined">
                  <option value="" selected>All Sports</option>
                  <option *ngFor="let data of orgData?.sportsCategory" value="{{ data }}">
                    {{ data }}
                  </option>
                </select>
                                <!-- <select name="injuryOnset" class="form-control header-box"> -->
                                <select name="injuryOnset" class="form-control header-box" *ngIf="coachId ==undefined">
                  <option value="" selected>All Teams</option>
                  <option *ngFor="let data of teamsList" value="{{ data.id }}">
                    {{ data.teamName }}
                  </option>
                </select>
                            </div>
                            <div class="right_icon newMsg">
                                <div *ngIf="isCreate">
                                    <span *ngIf="!isEnableMsgHistory && !isRowSelected"> <img
                      *ngIf="!isEnableMsgHistory && !isRowSelected" class="" src="./assets/img/messages/inbox.png"
                      alt=""><span class="msgIcon" (click)="onClickNewMessage()">New Message</span></span>
                                </div>
                                <div>
                                    <img (click)="confirmDelete()" *ngIf="isEnableMsgHistory || isRowSelected" class="img-header" src="./assets/img/messages/delete.png" alt="" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mr_15" *ngIf="!isEnableMsgHistory">
                    <div class="col-md-12 p-0">
                        <table *ngIf="inboxList.length > 0 || sentList.length > 0">
                            <tbody *ngIf="!sentButton">
                                <tr cl *ngFor="let rowItem of inboxList">
                                    <td class="chck_box">
                                        <label class="container">
                      <input type="checkbox" (change)="onRowSelected(rowItem,$event,rowItem.id)" />
                      <span class="checkmark"></span>
                    </label>
                                    </td>
                                    <td (click)="onClickMsgHistory(rowItem)" [class.changeColor]="rowItem.isRead == true" class="profile_image">
                                        <!-- <img src="assets//img//coache-avatar.png" alt="..." class="img-fluid rounded-circle" style="height: 26px;" /> -->
                                        <img [src]="rowItem.image == null? 'assets//img//coache-avatar.png' : rowItem.image" alt="..." class="img-fluid rounded-circle" style="height: 26px;width: 26px;" />

                                    </td>
                                    <td (click)="onClickMsgHistory(rowItem)" [class.changeColor]="rowItem.isRead == true">{{rowItem.senderName}}</td>
                                    <td (click)="onClickMsgHistory(rowItem)" [class.changeColor]="rowItem.isRead == true">{{rowItem.teamName}}</td>
                                    <td (click)="onClickMsgHistory(rowItem)" [class.changeColor]="rowItem.isRead == true">{{rowItem.subject.split('_')[0]}}</td>
                                    <td (click)="onClickMsgHistory(rowItem)" [class.changeColor]="rowItem.isRead == true">{{rowItem.description}}</td>
                                    <td (click)="onClickMsgHistory(rowItem)" [class.changeColor]="rowItem.isRead == true" class="dateClass">{{rowItem.dateToDisplay | date:'h:mm a'}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="sentButton">
                                <tr *ngFor="let rowItem of sentList;let i=index">
                                    <td class="chck_box">
                                        <label class="container">
                      <input type="checkbox" (change)="onRowSelected(rowItem,$event,rowItem.id)" />
                      <span class="checkmark"></span>
                    </label>
                                    </td>
                                    <td (click)="onClickMsgHistory(rowItem)" class="profile_image">
                                        <!-- <img src="assets//img//coache-avatar.png" alt="..." class="img-fluid rounded-circle" style="height: 26px;float:left;max-width: 26px;" /> -->
                                        <img [src]="rowItem.image == null? 'assets//img//coache-avatar.png' : rowItem.image" alt="..." class="img-fluid rounded-circle" style="height: 26px;width: 26px;" />

                                    </td>
                                    <td (click)="onClickMsgHistory(rowItem)">{{rowItem.name}}</td>
                                    <td (click)="onClickMsgHistory(rowItem)">{{rowItem.teamName}}</td>
                                    <td (click)="onClickMsgHistory(rowItem)">{{rowItem.subject.split('_')[0]}}</td>
                                    <td (click)="onClickMsgHistory(rowItem)" style=" overflow-wrap:anywhere;">{{rowItem.description}}</td>
                                    <td (click)="onClickMsgHistory(rowItem)" class="dateClass">{{rowItem.dateToDisplay | date:'h:mm a'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="inboxList.length ==0 && !sentButton || sentList.length ==0 && sentButton" class="message">
                            <p>No messages</p>
                        </div>
                    </div>

                </div>
















                <div class="col-md-12 bg-back" *ngIf="isEnableMsgHistory">
                    <div class="row">
                        <div class="col-md-10">
                        </div>
                        <div class="col-md-2" (click)="onClickReply(selectedMessage)" *ngIf="!sentButton">
                            <i class="fa fa-reply replyBtn"></i><span class="replay">Reply</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="public-user-block questionaire-div block m-btm-15 inner-block" *ngFor="let rowItem of selectedMessage;let i = index">
                                <div class="row d-flex align-items-center">
                                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                                        <span class="adminBtn" *ngIf="currentRole==='Admin' && sentButton && rowItem.teamName ==null && !isSuperAdmin">Sent to Coach </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Admin' && sentButton && rowItem.teamName !=null &&  !isSuperAdmin">Sent to Athlete </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Admin' && !sentButton && !isSuperAdmin && rowItem.replyId !=null && rowItem.role=='Admin'">Admin Replied </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Admin' && !sentButton && rowItem.teamName ==null  &&  !isSuperAdmin && rowItem.replyId !=null && rowItem.role==undefined">Coach Replied </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Admin' && !sentButton && rowItem.teamName !=null  &&  !isSuperAdmin && rowItem.replyId !=null && rowItem.role==undefined">Athlete Replied </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Admin' && !sentButton && rowItem.teamName ==null  &&  !isSuperAdmin && rowItem.replyId ==null" >Coach sent </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Admin' && !sentButton && rowItem.teamName !=null  &&  !isSuperAdmin && rowItem.replyId ==null">Athlete sent </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Coach' && sentButton && rowItem.teamName ==null && !isSuperAdmin">Sent to Admin </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Coach' && sentButton && rowItem.teamName !=null &&  !isSuperAdmin">Sent to Athlete </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Coach' && !sentButton && !isSuperAdmin && rowItem.replyId !=null && rowItem.role=='Coach'">Coach Replied </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Coach' && !sentButton && !isSuperAdmin && rowItem.replyId !=null && rowItem.role==undefined">Admin Replied </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Coach' && !sentButton && rowItem.teamName !=null  &&  !isSuperAdmin && rowItem.replyId !=null && rowItem.role==undefined">Athlete Replied </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Coach' && !sentButton &&  !isSuperAdmin && rowItem.replyId ==null" >Admin sent </span>
                                        <span class="adminBtn" *ngIf="currentRole==='Coach' && !sentButton && rowItem.teamName !=null  &&  !isSuperAdmin && rowItem.replyId ==null">Athlete sent </span>
                                        <span class="adminBtn" *ngIf="!sentButton && isSuperAdmin">Super admin replied</span>
                                        <span>{{rowItem.dateToDisplay | date:'h:mm a'}}</span>
                                        <p>{{rowItem.description}}</p>
                                    </div>
                                </div>
                                <div class="row" *ngFor="let file of rowItem.files">
                                    <div class="col-3 float-left ml-1" *ngIf="file.fileName!=undefined">
                                        <i class="fa fa-paperclip" style="border: 1px solid grey;border-radius: 5px;padding: 5px;width: max-content;margin: 5px;" (click)="openAttachment(file.fileLocation)">
                      {{file.fileName}}
                    </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <nav id="sidebar">
                        <ul class="list-unstyled">
                            <li routerLinkActive="active-link">
                                <a class="d-flex justify-content-between"><span  class="abc"><img class="sideNavImages" src="./assets/img/messages/inbox.png" alt="">Inbox</span><span class="item-count">{{msgCount}}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active-link">
                                <a class="d-flex justify-content-between"><span  class="abc"><img class="sideNavImages" src="./assets/img/messages/sent.png" alt="">Sent</span><span class="item-count">{{msgCount}}</span>
                                </a>
                            </li>


                        </ul>
                    </nav>
                </div>
                <div class="col-10">
                    <div class="page-content">
                        <div class="row content-header">
                            <div class="col-3">
                                <select name="diagnosticCode" class="form-control mb-3 mb-3">
                                <option value="" selected>All Sports</option>
                                <option *ngFor="let data of orgData.sportsCategory" value="{{ data }}">
                                  {{ data }}
                                </option>
                              </select>
                            </div>
                            <div class="col-3">
                                <select name="injuryOnset" class="form-control mb-3 mb-3">
                                <option value="" selected>All Teams</option>
                                <option *ngFor="let data of teamsList" value="{{ data.id }}">
                                  {{ data.teamName }}
                                </option>
                              </select>
                            </div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->


    <!-- Model create new message -->
    <div id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header index-details-2">
                    <p id="exampleModalLabel" class="modal-title text-white">New Message
                    </p>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
              aria-hidden="true">×</span></button>
                </div>



                <div class="row mtb_5">
                    <div class="col-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" (click)="myFun()" [checked]="firstBlock" name="newMsgSelected" id="firstBox">
                            <label class="form-check-label" for="firstBox">Athlete</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" (click)="secondFun()" name="newMsgSelected" id="secondBox">
                            <label class="form-check-label" for="secondBox">Coach</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" (click)="superAdminRadio()" name="newMsgSelected" id="thirdBox">
                            <label class="form-check-label" for="thirdBox">Super Admin</label>
                        </div>
                    </div>
                </div>
                <!-- <br> -->
                <div class="modal-body">
                    <div class="form-group" *ngIf="!thirdBlock">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select name="diagnosticCode" class="form-control mb-3 mb-3 " (change)="handleSportsCategoryChange($event)" [(ngModel)]="sports">
                    <option value="" selected>- Select Sports Category -</option>
                    <option *ngFor="let data of orgData?.sportsCategory" value="{{ data }}">
                      {{ data }}
                    </option>
                  </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div *ngIf="firstBlock">

                                    <div class="form-group">
                                        <select name="injuryOnset" class="form-control mb-3 mb-3 " (change)="handleTeamChange($event)" [(ngModel)]="teams">
                      <option value="" selected>- Select Team -</option>
                      <option *ngFor="let data of teamsList" value="{{ data.id }}">
                        {{ data.teamName }}
                      </option>
                    </select>

                                    </div>
                                </div>

                                <div *ngIf="secondBlock">
                                    <div class="form-group">

                                        <select name="injuryOnset" class="form-control mb-3 mb-3" (change)="handleCoachChange($event)" [(ngModel)]="coach">
                      <option value="" selected>- Select Coach -</option>
                      <option *ngFor="let data of coachesList" value="{{ data.id }}">
                        {{ data.coacheName }}
                      </option>
                    </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="firstBlock">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="diagnosticCode" class="form-control mb-3 mb-3" (change)="handleAthleteChange($event)" [(ngModel)]="athelete">
                      <option value="" selected>- Select Athlete -</option>
                      <option *ngFor="let data of athletesList" value="{{ data.id }}">
                        {{ data.athleteName }}
                      </option>
                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="subject" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control rounded-0" [(ngModel)]="description" placeholder="Type and Send Your Message..." style="height: 150px;" rows="10" cols="20"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="thirdBlock">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="subject" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control rounded-0" [(ngModel)]="description" placeholder="Type and Send Your Message..." style="height: 200px;" rows="10" cols="20"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex mt-3" *ngFor="let itemMsg of pushedDataCoach;let i = index">
                    <div class="col-8">
                        <p>
                            {{itemMsg}}
                            <i class="fa fa-close text-alert" style="position: relative; right: -43px;" (click)="deleteUploadedFile(i)"></i>

                        </p>
                    </div>

                    <div class="col-4">
                        <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-success"><i
                class="fa fa-check text-white" style="position: relative; right: 8px"></i>Uploaded</button>
                    </div>
                </div>


                <div class="row d-flex mt-3">
                    <input type="file" #file class="dispalyNone" (change)="uploadAttachment(file.files)">
                    <i class="fa fa-close text-alert dispalyNone" #deleteAttachment (click)="cancelUpload()"></i>
                    <div class="col-8" *ngIf="hideUploadNewMsgBlock">
                        <input class="inputUploadName" type="text" [ngModel]='fileName'>
                        <i class="fa fa-close text-alert" style="position: relative; right: 16px;" (click)="deleteAttachment.click()"></i>
                    </div>
                    <div class="col-4" *ngIf="hideUploadNewMsgBlock">
                        <button type="button" style="width: 148px;float: right;padding: 4px;background-color: #f79b3e;" class="btn btn-primary" (click)="uploadFile()">Upload</button>

                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-between">
                    <div class="">
                        <img (click)="file?.click();" *ngIf="currentAthleteId != '' || selectedCoachId != '' || thirdBlock" src="./assets/img/messages/paper-pin-img.png" alt="">
                        <p *ngIf="errorMessage!=''" style="color: red;">{{errorMessage}}</p>
                    </div>


                    <button type="submit" data-bs-dismiss="modal" (click)="sendMessage()" class="btn btn-primary toast-btn">Send
            Message</button>
                </div>



            </div>
        </div>
    </div>

    <!-- Model replay -->

    <div id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content" style="width: 605px;vertical-align: middle;">
                <div class="modal-header replayBg">
                    <p id="exampleModalLabel" class="modal-title text-white"><i class="fa fa-reply mr-1" style="margin-right: 8px;"></i>Reply To
                    </p>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
              aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">



                        <div class="row w-100" *ngIf="isEnableMsgHistory && replyMessageData !=undefined">

                            <div class="col-12 headerReplay">
                                <div class="imgPTag">
                                    <img src="assets//img//coache-avatar.png" alt="..." class="img-fluid rounded-circle">

                                </div>
                                <div class="pTag">
                                    <p>{{replyMessageData.roleName}}</p>

                                </div>
                            </div>

                        </div>




                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control rounded-0" placeholder="Type and Send Your Message..." style="height: 200px;" rows="10" cols="20" [(ngModel)]="description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex mt-3" *ngFor="let itemMsg of pushedDataCoach;let i = index">
                    <div class="col-8">
                        <p>
                            {{itemMsg}}
                            <i class="fa fa-close text-alert" style="position: relative; right: -43px;" (click)="deleteUploadedFile(i)"></i>

                        </p>
                    </div>

                    <div class="col-4">
                        <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-success"><i
                class="fa fa-check text-white" style="position: relative; right: 8px"></i>Uploaded</button>
                    </div>
                </div>


                <div class="row d-flex mt-3">
                    <input type="file" #file class="dispalyNone" (change)="uploadAttachment(file.files)">
                    <i class="fa fa-close text-alert dispalyNone" #deleteAttachment (click)="cancelUpload()"></i>
                    <div class="col-8" *ngIf="hideUploadNewMsgBlock">
                        <input class="inputUploadName" type="text" [ngModel]='fileName'>
                        <i class="fa fa-close text-alert" style="position: relative; right: 16px;" (click)="deleteAttachment.click()"></i>
                    </div>
                    <div class="col-4" *ngIf="hideUploadNewMsgBlock">
                        <button type="button" style="width: 148px;float: right;padding: 4px;background-color: #f79b3e;" class="btn btn-primary" (click)="uploadFile()">Upload</button>

                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-between">
                    <div class="">
                        <img (click)="file?.click();" src="./assets/img/messages/paper-pin-img.png" alt="">
                        <p *ngIf="errorMessage!=''" style="color: red;">{{errorMessage}}</p>
                    </div>


                    <button type="submit" data-bs-dismiss="modal" (click)="sendMessage()" class="btn btn-primary toast-btn">Send
            Message</button>
                </div>



            </div>
        </div>
    </div>






    <!-----------------------------coach model>----->
    <div id="coachNewMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header index-details-2">
                    <p id="exampleModalLabel" class="modal-title text-white">New Message</p>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
              aria-hidden="true">×</span></button>
                </div>

                <div class="row mtb_5">
                    <div class="col-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" (change)="myFun()" [checked]="firstBlock" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                            <label class="form-check-label" for="inlineRadio1">Admin</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" (change)="secondFun()" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Athlete</label>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group" *ngIf="firstBlock">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="subject" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control rounded-0" [(ngModel)]="description" placeholder="Type and Send Your Message..." style="height: 200px;" rows="10" cols="20"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="secondBlock">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select name="injuryOnset" class="form-control mb-3 mb-3 " (change)="handleTeamChange($event)" [(ngModel)]="teams">
                    <option value="" selected>- Select Team -</option>
                    <option *ngFor="let data of teamsListCoach" value="{{ data.id }}">
                      {{ data.teamName }}
                    </option>
                  </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <select name="diagnosticCode" class="form-control mb-3 mb-3 selectCoach" (change)="handleAthleteChange($event)" [(ngModel)]="athelete">
                    <option value="" selected>- Select Athlete -</option>
                    <option *ngFor="let data of athletesList" value="{{ data.id }}">
                      {{ data.athleteName }}
                    </option>
                  </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control selectCoach" [(ngModel)]="subject" placeholder="Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control rounded-0 selectCoach" [(ngModel)]="description" placeholder="Type and Send Your Message..." style="height: 200px;" rows="10" cols="20"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex mt-3" *ngFor="let itemMsg of pushedDataCoach;let i = index">
                        <div class="col-8">
                            <p>
                                {{itemMsg}}
                                <i class="fa fa-close text-alert" style="position: relative; right: -43px;" (click)="deleteUploadedFile(i)"></i>

                            </p>
                        </div>

                        <div class="col-4">
                            <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-success"><i
                  class="fa fa-check text-white" style="position: relative; right: 8px"></i>Uploaded</button>
                        </div>
                    </div>


                    <div class="row d-flex mt-3">
                        <input type="file" #file class="dispalyNone" (change)="uploadAttachment(file.files)">
                        <i class="fa fa-close text-alert dispalyNone" #deleteAttachment (click)="cancelUpload()"></i>
                        <div class="col-8" *ngIf="hideUploadNewMsgBlock">
                            <input class="inputUploadName" type="text" [ngModel]='fileName'>
                            <i class="fa fa-close text-alert" style="position: relative; right: 16px;" (click)="deleteAttachment.click()"></i>
                        </div>
                        <div class="col-4" *ngIf="hideUploadNewMsgBlock">
                            <button type="button" style="width: 148px;float: right;padding: 4px;background-color: #f79b3e;" class="btn btn-primary" (click)="uploadFile()">Upload</button>

                        </div>
                    </div>

                    <div class="modal-footer d-flex justify-content-between">
                        <div class="">
                            <img (click)="file?.click();" *ngIf="currentAthleteId != '' || firstBlock" src="./assets/img/messages/paper-pin-img.png" alt="">
                            <p *ngIf="errorMessage!=''" style="color: red;">{{errorMessage}}</p>
                        </div>


                        <button type="submit" data-bs-dismiss="modal" (click)="sendMessage()" class="btn btn-primary toast-btn">Send
              Message</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content" style="width: 700px;vertical-align: middle;">
                <div class="modal-header">
                    <p id="exampleModalLabel" class="modal-title text-white">Upload</p>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
              aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="file" class="file" (change)="fileChangeEvent($event.target.files)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 float-right m-0 p-0">
                            <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-primary" data-bs-dismiss="modal" (click)="uploadFile()">Upload</button>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2 float-right m-0 p-0">
                            <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</esp-content>

<esp-modal-success [props]=modelDetails></esp-modal-success>
<esp-modal-delete [props]=modelDetails></esp-modal-delete>
<esp-modal-confirm (deleteMsg)='deleteMessage()'></esp-modal-confirm>
