<div class="mainWrap">
    <div class="loginPageWrapperIn">
        <div class="bgLeftWrap">
            <div class="bgLeftContent">
                <div class="sitelogo">
                    <h3><strong>ATHLETE</strong> MANAGEMENT
                        <BR>& HEALTH PERFORMANCE MONITORING SYSTEMS</h3>
                    <p>We improve the performance of athletes and team</p>
                </div>
            </div>
        </div>
        <div class="loginrightForm">
            <div class="contentForm">
                <div class="contentFormIn">
                    <a href=""><img class="login-img" src="assets/img/evvo_m_logo.svg"></a>
                    <h2 class="color-white">Get a code to reset your password</h2>
                    <h4 class="para">Please enter your email address below.</h4>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-validate mb-4">
                        <div class="form-group">
                            <label class="control-label">Email Address </label>
                            <input placeholder="Enter email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors && f.email.invalid  }" />
                            <div *ngIf="f.email.invalid && f.email.errors && f.email.touched" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group submitBtn">
                            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary login-btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="errorLoginAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p> Email or password incorrect. </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Try Again</button>
            </div>
        </div>
    </div>
</div>
<div id="successOtpSend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Password resent link and otp has been sent to the email.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" routerLink="/register" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>
