// .toast-btn .icon {
//     margin: 0 8px 0 0;
//     font-size: 14px;
// }
// .submitBtn .btn.btn-primary.toast-btn {
//     width: 100%;
// }
// .userProfile {
//     display: flex;
//     vertical-align: top;
//     align-items: center;
//     text-align: left;
// }
// .userProfile .avatar {
//     float: left;
//     width: 50px;
//     height: 50px;
//     border-radius: 100px;
//     overflow: hidden;
//     margin: 0 16px 0 0;
//     flex: 0 0 50px;
// }
// .userProfile .avatar img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
// .userProfile .content .name {
//     display: block;
//     font-size: 15px;
//     font-weight: 700;
//     white-space: nowrap;
//     color: #717886;
// }
// .userProfile .content .role {
//     display: block;
//     font-size: 13px;
//     white-space: nowrap;
//     color: #717886;
// }
// .attendanceTable {
//     overflow: auto;
// }
// .attendanceTable tr th:first-child {
//     text-align: left;
// }
// .attendanceTable tr th,
// .attendanceTable tr td {
//     vertical-align: middle;
//     text-align: center;
//     min-width: 50px;
// }
// .attendanceTable tr th {
//     color: #717886;
//     padding: 24px 1.5rem;
//     font-size: 17px;
// }
// .attendanceTable tr td {
//     border-top: 0;
// }
// .downloadData {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0px 0 16px;
// }
// .downloadData h4 {
//     font-size: 18px;
//     font-weight: 700;
//     margin: 0px;
// }
// .downloadData .btn {
//     padding: 4px 8px;
//     line-height: 1;
//     vertical-align: top;
//     opacity: 0.8;
//     transition: 0.25s ease-out;
//     -webkit-transition: 0.25s ease-out;
// }
// .downloadData .btn:hover {
//     opacity: 1;
// }
// .modal-title {
//     font-size: 1.25rem !important;
// }
.border-block p {
    margin-top: 6px !important;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    margin-left: 10px !important;
}

.form-block {
    background-color: #191d254f;
    padding: 13px 20px;
    margin: 10px 0px;
}

.form-control {
    height: calc(2.4rem + 2px);
    border: 1px solid #616161;
    background: #0000002e;
    border-radius: 0;
    color: #6f7175;
    padding: 0.45rem 0.75rem;
}

.form-group label {
    font-size: 13px;
}

.strip-heading {
    font-size: 18px !important;
    margin-bottom: 0px !important;
}

.doc-div {
    background-color: #2d3135;
    padding: 50px 15px;
    margin-top: 12px;
    border-radius: 3px;
    padding-bottom: 15px;
}

.doc-div h4 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    line-height: 15px;
}

.doc-div p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    margin-bottom: 30px;
}

.doc-div label {
    font-size: 12px;
}

.align-item-center {
    align-items: center;
    text-align: center;
}

.doc-border {
    border-bottom: 1px #545454 solid;
    margin-bottom: 20px;
}

.larger-modal {
    max-width: 800px !important;
    margin: 1.75rem auto;
}

.submitBtn {
    margin-top: 32px;
}

.toast-btn .icon {
    margin: 0 8px 0 0;
    font-size: 14px;
}

.submitBtn .btn.btn-primary.toast-btn {
    width: 100%;
    position: relative;
    bottom: 7px;
}

.userProfile {
    display: flex;
    vertical-align: top;
    align-items: center;
    text-align: left;
}

.userProfile .avatar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 16px 0 0;
    flex: 0 0 50px;
}

.userProfile .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userProfile .content .name {
    display: block;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    color: #717886;
}

.userProfile .content .role {
    display: block;
    font-size: 13px;
    white-space: nowrap;
    color: #717886;
}

.attendanceTable {
    overflow: auto;
}

.attendanceTable tr th:first-child {
    text-align: left;
}

.attendanceTable tr th,
.attendanceTable tr td {
    vertical-align: middle;
    text-align: center;
    min-width: 50px;
}

.attendanceTable tr th {
    color: #717886;
    padding: 24px 1.5rem;
    font-size: 14px;
    white-space: nowrap;
}

.attendanceTable tr th .thTitle {
    font-size: 17px;
}

.attendanceTable tr td {
    border-top: 0;
}

.downloadData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 16px;
}

.downloadData h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.downloadData .btn {
    padding: 4px 8px;
    line-height: 1;
    vertical-align: top;
    opacity: 0.8;
    transition: 0.25s ease-out;
    -webkit-transition: 0.25s ease-out;
}

.downloadData .btn:hover {
    opacity: 1;
}

.downloadData .actions {
    display: flex;
    align-items: end;
}

.downloadData .actions .form-group {
    margin: 0px 16px 0 0;
}


/*.present {
      color: #55ce63 !important;
  }

  .absent{
      color: #f62d51 !important;
  }*/

.attendanceTable table thead tr {
    position: relative;
    z-index: 1;
}

.attendanceTable table thead tr th::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    right: 0;
    background: #191D25;
    bottom: 0;
    border-radius: 8px 8px 0 0;
    z-index: -1;
}

.attendanceTable tr td .icon {
    font-size: 18px;
}

.attendanceTable tr td .present {
    color: #55ce63;
}

.attendanceTable tr td .unmarked {
    color: #f99902;
}

.attendanceTable tr td .absent {
    color: #f62d51;
    font-size: 16px;
}

.attendanceTable table tr:nth-child(2n) {
    position: relative;
    z-index: 1;
}

.attendanceTable table tr:nth-child(2n) td:first-child::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    right: 0;
    background: #191d25;
    bottom: 0;
    border-radius: 8px;
    z-index: -1;
}

.attendanceTable-wrapper {
    margin: 20px 0 80px 0;
}

.attendanceTable .ms-dd {
    width: auto;
    background: none;
}

.attendanceTable .ms-dd .ms-dd-header {
    min-height: inherit !important;
    background: none;
    border: none;
    padding: 0px;
}

.attendanceTable .ms-dd .ms-dd-header .option-selected {
    background: none;
    border: none;
    padding: 0px 24px 0 0;
    color: #717886;
}

.attendanceTable .ms-dd .ms-dd-option-image,
.attendanceTable .ms-dd .ms-dd-selected-img {
    max-width: 16px;
    margin: 0px;
    height: auto;
    width: auto;
}

.attendanceTable .ms-dd .ms-value-input {
    visibility: hidden;
}

.attendanceTable .ms-dd .ms-dd-arrow {
    border-top-color: #717886;
    right: 4px;
    margin-top: -3px;
}

.attendanceTable .ms-dd .ms-header-middle-content,
.ms-dd .ms-middle {
    align-items: center;
    justify-content: center;
}

.attendanceTable .ms-dd .ms-options {
    border: none;
    background: #2f3644;
    box-shadow: none;
}

.attendanceTable .ms-dd .ms-list-option,
.attendanceTable .ms-dd .ms-optgroup ul .ms-list-option {
    background: #2f3644;
    border-bottom: 1px solid #444f66;
    padding: 8px 8px;
    text-align: center;
}

.attendanceTable .ms-dd .ms-options .ms-list-option:hover {
    background: #444f66;
}

.attendanceTable .ms-dd .ms-options .ms-list-option.option-selected {
    background: #444f66;
}

.attendanceTable .ms-dd .ms-dd-option-content {
    display: none;
}

@media (min-width:991px) {
    .filtersWrap .row {
        margin-left: -10px;
        margin-right: -10px;
        flex-flow: inherit;
    }
    .filtersWrap .row [class^="col-"] {
        flex: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.drop {
    background-image: url('../../../assets/img/icons/absent.svg')
}


/* Calendar -----------------------------------------------------------------------*/