<esp-content [title]="'Attendance'">
    <div class="container-fluid">
        <section class="no-padding-bottom">
            <div class="container-fluid">
                <div class="filtersWrap">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Select Sports Category</label>
                                <select class="form-control mb-3 mb-3 m-0" name="sportsCategory" (change)="sports($event)">
                  <option selected>Select</option>
                  <option
                    *ngFor="let data of orgData.sportsCategory"
                    value="{{ data }}"
                  >
                    {{ data }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Selct Team</label>
                                <select class="form-control mb-3 mb-3 m-0" (change)="changeTeam($event.target.value)">
                  <option value="">Select</option>
                  <option value="{{ team.id }}" *ngFor="let team of teamList">
                    {{ team.teamName }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Select Type</label>
                                <select class="form-control mb-3 mb-3 m-0 eventType" name="" (change)="changeFileds($event.target.value)">
                  <option value="0">Select type</option>
                  <option value="Events">Events</option>
                  <option value="Trainings">Training</option>
                </select>
                            </div>
                        </div>
                        <div id="selectEvent" class="col-md-3 d-none">
                            <div class="form-group">
                                <label>Select Event</label>
                                <select class="form-control mb-3 mb-3 m-0" (change)="changeEvent($event.target.value)">
                  <option value="0">Select</option>
                  <option
                    value="{{ event.id }}"
                    *ngFor="let event of eventList"
                  >
                    {{ event.title }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div id="selectTraining" class="col-md-3 d-none">
                            <div class="form-group">
                                <label>Select Training</label>
                                <select class="form-control mb-3 mb-3 m-0" (change)="changeTraining($event.target.value)">
                  <option value="0">Select</option>
                  <option
                    value="{{ training.id }}"
                    *ngFor="let training of trainingList"
                  >
                    {{ training.trainingTitle }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div id="selectEvent" class="col-md-3" *ngIf="eventFiled">
                            <div class="form-group">
                                <label>Select Event</label>
                                <select class="form-control mb-3 mb-3 m-0" (change)="changeEvent($event.target.value)">
                  <option value="0">Select</option>
                  <option
                    value="{{ event.id }}"
                    *ngFor="let event of eventList"
                  >
                    {{ event.title }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div id="selectTraining" class="col-md-3" *ngIf="trainingFiled">
                            <div class="form-group">
                                <label>Select Training</label>
                                <select class="form-control mb-3 mb-3 m-0" (change)="changeTraining($event.target.value)">
                  <option value="0">Select</option>
                  <option
                    value="{{ training.id }}"
                    *ngFor="let training of trainingList"
                  >
                    {{ training.trainingTitle }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group submitBtn">
                                <button class="btn btn-primary toast-btn" (click)="onSearch()">
                  <i class="icon icon-magnifying-glass-browser"></i>Search
                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="attendanceTable-wrapper">
                    <div class="downloadData">
                        <h4>Total Athletes {{ length }}</h4>
                        <div class="actions">
                            <div class="form-group">
                                <label>Select Periods</label>
                                <select class="form-control mb-3 mb-3 m-0 dateSelectPop" (change)="dateClick($event.target.value)">
                  <option value="0">Current Month</option>
                  <option value="1">Previous Month</option>
                  <option value="customDates">Custom Dates</option>
                </select>
                            </div>
                            <div class="form-group datesGroup" *ngIf="dateField">
                                <label>Start Dates</label>
                                <input type="date" (change)="startDateEvent($event)" placeholder="Enter Date" class="form-control" />
                            </div>
                            <div class="form-group datesGroup" *ngIf="dateField">
                                <label>End Dates</label>
                                <input type="date" (change)="endDateEvent($event)" placeholder="Enter Date" class="form-control" />
                            </div>
                            <a class="btn"><img src="./../../../assets/img/icons/download.svg" width="21" height="27" /></a>
                        </div>
                    </div>
                    <div class="attendanceTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="250"><span class="thTitle">Athlete</span></th>
                                    <th *ngFor="let date of headerList">{{ date }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let att of attendenceList; let i = index">
                                    <td>
                                        <div class="userProfile">
                                            <figure class="avatar">
                                                <!-- <img src="../../../assets/img/avatar-1.jpg" alt="..." class="img-fluid" /> -->
                                                <img [src]="att.athleteImage == null? '../../../assets/img/coache-avatar.png' : att.athleteImage" alt="..." class="img-fluid">
                                            </figure>
                                            <div class="content">
                                                <span class="name">{{ att.athleteName }}</span>
                                                <span class="role">Lorem ipsum is placeholder</span>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <div > -->




                                    <td *ngFor="let td of headerList;let iii = index">
                                        <select class="attendenceSelect form-control" name="dropSelect" is="ms-dropdown" (change)="dropSelect($event.target.value, i, td,iii)" required [(ngModel)]="List[i][iii].isPresent">
                      <!-- <option
                        *ngFor="let abc of getdailyList(att)"
                        [value]="abc"

                        >
                        {{ abc }}
                      </option> -->
                      <option value=null *ngIf="List[i][iii].isPresent ==null">Select</option>
                      <option [value]="List[i][iii].isPresent ==null ? true :List[i][iii].isPresent">{{List[i][iii].isPresent==null? true:List[i][iii].isPresent}}</option>
                      <option [value]="List[i][iii].isPresent ==null ? false : !List[i][iii].isPresent">{{List[i][iii].isPresent ==null ? false : !List[i][iii].isPresent}}</option>
                      <!-- <option data-src="../../../assets/img/icons/unmarked.png" value="unmarked" selected>&nbsp;</option>
                      <option data-src="../../../assets/img/icons/tickGreen.svg"  value="Absent">&nbsp;</option>
                      <option data-src="../../../assets/img/icons/absent.svg"   value="present">&nbsp;</option> -->

                    </select>
                                    </td>
                                    <!-- </div> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="length == 0">
                        <div class="public-user-block block">
                            <div class="empty_mess_div text-center">
                                <img style="height: 100px" src="../../../assets/img/athlete-avatar.png" />
                                <p>Currently there are no athletes <br /></p>
                            </div>
                        </div>
                    </div>
                    <div style="float: right !important" class="mt-5">
                        <button class="btn btn-primary" style="margin-right: 12px !important" (click)="Add()">
              Add
            </button>
                        <button class="btn btn-warning" (click)="update()">update</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</esp-content>
