<!-- Sidebar Navigation -->
<div class="d-flex align-items-stretch">
    <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
            <!-- <div class="avatar">
        <img src="assets//img//avatar-6.jpg" alt="..." class="img-fluid rounded-circle">
      </div> -->

            <div class="avatar">
                <label class="hoverable" for="fileInput">
          <img class="img-fluid rounded-circle" [src]="url ? url : 'assets//img//coache-avatar.png'">
          <div class="overlay">Edit</div>
        </label>
            </div>
            <br/>
            <input id="fileInput" type='file' (change)="onSelectFile($event)">


            <div class="title">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-sm-7 col-md-7">
                            <h1 class="h5">{{ name }}</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <!-- <span class="heading">Menus</span> -->
        <ul class="list-unstyled">
            <li routerLinkActive="active-link" (click)="myFun1()"><a [routerLink]="['/','esp-super-admin', 'dashboard']"><i class="material-icons">space_dashboard</i>Dashboard </a></li>

            <!-- link for (collapse close) when clicked on other menues -->
            <!--1. https://www.codegrepper.com/code-examples/javascript/%5Bcollapse%5D+angular -->
            <!--1.1  https://stackoverflow.com/questions/52264749/getting-ngbcollapse-since-it-isnt-a-known-property-of-div-error-after-movi -->


            <li routerLinkActive="active-link">
                <a aria-expanded="false" data-bs-target="#teams_menu" data-bs-toggle="collapse" (click)="myFun2()"> <i class="material-icons md-20">group</i>Organizations </a>
                <ul id="teams_menu" [ngbCollapse]="isCollapsed" class="collapse list-unstyled ">
                    <li routerLinkActive="active-link"><a routerLink="/esp-super-admin/new-organisations">New Organizations</a></li>
                    <li routerLinkActive="active-link"><a routerLink="/esp-super-admin/list-of-organisations">List of Organizations</a></li>
                </ul>
            </li>

            <li routerLinkActive="active-link">
                <a aria-expanded="false" data-bs-target="#teams_menu_2" (click)="myFun3()" data-bs-toggle="collapse"> <i class="material-icons md-20">group</i>Manage Roles </a>
                <ul id="teams_menu_2" [ngbCollapse]="isCollapsed_1" class="collapse list-unstyled ">
                    <li routerLinkActive="active-link"><a routerLink="/esp-super-admin/create-new-role">Create New Role</a></li>
                    <li routerLinkActive="active-link"><a routerLink="/esp-super-admin/manage-roles">List of Roles</a></li>
                </ul>
            </li>




            <li routerLinkActive="active-link">
                <a routerLink="/esp-super-admin/athlete-data-config" (click)="myFun1()"> <i class="material-icons md-20">model_training</i>Athlete Data Config </a>
            </li>

            <!-- <li routerLinkActive="active-link">
                <a href="#teams_menu_3" aria-expanded="true" data-bs-toggle="collapse" (click)="myFun4()"> <i class="material-icons md-20">group</i>Manage Widgets </a>
                <ul id="teams_menu_3" [ngbCollapse]="isCollapsed_2" class="collapse list-unstyled ">
                    <li><a routerLink="/esp-super-admin/manage-widgets">Dashboard Widgets</a></li>
                    <li routerLinkActive="active-link"><a routerLink="/esp-super-admin/report-widgets">Reports Widget</a></li>
                </ul>
            </li> -->
            <li routerLinkActive="active-link">
                <a aria-expanded="false" data-bs-target="#teams_menu_10" (click)="myFun4()" data-bs-toggle="collapse"> <i class="material-icons md-20">group</i>Manage Widgets </a>
                <ul id="teams_menu_10" [ngbCollapse]="isCollapsed_10" class="collapse list-unstyled ">
                    <li routerLinkActive="active-link"><a routerLink="/esp-super-admin/manage-widgets">Dashboard Widgets</a></li>
                    <li routerLinkActive="active-link"><a routerLink="/esp-super-admin/report-widgets">Reports Widget</a></li>
                </ul>
            </li>
            <li routerLinkActive="active-link" (click)="myFun1()">
                <a routerLink="/esp-super-admin/manage-athlete-device"> <i class="material-icons md-20">model_training</i>Manage Athlete Device </a>
            </li>

            <!-- <li routerLinkActive="active-link"><a routerLink="/esp-super-admin/test" (click)="myFun1()"> <i class="material-icons md-18">pending_actions</i>Testform</a></li> -->
            <li routerLinkActive="active-link">
                <a routerLink="/esp-super-admin/messages" (click)="myFun1()"> <i class="material-icons md-18">pending_actions</i>Messages</a>
            </li>
            <li routerLinkActive="active-link">
                <a routerLink="/esp-super-admin/super-admin-reports" (click)="myFun1()"> <i class="material-icons md-18">downhill_skiing</i>Super Admin Reports </a>
            </li>
            <li routerLinkActive="active-link">
                <a routerLink="/esp-super-admin/settings" (click)="myFun1()"> <i class="material-icons md-18">downhill_skiing</i>Settings </a>
            </li>
            <!-- <li routerLinkActive="active-link"><a routerLink="/home"> <i class="material-icons md-18">model_training</i>Admin</a></li> -->
        </ul>
    </nav>
    <div class="page-content">
        <ng-content></ng-content>
    </div>

</div>