#sidebar ul {
    list-style: none;
}

.active-link {
    font-weight: bold;
    color: #BFC1C4;
    li {
        color: #6a6c70;
    }
    background-color: #34373D;
    .material-icons {
        color: yellow;
    }
}

#teams_menu #teams_menu_2 #teams_menu_3 {
    transition-duration: 0.1s;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

// .hoverable .background{
//   position: absolute;
//   display: none;
//   top: 0;
//   left:  0;
//   bottom: 0;
//   right: 0;
//   background-color:rgba(255, 255, 255, 0.5);
//   pointer-events: none;
//   border-radius: 50%;
//   z-index: 1;
// }
// .hoverable:hover .background{
//   display: block;
// }
#fileInput {
    display: none;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: black;
    // background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #000000;
    width: 100%;
    height: 40%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 13px;
    // font-weight: 600;
    // padding-bottom: 6px;
    text-align: center;
}

.hoverable:hover .overlay {
    opacity: 0.7;
    // background: transparent;
}

.h5 {
    text-transform: capitalize !important;
    position: relative !important;
    right: 32px !important;
    font-size: 16px !important;
    // font-weight: 700;
}

.avatar {
    position: relative;
    right: 12px;
}

@media screen and (max-width:1360px) {
    .h5 {
        font-size: 12px !important;
    }
}