.chart {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    text-align: left;
    line-height: normal;
    z-index: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    touch-action: manipulation;
    outline: none;
}

.backBtn {
    display: flex;
    margin-left: auto;
}

.leftspace {
    margin-left: 10px;
}

.d-center {
    display: flex !important;
    justify-content: center !important;
    font-size: 12px !important;
}

.box {
    padding: 0%;
}

.rm-color {
    color: #8a8d93;
}

.dwnBtn {
    margin-top: 0px;
}

.ends {
    margin-left: auto;
    display: flex;
}

::-webkit-file-upload-button {
    background: black;
    color: red;
    padding: 1em;
    display: none;
}

.uploadBtn {
    margin: 0px;
    background-color: rgb(119, 119, 119);
}

.uploadBtn:hover {
    background-color: #fd7e14;
}

.disableField {
    cursor: none;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -34px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
    cursor: pointer;
}

.modal-title {
    font-size: 1.25rem !important;
}