<esp-content [title]="'Attendance'">
    <div class="">
        <section class="no-padding-bottom">
            <div class="container-fluid">
                <div class="filtersWrap">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Select Sports Category</label>
                                <select name="sportsCategory" class="form-control mb-3 mb-3 m-0" (change)="sports($event)">
                  <option selected>Select</option>
                  <option
                    *ngFor="let data of orgData.sportsCategory"
                    value="{{ data }}"
                  >
                    {{ data }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Select Team</label>
                                <select class="form-control mb-3 mb-3 m-0" (change)="changeTeam($event.target.value)">
                  <option value="">Select</option>
                  <option value="{{ team.id }}" *ngFor="let team of teamList">
                    {{ team.teamName }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Select Type</label>
                                <select class="form-control mb-3 mb-3 m-0 eventType" name="" (change)="changeFileds($event.target.value)">
                  <option value="0">Select type</option>
                  <option value="Events">Events</option>
                  <option value="Trainings">Training</option>
                </select>
                            </div>
                        </div>
                        <div id="selectEvent" class="col-md-3" *ngIf="eventFiled">
                            <div class="form-group">
                                <label>Select Event</label>
                                <select class="form-control mb-3 mb-3 m-0" (change)="changeEvent($event.target.value)">
                  <option value="0">Select</option>
                  <option
                    value="{{ event.title }}"
                    *ngFor="let event of eventList"
                  >
                    {{ event.title }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div id="selectTraining" class="col-md-3" *ngIf="trainingFiled">
                            <div class="form-group">
                                <label>Select Training</label>
                                <select class="form-control mb-3 mb-3 m-0" (change)="changeTraining($event.target.value)">
                  <option value="0">Select</option>
                  <option
                    value="{{ training.trainingTitle }}"
                    *ngFor="let training of trainingList"
                  >
                    {{ training.trainingTitle }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group submitBtn">
                                <button class="btn btn-primary toast-btn" style="margin-top: 24px !important" (click)="onSearch()">
                  <i class="icon icon-magnifying-glass-browser"></i>Search
                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="attendanceTable-wrapper">
                    <div class="downloadData">
                        <h4>Total Athletes 8</h4>
                        <a class="btn"><img src="./assets/img/icons/download_small.svg" width="21" height="27" /></a>
                    </div>
                    <div class="attendanceTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="250">Athlete</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                    <th>19</th>
                                    <th>20</th>
                                    <th>21</th>
                                    <th>22</th>
                                    <th>23</th>
                                    <th>24</th>
                                    <th>25</th>
                                    <th>26</th>
                                    <th>27</th>
                                    <th>28</th>
                                    <th>29</th>
                                    <th>30</th>
                                    <th>31</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="userProfile">
                                            <figure class="avatar">
                                                <img src="img/avatar-1.jpg" alt="..." class="img-fluid" />
                                            </figure>
                                            <div class="content">
                                                <span class="name">Tomas Hecktor</span>
                                                <span class="role">Lorem ipsum is placeholder</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="userProfile">
                                            <figure class="avatar">
                                                <img src="img/avatar-1.jpg" alt="..." class="img-fluid" />
                                            </figure>
                                            <div class="content">
                                                <span class="name">Tomas Hecktor</span>
                                                <span class="role">Lorem ipsum is placeholder</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="userProfile">
                                            <figure class="avatar">
                                                <img src="img/avatar-2.jpg" alt="..." class="img-fluid" />
                                            </figure>
                                            <div class="content">
                                                <span class="name">Tomas Hecktor</span>
                                                <span class="role">Lorem ipsum is placeholder</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="userProfile">
                                            <figure class="avatar">
                                                <img src="img/avatar-6.jpg" alt="..." class="img-fluid" />
                                            </figure>
                                            <div class="content">
                                                <span class="name">Tomas Hecktor</span>
                                                <span class="role">Lorem ipsum is placeholder</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="userProfile">
                                            <figure class="avatar">
                                                <img src="img/avatar-2.jpg" alt="..." class="img-fluid" />
                                            </figure>
                                            <div class="content">
                                                <span class="name">Tomas Hecktor</span>
                                                <span class="role">Lorem ipsum is placeholder</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-close absent"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                    <td><i class="icon icon-user-outline present"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</esp-content>
<esp-footer></esp-footer>
