.toast-btn .icon {
    margin: 0 8px 0 0;
    font-size: 14px;
}

.submitBtn .btn.btn-primary.toast-btn {
    width: 100%;
}

.userProfile {
    display: flex;
    vertical-align: top;
    align-items: center;
    text-align: left;
}

.userProfile .avatar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 16px 0 0;
    flex: 0 0 50px;
}

.userProfile .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userProfile .content .name {
    display: block;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    color: #717886;
}

.userProfile .content .role {
    display: block;
    font-size: 13px;
    white-space: nowrap;
    color: #717886;
}

.attendanceTable {
    overflow: auto;
}

.attendanceTable tr th:first-child {
    text-align: left;
}

.attendanceTable tr th,
.attendanceTable tr td {
    vertical-align: middle;
    text-align: center;
    min-width: 50px;
}

.attendanceTable tr th {
    color: #717886;
    padding: 24px 1.5rem;
    font-size: 17px;
}

.attendanceTable tr td {
    border-top: 0;
}

.downloadData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 16px;
}

.downloadData h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.downloadData .btn {
    padding: 4px 8px;
    line-height: 1;
    vertical-align: top;
    opacity: 0.8;
    transition: 0.25s ease-out;
    -webkit-transition: 0.25s ease-out;
}

.downloadData .btn:hover {
    opacity: 1;
}

.modal-title {
    font-size: 1.25rem !important;
}