<!-- Organisation Strip Starts Here -->
<div class="public-user-block questionaire-div block m-btm-15">
    <div class="row d-flex align-items-center">
        <div class="col-lg-4 col-md-4 col-sm-5  d-flex align-items-center">
            <a class="name"><strong class="d-block strip-heading">{{props.label}}</strong><span class="d-block">{{props.short_label}}/{{props.subdomain}}/{{props.linkwill}}/{{props.comehere}} </span></a>
        </div>
        <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>

        <div class="col-lg-6 col-md-6 col-sm-5 ">
            <div class="details d-flex row">

                <div class="item col-md-4">
                    <span> Onboarded Date</span><br>
                    <strong>{{props.onboarded_date}}</strong>
                </div>


                <div class="item col-md-4">
                    <span>Expiry Date</span><br>
                    <strong>{{props.expiry_date}}</strong>
                </div>


                <div class="item col-md-4">
                    <span>Admin Status</span><br>
                    <strong class="dashbg_txt_4">{{props.admin_status}}</strong>
                </div>
            </div>
        </div>

        <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>

        <div class="col-lg-2 col-md-2 col-sm-2 text-right d-flex ">
            <div class="dropdown action-spacing">
                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" routerLink="/esp-super-admin/edit-organisations">Edit Organization</a>
                    <a class="dropdown-item">View Organization</a>
                    <a class="dropdown-item">Download Details</a>

                    <div class="border-top w-100 pt--sm mt--sm"></div>
                    <a class="dropdown-item">Remove</a>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Organisation Strip Starts Here -->