<ngx-spinner></ngx-spinner>
<esp-content [title]="'Coaches'">
    <div class="container-fluid">
        <div class="statistic-block-in block">
            <div class="row">
                <div class="col-6 ">
                    <h2 class="sports_Categ_title_1">Total Coaches {{coachLength?.length}}</h2>
                </div>
                <div class="col-6" *ngIf="isCreate">
                    <a class="add-link" (click)="refreshForm()" data-bs-toggle="modal" data-bs-target="#myModal" href="">Add New
                        Coach<i class="material-icons">add_circle_outline</i></a>
                </div>
            </div>
        </div>
        <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Add New Coach</strong>
                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Login Credentials will be send to coach email ID and mobile number</p>
                        <form [formGroup]='myReactiveForms' (ngSubmit)='addDetails()'>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label>Sports Category</label>
                                        <select formControlName="sportsCategory" class="form-control mb-1 mb-1" [ngClass]="{ 'is-invalid': f.sportsCategory.touched && f.sportsCategory.errors && f.sportsCategory.invalid }">
                                            <option [value]='null' disabled selected>-- Select Category --</option>
                                            <option *ngFor="let sports of orgData?.sportsCategory" value='{{sports}}'>
                                                {{sports}}</option>
                                        </select>
                                        <div *ngIf="f.sportsCategory.invalid && f.sportsCategory.errors && f.sportsCategory.touched" class="invalid-feedback space-y">
                                            <div *ngIf="f.sportsCategory.errors.required">Sports Category is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label>Coach Name</label>
                                        <input type="text" formControlName="coacheName" placeholder="Enter Coach Name" (keypress)="keyPressAlphaNumeric($event)" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': f.coacheName.touched && f.coacheName.errors && f.coacheName.invalid }">
                                        <div *ngIf="f.coacheName.invalid && f.coacheName.errors && f.coacheName.touched" class="invalid-feedback space-y">
                                            <div *ngIf="f.coacheName.errors.required">Coach Name is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" formControlName="email" placeholder="Enter Email Address" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors && f.email.invalid }">
                                        <div *ngIf="f.email.invalid && f.email.errors && f.email.touched" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.pattern">Email must be a valid email address
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <div class="d-flex">
                                            <div class="col-3">
                                                <ng-multiselect-dropdown formControlName="mobileNumber" [settings]="dropdownSettings" [data]="countriesEnglish" (onSelect)="onItemSelect($event)" [(ngModel)]="selectedItems" class="singleselect" [ngClass]="{ 'is-invalid': f.mobileNumber.touched && f.mobileNumber.errors && f.mobileNumber.invalid }">
                                                </ng-multiselect-dropdown>
                                                <div *ngIf="f.mobileNumber.invalid && f.mobileNumber.errors && f.mobileNumber.touched" class="invalid-feedback">
                                                    <div *ngIf="f.mobileNumber.errors.required">Country Code is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <input type="text" (keypress)="keyPressAlphaNumerics($event)" formControlName="mobile" (click)="inputNumber($event)" placeholder="Enter Mobile Number" class="form-control" [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors && f.mobile.invalid }">
                                                <div *ngIf="numberInvalid">Mobile Number is invalid</div>
                                                <div *ngIf="f.mobile.invalid && f.mobile.errors && f.mobile.touched" class="invalid-feedback">
                                                    <div *ngIf="f.mobile.errors.required">Mobile Number is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" [disabled]="!myReactiveForms.valid" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Add Coach</button>
                                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf='coachLength?.length==0; else statusActive;'>
            <div class="public-user-block block">
                <div class="empty_mess_div text-center">
                    <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                    <p>Currently there are no coaches. <br> </p>
                </div>
            </div>
        </ng-container>
        <ng-template #statusActive>
            <div class="statistic-block block">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <ng-container *ngFor="let sports of coacheslist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="home-tab" [ngClass]="{'active': select==sports.category}" data-bs-toggle="tab" role="tab" aria-controls="home" (click)='filterCoach(sports.category)' aria-selected="true">{{sports.category}}</a>
                        </li>
                    </ng-container>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                        <br>
                        <div class="row">
                            <div class="col col-lg-6 col-md-6  col-sm-6 " *ngFor="let list of catch">
                                <div class="user-block user-block-coach block text-center position-rel ">
                                    <div class="avatar">
                                        <div>
                                            <img src="{{list.image}}" alt="" *ngIf="list.status==='Active'">
                                            <img src="assets/img/coache-avatar.png" alt="" *ngIf="list.status==='Invited'">
                                        </div>
                                        <div class="order dashbg-2">{{list.order}}</div>
                                    </div>
                                    <div class="icon-block edit_delete">
                                        <button><img src="./assets/img/icons/message.svg" (click)="openMsg(list)" *ngIf="isView"></button>
                                        <a data-bs-toggle="modal" data-bs-target="#editModal" (click)="openEditPage(list)"><img src="./assets/img/icons/edit_athlete.svg" *ngIf="isEdit"></a>
                                        <a><img src="./assets/img/icons/delete Athlete.svg" (click)="testId(list.id)" data-bs-toggle="modal" data-bs-target="#removeSoache" *ngIf="isDelete"></a>
                                    </div>
                                    <div id="removeSoache" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                                        <div role="document" class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"> <img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the coach</span></strong>
                                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton" aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this coach.<br></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" data-bs-dismiss="modal" (click)="deleteCoache()" class="btn btn-primary toast-btn">Delete</button>
                                                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="user-title">
                                        <h3 class="h5">{{list.coacheName}} </h3><span>{{list.email}} <br>
                                            {{list.mobile}}</span>
                                        <span class="" [ngClass]="{
                                        active_tag: list.status === 'Active',
                                        invited: list.status === 'Invited',
                                        injured: list.status === 'Injured'
                                      }" style="width: 14%;
                                      position: relative;
                                      left: 42%;">{{ list.status }}</span
                                    >
                    </a>
                    <div class="contributions" *ngIf="list.teamNames != 0; else atheleteAssigned">
                        Assigned For : {{list.teamNames.join(', ')}}</div>
                    <ng-template #atheleteAssigned>
                        <div class="contributions">Assigned For : N/A</div>
                    </ng-template>
                </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    </ng-template>
    </div>
</esp-content>
<esp-footer></esp-footer>
<div id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Edit Coach</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p>Login Credentials will be send to coach email ID and mobile number</p>
                                    <form [formGroup]='myReactiveForms' (ngSubmit)='updateItems()'>
                                        <div class="row">
                                            <div class=" col-md-12 ">
                                                <div class="form-group">
                                                    <label>Sports Category</label>
                                                    <select name="sportsCategory" formControlName="sportsCategory" class="form-control mb-1 mb-1" [ngClass]="{ 'is-invalid': f.sportsCategory.touched && f.sportsCategory.errors && f.sportsCategory.invalid }">
                                    <option value="0" disabled selected>-- Select Category --</option>
                                    <option *ngFor="let sports of orgData?.sportsCategory" value='{{sports}}'>{{sports}}
                                    </option>
                                </select>
                                                    <div *ngIf="f.sportsCategory.invalid && f.sportsCategory.errors && f.sportsCategory.touched" class="invalid-feedback space-y">
                                                        <div *ngIf="f.sportsCategory.errors.required">Sports Category is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label>Coach Name</label>
                                                    <input type="text" formControlName="coacheName" placeholder="Enter Coach Name" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="email" formControlName="email" placeholder="Enter Email Address" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label>Mobile Number</label>
                                                    <div class="d-flex">
                                                        <div class="col-3">
                                                            <ng-multiselect-dropdown formControlName="mobileNumber" [settings]="dropdownSettings" [data]="countriesEnglish" [(ngModel)]="selectedItems " (onSelect)="onItemSelect($event)" [(ngModel)]="demo" class="singleselect" [ngClass]="{ 'is-invalid': f.mobileNumber.touched && f.mobileNumber.errors && f.mobileNumber.invalid }">
                                                            </ng-multiselect-dropdown>
                                                        </div>
                                                        <div class="col-9">
                                                            <input type="text" (keypress)="keyPressAlphaNumerics($event)" formControlName="mobile" placeholder="Enter Mobile Number" class="form-control" [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors && f.mobile.invalid }">
                                                            <div *ngIf="f.mobile.invalid && f.mobile.errors && f.mobile.touched" class="invalid-feedback">
                                                                <div *ngIf="f.mobile.errors.required">Phone is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Update Coach</button>
                                            <button type="button" (click)='closeView()' data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content" style="width: 700px;vertical-align: middle;">
                                <div class="modal-header">
                                    <p id="exampleModalLabel" class="modal-title text-white">Upload</p>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="file" class="file" (change)="fileChangeEvent($event.target.files)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row w-100">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2 float-right m-0 p-0">
                                            <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-primary" data-bs-dismiss="modal" (click)="uploadFile()">Upload</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2 float-right m-0 p-0">
                                            <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content model-width">
                                <div class="modal-header header-model index-details-2">
                                    <p id="exampleModalLabel" class="modal-title text-white">New Message
                                    </p>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
                                </div>
                                <br>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" [(ngModel)]="sportsType" readonly="true">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" [(ngModel)]="coachName" readonly="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" [(ngModel)]="subject" placeholder="Subject">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control rounded-0" [(ngModel)]="description" placeholder="Type and Send Your Message..." style="height: 150px;" rows="10" cols="20"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex mt-3" *ngFor="let itemMsg of pushedDataNewMsg;let i = index">
                                    <div class="col-8">
                                        <p>
                                            {{itemMsg}}
                                            <i class="fa fa-close text-alert" style="position: relative; right: -43px;" (click)="cancelNewMsgUpload(i)"></i>
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-success"><i
                    class="fa fa-check text-white"
                    style="position: relative; right: 8px"
                  ></i>Uploaded</button>
                                    </div>
                                </div>
                                <div class="row d-flex mt-3">
                                    <input type="file" #file class="dispalyNone" (change)="uploadFilePinn1(file.files)">
                                    <i class="fa fa-close text-alert dispalyNone" #delete (click)="cancel()"></i>
                                    <div class="col-8" *ngIf="hideUploadNewMsgBlock">
                                        <input class="inputUploadName" type="text" [ngModel]='fileName'>
                                        <i class="fa fa-close text-alert" style="position: relative; right: 16px;" (click)="cancel()"></i>
                                    </div>
                                    <div class="col-4" *ngIf="hideUploadNewMsgBlock">
                                        <button type="button" style="width: 148px;float: right;padding: 4px;background-color: #f79b3e;" class="btn btn-primary" (click)="uploadFile()">Upload</button>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-between footer-model">
                                    <div class="">
                                        <img (click)="file?.click();" src="./assets/img/messages/paper-pin-img.png" alt="">
                                        <p *ngIf="errorMessage!=''" style="color: red;">{{errorMessage}}</p>
                                    </div>
                                    <button type="submit" data-bs-dismiss="modal" (click)="sendMessage()" class="btn btn-primary toast-btn">Send
          Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <esp-modal-update [props]=modelDetails[0]></esp-modal-update>
                    <esp-modal-success [props]=modelDetails[0]></esp-modal-success>
                    <esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>
                    <esp-modal-already-exist [props]=modelDetails[0]></esp-modal-already-exist>
