.nav-link {
    cursor: pointer;
}

.order {
    size: 50%;
}

.iti {
    position: relative;
    display: none;
}

.active_tag {
    background-color: #0fab15 !important;
    color: white;
    font-weight: 300;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

.invited {
    background-color: rgb(50, 173, 255) !important;
    color: white;
    font-weight: 300;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

.injured {
    background-color: rgb(240, 49, 49) !important;
    color: white;
    font-weight: 300;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 57px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -34px;
    font-weight: 1000;
    color: #ff9090;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
}

.custom {
    width: 100% !important;
}

.active_tag3 {
    visibility: hidden !important;
}

.active_tag4 {
    visibility: hidden !important;
}

.active_tag2 {
    position: relative !important;
    bottom: 72px !important;
}

.wrapper {
    margin-bottom: 20px;
}

.img-fluid {
    position: relative !important;
    top: 0px !important;
}

.iti {
    display: block !important;
    margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: #c7cace;
    margin-top: -1px;
}

.iti .iti__country-list {
    box-shadow: none;
    font-size: 14px;
    margin-left: 0;
    width: 244px;
    max-height: 170px;
}

.iti__flag-container.open+input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.iti .search-container input {
    font-size: 14px;
    border-color: #c7cace;
    border-radius: 0;
    padding: 5px 10px;
}

.iti .search-container input:focus {
    outline: none;
}

@media screen and (max-width: 479px) {
    .iti .iti__country-list {
        width: 88.3vw;
    }
}

ngx-intl-tel-input input {
    height: 44px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #c7cace;
    border-radius: 4px;
    font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
    border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
    outline: none !important;
    border-color: #3498db;
    box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
    background-color: #e5eaf1;
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
    box-sizing: content-box;
    content: "";
    color: #337ab7;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid #337ab7;
    text-align: center;
    transition: .4s;
    display: none;
}

::ng-deep.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    width: 104px !important;
    height: 37px !important;
    border-radius: 0px !important;
    border: 1px solid #616161 !important;
    background: #0000002e !important;
}

::ng-deep.dropdown-list {
    position: absolute;
    padding-top: 6px;
    width: 100%;
    z-index: 9999;
    border: 1px solid #ccc;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 1px 5px #959595;
    width: 105px !important;
    bottom: 104%;
}

::ng-deep.dropdown-list li {
    padding: 6px 10px;
    cursor: pointer;
    position: relative !important;
    right: 12px !important;
}

::ng-deep.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
    display: block;
    box-sizing: border-box;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
    position: relative !important;
    left: 20px !important;
    top: -28px !important;
    display: none !important;
}

::ng-deep.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    margin-right: 4px;
    padding: 0 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
    max-width: 100px;
    background: none !important;
    border: none !important;
}

::ng-deep.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item a {
    text-decoration: none !important;
    display: none !important;
}

::ng-deep.multiselect-dropdown.dropdown-btn.dropdown-multiselect__caret:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #999 transparent;
    content: "";
    position: relative !important;
    left: 20px !important;
    top: -28px !important;
    display: none !important;
}

.dispalyNone {
    display: none;
}

.inputUploadName {
    background-color: transparent;
    border: none;
    width: 95%;
    border-bottom: 1px solid black;
    color: white;
}

.index-details-2 {
    background-color: #494C53;
}

.model-width {
    width: 608px !important;
}

.header-model {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    margin-top: -22px;
    margin-left: -35px;
    margin-right: -35px;
    border-radius: 1%;
}

.text-white {
    font-size: 0.9rem !important;
}

.close {
    font-size: 18px;
}

.footer-model {
    border: none !important;
}
