<ngx-spinner></ngx-spinner>
<esp-content [title]="'Athlete Data'">
    <div class="container-fluid">
        <div class="statistic-block block">
            <div class="row">
                <div class="col-sm-3">
                    <select name="sportsCategory" class="form-control mb-3 mb-3 m-0" (change)="sports($event)">
            <option selected>Select Sports Category</option>
            <option
              *ngFor="let data of orgData.sportsCategory"
              value="{{ data }}"
            >
              {{ data }}
            </option>
          </select>
                </div>
                <div class="col-sm-3">
                    <select name="account" class="form-control mb-3 mb-3 m-0" (change)="inviteAthelete($event)">
            <option selected  value="0">Select Athletes</option>
            <option value="{{ invite.id }}" *ngFor="let invite of athlete">
              {{ invite.athleteName }}
            </option>
          </select>
                </div>
                <div class="col-6 position-rel">
                    <div class="next_prev_div">
                        <a><img class="mx-1" src="./assets/img/icons/prev.svg" />
                        </a>
                        <a><img src="./assets/img/icons/next.svg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="public-user-block block">
            <div class="row d-flex align-items-center">
                <div class="col-lg-5 d-flex align-items-center">
                    <div class="avatar">
                        <label class="hoverable" for="fileInput">
              <img
                class="img-fluid rounded-circle"
                [src]="URL ? URL : 'assets//img//coache-avatar.png'"
              />
              <div class="overlay">Edit</div>
            </label>
                    </div>
                    <br />
                    <input id="fileInput" type="file" (change)="onSelectFile($event)" />
                    <a class="name"><strong class="d-block"> {{ athleteName }}</strong>
            <span class="d-block"
              >Age: N/A |{{ emails }} | {{ mobileNo }}
            </span>
          </a>
                </div>
                <div class="col-lg-7">
                    <div class="details d-flex">
                        <div class="item">
                            <span>Current Injury</span><br />
                            <strong>N/A</strong>
                        </div>
                        <div class="item">
                            <span>DOB</span><br />
                            <strong>N/A</strong>
                        </div>
                        <div class="item">
                            <span>DOJ</span><br />
                            <strong>N/A</strong>
                        </div>
                        <div class="item">
                            <span class="" [ngClass]="{
                  active_tag: status === 'Active',
                  invited: status === 'Invited',
                  injured: status === 'Injured'
                }">{{ status }}</span
              >
            </div>
            <div class="item text-right">
              <a routerLink="/home/athelete-details"
                ><img class="icon_link" src="./assets/img/icons/go_arrow.svg"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="statistic-block block">
      <esp-atheletedata-navtab></esp-atheletedata-navtab>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="injury"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <br />
          <div class="row">
            <div class="col-lg-12">
              <app-athelete-injurydetails
                [athleteId]="atheId"
              ></app-athelete-injurydetails>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="treatment"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          <br />
          <div class="row">
            <div class="col-lg-12">
              <app-treatment-information-form
                [atheleteId]="atheId"
              ></app-treatment-information-form>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="prescriptions"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <br />
          <div class="row">
            <div class="col-md-12">
              <app-athelete-prescriptions
                [athID]="atheId"
              ></app-athelete-prescriptions>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="Vaccinations"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <br />
          <div class="row">
            <div class="col-md-12">
              <app-athelete-vaccination
                [athID]="atheId"
              ></app-athelete-vaccination>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="medica_history"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          <br />
          <div class="row">
            <app-athelete-medical-history
              [atheleteId]="atheId"
            ></app-athelete-medical-history>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="documents"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <br />
          <form [formGroup]="myForm" *ngIf="isCreate">
            <div class="border-block">
              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <input
                    type="text"
                    formControlName="title"
                    placeholder="Enter Document Title"
                    class="form-control"
                    name="documentTitle"
                    maxlength="30"
                    [(ngModel)]="Athelete.documentTitle"
                    [ngClass]="{
                      'is-invalid':
                        f.title.touched && f.title.errors && f.title.invalid
                    }"
                  />
                  <div
                    *ngIf="f.title.invalid && f.title.errors && f.title.touched"
                    class="invalid-feedback space-y"
                  >
                    <div *ngIf="f.title.errors.required">Title is required</div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-12">
                  <input
                    type="text"
                    formControlName="description"
                    placeholder="Enter Document Description"
                    class="form-control"
                    name="documentDescription"
                    maxlength="300"
                    [(ngModel)]="Athelete.documentDescription"
                    [ngClass]="{
                      'is-invalid':
                        f.description.touched &&
                        f.description.errors &&
                        f.description.invalid
                    }"
                  />
                  <div
                    *ngIf="
                      f.description.invalid &&
                      f.description.errors &&
                      f.description.touched
                    "
                    class="invalid-feedback space-y"
                  >
                    <div *ngIf="f.description.errors.required">
                      Description is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="form-group m-0">
                    <div class="input-group">
                      <input
                        value="{{ documentNames }}"
                        disabled
                        placeholder="Document name"
                        type="text"
                        class="form-control"
                        style="visibility: visible; font-size: 13px !important"
                      /><i
                        class="fa fa-close text-alert"
                        (click)="cancel()"
                        *ngIf="Cancel"
                      ></i>
                      <button
                        type="button"
                        class="btn btn-primary upload"
                        style="background-color: #f79b3e"
                        [style.backgroundColor]="uploadButton"
                        (click)="file.click()"
                        title="click To Upload File"
                      >
                        <span *ngIf="Before">Upload File</span>
                            <span *ngIf="After"><i
                            class="fa fa-check text-white"
                            style="position: relative; right: 8px"
                          ></i>
                          Uploaded</span
                        >
                      </button>
                      <input
                        type="file"
                        #file
                        placeholder="Choose
                                        file"
                        (change)="uploadFile(file.files)"
                        style="display: none"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-sm-12">
                  <button
                    type="button"
                    [disabled]="!myForm.valid"
                    (click)="Save(Athelete)"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
          <i class="help-txt"
          *ngIf="isCreate">Upload New Documents - File Size Less Than 2 MB, Format : JPG, PDF,
            Excel, Word.dox</i
          >
          <ng-container
            *ngIf="atheleteDocumentList?.length == 0; else statusActive"
          >
            <div class="public-user-block block">
              <div class="empty_mess_div text-center">
                <img
                  style="height: 100px"
                  src="../../../assets/img/athlete-avatar.png"
                />
                <p>
                  Currently there are no athlete documents has been added for
                  this athlete <br />
                </p>
              </div>
            </div>
          </ng-container>
          <ng-template #statusActive>
            <div class="card-deck" *ngIf="isView">
              <div class="row" >
                  <div class="col-lg-3 col-sm-4 col-md-4"*ngFor="
                  let item of atheleteDocumentList;
                  let i = Index" >
                    <div class=" doc-div position-rel">
                      <div class="icon-block">
                        <a
                          ><img
                            src="./assets/img/icons/download_small.svg"
                            (click)="Check(item)"
                        /></a>
                        <a *ngIf="isDelete"><img src="./assets/img/icons/delete-small.svg" data-bs-toggle="modal" data-bs-target="#delete" (click)="click(item.id)" /></a>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 align-item-center doc-border">
                            <img src="./assets/img/icons/files-1.svg" />
                            <h4>{{ item.documentTitle }}</h4>
                            <p>{{ item.documentDescription }}</p>
                        </div>
                    </div>
                    <div class="row" *ngFor="let abc of item.documents">
                        <div class="col-md-12">
                            <label class="float-left d-center">{{
                            abc.fileName
                          }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul *ngFor="let item of atheleteDocumentList; let i = Index">
            <li *ngFor="let athelete of item.documnets; let j = Index"></li>
        </ul>
    </div>
    </ng-template>
    <div class="row">
    </div>
    </div>
    </div>
    </div>
    </div>
    <div id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong id="exampleModalLabel" class="modal-title dashbg_txt_5">
                      <img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the athlete document</span>
                            </strong>
                            <a type="" data-bs-dismiss="modal" aria-label="Close" class="close">
                                <span class="closeButton" aria-hidden="true">×</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this document.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="deleteCard()">
            Delete
          </button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Results" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong id="exampleModalLabel" class="modal-title dashbg_txt_4">
            <span *ngIf="Success"> <img  src="./assets/img/tick.svg" alt="" style="height: 45px;
              width: 55px;"> Success Message!</span>
            <span *ngIf="Delete">Delete!</span>
          </strong>
                            <a type="" data-bs-dismiss="modal" aria-label="Close" class="close">
                                <span aria-hidden="true">×</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <p *ngIf="added">Document added successfully.</p>
                            <p *ngIf="Uploaded">File Upload successfully.</p>
                            <p *ngIf="Deleted">Document deleted successfully.</p>
                            <p *ngIf="Delete">Are you sure you want to delete this document.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" *ngIf="Success">
            Okay
          </button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" *ngIf="deleted" (click)="deleteCard()">
            Okay
          </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myDownloadedd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Download!</strong
          >
          <a type="" data-bs-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </a>
        </div>
        <div class="modal-body">
          <p class="">Click to download. <br /></p>
        </div>
        <div class="modal-footer">
          <li>
            <button
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="EXCEL()"
              style="width: 110px !important"
            >
              Download
            </button>
          </li>
        </div>
      </div>
    </div>
  </div>
</esp-content>
<esp-footer></esp-footer>
