.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.d-center {
    display: flex;
    justify-content: center;
}

#fileInput {
    display: none;
}

.overlay {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    background: black;
    color: #000000;
    width: 100%;
    height: 40%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 13px;
    text-align: center;
}

.hoverable:hover .overlay {
    opacity: 0.7;
}

.active_tag {
    background-color: #0fab15 !important;
    color: white;
    font-weight: 300;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

.invited {
    background-color: rgb(50, 173, 255) !important;
    color: white;
    font-weight: 300;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

.injured {
    background-color: rgb(240, 49, 49) !important;
    color: white;
    font-weight: 300;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.form-control:disabled,
.form-control[readonly] {
    background: #191C24 !important;
}

li {
    list-style-type: none !important;
    color: grey !important;
    margin: 5px !important;
}

.fa-close {
    position: relative;
    right: 20px;
    top: 10px;
    cursor: pointer;
    background-color: none !important;
    cursor: pointer;
    font-size: 12px !important
}

.modal-open .modal .close {
    color: #8a8d93;
    opacity: 1;
    background: no-repeat !important;
}

li button {
    margin: 5px !important;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: 6px;
    font-size: 87% !important;
    top: 4px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
    cursor: pointer;
}

@media (max-width: 1900px) {
    .save {
        height: 40px !important;
        font-size: 14px !important;
    }
    .upload {
        height: 40px !important;
        font-size: 14px !important;
    }
}

@media (max-width:760px) {
    .save {
        margin-top: 16px !important;
    }
    .upload {
        margin-top: 16px !important;
    }
}

@media (max-width: 1001px) {
    .upload {
        font-size: 12px !important;
    }
    @media (max-width: 732px) {
        .upload {
            position: relative !important;
            bottom: 18px !important;
        }
    }
}

.modal-title {
    font-size: 1.25rem !important;
}
