<div class="chart block">
 <div class="title"> <strong>Team Key Performance Indicator</strong></div>
    <div class="bar-chart chart margin-bottom-sm">
      <canvas id="barChartCustom1"></canvas>
    </div>
</div>
