    .deleteIcon {
        height: 45px;
        width: 55px;
        position: relative;
        right: 12px;
    }
    
    .positioning {
        position: relative;
        right: 6px;
        font-size: 87% !important;
        top: 4px;
        font-weight: 1000;
    }
    
    .closeButton {
        position: relative;
        left: -2px;
        font-size: 25px;
        top: 9.5px;
    }
    
    .modal-title {
        font-size: 1.25rem !important;
    }
    
    .dropdown-item {
        cursor: pointer;
    }
    
     ::ng-deep.dropdown-list {
        position: absolute;
        bottom: 104% !important;
    }
    
     ::ng-deep.multiselect-dropdown .dropdown-btn {
        border: 1px solid #616161 !important;
        vertical-align: top !important;
        color: white !important;
        border-radius: 0px !important;
        background-color: #25272B;
        width: 100% !important;
    }
    
     ::ng-deep.selected-item {
        display: flex !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }
    
    @media (max-width: 1200px) {
        .dropdown-item {
            cursor: pointer;
        }
         ::ng-deep.dropdown-list {
            position: absolute;
            bottom: 104% !important;
        }
         ::ng-deep.multiselect-dropdown .dropdown-btn {
            border: 1px solid #616161 !important;
            vertical-align: top !important;
            color: white !important;
            border-radius: 0px !important;
            background-color: #25272B;
            width: 100% !important;
        }
         ::ng-deep.selected-item {
            display: flex !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;
        }
    }
    
    //  ::ng-deep.dropdown-multiselect__caret {
    //     content: "\f070" !important;
    // }
    //  ::ng-deep.dropdown-multiselect__caret {
    //     content: "\2193" !important;
    //     position: unset !important;
    //     border-style: unset !important;
    //     border-width: unset !important;
    //     border-color: unset !important;
    // }