<ngx-spinner></ngx-spinner>

<esp-content [title]="'Assessments'">

    <div class="container-fluid">
        <!-- <esp-assessment-info-bar [props] = "assessmentinfo[0]"></esp-assessment-info-bar> -->
        <div class="row">
            <div class="col-6">
                <div class="title">
                    <strong class="d-block">Assessments Created ({{teamListByOrgId?.length}})</strong> <br>
                </div>
            </div>
            <div class="col-6">
                <a class="add-link" data-bs-toggle="modal" data-bs-target="#myModal" *ngIf="isCreate">Create Assessments<i
            class="material-icons">add_circle_outline</i></a>
            </div>
        </div>



        <!-- Create New Assessments Modal-->





        <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Create New Assessments</strong>
                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                aria-hidden="true">×</span></button>
                    </div>



                    <div class="modal-body">

                        <form [formGroup]='createAssessmentForm' (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>Assessments Title / Name</label>
                                <input type="text" placeholder="Enter Assessments Title" formControlName="title" maxlength="500" class="form-control" [ngClass]="{
                                'is-invalid':
                                  f.title.touched &&
                                  f.title.errors &&
                                  f.title.invalid
                              }">
                                <div *ngIf="
                    f.title.invalid &&
                    f.title.errors &&
                    f.title.touched
                  " class="invalid-feedback space-y">
                                    <div *ngIf="f.title.errors.required">
                                        Title / Name is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Select Sports Category</label>
                                <select (change)="selectedCategory($event)" formControlName="orderBy" class="form-control mb-1 mb-1" [ngClass]="{
                  'is-invalid':
                    f.orderBy.touched &&
                    f.orderBy.errors &&
                    f.orderBy.invalid
                }">
                  <option value="" disabled selected>-- Select Category --</option>
                  <option *ngFor="let sports of orgData?.sportsCategory" value='{{sports}}'>{{sports}}</option>

                </select>
                                <div *ngIf="
                    f.orderBy.invalid &&
                    f.orderBy.errors &&
                    f.orderBy.touched
                  " class="invalid-feedback space-y">
                                    <div *ngIf="f.orderBy.errors.required">
                                        Sports Category is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Select Team</label>
                                <ng-multiselect-dropdown value='null' formControlName="teamId" [(ngModel)]="demo" placeholder="-- Select Teams --" [settings]="dropdownSettings" [data]="teamList" (onSelect)="onItemSelect($event)" class="singleselect" [ngClass]="{
                                  'is-invalid':
                                    f.teamId.touched &&
                                    f.teamId.errors &&
                                    f.teamId.invalid
                                }">
                                </ng-multiselect-dropdown>

                                <div *ngIf="
                    f.teamId.invalid &&
                    f.teamId.errors &&
                    f.teamId.touched
                  " class="invalid-feedback space-y">
                                    <div *ngIf="f.teamId.errors.required">
                                        Select Team is required
                                    </div>
                                </div>


                            </div>



                            <div class="modal-footer">
                                <button type="submit" [disabled]="!createAssessmentForm.valid" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Create Assessments</button>
                                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>


        <!-- <esp-assessment-info-bar [props] = "assessmentinfo[0]"></esp-assessment-info-bar> -->



        <!-- <app-createassessments [assessmId]=assListId></app-createassessments> -->






        <!-- Block Div -->
        <ng-container *ngIf='teamListByOrgId?.length==0; else statusActive;'>

            <div class="public-user-block block">
                <div class="empty_mess_div text-center">
                    <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                    <p>Currently there are no assessment details has been added for this athlete<br> </p>

                </div>
            </div>

        </ng-container>
        <ng-template #statusActive>
            <div class="public-user-block questionaire-div block" *ngFor="let teamData of teamListByOrgId">
                <ng-container>
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-5 col-sm-5  d-flex align-items-center">
                            <a class="name"><strong class="d-block">{{teamData?.title}}</strong><span
                  class="d-block">{{teamData?.status}}</span></a>



                        </div>
                        <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
                        <div class="col-lg-4 col-md-5 col-sm-5 ">
                            <div class="details d-flex">

                                <div class="item">
                                    <span>Questions</span><br>
                                    <strong>{{teamData?.questions}}</strong>
                                </div>

                                <div class="item">
                                    <span> Response</span><br>
                                    <strong>{{teamData?.response}}</strong>
                                </div>

                                <div class="item">
                                    <span>Shared for</span><br>
                                    <strong>{{teamData?.sharedForTeam}}</strong>
                                </div>

                            </div>
                        </div>

                        <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>

                        <div class="col-lg-2 col-md-2 col-sm-2 text-right ">
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" routerLink="/home/createassessments" (click)="viewQue(teamData.id)" *ngIf="isView">View Questionnaire</a>
                                    <a class="dropdown-item" routerLink="/home/createassessments" (click)="editQue(teamData.id)" *ngIf="isEdit">Edit Questionnaire</a>
                                    <!-- <a class="dropdown-item"  >Share to Team</a> -->
                                    <!-- <a class="dropdown-item" routerLink="/home/createassessments">View Results</a> -->
                                    <a class="dropdown-item" href="/#/home/createassessments" (click)="resultQue(teamData.id)">View Results</a>
                                    <a class="dropdown-item" (click)="dublicateAssessment(teamData)">Duplicate</a>
                                    <div class="border-top w-100 pt--sm mt--sm"></div>

                                    <!-- <a class="dropdown-item"  >Duplicate</a> -->
                                    <a class="dropdown-item" href='' data-bs-toggle="modal" data-bs-target="#removeAssessment" (click)="removeQue(teamData.id)" *ngIf="isDelete">Remove</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </ng-container>

                <!-- Modal--for--remove-->
                <div id="removeAssessment" tabindex="-1" role="dialog" ariad-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"><img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the assessment</span></strong>
                                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton"
                    aria-hidden="true">×</span></button>
                            </div>

                            <div class="modal-body">
                                <p>Are you sure you want to delete this assessment.<br></p>

                            </div>
                            <div class="modal-footer">



                                <button type="submit" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#deletedSuccessPractitioner" (click)="deleteAssess()" class="btn btn-primary toast-btn">Delete</button>
                                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal----for--remove-->



            </div>
            <!-- Block Div -->
        </ng-template>













    </div>

</esp-content>
<esp-footer></esp-footer>







<!-- Modal-- created Assessment- success - start-->
<!-- <div id="createdSuccessAssessment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Assessment added successfully</p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div> -->
<!-- Modal-- created Assessment- success - end-->




<!-- Modal-Error-->
<div id="modelError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Error!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Something went wrong</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal-->





<!-- Modal-- Duplicate - success - start-->
<div id="duplicateSuccessAssessment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
            width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Duplicate assessment added successfully</p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-- Duplicate - success - end-->





<esp-modal-update [props]=modelDetails[0]></esp-modal-update>
<esp-modal-success [props]=modelDetails[0]></esp-modal-success>
<esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>
<esp-modal-already-exist [props]=modelDetails[0]></esp-modal-already-exist>