<div class="mainWrap">
    <div class="loginPageWrapperIn">
        <div class="bgLeftWrap">
            <div class="bgLeftContent">
                <div class="sitelogo">
                    <a href=""><img src="assets/img/evvo_m_logo.svg" alt="" /></a>
                </div>
                <h3><strong>Welcome onboarding,</strong> We are glad to see you again!</h3>

            </div>
        </div>
        <div class="loginrightForm">
            <div class="contentForm">
                <div class="contentFormIn FormBlock">
                    <h2>Admin Onboarding</h2>
                    <form class="form-validate mb-4" [formGroup]="coachForm" (ngSubmit)="submitCoach()">
                        <div class="row grid16">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" maxlength="50" formControlName="organisationName" name="organisationName" placeholder="Enter Name" (keypress)="keyPressAlphaNumeric($event)" class="form-control" [ngClass]="{ 'is-invalid': f.organisationName.touched && f.organisationName.errors && f.organisationName.invalid }">
                                    <div *ngIf="f.organisationName.invalid && f.organisationName.errors && f.organisationName.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.organisationName.errors.required">Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="Email" disabled formControlName="emailAddress" name="emailAddress" placeholder="Enter Email Address" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row grid16">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label>Address Line 1</label>
                                    <input type="text" formControlName="addressline1" name="addressline1" [(ngModel)]="addressOne" placeholder="Enter Address Line 1" class="form-control" [ngClass]="{ 'is-invalid': f.addressline1.touched && f.addressline1.errors && f.addressline1.invalid }">
                                    <div *ngIf="f.addressline1.invalid && f.addressline1.errors && f.addressline1.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.addressline1.errors.required">Address Line 1 is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row grid16">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Address Line 2</label>
                                    <input type="text" maxlength="500" formControlName="addressline2" [(ngModel)]="addressTwo" name="addressline2" placeholder="Enter Address Line 2" class="form-control" [ngClass]="{ 'is-invalid': f.addressline2.touched && f.addressline2.errors && f.addressline2.invalid }">
                                    <div *ngIf="f.addressline2.invalid && f.addressline2.errors && f.addressline2.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.addressline2.errors.required">Address Line 2 is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="row grid16">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Zip Code</label>
                                    <input type="text" (input)="zipcodee()" (keypress)="keysPressAlphaNumerics($event)" [(ngModel)]="zipcode" placeholder="Enter Zip Code" formControlName="zipCode" maxlength="15" class="form-control" [ngClass]="{
                                'is-invalid':
                                  f.zipCode.touched && f.zipCode.errors && f.zipCode.invalid
                              }" />
                                    <div *ngIf="
                                f.zipCode.invalid && f.zipCode.errors && f.zipCode.touched
                              " class="invalid-feedback space-y">
                                        <div *ngIf="f.zipCode.errors.required">
                                            Zip Code is required
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">City</label>
                                    <input type="text" (keypress)="keyPressAlphaNumeric($event)" [(ngModel)]="city" placeholder="Enter City" formControlName="city" class="form-control" [ngClass]="{
              'is-invalid':
                f.city.touched && f.city.errors && f.city.invalid
            }" readonly />
                                    <div *ngIf="f.city.invalid && f.city.errors && f.city.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.city.errors.required">City is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row grid16">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">State</label>
                                    <input type="text" (keypress)="keyPressAlphaNumeric($event)" [(ngModel)]="state" placeholder="Enter State" formControlName="state" class="form-control" [ngClass]="{
              'is-invalid':
                f.state.touched && f.state.errors && f.state.invalid
            }" readonly />
                                    <div *ngIf="f.state.invalid && f.state.errors && f.state.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.state.errors.required">State is required</div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Country Code</label>
                                    <div class="slt_0">
                                        <input [(ngModel)]="countryCode" readonly (keypress)="keyPressAlphaNumerics($event)" type="text" formControlName="countryCode" placeholder="Enter country calling code" class="form-control slt1" [ngClass]="{
                    'is-invalid':
                      f.countryCode.touched &&
                      f.countryCode.errors &&
                      f.countryCode.invalid
                  }" />
                                        <div *ngIf="
                    f.countryCode.invalid &&
                    f.countryCode.errors &&
                    f.countryCode.touched
                  " class="invalid-feedback space-y">
                                            <div *ngIf="f.countryCode.errors.required">
                                                Country Code is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label>DOB</label>
                            <input type="text" formControlName="dob" name="dob" placeholder="Enter Date of Birth DD/MM/YYYY" (keypress)="keyPressAlphaNumericS($event)" class="form-control" [ngClass]="{ 'is-invalid': f.dob.touched && f.dob.errors && f.dob.invalid }">
                            <div *ngIf="f.dob.invalid && f.dob.errors && f.dob.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.dob.errors.required">Date Of Birth is required</div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="imgUploader">
                                <div class="img">


                                    <input type='file' id="imgInp" (change)="onSelectFile($event.target.files)" />
                                    <img [src]="OnboardProfile == ''?url:OnboardProfile" />
                                </div>
                                <div class="content">
                                    <h6>Upload Profile photo</h6>
                                    <p>Square Jpg or PNG no larger than 10MB</p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label>Gender</label>
                            <div class="inputInlineWrap">
                                <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="genderMale" type="radio" formControlName="gender" name="gender" value="male">
                                        <label for="genderMale">Male</label>
                                    </div>
                                </div>
                                <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="genderfeMale" formControlName="gender" type="radio" name="gender" value="female">
                                        <label for="genderfeMale">Female</label>
                                    </div>
                                </div>
                                <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="other" type="radio" formControlName="gender" name="gender" value="Other">
                                        <label for="other">Other</label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label>Biography</label>
                            <textarea class="form-control" maxlength="600" formControlName="biography" name="biography" placeholder="Enter Biography" [ngClass]="{ 'is-invalid': f.biography.touched && f.biography.errors && f.biography.invalid }"></textarea>
                            <div *ngIf="f.biography.invalid && f.biography.errors && f.biography.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.biography.errors.required">Biography is required</div>
                            </div>
                        </div> -->
                        <div class="form-group submitBtn">
                            <button type="submit" [disabled]="!coachForm.valid" data-dismiss="modal" class="btn btn-primary toast-btn">Add Admin</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
