<div class="mainWrap">
    <div class="loginPageWrapperIn">
        <div class="bgLeftWrap">
            <div class="bgLeftContent">
                <div class="sitelogo">

                </div>
                <h3><strong>Welcome,</strong> We are glad to see you again!</h3>
            </div>
        </div>
        <div class="loginrightForm">
            <div class="contentForm">
                <div class="contentFormIn">
                    <a><img class="login-img" src="assets/img/evvo_m_logo.svg"></a>
                    <h4>Welcome to Evvo Sports <br><br> <span style="font-size:16px !important">Create your password & proceed to login ESP admin</span> </h4>



                    <form [formGroup]="registerForm" class="form-validate mb-4" #loginSubmitForm='ngForm' (ngSubmit)='onSubmit()'>


                        <ng-container class="email-text" *ngIf="decryptedUrl">
                            <label>Email <span>:</span></label>
                            <h5 class="height-light">{{decryptedUrl}}</h5>
                        </ng-container>

                        <div class="form-group">
                            <label for="">ESP Entry Code</label>

                            <div class="input-group">


                                <input type="text" (keypress)="keysPressAlphaNumeric($event)" placeholder="Enter  ESP entry code" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': f.code.touched && f.code.errors && f.code.invalid }" />
                                <div *ngIf="f.code.invalid && f.code.errors && f.code.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.code.errors.required">Esp Entry Code is required</div>
                                    <div *ngIf="f.code.errors.maxlength">Enter maximum of 6 numbers</div>
                                    <div *ngIf="f.code.errors.minlength">Enter minimum of 6 numbers</div>
                                    <!-- <div *ngIf="f.code.errors.pattern">Enter only number.</div> -->
                                </div>


                            </div>



                        </div>



                        <div class="form-group" style="height: 75px !important;">
                            <label for="">New Password</label>
                            <!-- <div class="form-group"> -->
                            <div class="input-group">

                                <input type="password" placeholder="Enter New Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors && f.password.invalid }" />
                                <div *ngIf="f.password.invalid && f.password.errors && f.password.touched" class="invalid-feedback space-y">
                                    <div>
                                        {{f.password.errors.required?'Password is required':' '}}</div>
                                    <!-- <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div> -->
                                    <div *ngIf="f.password.errors.pattern || f.password.errors.minlength">
                                        Password must be at least 8 characters in length, with at least one upper and one lower case character, one special character and number.</div>
                                </div>




                            </div>




                            <!-- </div> -->
                        </div>
                        <br>



                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <div class="row">
                                <div class="input-group">



                                    <input [type]="show_button ? 'email' : 'password'" placeholder="Enter Confirm Password" formControlName="confirmPassword" class="form-control input-btn" [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors && f.confirmPassword.invalid }"
                                    />




                                    <div class="input-group-prepen"><i class="form-control eye-btn" [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors && f.confirmPassword.invalid }" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"></i>
                                    </div>


                                    <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                                        <div *ngIf="f.confirmPassword.errors.confirmedValidator || f.confirmPassword.errors.minlength">
                                            New password and confirm password doesn't match.</div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="form-group submitBtn">
                            <button class="btn btn-primary" [disabled]="!registerForm.valid" type="submit">Create
                              Password</button><br>
                            <!-- <button class="btn btn-primary" (click)="showDialog()" type="button">Test</button> -->
                        </div>





                    </form>


                </div>
            </div>
        </div>
    </div>
</div>







<!-- Modal-->
<div id="errorLoginAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                      aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <!-- <p *ngIf="success"> Login successfully</p> -->
                <p> Email or password incorrect </p>
                <!-- <p *ngIf="somethingWrong"> Something went wrong </p> -->

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                <!-- <button *ngIf="success" type="button" data-bs-dismiss="modal" routerLink="/home/dashboard" class="btn btn-primary">OK</button> -->
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Try Again</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal-->

<div id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
            width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Password created successfully.</p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" routerLink="/login-coach" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
