.line-space {
    line-height: 23px;
    margin-bottom: 10px !important;
}

.label {
    display: block;
}

.btn-primary {
    margin-top: 16px;
}

.login-page .form-holder .form .form-group {
    margin-bottom: 16px;
}

.form-group {
    height: 87px;
}

.height-light {
    color: white;
    display: inline-block;
    margin-left: 10px;
}

.input-btn {
    border-right: none;
    border-radius: 5px 0px 0px 5px !important;
}

.eye-btn {
    border-left: none;
    background-color: transparent;
    width: 100%;
    // margin: 1%;
    padding: 14px !important;
    border-radius: 0px 5px 5px 0px !important;
}

::placeholder {
    color: #6f7175;
}

.space-y {
    font-size: 12px !important;
}

.loginPageWrapperIn .loginrightForm .contentForm {
    max-width: 1330px !important;
    width: 100% !important;
    /* margin: 0
px
auto; */
    margin-top: 27px !important;
}

.modal-title {
    font-size: 1.25rem !important;
}