<form>
    <!-- <div class="row">
      <div class="col-md-12"> -->
        <div class="switchh-div">
          <div class="row">
            <div class="col-md-7">
              <p>{{props.label}}</p>
            </div>
            <div class="col-md-5 switch-flex">
              <label class="switch float-right switch-spacing">
                <input type="checkbox" class="switch-input" checked="">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="widget-div">

                <div class="row">
                  <div class="col-md-4">
                    <img class="img-fluid" src="{{props.widgetImage}}">
                  </div>
                  <div class="col-md-8">

                    <h3 class="white-txt m-top-30">{{props.title}}</h3>
                    <p class="m-0 m-right-20">{{props.descrip_text}}</p>
                    <ul class="key_features">
                      <li>{{props.list1}}</li>
                      <li>{{props.list2}}</li>
                      <li>{{props.list3}}</li>
                      <li>{{props.list4}}</li>
                    </ul>
                    <br>
                    <button type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#'+'myModal'+props.themeId"  class="btn btn-primary float-left">Device Settings</button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      <!-- </div>
    </div> -->
    <br>
    </form>


    <!-- Modal-->
    <div  [id]="'myModal'+props.themeId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Device Settings</strong>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
              <p class="white-txt">{{props.title}}</p>

              <div class="switchh-div">
                <div class="row mb-2">
                  <div class="col-md-7">
                    <p>Device Data 1</p>
                  </div>
                  <div class="col-md-5 switch-flex">
                    <label class="switch float-right switch-spacing">
                      <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked="">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="switchh-div">
                <div class="row mb-2">
                  <div class="col-md-7">
                    <p>Device Data 2</p>
                  </div>
                  <div class="col-md-5 switch-flex">
                    <label class="switch float-right switch-spacing">
                      <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked="">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>


              <div class="switchh-div">
                <div class="row mb-2">
                  <div class="col-md-7">
                    <p>Device Data 3</p>
                  </div>
                  <div class="col-md-5 switch-flex">
                    <label class="switch float-right switch-spacing">
                      <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked="">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>


              <div class="switchh-div">
                <div class="row mb-2">
                  <div class="col-md-7">
                    <p>Device Data 4</p>
                  </div>
                  <div class="col-md-5 switch-flex">
                    <label class="switch float-right switch-spacing">
                      <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked="">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>


              <div class="switchh-div">
                <div class="row mb-2">
                  <div class="col-md-7">
                    <p>Device Data 5</p>
                  </div>
                  <div class="col-md-5 switch-flex">
                    <label class="switch float-right switch-spacing">
                      <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked="">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
              <button  type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button> <button [disabled]="click" type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Save Setings</button>
            </div>
          </div>
        </div>
      </div>         <!-- Modal-->
