<esp-content [title]="'Messages'">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 w-100">
        <div class="row outBorder">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 index-details">
                <div class="row" [class.sideBarActive]="!sentButton">


                    <span class="list-Items">    <a   [ngClass]="{'p-2-highlight':!sentButton}" (click)="showInbox($event)" class="d-flex justify-content-between"><span  class="abc"><img class="sideNavImages" src="./assets/img/messages/inbox.png" alt=""><span class="item-title">Inbox</span></span>
                    <span class="item-count">250</span>
                    </a>
                    </span>
                </div>
                <div class="row" [class.sideBarActive]="sentButton">


                    <span class="list-Items">   <a  [ngClass]="{'p-3-highlight':sentButton}" (click)="showSentMessages($event)" class="d-flex justify-content-between"><span  class="abc"><img class="sideNavImages" src="./assets/img/messages/sent.png" alt=""> <span class="item-title">Sent</span></span>

                    </a>
                    </span>
                </div>







            </div>


            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">


                <div class="row main-heading p-2" *ngIf="isEnableMsgHistory">


                    <div class="col-7 avatar float-left">
                        <i class="fas fa-chevron-left" (click)="onClickBackToList()"></i>
                        <img src="assets//img//coache-avatar.png" alt="..." class="img-fluid rounded-circle" style="height: 26px;margin-left: 18px; margin-right: 10px;"><span style="margin-left: 5px;">selectedMessage[0].roleName</span>
                        <span class="headingStyle">selectedMessage[0].subject</span>
                    </div>


                    <div class="col-5 newMsg">

                        <img *ngIf="isEnableMsgHistory" class="img-header" src="./assets/img/messages/print.png" alt="">


                        <img *ngIf="isEnableMsgHistory || isRowSelected" class="img-header" src="./assets/img/messages/delete.png" alt="">


                    </div>
                </div>

                <div class="row main-heading p-2" *ngIf="!isEnableMsgHistory">

                    <div class="col-3 float-left">

                    </div>

                    <div class="col-3 float-left">

                    </div>

                    <div class="col-6 newMsg">
                        <div>
                            <span *ngIf="!isEnableMsgHistory && !isRowSelected" class="pt-1"> <img *ngIf="!isEnableMsgHistory && !isRowSelected" class="" src="./assets/img/messages/inbox.png" alt=""><span class="msgIcon" (click)="onClickNewMessage()">New Message</span></span>

                        </div>
                        <div>
                            <img *ngIf="isEnableMsgHistory || isRowSelected" class="img-header" src="./assets/img/messages/delete.png" alt="">

                        </div>
                    </div>

                    <div class="row">
                        <table>
                            <tbody>

                            </tbody>
                            <tbody>

                            </tbody>
                        </table>
                    </div>



                </div>












                <div class="col-md-12 bg-back" *ngIf="isEnableMsgHistory">
                    <div class="row">
                        <div class="col-md-10">
                        </div>
                        <div class="col-md-2" (click)="onClickReply(selectedMessage)" *ngIf="!sentButton">
                            <i class="fa fa-reply replyBtn"></i><span class="replay">Reply</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="public-user-block questionaire-div block m-btm-15 inner-block">
                                <div class="row d-flex align-items-center">
                                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                                        <!-- <span class="adminBtn" *ngIf="currentRole==='Admin' && sentButton && rowItem.teamName ==null">Sent to Coach </span>
                                    <span class="adminBtn" *ngIf="currentRole==='Admin' && sentButton && rowItem.teamName !=null">Sent to Athlete </span>
                                    <span class="adminBtn" *ngIf="currentRole==='Admin' && !sentButton && rowItem.teamName ==null">Coach Replied </span>
                                    <span class="adminBtn" *ngIf="currentRole==='Admin' && !sentButton && rowItem.teamName !=null">Athlete Replied </span>
                                    <span class="adminBtn" *ngIf="currentRole==='Coach' && sentButton  && rowItem.teamName ==null">Sent to Admin </span>
                                    <span class="adminBtn" *ngIf="currentRole==='Coach' && sentButton  && rowItem.teamName !=null">Sent  to Athlete </span>
                                    <span class="adminBtn" *ngIf="currentRole==='Coach' && !sentButton  && rowItem.teamName ==null">Admin Replied </span>
                                    <span class="adminBtn" *ngIf="currentRole==='Coach' && !sentButton  && rowItem.teamName !=null">Athlete replied </span>
                                    <span>{{rowItem.date}}</span>
                                    <p>{{rowItem.description}}</p> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 float-left ml-1">
                                        <i class="fa fa-paperclip" style="border: 1px solid grey;border-radius: 5px;padding: 5px;width: max-content;">
                                       rowItem.fileName
                                    </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Model create new message -->
    <div id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header index-details-2">
                    <p id="exampleModalLabel" class="modal-title text-white">New Message
                    </p>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
                </div>

                <br>

                <form [formGroup]="superAdminNewMsgForm" (ngSubmit)="sendMessage()">

                    <div class="modal-body">
                        <div class="form-group">



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select formControlName="recieverId" class="form-control mb-3 mb-3" [ngClass]="{
                                        'is-invalid':
                                          f.recieverId.touched &&
                                          f.recieverId.errors &&
                                          f.recieverId.invalid
                                      }">
                  <option value="" selected>- Select Admins -</option>
                  <option  value="123456789">
                    admins
                  </option>
                </select>

                                        <div *ngIf="
                f.recieverId.invalid &&
                f.recieverId.errors &&
                f.recieverId.touched
              " class="invalid-feedback space-y">
                                            <div *ngIf="f.recieverId.errors.required">
                                                Admin is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input formControlName="subject" type="text" class="form-control" placeholder="Subject" [ngClass]="{
                                        'is-invalid':
                                          f.subject.touched &&
                                          f.subject.errors &&
                                          f.subject.invalid
                                      }">

                                        <div *ngIf="
                                      f.subject.invalid &&
                                      f.subject.errors &&
                                      f.subject.touched
                                    " class="invalid-feedback space-y">
                                            <div *ngIf="f.subject.errors.required">
                                                Subject Name is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea formControlName="description" class="form-control rounded-0" placeholder="Type and Send Your Message..." style="height: 150px;" rows="10" cols="20" [ngClass]="{
                                        'is-invalid':
                                          f.description.touched &&
                                          f.description.errors &&
                                          f.description.invalid
                                      }"></textarea>

                                        <div *ngIf="
                                      f.description.invalid &&
                                      f.description.errors &&
                                      f.description.touched
                                    " class="invalid-feedback space-y">
                                            <div *ngIf="f.description.errors.required">
                                                Description Name is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex mt-3" *ngFor="let itemMsg of pushedDataNewMsg;let i = index">
                        <div class="col-8">
                            <p>
                                {{itemMsg}}
                                <i class="fa fa-close text-alert" style="position: relative; right: -43px;" (click)="cancelNewMsgUpload(i)"></i>

                            </p>
                        </div>

                        <div class="col-4">
                            <button type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-success"><i
                  class="fa fa-check text-white"
                  style="position: relative; right: 8px"
                ></i>Uploaded</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-control-label">Documents Upload</label> <br>
                            <ng-container formArrayName="attachment" *ngFor="let item of abc.controls; let i = index;">
                                <div [formGroupName]="i">
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <p class="m-0">{{i+1}}</p>
                                            </div>
                                            <!-- <div class="col-md-3"> -->
                                            <!-- <input formControlName="file" type="text" placeholder="Enter Document Name" maxlength="50" class="form-control"> -->
                                            <!-- </div> -->
                                            <div class="col-md-5">
                                                <div class="form-group m-0">
                                                    <div class="input-group">
                                                        <input type="text" disabled formControlName="fileNameToDisplay" class="form-control disableField" placeholder="Upload Document">

                                                        <i class="fa fa-close text-alert" style="position: relative; right: 16px; top:8px" (click)="cancelArray(i)" *ngIf="superAdminNewMsgForm.controls['attachment']['controls'][i].value.cancelBtn"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group m-0">
                                                    <div class="input-group d-flex justify-content-around">
                                                        <div class="input-group-append mx-1">
                                                            <input type="file" class="form-control disableField" #file placeholder="Upload Document" multiple id="importFile+{{i}}" (change)="uploadFileApi(file.files,i)" style="display: none !important;">
                                                            <label class="btn btn-primary upload uploadBtn spaceBtn" *ngIf="!superAdminNewMsgForm.controls['attachment']['controls'][i].value.btnUpload" style="background-color: #f79b3e" [style.backgroundColor]="uploadButtonGreen" (click)="file?.click(); clicked()"
                                                                title="click To Upload File" #labelImport for="importFile+{{i}}">
                                  Upload
                                </label>
                                                            <label class="btn btn-primary upload uploadBtn" *ngIf="superAdminNewMsgForm.controls['attachment']['controls'][i].value.btnUpload" title="click To Upload File" #labelImport for="importFile+{{i}}"><i
                                  class="fa fa-check text-white"
                                  style="position: relative; right: 8px"
                                ></i>
                                  Uploaded
                                </label>
                                                        </div>
                                                        <div class="input-group-append mx-1">
                                                            <button type="button" class="btn btn-danger spaceBtn" (click)="removeSkill(i)">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-12">
                          <button type="button" class="add-link" (click)="addSkills()">Add Document<i
                    class="material-icons">add_circle_outline</i></button>
                      </div>
                  </div>
                  <br /> -->


                    <div class="row d-flex mt-3">
                        <input type="file" #file class="dispalyNone" (change)="uploadFilePin(file.files)">
                        <i class="fa fa-close text-alert dispalyNone" #delete (click)="cancel()"></i>
                        <div class="col-8" *ngIf="hideUploadNewMsgBlock">
                            <input class="inputUploadName" type="text" [ngModel]='fileName'>
                            <i class="fa fa-close text-alert" style="position: relative; right: 16px;" (click)="cancel()"></i>
                        </div>
                        <div class="col-4" *ngIf="hideUploadNewMsgBlock">
                            <button type="button" style="width: 148px;float: right;padding: 4px;background-color: #f79b3e;" class="btn btn-primary" (click)="uploadFile()">Upload</button>

                        </div>
                    </div>

                    <div class="modal-footer d-flex justify-content-between">
                        <div class="">
                            <!-- <img (click)="file?.click();" src="./assets/img/messages/paper-pin-img.png" alt=""> -->
                            <img (click)="addSkills()" src="./assets/img/messages/paper-pin-img.png" alt="">
                        </div>


                        <button type="submit" [disabled]="!superAdminNewMsgForm.valid" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Send
        Message</button>
                    </div>

                </form>



            </div>
        </div>
    </div>

    <!-- Model replay -->

    <div id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content" style="width: 605px;vertical-align: middle;">
                <div class="modal-header replayBg">
                    <p id="exampleModalLabel" class="modal-title text-white"><i class="fa fa-reply mr-1" style="margin-right: 8px;"></i>Reply To
                    </p>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">



                        <div class="row w-100" *ngIf="isEnableMsgHistory && replyMessageData !=undefined">

                            <div class="col-12 headerReplay">
                                <div class="imgPTag">
                                    <img src="assets//img//coache-avatar.png" alt="..." class="img-fluid rounded-circle">

                                </div>
                                <div class="pTag">
                                    <p>replyMessageData.roleName</p>

                                </div>
                            </div>

                        </div>




                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control rounded-0" placeholder="Type and Send Your Message..." style="height: 200px;" rows="10" cols="20" [(ngModel)]="description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex mt-3" *ngFor="let item of pushedData;let i = index">
                    <div class="col-8">
                        <p>
                            {{item}}
                            <i class="fa fa-close text-alert" style="position: relative; right: -43px;" (click)="cancelReplay(i)"></i>

                        </p>
                    </div>
                    <div class="col-4">
                        <button *ngIf="!uploadedNewMsgBtn" type="button" style="width: 148px;float: right;padding: 4px;background-color: #f79b3e;" class="btn btn-primary" (click)="uploadFile()">Upload</button>
                        <button *ngIf="uploadedNewMsgBtn" type="button" style="width: 148px;float: right;padding: 4px;" class="btn btn-success"><i
                    class="fa fa-check text-white"
                    style="position: relative; right: 8px"
                  ></i>Uploaded</button>
                    </div>
                </div>



                <div class="row d-flex mt-3">

                    <input type="file" #fileReplay class="dispalyNone" (change)="testUploadFilePin(fileReplay.files)">
                    <i class="fa fa-close text-alert dispalyNone" #delete></i>
                    <div class="col-8" *ngIf="replayUploadedNewMsgBtn">
                        <input class="inputUploadName" type="text" [ngModel]='arrPush'>
                        <i class="fa fa-close text-alert" style="position: relative; right: 16px;" (click)="cancelReplayField()"></i>
                    </div>
                    <div class="col-4" *ngIf="replayUploadedNewMsgBtn">
                        <button type="button" style="width: 148px;float: right;padding: 4px;background-color: #f79b3e;" (click)=" uploadFile()" class="btn btn-primary">Upload</button>

                    </div>

                </div>

                <div class="modal-footer d-flex justify-content-between">
                    <div class="">
                        <img (click)="fileReplay?.click()" src="./assets/img/messages/paper-pin-img.png" alt="">
                    </div>


                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn" (click)="sendMessage()">Send
      Message</button>
                </div>



            </div>
        </div>
    </div>







</esp-content>