.index-details {
    background-color: #2E3136;
    font-size: 1.1rem;
    height: 850px;
}

.index-details-2 {
    background-color: #494C53;
    font-size: 1.1rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: dashed;
    border-width: 0;
    padding: 8px 10px;
    border-bottom: 1px dashed #6B6E74;
    color: white;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.dateClass {
    color: #256e96 !important;
}

.item-count {
    color: #7E7E7E;
}

.main-heading {
    background-color: #272b33 !important;
    color: white;
    height: 47px;
    margin-right: 15px;
}

.outBorder {
    margin-left: 10px;
}

.numberCircle {
    border-radius: 50%;
    width: 37px;
    height: 20px;
    background: #666;
    color: #fff;
    text-align: center;
    font: 10px Arial, sans-serif;
}


/* .modal-footer {
flex-wrap: wrap;
flex-shrink: 0;
align-items: center;
justify-content: flex-end;
} */

.msgIcon {
    margin-left: 5px;
}

.modal-body {
    padding: 0px;
    margin-bottom: -26px;
}

.modal-footer {
    border: none;
    margin-bottom: 8px;
}

.modal-body p {
    line-height: 7px;
    display: flex;
    margin-top: 13px;
}

footer[_ngcontent-xlf-c243] {
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
}

.replyBtn {
    margin-right: 10px;
    padding: 6px;
}

.adminBtn {
    color: #189edf;
    margin-right: 5px;
}

.rows {
    flex-shrink: 0;
    width: 20%;
    max-width: 100%;
}

.file {
    margin-top: 30px;
}

.row {
    cursor: pointer;
}

.row.p-2 {
    padding: 0.5rem!important;
}

.row.p-2-highlight {
    background-color: #2a4760;
}

.row.p-3-highlight {
    background-color: #2a4760;
}

::ng-deep.modal-open .modal .modal-title {
    font-size: 0.9rem;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
    padding-left: 18px;
    border-radius: 6%;
}

.modal-content {
    width: 608px !important;
}

.modal-open .modal .modal-header,
.modal-open .modal .modal-footer {
    border-color: #3d4148;
}

.index-details {
    background-color: #494C53;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    margin-top: -22px;
    margin-left: -35px;
    margin-right: -35px;
    border-radius: 1%;
}

.close {
    font-size: 18px;
}

.btn-primary {
    border-radius: 4px !important;
    margin: 0px;
}

.sidebarIcons {
    width: 17.88px;
    height: 17.1px;
}


/* .sideNavImages {
margin-right: 6%;

}

nav#sidebar li a {
width: 75%;
}

.sidebarPartition {
width: 20%;
margin-left: -11px;
}

.abc {
width: 100%;
}

.active-link {
background-color: #373A3E;
}

.content-header {
background-color: #272B33;
} */

.list-Items {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sideNavImages {
    padding-right: 15px;
}

.item-title {
    color: #7E7E7E;
}

.header-box {
    border: none !important;
    background-color: #272B33 !important;
}

.checkBoxInput {
    background-color: transparent;
    color: transparent;
}

table {
    background-color: #191D24;
    width: 100%;
    /* margin-top: -12px; */
    /* margin-left: -8px; */
}

.newMsg {
    display: flex;
    justify-content: end;
}

.img-header {
    width: 16.06px;
    height: 17.37px;
    margin: 10px;
}

.replay {
    margin-top: 10px;
    margin-bottom: 5px;
}

.bg-back {
    background-color: #191D24;
    margin-left: -12px;
    width: 99.6%;
}

.inner-block {
    margin: 8px 20px 8px 20px;
}

.headingStyle {
    margin-left: 85px;
}

.sideBarActive {
    background-color: #373A3E;
}

.pTag {
    display: inline-block;
    color: white;
}

.pTag p:nth-child(1) {
    font-weight: bold;
}

.imgPTag {
    width: 20px;
    display: inline-block;
    width: 45px;
    height: 50px;
    padding-top: 5px;
    margin-right: 15px;
}

.headerReplay {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dispalyNone {
    display: none;
}

.inputUploadName {
    background-color: transparent;
    border: none;
    width: 95%;
    border-bottom: 1px solid black;
    color: white;
}

.replayBg {
    background-color: #494C53;
}

.selectCoach {
    width: 105% !important;
}


/* td:first-child {
width: 4% !important;
}

tr td:nth-child(2) {
width: 6% !important;
}

tr td:nth-child(3) {
width: 10% !important;
}

tr td:nth-child(4) {
width: 10% !important;
}

tr td:nth-child(5) {
width: 10% !important;
}

tr td:nth-child(6) {
width: 50% !important;
}

tr td:nth-child(6) {
width: 10% !important;
} */

.uploadBtn {
    background-color: green;
}

.selectCoach {
    width: 105% !important;
}
