<div class="statistic-block-in block">
    <div class="row">
      <div class="col-6 ">
        <h2 class="sports_Categ_title_1"> {{coach.label}}</h2>
      </div>
      <div class="col-6">
        <a class="add-link" data-bs-toggle="modal" data-bs-target="#myModal" href="">{{coach.addNew}}<i class="material-icons">add_circle_outline</i></a>
      </div>
    </div>
</div>

<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Add New Coach</strong>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                    </div>


                    <div class="modal-body">
                      <p>Login Credentials will be send to coach email ID and mobile number</p>
                      <form>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                              <label>Coach Name</label>
                              <input type="email" placeholder="Enter Coach Name" class="form-control">
                            </div>

                          </div>
                        </div>


                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                              <label>Email</label>
                              <input type="email" placeholder="Enter Email Address" class="form-control">
                            </div>

                          </div>
                        </div>


                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                              <label>Mobile Number</label>
                              <input type="text" placeholder="Enter Mobile Number" class="form-control">
                            </div>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                              <label>Teams Category</label>
                              <select name="account" class="form-control mb-1 mb-1">
                                <option>Evergreen Soldiers</option>
                                <option>Evergreen Soldiers</option>
                                <option>Evergreen Soldiers</option>
                                <option>Evergreen Soldiers</option>
                              </select>
                            </div>
                          </div>


                        </div>

                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                              <label>Training End Date</label>
                              <input type="date" placeholder="Enter Start Date" class="form-control">
                            </div>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                              <label>Training Start Date</label>
                              <input type="date" placeholder="Enter Start Date" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 mt-1">
                            <h6>Access Provided for</h6>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-12 col-sm-12 col-6">


                            <div class="i-checks">
                              <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                              <label for="checkboxCustom1">Dashboard</label>
                            </div>

                            <div class="i-checks">
                              <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                              <label for="checkboxCustom1">Team List</label>
                            </div>

                            <div class="i-checks">
                              <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                              <label for="checkboxCustom1">Athlete Data</label>
                            </div>
                          </div>

                          <div class="col-lg-4 col-md-12 col-sm-12 col-6">


                            <div class="i-checks">
                              <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                              <label for="checkboxCustom1">Trainings</label>
                            </div>

                            <div class="i-checks">
                              <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                              <label for="checkboxCustom1">Planning</label>
                            </div>

                            <div class="i-checks">
                              <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                              <label for="checkboxCustom1">Assessments</label>
                            </div>
                          </div>

                          <div class="col-lg-4 col-md-12 col-sm-12 col-6">


                            <div class="i-checks">
                              <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                              <label for="checkboxCustom1">Attendance</label>
                            </div>

                            <div class="i-checks">
                              <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                              <label for="checkboxCustom1">Reports</label>
                            </div>


                          </div>
                        </div>



                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                      <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Add Coach</button>
                    </div>
                  </div>
                </div>
</div>

