.ends {
    margin-left: auto;
    margin-top: 20px;
}

.blk {
    display: inline;
}

.btn {
    margin-left: 10px;
}

.pluseButton {
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-left: auto;
}

.spacing-block {
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.addButton {
    color: #1AA4E8;
    margin-left: auto;
    cursor: pointer;
}

.input-btn {
    display: flex;
}

.hideColor {
    color: #191C24;
}

.example-chip-list {
    border: 1px solid #616161;
    width: 100%;
    background-color: #14171E;
    padding-bottom: 10px;
}

.example-chip-list input::placeholder {
    color: #585a5f;
}

.mat-standard-chip {
    background-color: white;
    color: black;
}

.cancel {
    color: #ff0000;
}

.example-chip-list-2 {
    height: 38px;
    border: 1px solid #616161;
    width: 100%;
    background-color: #14171E;
    padding-bottom: 10px;
    width: 75%;
}

.inputCatagory {
    padding: 0px !important;
    margin: 0px !important;
}

.rmBtn {
    margin-left: 4px;
    width: 24%;
    border: #1aa4e8 1px solid;
}

.rmBtn:hover {
    border: #F79B3E 1px solid;
}

.form-control:disabled,
.form-control[readonly] {
    background: #191C24 !important;
}

mat-chip {
    text-transform: capitalize;
}

input[type='text'] {
    text-transform: capitalize;
}

.category {
    position: relative;
    top: 4px;
}

.box {
    display: none !important;
}

@media screen and (max-width:1500px) {
    .category {
        font-size: 14px !important;
    }
}

.modal-title {
    font-size: 1.25rem !important;
}

.fontBig {
    font-size: 1.1rem !important;
}
