<ngx-spinner>
</ngx-spinner>
<esp-content [title]="'Onboard New Organization'">
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="statistic-block block">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="sports_Categ_title_1">Organization Onboarding</h2>
                        <p class="descrip_text">
                            Lorem ipsum is placeholder text commonly used in the graphic
                        </p>
                    </div>
                </div>
                <form [formGroup]="myReactiveForms" (ngSubmit)="onSubmit()">
                    <span [(ngModel)]="path" formControlName="path"></span>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Organization Name</label>
                                <input type="text" (keypress)="keyPressAlphaNumeric($event)" formControlName="organisationName" placeholder="Enter Organization name" maxlength="50" class="form-control" [ngClass]="{
                  'is-invalid':
                    f.organisationName.touched &&
                    f.organisationName.errors &&
                    f.organisationName.invalid
                }" />
                                <div *ngIf="
                  f.organisationName.invalid &&
                  f.organisationName.errors &&
                  f.organisationName.touched
                " class="invalid-feedback space-y">
                                    <div *ngIf="f.organisationName.errors.required">
                                        Organization Name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Sub Domain Mapping</label>
                                <input type="text" (keypress)="keyPressAlphaNumeric($event)" formControlName="subDomain" placeholder="Enter Sub Domain details" maxlength="50" class="form-control" [ngClass]="{
                  'is-invalid':
                    f.subDomain.touched &&
                    f.subDomain.errors &&
                    f.subDomain.invalid
                }" />
                                <div *ngIf="
                  f.subDomain.invalid &&
                  f.subDomain.errors &&
                  f.subDomain.touched
                " class="invalid-feedback space-y">
                                    <div *ngIf="f.subDomain.errors.required">
                                        Sub Domain Mapping is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Email Address </label>
                                <input type="email" formControlName="emailAddress" placeholder="Enter Email" class="form-control" [ngClass]="{
                  'is-invalid':
                    f.emailAddress.touched &&
                    f.emailAddress.errors &&
                    f.emailAddress.invalid
                }" />
                                <div *ngIf="
                  f.emailAddress.invalid &&
                  f.emailAddress.errors &&
                  f.emailAddress.touched
                " class="invalid-feedback">
                                    <div *ngIf="f.emailAddress.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="f.emailAddress.errors.pattern">
                                        Email must be a valid email address
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Organization Address Line 1</label>
                                <input type="text" formControlName="addressline1" placeholder="Enter Address Line 1" maxlength="200" class="form-control" [ngClass]="{
                  'is-invalid':
                    f.addressline1.touched &&
                    f.addressline1.errors &&
                    f.addressline1.invalid
                }" />
                                <div *ngIf="
                  f.addressline1.invalid &&
                  f.addressline1.errors &&
                  f.addressline1.touched
                " class="invalid-feedback space-y">
                                    <div *ngIf="f.addressline1.errors.required">
                                        Address Line 1 is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Organization Address Line 2</label>
                                <input type="text" formControlName="addressline2" placeholder="Enter Address Line 2" maxlength="200" class="form-control" [ngClass]="{
                  'is-invalid':
                    f.addressline2.touched &&
                    f.addressline2.errors &&
                    f.addressline2.invalid
                }" />
                                <div *ngIf="
                  f.addressline2.invalid &&
                  f.addressline2.errors &&
                  f.addressline2.touched
                " class="invalid-feedback space-y">
                                    <div *ngIf="f.addressline2.errors.required">
                                        Address Line 2 is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Zip Code</label>
                                <input type="text" (input)="zipcodee()" (keypress)="keysPressAlphaNumerics($event)" [(ngModel)]="zipcode" placeholder="Enter Zip Code" formControlName="zipcode" maxlength="15" class="form-control" [ngClass]="{
                  'is-invalid':
                    f.zipcode.touched && f.zipcode.errors && f.zipcode.invalid
                }" />
                                <div *ngIf="
                  f.zipcode.invalid && f.zipcode.errors && f.zipcode.touched
                " class="invalid-feedback space-y">
                                    <div *ngIf="f.zipcode.errors.required">
                                        Zip Code is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">City</label>
                                <input type="text" (keypress)="keyPressAlphaNumeric($event)" [(ngModel)]="city" placeholder="Enter City" formControlName="city" class="form-control" [ngClass]="{
                  'is-invalid':
                    f.city.touched && f.city.errors && f.city.invalid
                }" readonly />
                                <div *ngIf="f.city.invalid && f.city.errors && f.city.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.city.errors.required">City is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">State</label>
                                <input type="text" (keypress)="keyPressAlphaNumeric($event)" [(ngModel)]="state" placeholder="Enter State" formControlName="state" class="form-control" [ngClass]="{
                  'is-invalid':
                    f.state.touched && f.state.errors && f.state.invalid
                }" readonly />
                                <div *ngIf="f.state.invalid && f.state.errors && f.state.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.state.errors.required">State is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Country Code</label>
                                <div class="slt_0">
                                    <input [(ngModel)]="countryCode" readonly (keypress)="keyPressAlphaNumerics($event)" type="text" formControlName="countryCode" placeholder="Enter country calling code" class="form-control slt1" [ngClass]="{
                    'is-invalid':
                      f.countryCode.touched &&
                      f.countryCode.errors &&
                      f.countryCode.invalid
                  }" />
                                    <div *ngIf="
                    f.countryCode.invalid &&
                    f.countryCode.errors &&
                    f.countryCode.touched
                  " class="invalid-feedback space-y">
                                        <div *ngIf="f.countryCode.errors.required">
                                            Country Code is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group block spacing-block w-100">
                                <h5 class="category fontBig">Sports Category</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Sports Category</label>
                                <div class="slt_0">
                                    <select class="form-control slt" (change)="inputBox($event)" formControlName="justForValidation" [ngClass]="{
                                      'is-invalid':
                                        f.justForValidation.touched &&
                                        f.justForValidation.errors &&
                                        f.justForValidation.invalid
                                    }">
                    <option value="" selected default>-- Select --</option>
                    <option value="Football">Football</option>
                    <option value="Tennis">Tennis</option>
                    <option value="Cricket">Cricket</option>
                    <option value="others">Others</option>
                  </select>
                                    <div *ngIf="
                    f.justForValidation.invalid &&
                    f.justForValidation.errors &&
                    f.justForValidation.touched
                  " class="invalid-feedback space-y">
                                        <div *ngIf="f.justForValidation.errors.required">
                                            Sports category is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="alert1" class="text-danger">
                                Sports category already exists
                            </div>
                        </div>
                        <div *ngIf="inputChipBox2" class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Add Other Category</label>
                                <div class="input-btn">
                                    <mat-form-field class="example-chip-list-2" appearance="fill">
                                        <mat-chip-list #chipList aria-label="Fruit selection">
                                            <input maxlength="15" placeholder="Add Other..." formControlName="Others" [matChipInputFor]="chipList" [(ngModel)]="test" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" class="inputCatagory capitalize"
                                            />
                                        </mat-chip-list>
                                    </mat-form-field>
                                    <button type="button" class="rmBtn btn-secondary" (click)="pushData()">
                    Add +
                  </button>
                                </div>
                                <div *ngIf="alert" class="text-danger">
                                    Sports category already exists
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngIf="inputChipBox1">
                            <div class="form-group">
                                <label class="form-control-label">All Sports Category</label>
                                <mat-form-field class="example-chip-list" appearance="fill" [class.box]="Box">
                                    <mat-chip-list #chipList aria-label="Fruit selection">
                                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                                            {{ fruit.sportsCategory }}
                                            <button matChipRemove *ngIf="removable">
                        <mat-icon class="cancel">cancel</mat-icon>
                      </button>
                                        </mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex">
                            <br />
                            <div class="ends">
                                <button type="submit" [disabled]="!myReactiveForms.valid || fruits.length==0 " class="btn btn-primary float-right">
                  Create Organization
                </button>
                            </div>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </section>
    <div id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><span *ngIf="success"><img
                src="./assets/img/tick.svg" alt="" style="height: 45px;
                        width: 55px;     position: relative;
            right: 12px;">Success Message!</span>
            <span *ngIf="exist">Warning!</span>
            <span *ngIf="alert">Warning!</span>
          </strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
                </div>
                <div class="modal-body">
                    <p *ngIf="success">
                        New organization has been created successfully. <br /> Onboarding link sent to organization email id.
                    </p>
                    <p *ngIf="exist">Organization already exists.</p>
                    <p *ngIf="alert">Data already exists.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" routerLink="/esp-super-admin/list-of-organisations" class="btn btn-primary toast-btn" *ngIf="success">
            Okay
          </button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" *ngIf="exist">
            Okay
          </button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" *ngIf="alert">
            Okay
          </button>
                </div>
            </div>
        </div>
    </div>
</esp-content>
<esp-footer></esp-footer>
