.addDelBtns {
    padding: 5px;
}

.iconFa {
    font-size: 29px;
    padding: 11px;
    padding-top: 3px;
}

.backBtn {
    // color: #00aeff;
    margin-left: 525px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.backBtn:hover {
    color: white;
}

.positioning {
    position: relative;
    top: -35px;
    left: 60px;
}

.modal-title {
    font-size: 1.25rem !important;
}

.icon_link {
    margin-top: 5px !important;
    height: 20px !important;
}