<esp-content [title]="'Create Assessments'">


    <div class="statistic-block block">
        <!-- <esp-assessment-navtab></esp-assessment-navtab> -->

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#edit_quest" role="tab" (click)="navTabs()" aria-controls="home" aria-selected="true">Add & Edit</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab1" (click)='incrementCount()' data-bs-toggle="tab" href="#view_quest" role="tab" aria-controls="profile" aria-selected="false">View Questionnaire</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" (click)="navTabs()" href="#view_results" role="tab" aria-controls="profile" aria-selected="false">
          View Results</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="edit_quest" role="tabpanel" aria-labelledby="home-tab">
                <br>
                <!-- <esp-assessment-athelete-questionaires-block></esp-assessment-athelete-questionaires-block> -->

                <!-- Block Div -->
                <!-- <div class="public-user-block questionaire-div block position-rel">

                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12 col-md-12 col-sm-12  d-flex align-items-center">

                            <div class="col-lg-12 pad-0">
                                <input class="quest_header_input" type="text" value="Training Feedbacks">
                                <input class="quest_descrip_input" type="text" value="Lorem ipsum is placeholder text commonly">
                            </div>


                        </div>
                    </div>
                </div> -->
                <!-- Block Div -->
                <ng-container *ngIf='questionsList?.length==0; else viewQuestionList;'>

                    <div class="public-user-block block">
                        <div class="empty_mess_div text-center">
                            <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                            <p>Currently there is no questionnaire to edit <br> </p>

                        </div>
                    </div>

                </ng-container>

                <ng-template #viewQuestionList>


                    <div class="quest_div" *ngFor="let itemList of questionsList; let i = index">
                        <p>{{i+1}}. {{itemList.question}}</p>
                        <div class="edit_ques_icon">
                            <a (click)="editQuestion(itemList)" data-bs-toggle="modal" data-bs-target="#editQuesModal1"><img src="./assets/img/icons/edit_athlete.svg"></a>
                            <a data-bs-toggle="modal" data-bs-target="#removeQueList1" (click)="getQueListId(itemList.id)"><img src="./assets/img/icons/remove_questionaire.svg"></a>
                        </div>
                    </div>




                    <!-- Modal--for--remove-->
                    <div id="removeQueList1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"> <img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the questionnaire</span></strong>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton" aria-hidden="true">×</span></button>
                                </div>

                                <div class="modal-body">
                                    <p>Are you sure you want to delete this questionnaire.<br></p>

                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                                    <button type="submit" data-bs-dismiss="modal" (click)="deleteQueList()" class="btn btn-primary toast-btn">Delete</button>
                                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal----for--remove-->

                </ng-template>

                <div class="add_quest_div">
                    <p>Add New Questionnaire</p>
                    <div class="add_ques_icon">
                        <a data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/img/icons/add_ques.svg"></a>
                    </div>
                </div>





                <!-- <esp-assessment-athelete-questionaires-block></esp-assessment-athelete-questionaires-block> -->
            </div>
            <div class="tab-pane fade" id="view_quest" role="tabpanel" aria-labelledby="profile-tab">
                <div class="mt-3">

                    <ng-container *ngIf='questionsList?.length==0; else viewQuestionListts;'>

                        <div class="public-user-block block">
                            <div class="empty_mess_div text-center">
                                <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                                <p>Currently there is no questionnaire to view <br> </p>

                            </div>
                        </div>

                    </ng-container>

                    <ng-template #viewQuestionListts>


                        <div class="quest_div" *ngFor="let itemList of questionsList; let i = index">
                            <p>{{i+1}}. {{itemList.question}}</p>
                            <div class="edit_ques_icon">
                                <a (click)="viewsQues(itemList)" data-bs-toggle="modal" data-bs-target="#viewQuestionModal"><img class="icon_link" src="./assets/img/icons/go_arrow.svg" /></a>
                            </div>
                        </div>
                    </ng-template>








                    <!-- Create New Questionaire Modal- start-->
                    <div id="viewQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog modal_large">
                            <div class="modal-content">
                                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">View Questionnaire</strong>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                               aria-hidden="true">×</span></button>
                                </div>



                                <div class="modal-body">

                                    <form [formGroup]="editQuestionnaireForm">

                                        <div class="form-group form-group-textarea">

                                            <textarea class="capitalize" disabled rows="1" formControlName="question" placeholder="Type Questionnaire Title..."></textarea>

                                        </div>

                                        <div class="form-group form-group-textarea">

                                            <textarea class="capitalize" disabled rows="2" formControlName="type" placeholder="Type Questionnaire Description..."></textarea>


                                        </div>

                                        <div class="form-group form-group-textarea">
                                            <label>Select Answer Type</label>
                                            <select disabled (change)="selectedOption($event)" formControlName="typedataValue" class="form-control mb-3 mb-3 m-0">
                                 <option selected value="" disabled>- Select -</option>
                                 <option value="yesOrNo">Yes / No</option>
                                 <option value="Text Area">Text Area</option>
                                 <option value="Text Box">Text Box</option>
                                 <option value="Radio Buttons">Radio Buttons</option>
                                 <option value="Check Boxes">Check Boxes</option>
                                 <option value="Star Ratings">Star Ratings</option>
                               </select>



                                        </div>


                                        <div *ngIf='yesOrNo' class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button disabled type="button" class="btn btn-secondary">Yes</button>
                                                <button disabled type="button" class="btn btn-secondary">No</button>

                                            </div>
                                        </div>

                                        <div></div>

                                        <div *ngIf='arrayBox'>
                                            <div formArrayName="data">
                                                <div *ngFor="let skill of addInputs.controls; let i=index">
                                                    <div class="row ">
                                                        <div class="col-md-10" [formGroupName]="i">



                                                            <input type="text" formControlName="value" value="i" style="display: none;">


                                                            <textarea disabled rows="1" formControlName="name" placeholder="Type Questionnaire Description..."></textarea>



                                                        </div>
                                                        <div class="col-md-2 addDelBtns">

                                                            <button disabled type="button" class="btn btn-danger spaceBtn" (click)="removeSkill(i)">Delete</button>


                                                        </div>
                                                    </div>


                                                </div>
                                            </div>


                                            <div class="row">
                                            </div>
                                        </div>






                                        <div class="modal-footer">
                                            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                                        </div>


                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Create New Questionaire Modal- end-->


                </div>
            </div>
            <div class="tab-pane fade" id="view_results" role="tabpanel" aria-labelledby="profile-tab">
                <br>
                <div class="empty_mess_div text-center">
                    <img src="./assets/img/icons/empty_report.svg">
                    <p>Currently there is no results. You can see response report after submit & shared to team</p>
                </div>
            </div>
        </div>










    </div>


</esp-content>
<esp-footer></esp-footer>




<!-- Create New Questionaire Modal- start-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog modal_large">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Add Questionnaire</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
            </div>



            <div class="modal-body">

                <form [formGroup]="addQuestionnaireForm" (ngSubmit)="onSubmit()">

                    <div class="form-group form-group-textarea">

                        <textarea class="capitalize" rows="1" formControlName="question" placeholder="Type Questionnaire Title..." [ngClass]="{ 'is-invalid': f.question.touched && f.question.errors && f.question.invalid }"></textarea>
                        <div *ngIf="f.question.invalid && f.question.errors && f.question.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.question.errors.required">Title is required</div>
                        </div>
                    </div>

                    <div class="form-group form-group-textarea">

                        <textarea class="capitalize" rows="2" formControlName="type" placeholder="Type Questionnaire Description..." [ngClass]="{ 'is-invalid': f.type.touched && f.type.errors && f.type.invalid }"></textarea>
                        <div *ngIf="f.type.invalid && f.type.errors && f.type.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.type.errors.required">Description is required</div>
                        </div>
                    </div>

                    <div class="form-group form-group-textarea">
                        <label>Select Answer Type</label>
                        <select (change)="selectedOption($event)" formControlName="typedataValue" class="form-control mb-3 mb-3 m-0" [ngClass]="{ 'is-invalid': f.typedataValue.touched && f.typedataValue.errors && f.typedataValue.invalid }">
              <option selected value="" disabled>- Select -</option>
              <option value="yesOrNo">Yes / No</option>
              <option value="Text Area">Text Area</option>
              <option value="Text Box">Text Box</option>
              <option value="Radio Buttons">Radio Buttons</option>
              <option value="Check Boxes">Check Boxes</option>
              <option value="Star Ratings">Star Ratings</option>
            </select>

                        <div *ngIf="f.typedataValue.invalid && f.typedataValue.errors && f.typedataValue.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.typedataValue.errors.required">Answer type is required</div>
                        </div>

                    </div>

                    <div *ngIf='yesOrNo' class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">Yes</button>
                            <button type="button" class="btn btn-secondary">No</button>

                        </div>
                    </div>



                    <div *ngIf='arrayBox'>
                        <div formArrayName="data">
                            <div *ngFor="let skill of addInputs.controls; let i=index">
                                <div class="row ">
                                    <div class="col-md-10" [formGroupName]="i">



                                        <input type="text" formControlName="value" value="i" style="display: none;">


                                        <textarea rows="1" formControlName="name" placeholder="Type Questionnaire Description..."></textarea>



                                    </div>
                                    <div class="col-md-2 addDelBtns">
                                        <!-- <a _ngcontent-yey-c234="" (click)="addSkills()"><img _ngcontent-yey-c234=""
                        src="./assets/img/icons/add_ques.svg"></a> -->

                                        <!-- <i  class="fa fa-plus-square-o iconFa" (click)="addSkills()" aria-hidden="true"></i> -->


                                        <!-- <i class="fa fa-minus-square-o iconFa" *ngIf="!i == 0" (click)="removeSkill(i)" aria-hidden="true"></i> -->

                                        <button type="button" class="btn btn-danger spaceBtn" (click)="removeSkill(i)">Delete</button>


                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="row">

                            <button type="button" class="add-link backBtn" (click)="addSkills()">Add Field<i
                  class="material-icons">add_circle_outline</i></button>
                        </div>
                    </div>






                    <div class="modal-footer">
                        <button [disabled]="!addQuestionnaireForm.valid" type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Submit
              Questionnaire</button>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>

<!-- Create New Questionaire Modal- end-->



<!-- Modal-- created - success - start-->
<!-- <div id="questionnaireSuccessCoach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  class="modal fade text-left">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
      </div>

      <div class="modal-body">
        <p>Questionnaire added successfully.</p>

      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Modal-- created - success - end-->



<!-- Modal-Error-->
<div id="modelError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Error!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Something went wrong.</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal-->







<esp-modal-update [props]=modelDetails[0]></esp-modal-update>
<esp-modal-success [props]=modelDetails[0]></esp-modal-success>
<esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>
<esp-modal-already-exist [props]=modelDetails[0]></esp-modal-already-exist>






<!-- Edit  Questionaire Modal- start-->
<div id="editQuesModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog modal_large">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Edit Questionnaire</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
             aria-hidden="true">×</span></button>
            </div>



            <div class="modal-body">

                <form [formGroup]="addQuestionnaireForm" (ngSubmit)="onUpdate()">

                    <div class="form-group form-group-textarea">

                        <textarea class="capitalize" rows="1" formControlName="question" placeholder="Type Questionnaire Title..." [ngClass]="{ 'is-invalid': f.question.touched && f.question.errors && f.question.invalid }"></textarea>
                        <div *ngIf="f.question.invalid && f.question.errors && f.question.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.question.errors.required">Question is required</div>
                        </div>
                    </div>

                    <div class="form-group form-group-textarea">

                        <textarea class="capitalize" rows="2" formControlName="type" placeholder="Type Questionnaire Description..." [ngClass]="{ 'is-invalid': f.type.touched && f.type.errors && f.type.invalid }"></textarea>
                        <div *ngIf="f.type.invalid && f.type.errors && f.type.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.type.errors.required">Type is required</div>
                        </div>

                    </div>

                    <div class="form-group form-group-textarea">
                        <label>Select Answer Type</label>
                        <select (change)="selectedOption($event)" formControlName="typedataValue" class="form-control mb-3 mb-3 m-0" [ngClass]="{ 'is-invalid': f.typedataValue.touched && f.typedataValue.errors && f.typedataValue.invalid }">
               <option selected value="" disabled>- Select -</option>
               <option value="yesOrNo">Yes / No</option>
               <option value="Text Area">Text Area</option>
               <option value="Text Box">Text Box</option>
               <option value="Radio Buttons">Radio Buttons</option>
               <option value="Check Boxes">Check Boxes</option>
               <option value="Star Ratings">Star Ratings</option>
             </select>

                        <div *ngIf="f.typedataValue.invalid && f.typedataValue.errors && f.typedataValue.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.typedataValue.errors.required">TypedataValue is required</div>
                        </div>

                    </div>


                    <div *ngIf='yesOrNo' class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">Yes</button>
                            <button type="button" class="btn btn-secondary">No</button>

                        </div>
                    </div>

                    <div></div>

                    <div *ngIf='arrayBox'>
                        <div formArrayName="data">
                            <div *ngFor="let skill of addInputs.controls; let i=index">
                                <div class="row ">
                                    <div class="col-md-10" [formGroupName]="i">



                                        <input type="text" formControlName="value" value="i" style="display: none;">


                                        <textarea rows="1" formControlName="name" placeholder="Type Questionnaire Description..."></textarea>



                                    </div>
                                    <div class="col-md-2 addDelBtns">
                                        <!-- <a _ngcontent-yey-c234="" (click)="addSkills()"><img _ngcontent-yey-c234=""
                        src="./assets/img/icons/add_ques.svg"></a> -->

                                        <!-- <i  class="fa fa-plus-square-o iconFa" (click)="addSkills()" aria-hidden="true"></i> -->


                                        <!-- <i class="fa fa-minus-square-o iconFa" *ngIf="!i == 0" (click)="removeSkill(i)" aria-hidden="true"></i> -->

                                        <button type="button" class="btn btn-danger spaceBtn" (click)="removeSkill(i)">Delete</button>


                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="row">

                            <button type="button" class="add-link backBtn" (click)="addSkills()">Add Field<i
                  class="material-icons">add_circle_outline</i></button>
                        </div>
                    </div>






                    <div class="modal-footer">
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Update Questionnaire</button>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>

<!-- Edit  Questionaire Modal- end-->


<!-- <app-view-questionnaire [refresh]="counter"></app-view-questionnaire> -->