<!-- header starts here -->
<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2 class="h5 no-margin-bottom">Create Team</h2>
            </div>
            <div class="col-6">

            </div>
        </div>

    </div>
</div>

<!-- header ends here -->


<!-- <esp-content [title]="'Onboard New Organisation'"> -->
<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="statistic-block block" *ngIf="isView">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="sports_Categ_title_1">Create New Team</h2><br>
                    <p class="descrip_text">Enter details below for create a new team under sport category </p>

                </div>
            </div>

            <form [formGroup]='myCreateTeamForms' (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sports Category</label>
                            <select name="sportCategory" (change)="categorySelected($event)" formControlName="sportCategory" class="form-control mb-1 mb-1">
                  <option value="" disabled selected>-- Select Category --</option>
                  <option *ngFor="let sports of orgData?.sportsCategory" value='{{sports}}' >{{sports}}</option>
               
                </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Team Name</label>
                            <input type="text" formControlName="teamName" name="teamName" placeholder="Enter Team Name" maxlength="30" class="form-control" [ngClass]="{ 'is-invalid': f.teamName.touched && f.teamName.errors && f.teamName.invalid }">
                            <div *ngIf="f.teamName.invalid && f.teamName.errors && f.teamName.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.teamName.errors.required">Team Name is required</div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sports Coach</label>
                            <select class="form-control mb-1 mb-1" formControlName="coachId" name="coachId">
              <option value="" disabled selected>-- Select Coach --</option>
              <option *ngFor="let coachDetails of filteredCoach"  value="{{coachDetails.id}}">{{coachDetails.coacheName}}</option>
            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Team Size </label>
                            <input type="text" (keypress)="keyPressAlphaNumerics($event)" formControlName="teamSize" maxlength="3" name='teamSize' placeholder="Enter Number of Athletes" class="form-control" [ngClass]="{ 'is-invalid': f.teamSize.touched && f.teamSize.errors && f.teamSize.invalid }">
                            <div *ngIf="f.teamSize.invalid && f.teamSize.errors && f.teamSize.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.teamSize.errors.required">Team Size is required</div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="modal-footer">
                            <!-- <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button> -->
                            <button [disabled]="!myCreateTeamForms.valid" type="submit" class="btn btn-primary toast-btn" *ngIf="isCreate">Create Team</button>
                        </div>
                    </div>
                </div>
            </form>






        </div>
    </div>




</section>






<!-- footer starts here -->
<footer class="footer">
    <div class="footer__block block b1 no-margin-bottom">
        <div class="container-fluid text-center">
            <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            <p class="no-margin-bottom">2021 &copy; Evvo Sports</p>
        </div>
    </div>
</footer>
<!-- footer ends here -->


<!-- Modal-->
<div id="SuccessCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                width: 55px;     position: relative;
    right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>New team has been created successfully. <br> </p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                <button type="button" routerLink="/home/teams" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->




<!-- Modal- Athlete-Warning-Start-->
<div id="modelWarningAthlete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Team Already Exsits.</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal Athlete-Warning--end-->


<!-- Modal-Error-->
<div id="modelError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Error!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Something went wrong.</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal-->