<esp-content [title]="'Training Calendar'">
    <div class="container-fluid">
        <!-- two links below to make this calendar -->
        <!--1. https://github.com/mattlewis92/angular-calendar -->
        <!--2. https://mattlewis92.github.io/angular-calendar/#/kitchen-sink -->

        <div class="calendar-wrap bg-white p-4">
            <div class="row text-center">
                <div class="col-md-4">
                    <h2 class="text-white">{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h2>
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        <div class="btn btn-primary month" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                            MONTH
                        </div>
                        <div class="btn btn-primary week" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                            WEEK
                        </div>
                        <div class="btn btn-primary day" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                            DAY
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex">
                    <div class="btn-group sp">
                        <div class="btn btn-danger spacing" mwlCalendarToday [(viewDate)]="viewDate">
                            TODAY
                        </div>
                        <div class="btn btn-primary spacing2" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay($event)">
                            <i _ngcontent-vog-c91="" class="material-icons">keyboard_arrow_left</i
                >
            </div>

            <div
             class="btn btn-primary spacing2"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay($event)"
              >
              <i _ngcontent-vog-c91="" class="material-icons">keyboard_arrow_right</i>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div [ngSwitch]="view" class="mb">
                <button [hidden]="monthlyEvents.length >= 0"></button>
                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" name="event" [(ngModel)]="event" [events]="monthlyEvents" [style.Color]="Events" [refresh]="refresh" data-bs-toggle="modal" (dayClicked)="openDialog($event)" [activeDayIsOpen]="activeDayIsOpen"
                    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="weeklyEvents" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)" (hourSegmentClicked)="openDialog($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="dayEvents" [refresh]="refresh" (hourSegmentClicked)="openDialog($event)">
                </mwl-calendar-day-view>
            </div>

            <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

            <br /><br /><br />

            <!-- <div class="">

        <h3>
          Edit events
          <button class="btn btn-primary float-right" (click)="addEvent()">
            Add new
          </button>
          <div class="clearfix"></div>
        </h3>

        <div class="table-responsive mb-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Primary color</th>
                <th>Secondary color</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody >
              <tr *ngFor="let event of events">
                <td>
                  <input
                  class="color_cls_1"
                    type="text"
                    class="form-control"
                    [(ngModel)]="event.title"
                    (keyup)="refresh.next()"
                  />
                </td>
                <td>

                  <input
                  type="color"
                  class="color_cls_2"
                  (change)="refresh.next()"
                />
                </td>
                <td>

                  <input
                    type="color"
                    (change)="refresh.next()"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()"



                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()"



                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
                  />
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteEvent(event)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
        </div>

        <!-- <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          OK
        </button>
      </div>
    </ng-template> -->
    </div>
    <!--
    <button class="btn btn-primary float-right" data-bs-toggle="modal" (click)="addEvent($event)" data-bs-target="#myModal">
    Add new
  </button> -->

    <!-- Modal-->
    <!-- <ng-template #myDialog>
        <mat-dialog-content>
            <div class="container-fluid">
                <form #simpleForm='ngForm' (ngSubmit)="addEvent(simpleForm.value)">

                    <div class="modal-body">


                        <div class="form-group">
                            <label>Training name</label>

                            <input type="email" [(ngModel)]="test" ngModel (keyup)="refresh.next()" value="1" name="title" class="form-control">

                        </div>
                        <div class="form-group">
                            <label>Training Description</label>
                            <input type="email" ngModel (change)="refresh.next()" name="description" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Area and Location</label>
                            <input type="location" ngModel (change)="refresh.next()" name="location" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Training Time</label>
                            <input type="time" ngModel name="time" (ngModelChange)="refresh.next()" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary toast-btn">SAVE</button>
                        <button type="button" matDialogClose class="btn btn-primary">CLOSE</button>
                    </div>

                </form>
            </div>




        </mat-dialog-content>

    </ng-template> -->

    <div id="addTraingAndEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong id="exampleModalLabe2" class="modal-title dashbg_txt_2"><span class="text-white"></span>
          </strong>

                    <h4 *ngIf="form1"><span class="text-secondary">Training</span></h4>
                    <h4 *ngIf="form2"><span class="text-secondary">Events</span></h4>
                    <button type="button" data-bs-dismiss="modal" class="close">
            <span aria-hidden="true">×</span>
          </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-xl-5 col-sm-5 col-lg-5">
                            <input type="radio" [checked]="training" name="Training" value="Training" (change)="check($event)" style="font-size: 16px !important;" />
                            <label style="margin-left: 12px !important">Training:</label>
                        </div>
                        <div class="col-md-5 col-xl-5 col-sm-5 col-lg-5">
                            <input type="radio" [checked]="Event" name="My Events" value="My Events" (change)="check1($event)" style="font-size: 16px !important;" /><label style="margin-left: 12px !important">Events:</label>
                        </div>
                    </div>
                    <br />

                    <form *ngIf="form1" name="form" (ngSubmit)="f.form.valid && saveForm(Training)" #f="ngForm">
                        <div class="row">
                            <div class="form-group">
                                <label class="text-white">Title:</label>
                                <input type="text" name="title" [(ngModel)]="Training.title" class="form-control" placeholder="Enter Title" #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white"> Start Date:</label>
                                    <label for="date"><i class="fa fa-calendar" style="font-size:24px"></i></label>

                                    <input type="date" id="date" name="date" [(ngModel)]="Training.date" class="form-control" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="" [convertModelValue]="true" [enableTime]="false" dateFormat="d-m-Y" altFormat="F j, Y" placeholder="DD-MM-YYYY"
                                        #startdate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && startdate.invalid }" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white"> End Date:</label>
                                    <label for="date"><i class="fa fa-calendar" style="font-size:24px"></i></label>

                                    <input type="date" id="date" name="endDate" [(ngModel)]="Training.endDate" class="form-control" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="" [convertModelValue]="true" [enableTime]="false" dateFormat="d-m-Y" altFormat="F j, Y" placeholder="DD-MM-YYYY"
                                        #enddate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && enddate.invalid }" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Start Time:</label>
                                    <i class="fa fa-clock-o"></i>
                                    <input type="time" name="starttime" [(ngModel)]="Training.starttime" class="form-control" placeholder="Enter Time" #startTime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && startTime.invalid }" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">End Time:</label>
                                    <i class="fa fa-clock-o-end"></i>
                                    <input type="time" name="endtime" [(ngModel)]="Training.endtime" class="form-control" placeholder="Enter Duration" #endTime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && endTime.invalid }" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Teams:</label> <br />
                                    <select class="form-control" [(ngModel)]="Training.id" name="id" (change)="Teams($event.target.value)" #teamName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && teamName.invalid }" required>
                    <option value="" style="background-color: white">
                      Select Team
                    </option>
                    <option
                      value="{{ t.id }}"
                      *ngFor="let t of getTeamList; let i = index"
                    >
                      {{ t.teamName }}
                    </option>
                  </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white"> Area & Location</label>
                                    <input type="text" name="area" [(ngModel)]="Training.location" class="form-control" placeholder="Enter Area & Location" #location="ngModel" [ngClass]="{ 'is-invalid': f.submitted && location.invalid }" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Description:</label>
                                    <textarea type="text" name="Description" [(ngModel)]="Training.trainingDescription" class="form-control" placeholder="Enter Description" style="width: 212% !important" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"
                                        required></textarea>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="modal-footer">
                            <!-- <button (click)="saveForm(Training)" *ngIf="title && date && starttime && endtime && id && location && trainingDescription !='' " data-bs-dismiss="modal" class="btn btn-primary text-white button1">
                Create
              </button> -->
                            <button data-bs-dismiss="modal" class="btn btn-primary text-white button1" [disabled]="!f.form.valid || Training.title==''">
                Create
              </button>
                            <button data-bs-dismiss="modal" class="btn btn-secondary text-white button" style="height: 40px !important; padding: 10px !important">
                Cancel
              </button>
                        </div>
                    </form>
                    <form *ngIf="form2" name="form" (ngSubmit)="f2.form.valid && saveEvents(Eventsec)" #f2="ngForm">
                        <div class="row">
                            <div class="form-group">
                                <label class="text-white">Title:</label>
                                <input type="text" name="title" [(ngModel)]="Eventsec.title" class="form-control" placeholder="Enter title" #title="ngModel" [ngClass]="{ 'is-invalid': ff.submitted && title.invalid }" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Start Date:</label>
                                    <i class="fa fa-calendar   cal"></i>

                                    <input type="text" name="date" [(ngModel)]="Eventsec.date" class="form-control" placeholder="Enter Date" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="" [convertModelValue]="true" [enableTime]="false" dateFormat="d-m-Y" altFormat="F j, Y"
                                        placeholder="DD-MM-YYYY" #startDate2="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && startDate2.invalid }" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">End Date:</label>
                                    <i class="fa fa-calendar   cal"></i>

                                    <input type="text" name="endDate" [(ngModel)]="Eventsec.endDate" class="form-control" placeholder="Enter Date" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="" [convertModelValue]="true" [enableTime]="false" dateFormat="d-m-Y" altFormat="F j, Y"
                                        placeholder="DD-MM-YYYY" #endDate2="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && endDate2.invalid }" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Start Time:</label>
                                    <i class="fa fa-clock-o"></i>

                                    <input type="time" name="starttime" [(ngModel)]="Eventsec.starttime" class="form-control" placeholder="enter Time" #startTime2="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && startTime2.invalid }" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">End Time:</label>
                                    <i class="fa fa-clock-o-end"></i>

                                    <input type="time" name="endtime" [(ngModel)]="Eventsec.endtime" class="form-control" placeholder="Enter Duration" #endTime2="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && endTime2.invalid }" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white"> Area & Location</label>
                                    <input type="text" name="area" [(ngModel)]="Eventsec.area" class="form-control" placeholder="Enter  Area & Location" #location2="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && location2.invalid }" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Teams:</label> <br />
                                    <select class="form-control" [(ngModel)]="Eventsec.id" name="id" (change)="Teams($event.target.value)" #teamName2="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && teamName2.invalid }" required>
                    <option value="">Select Team</option>
                    <option value="{{ t.id }}" *ngFor="let t of getTeamList; let i = index">
                      {{ t.teamName }}
                    </option>
                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary text-white button1 mt-4" data-bs-dismiss="modal" [disabled]="!f2.form2.valid || Eventsec.title ==''">
                Create
              </button>
                            <button data-bs-dismiss="modal" class="btn btn-secondary text-white button mt-4">
                Cancel
              </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
          width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <p *ngIf="form1">Training added successfully.</p>
                    <p *ngIf="form3">Training updated successfully.</p>
                    <p *ngIf="form2">Event added successfully.</p>
                    <p *ngIf="form4">Event updated successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
            Okay
          </button>
                </div>
            </div>
        </div>
    </div>


    <div id='editTraingAndEvent' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong id="exampleModalLabe2" class="modal-title dashbg_txt_2"><span class="text-white"></span>
          </strong>

                    <h4 *ngIf="form3"><span class="text-secondary">Update Training</span></h4>
                    <h4 *ngIf="form4"><span class="text-secondary"> Update Events</span></h4>
                    <button type="button" data-bs-dismiss="modal" class="close">
            <span aria-hidden="true">×</span>
          </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-xl-5 col-sm-5 col-lg-5">
                            <input type="radio" [checked]="editTrainingRadio" name="Training" value="Training" (change)="check($event)" style="font-size: 16px !important;" [attr.disabled]="disableTrainingRadio" />
                            <label style="margin-left: 12px !important">Training:</label>
                        </div>
                        <div class="col-md-5 col-xl-5 col-sm-5 col-lg-5">
                            <input type="radio" [checked]="editEventRadio" [attr.disabled]="disableEventRadio" name="My Events" value="My Events" (change)="check1($event)" style="font-size: 16px !important;" /><label style="margin-left: 12px !important">Events:</label>
                        </div>
                    </div>
                    <br />

                    <form *ngIf="form3">
                        <div class="row">
                            <div class="form-group">
                                <label class="text-white">Title:</label>
                                <input type="text" name="title" [(ngModel)]="editTraining.title" class="form-control" placeholder="Enter Title" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Start Date:</label>
                                    <i class="fa fa-calendar" style="font-size:24px"></i>
                                    <input type="date" name="date" [(ngModel)]="editTraining.date" class="form-control" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="" [convertModelValue]="true" [enableTime]="false" dateFormat="d-m-Y" altFormat="F j, Y" placeholder="DD-MM-YYYY"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">End Date:</label>
                                    <i class="fa fa-calendar" style="font-size:24px"></i>
                                    <input type="date" name="endDate" [(ngModel)]="editTraining.endDate" class="form-control" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="" [convertModelValue]="true" [enableTime]="false" dateFormat="d-m-Y" altFormat="F j, Y" placeholder="DD-MM-YYYY"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Start Time:</label>
                                    <i class="fa fa-clock-o"></i>
                                    <input type="time" name="starttime" [(ngModel)]="editTraining.starttime" class="form-control" placeholder="Enter Time" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">End Time:</label>
                                    <i class="fa fa-clock-o-end"></i>

                                    <input type="time" name="endtime" [(ngModel)]="editTraining.endtime" class="form-control" placeholder="Enter Duration" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Teams:</label> <br />
                                    <select class="form-control" [(ngModel)]="editTraining.teamId" name="id" (change)="Teams($event.target.value)">
                    <option value="" style="background-color: white">
                      Select Team
                    </option>
                    <option value="{{ t.id }}" *ngFor="let t of getTeamList; let i = index"
                      [selected]="editTraining.teamId== t.id">
                      {{ t.teamName }}
                    </option>
                  </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white"> Area & Location</label>
                                    <input type="text" name="area" [(ngModel)]="editTraining.location" class="form-control" placeholder="Enter Area & Location" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Description:</label>
                                    <textarea type="text" name="Description" [(ngModel)]="editTraining.trainingDescription" class="form-control" placeholder="Enter Description" style="width: 212% !important"></textarea>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="modal-footer">
                            <button (click)="updateTraining(editTraining)" data-bs-dismiss="modal" class="btn btn-primary text-white button1" *ngIf="isEdit">
                Update
              </button>
                            <button data-bs-dismiss="modal" class="btn btn-secondary text-white button" style="height: 40px !important; padding: 10px !important">
                Cancel
              </button>
                            <button data-bs-dismiss="modal" class="btn btn-secondary text-red button" style="height: 40px !important; padding: 10px !important" (click)="deleteTraining(editTraining)" *ngIf="isDeletes">
                Delete
              </button>
                        </div>
                    </form>
                    <form *ngIf="form4">
                        <div class="row">
                            <div class="form-group">
                                <label class="text-white">Title:</label>
                                <input type="text" name="title" [(ngModel)]="editEvent.title" class="form-control" placeholder="Enter title" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Start Date:</label>
                                    <i class="fa fa-calendar   cal"></i>

                                    <input type="text" name="date" [(ngModel)]="editEvent.date" class="form-control" placeholder="Enter Date" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="" [convertModelValue]="true" [enableTime]="false" dateFormat="d-m-Y" altFormat="F j, Y"
                                        placeholder="DD-MM-YYYY" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">End Date:</label>
                                    <i class="fa fa-calendar   cal"></i>

                                    <input type="text" name="endDate" [(ngModel)]="editEvent.endDate" class="form-control" placeholder="Enter Date" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="" [convertModelValue]="true" [enableTime]="false" dateFormat="d-m-Y" altFormat="F j, Y"
                                        placeholder="DD-MM-YYYY" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Start Time:</label>
                                    <i class="fa fa-clock-o"></i>

                                    <input type="time" name="starttime" [(ngModel)]="editEvent.starttime" class="form-control" placeholder="enter Time" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">End Time:</label>
                                    <i class="fa fa-clock-o-end"></i>

                                    <input type="time" name="endtime" [(ngModel)]="editEvent.endtime" class="form-control" placeholder="Enter Duration" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white"> Area & Location</label>
                                    <input type="text" name="area" [(ngModel)]="editEvent.area" class="form-control" placeholder="Enter  Area & Location" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-white">Teams:</label> <br />
                                    <select class="form-control" [(ngModel)]="editEvent.teamId" name="id" (change)="Teams($event.target.value)">
                    <option value="">Select Team</option>
                    <option value="{{ t.id }}" *ngFor="let t of getTeamList; let i = index" [selected]="editEvent.teamId== t.id">
                      {{ t.teamName }}
                    </option>
                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button (click)="updateEvents(editEvent)" class="btn btn-primary text-white button1 mt-4" data-bs-dismiss="modal" *ngIf="isEdit">
                Update
              </button>
                            <button data-bs-dismiss="modal" class="btn btn-secondary text-white button mt-4">
                Cancel
              </button>
                            <button data-bs-dismiss="modal" class="btn btn-secondary text-white button mt-4" (click)="deleteEvent(editEvent)" *ngIf="isDeletes">
                Delete
              </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
          width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <p *ngIf="isDelete">Training deleted successfully.</p>
                    <p *ngIf="!isDelete">Event deleted successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
            Okay
          </button>
                </div>
            </div>
        </div>
    </div>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
    <esp-loading></esp-loading>
</ng-template>
