h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.color_cls_1 {
    color: #ad2121;
}

.color_cls_2 {
    color: #fae3e3;
}

.form-control {
    background-color: #0000002e;
}

.form-group label {
    font-weight: 600;
    letter-spacing: 0.01em;
    font-size: 18px;
    margin-bottom: 5px;
}

.btn-primary {
    color: #fff;
    // background-color: #002147;
}

.calendar-wrap {
    border-radius: 1%;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    /* text-align: center; */
    text-align: left;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    color: #002147;
    margin-bottom: 20px;
}

// .btn-group{
//   margin-left: -150px;
// }
.btn {
    padding: 11px 20px;
    // letter-spacing: 3px;
}

.month {
    //background-color: #225c9e;
    background-color: #002147;
}

.day {
    background-color: #002147;
}

.week {
    background-color: #002147;
}

.btn-danger {
    background-color: #8a8d93;
}

.calendar-wrap {
    margin-bottom: 25px;
}

.mb {
    margin-bottom: -70px;
}

.spacing {
    padding-bottom: 0px;
    margin-right: 13px;
}

.sp {
    margin-left: auto;
}

.spacing2 {
    padding-bottom: 0px;
    padding-right: 12px;
    padding-left: 12px;
}

.material-icons {
    font-size: 30px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.Modal.modal-header {
    text-transform: uppercase;
    border-bottom: none;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    color: #002147 !important;
    margin-bottom: 0px;
}

.Modal {
    padding-right: 0px;
    padding-left: 0px;
}

.Modal .modal-body {
    margin-left: 0px;
    margin-right: 0px;
}

.Modal.modal-footer {
    border-top: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-color: white !important;
}

.calendar-wrap {
    margin-top: -8px;
}

.Modal.modal-open .modal .modal-content {
    display: none;
    background-color: red !important;
}

span {
    float: right !important;
}

::ng-deep mat-dialog-container {
    width: 450px !important;
}

.color {
    color: red !important;
}

.Modal {
    background-color: #2d3035 !important;
    padding: 15px !important;
}

li {
    list-style-type: none !important;
    display: inline-flex;
}

.form-control {
    color: white !important;
    border: none;
    background: #0000002e !important;
}

::placeholder {
    color: #8a8d93 !important;
    opacity: 1;
    /* Firefox */
}

label {
    color: #8a8d93 !important;
    font-size: 0.9rem !important;
}

.button {
    // margin-right: 35px !important;
    float: right !important;
    height: 40px !important;
    padding: 10px !important;
    letter-spacing: 0px !important;
}

.button1 {
    margin-right: 12px !important;
    height: 41px !important;
    float: right !important;
    letter-spacing: 0px !important;
}

select option {
    background-color: white !important;
    color: #8a8d93 !important;
}

// input::placeholder {
//     color: #f00 !important;
// }
.fa.fa-calendar:before {
    content: "\f073";
    position: absolute !important;
    font-size: 12px !important;
    right: 12px !important;
    bottom: 66% !important;
    cursor: pointer;
}

.calendar-wrap {
    margin-top: -8px;
    // background: #2d3035 !important;
    background: #191C24 !important;
}

.cal-month-view {
    //background-color: hotpink !important;
    color: red;
    background-color: #2c3036 !important;
    ;
}

.cal {
    position: absolute !important;
    font-size: 12px !important;
    right: 0px !important;
    bottom: 60% !important;
}

input[type="radio"] {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.fa-clock-o {
    position: relative !important;
    top: 36px !important;
    font-size: 14px !important;
    left: 101px !important;
    color: white !important;
}

.fa-clock-o-end {
    position: relative !important;
    top: 36px !important;
    font-size: 14px !important;
    left: 110px !important;
    color: white !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

.fa.fa-calendar::after {
    cursor: pointer;
}

.fa-clock-o-end::before {
    content: "\f017";
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none !important;
}

.cal-day-number {
    margin-right: 75%;
}

.modal-title {
    font-size: 1.25rem !important;
}

 ::ng-deep.cal-month-view .cal-header .cal-cell {
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    background: #282b33;
    color: white !important;
    border-bottom: 0px solid #282b33 !important;
    border-top: 0px solid #282b33 !important;
    border-left: 0px solid #282b33 !important;
    border-right: 0px solid #282b33 !important;
}

::ng-deep.cal-month-view .cal-cell-top {
    min-height: 78px;
    flex: 1;
    background: #282b33;
    color: white;
    border-bottom: 0px solid #282b33 !important;
    border-top: 0px solid #282b33 !important;
    border-left: 0px solid #282b33 !important;
    border-right: 0px solid #282b33 !important;
}

::ng-deep.cal-month-view .cal-day-number {
    font-size: 1.2em;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    margin-bottom: 10px;
    /* color: white; */
    color: #ffffff !important;
}

::ng-deep.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.5;
    cursor: default;
    color: white !important;
}

::ng-deep.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none !important;
}

::ng-deep.input[type=time]::-webkit-clear-button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    appearance: none !important;
    margin: -10px !important;
}

::ng-deep.cal-week-view .cal-time {
    font-weight: bold;
    padding-top: 5px;
    width: 70px;
    text-align: center;
    background: #282b33;
}

::ng-deep.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment,
.cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border-bottom-color: #e1e1e1;
    background: #282b33;
}

::ng-deep.cal-week-view mwl-calendar-week-view-hour-segment,
.cal-week-view .cal-hour-segment {
    display: block;
    border-bottom-color: #e1e1e1;
    background: #282b33;
}

::ng-deep.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
    border-right-color: #e1e1e1;
    background-color: #282b33ed;
}

::ng-deep.cal-month-view .cal-days {
    border-color: grey;
}

::ng-deep.cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border-bottom-color: #e1e1e1;
    background: #282b33;
}

::ng-deep.cal-week-view {
    background-color: #fff;
    border-top: solid 1px grey;
}

::ng-deep.cal-week-view .cal-day-headers {
    border-color: grey;
    border-top: 0;
    background: #282b33;
    color: white;
}

::ng-deep.cal-week-view .cal-time-events {
    border-color: grey;
}

::ng-deep.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 2em;
    color: #09f171 !important;
}
::ng-deep.cal-week-view .cal-header.cal-today {
    color: green;
}
::ng-deep.cal-week-view .cal-header.cal-weekend span {
    /* color: #8b0000; */
    color: #ed5656f7;
}