.abc {
    margin-right: -13px;
    margin-left: 9px;
    padding-right: 17px;
    overflow: hidden;
    overflow-x: hidden;
}

.statistic-block {
    margin-right: 6px;
}

.blue-color {
    text-decoration: underline;
}

.xyza {
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    background: #26292d;
}

.wrapper {
    width: 100%;
}

// .x-spacing{
//   padding-right: 17px;
// }
::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
    box-sizing: content-box;
    content: "";
    color: #337ab7;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid #337ab7;
    text-align: center;
    transition: .4s;
    display: none;
}

::ng-deep.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background: #0000002e !important;
    width: 104px !important;
    height: 37px !important;
    /* border-radius: 4px; */
    border-radius: 0px !important;
}

::ng-deep.dropdown-list {
    position: absolute;
    padding-top: 6px;
    width: 100%;
    z-index: 9999;
    border: 1px solid #ccc;
    // border-radius: 3px;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 1px 5px #959595;
    width: 105px !important;
    bottom: 104% !important;
}

::ng-deep.dropdown-list li {
    padding: 6px 10px;
    cursor: pointer;
    position: relative !important;
    right: 12px !important;
}

::ng-deep.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
    display: block;
    box-sizing: border-box;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
    position: relative !important;
    left: 20px !important;
    top: -28px !important;
    display: none !important;
}

::ng-deep.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    /* border: 1px solid #337ab7; */
    margin-right: 4px;
    /* background: #337ab7; */
    padding: 0 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
    max-width: 100px;
    background: none !important;
    border: none !important;
}

::ng-deep.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item a {
    text-decoration: none !important;
    display: none !important;
}

::ng-deep.multiselect-dropdown.dropdown-btn.dropdown-multiselect__caret:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #999 transparent;
    content: "";
    position: relative !important;
    left: 20px !important;
    top: -28px !important;
    display: none !important;
}

.modal-title {
    font-size: 1.25rem !important;
}