<esp-content [title]="'Team details'">


    <div class="container-fluid">
        <div class="abc">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h5 no-margin-bottom">Sports Category Title</h2>
                    <br>
                </div>
            </div>


            <div class="statistic-block block">
                <!-- <a class="team_edit_icon"  ><img src="./img/icons/edit_athlete.svg"></a> -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="label_value_Div">
                            <span>Team Name</span>
                            <p>{{byID?.teamName}}</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="label_value_Div">
                            <span>Team Coacher </span>
                            <div *ngIf="!byID?.coachId; else showBlock">
                                <p>Yet to be assigned</p>
                            </div>
                            <ng-template #showBlock>
                                <p>{{byID?.coachName}}</p>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="label_value_Div">
                            <span>Team Created </span>
                            <p>{{byID?.createdDate | date: 'dd/MM/yyyy'}}</p>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="label_value_Div">
                            <span>Training Start Date </span>
                            <p>N/A</p>
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="label_value_Div">
                            <span>Training End Date </span>
                            <p>N/A</p>
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="label_value_Div">
                            <span>Training Status </span>
                            <p>Yet to start <a class="blue-color">Schedule</a></p>
                        </div>
                    </div>

                </div>
            </div>


            <!-- top end -->

            <!-- middle start -->


            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="material-icons">settings_accessibility</i></div>
                                <strong>Total Athletes</strong>
                            </div>
                            <div class="number color-white">{{statusAthlete?.totalAthlete}}</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" [ngStyle]="{'width' : statusAthlete?.totalAthlete + '%'}" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="material-icons">task_alt</i></div><strong>Active
                                  Athletes</strong>
                            </div>
                            <div class="number color-white">{{statusAthlete?.active}}</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" [ngStyle]="{'width' : statusAthlete?.active + '%'}" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="material-icons">personal_injury</i></div>
                                <strong>Injured</strong>
                            </div>
                            <div class="number color-white">{{statusAthlete?.injured}}</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" [ngStyle]="{'width' : statusAthlete?.injured + '%'}" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="material-icons"> running_with_errors</i></div>
                                <strong>Pending Invites</strong>
                            </div>
                            <div class="number color-white">{{statusAthlete?.invited}}</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" [ngStyle]="{'width' : statusAthlete?.invited + '%'}" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- middle end -->








        <div class="container-fluid">

            <div class="row">
                <div class="col-6">
                    <div class="title"> <strong class="d-block">Athletes</strong> <br></div>
                </div>
                <div class="col-6">
                    <!-- <a class="add-link" data-bs-toggle="modal" data-bs-target="#myModal" href="">Invite New Athlete <i
                          class="material-icons">add_circle_outline</i></a> -->
                </div>

            </div>

            <ng-container *ngIf='statusAthlete?.totalAthlete==0; else statusActive;'>

                <div class="public-user-block block">
                    <div class="empty_mess_div text-center">
                        <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                        <p>Currently there is no atheletes in this team. <br>Invite a new athlete </p>
                        <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Invite New
                          Athlete</button> -->
                    </div>
                </div>

            </ng-container>

            <ng-template #statusActive>
                <div class="public-user-block block" *ngFor="let athId of atheletById;let i = index">
                    <div *ngIf="athId.status == 'Active'">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-3 d-flex align-items-center">
                                <div class="order">{{i+1}}</div>
                                <div class="avatar"> <img src="assets/avatar-none.png" class="img-fluid"></div><a class="name"><strong class="d-block">{{athId.athleteName}}</strong><span class="d-block">Body Mass : N/A</span></a>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div class="contributions">Grade: N/A </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="details d-flex">

                                    <div class="item">
                                        <span>Current Injury</span><br>
                                        <strong>N/A</strong>

                                    </div>

                                    <div class="item">
                                        <span>Training Days</span><br>
                                        <strong>N/A</strong>
                                    </div>

                                    <div class="item">
                                        <span>Missed Days</span><br>
                                        <strong>N/A</strong>
                                    </div>

                                    <div class="item">

                                        <span class="active_tag">Active</span>
                                    </div>


                                    <div class="item text-right">
                                        <a><img class="icon_link" src="./assets/img/icons/download.svg"></a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><img routerLink="/coach/athlete-data" class="icon_link" src="./assets/img/icons/go_arrow.svg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="athId.status != 'Active'">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="order">{{i+1}}</div>
                                <div class="avatar"> <img src="assets/avatar-none.png" alt="..." class="img-fluid"></div><a class="name"><strong class="d-block">{{athId.athleteName}}</strong><span
                                      class="d-block">{{athId.email}} | {{athId.mobileNo}}</span></a>
                            </div>

                            <div align="right" class="col-lg-6">
                                <div class="">
                                    <div class="xyza border-blue"> Onboarding Inprogress </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>



            <!-- <ng-template #laterShowAthlete>
              <div class="public-user-block block " *ngFor="let athId of atheletById;let i = index">
                  <div class="row  align-items-center">
                      <div class="col-md-3 d-flex align-items-center">
                          <div class="order">{{i+1}}</div>
                          <div class="avatar"><img src="assets/img/avatar-1.jpg " alt="..." class="img-fluid"></div><a
                                class="name"><strong class="d-block">{{athId.athleteName}}</strong></a>
                      </div>

                      <div class="col-md-4">
                          <div class="details ">

                              <div class="item">
                                  <span>Email</span><br>
                                  <strong>{{athId.email}}</strong>

                              </div>

                          </div>

                      </div>
                      <div class="col-md-3">
                          <div class="details ">

                              <div class="item">
                                  <span>Mobile No</span><br>
                                  <strong>{{athId.mobile}}</strong>
                              </div>

                          </div>

                      </div>

                      <div class="col-md-1">
                          <a data-bs-toggle="modal" data-bs-target="#myDownload5"><img class="icon_link"
                                  src="./assets/img/icons/download.svg"></a>
                      </div>
                      <div class="col-md-1">
                          <a routerLink="/home/athelete-details"><img class="icon_link"
                                  src="./assets/img/icons/go_arrow.svg"></a>
                      </div>

                  </div>
              </div>
          </ng-template> -->

            <ng-template #showAthlete>
                <div class="public-user-block block" *ngFor="let athId of atheletById;let i = index">

                </div>
            </ng-template>

            <!-- Modal- Create- coach-->
            <div id="coach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Assign New Coach</strong>
                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>


                        <div class="modal-body">



                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" (click)="myFun()" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1">Assign Existing Coach</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" (click)="secondFun()" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Invite a New Coach</label>
                            </div>

                            <br> <br>

                            <!-- <div id="firstRadioBox" [style.display]=" firstBlock? 'block': 'none'">
                                <div class="row">
                                    <form [formGroup]='myCreateTeamForms' (ngSubmit)='addCoach()'>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label>Select Coaches</label>
                                                <select class="form-control mb-1 mb-1" formControlName="coachId" name="coachId">
                      <option value="" disabled selected>-- Select Coach --</option>
                      <option *ngFor="let coachDetails of filteredCoach" value="{{coachDetails.id}}">{{coachDetails.coacheName}}
                      </option>
                    </select>

                                            </div>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Assign Coach</button>
                                            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->


                            <div id="secondRadioBox" [style.display]=" secondBlock? 'block': 'none'">
                                <p>Login Credentials will be send to coach email ID and mobile number</p>
                                <form [formGroup]='myReactiveForms' (ngSubmit)='addDetails(byID.sportCategory)'>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label>Coach Name</label>
                                                <input type="text" formControlName="coacheName" (keypress)="keyPressAlphaNumeric($event)" ngModel placeholder="Enter Coach Name" class="form-control" [ngClass]="{ 'is-invalid': f?.coacheName?.touched && f?.coacheName?.errors && f?.coacheName?.invalid }">
                                                <div *ngIf="f?.coacheName?.invalid && f?.coacheName?.errors && f?.coacheName?.touched" class="invalid-feedback space-y">
                                                    <div *ngIf="f?.coacheName?.errors?.required">Coach Name is required</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" ngModel formControlName="email" placeholder="Enter Email Address" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors && f.email.invalid }">
                                                <div *ngIf="f.email.invalid && f.email.errors && f.email.touched" class="invalid-feedback">
                                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                                    <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">

                                                <label>Mobile Number</label>
                                                <div class="d-flex">
                                                    <div class="left-box col-3">
                                                        <!-- <select name="mobileNumber" formControlName="mobileNumber" class="form-control mb-1 mb-1" [ngClass]="{ 'is-invalid': f.mobileNumber.touched && f.mobileNumber.errors && f.mobileNumber.invalid }">
                          <option value='' disabled selected>+</option>
                          <option value="{{sports?.dial_code}}" *ngFor="let sports of counrtyList">{{sports?.dial_code}}</option>
                        </select> -->
                                                        <ng-multiselect-dropdown formControlName="mobileNumber" [settings]="dropdownSettings" [data]="countriesEnglish" [(ngModel)]="selectedItems " (onSelect)="onItemSelect($event)" class="singleselect" [ngClass]="{ 'is-invalid': f.mobileNumber.touched && f.mobileNumber.errors && f.mobileNumber.invalid }">
                                                        </ng-multiselect-dropdown>

                                                        <div *ngIf="f?.mobileNumber?.invalid && f?.mobileNumber?.errors && f?.mobileNumber?.touched" class="invalid-feedback space-y">
                                                            <div *ngIf="f?.mobileNumber?.errors?.required">Country Code required</div>
                                                        </div>
                                                    </div>

                                                    <div class="right-box col-9">
                                                        <input type="text" name="mobile" (keypress)="keyPressAlphaNumerics($event)" formControlName="mobile" placeholder="Enter Mobile Number" class="form-control" [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors && f.mobile.invalid }">
                                                        <div *ngIf="f?.mobile?.invalid && f?.mobile?.errors && f?.mobile?.touched" class="invalid-feedback space-y">
                                                            <div *ngIf="f?.mobile?.errors?.required">Mobile number is required</div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal-footer">

                                        <button type="submit" [disabled]="!myReactiveForms.valid" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Add Coach</button>
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                                    </div>



                                </form>
                                <!-- <div class="modal-footer">
              <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
              <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Invite Coach</button>
            </div> -->


                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>









        <!-- bottom section end -->



        <!-- Modal-->
        <!-- <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Invite New Athlete</strong>
                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                    </div>



                    <div class="modal-body">
                        <p>Enter details below for invite an athlete under selected team</p>
                        <form [formGroup]='inviteAtheleteForm' (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>Athlete Name</label>
                                <input (keypress)="keyPressAlphaNumeric($event)" type="text" name='athleteName' formControlName="athleteName" placeholder="Enter Athlete Name" class="form-control" [ngClass]="{ 'is-invalid': fa.athleteName.touched && fa.athleteName.errors && fa.athleteName.invalid }">
                                <div *ngIf="fa.athleteName.invalid && fa.athleteName.errors && fa.athleteName.touched" class="invalid-feedback space-y">
                                    <div *ngIf="fa.athleteName.errors.required">Athlete Name is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" formControlName="email" placeholder="Enter Email Address" class="form-control" [ngClass]="{ 'is-invalid': fa.email.touched && fa.email.errors && fa.email.invalid }">
                                <div *ngIf="fa.email.invalid && fa.email.errors && fa.email.touched" class="invalid-feedback space-y">
                                    <div *ngIf="fa.email.errors.required">Email is required</div>
                                    <div *ngIf="fa.email.errors.pattern">Email must be a valid email address</div>

                                </div>


                            </div>


                            <div class="form-group">

                                <label>Mobile Number</label>
                                <div class="d-flex">
                                    <div class="left-box col-3">

                                        <ng-multiselect-dropdown formControlName="mobileNumber" [settings]="dropdownSettings" [data]="countriesEnglish" [(ngModel)]="selectedItems " (onSelect)="onItemSelect($event)" class="singleselect" [ngClass]="{ 'is-invalid': f.mobileNumber.touched && f.mobileNumber.errors && f.mobileNumber.invalid }">
                                        </ng-multiselect-dropdown>

                                        <div *ngIf="fa.mobileNumber.invalid && fa.mobileNumber.errors && fa.mobileNumber.touched" class="invalid-feedback space-y">
                                            <div *ngIf="fa.mobileNumber.errors.required">Country code is required</div>
                                        </div>
                                    </div>

                                    <div class="right-box col-9">
                                        <input type="text" name="mobileNo" (keypress)="keyPressAlphaNumerics($event)" formControlName="mobileNo" placeholder="Enter Mobile Number" class="form-control" [ngClass]="{ 'is-invalid': fa.mobileNo.touched && fa.mobileNo.errors && fa.mobileNo.invalid }">
                                        <div *ngIf="fa.mobileNo.invalid && fa.mobileNo.errors && fa.mobileNo.touched" class="invalid-feedback space-y">
                                            <div *ngIf="fa.mobileNo.errors.required">Mobile Number is required</div>
                                        </div>


                                    </div>
                                </div>
                            </div>








                            <div class="modal-footer">

                                <button type="submit" data-bs-dismiss="modal" [disabled]="!inviteAtheleteForm.valid" class="btn btn-primary toast-btn">Invite Athlete</button>
                                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button> </div>

                        </form>
                    </div>

                </div>
            </div>
        </div> -->









    </div>



</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
    <esp-loading></esp-loading>
</ng-template>



<!-- Modal-->
<div id="inviteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                      aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>New organization has been created successfully. <br> Onboarding link sent to organization email ID
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->





<!-- Modal-Error-->
<div id="modelError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Error!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Something went wrong.</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal-->

<!-- Modal- coach-Warning-Start-->
<div id="modelWarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Coach Already Exsits.</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal coach-Warning--end-->



<!-- Modal-- Athlete created - success - start-->
<div id="createdSuccessAthlete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
      width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Athlete invited successfully.</p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-- Athlete created - success - end-->

<!-- Modal- Athlete-Warning-Start-->
<div id="modelWarningAthlete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Athlete Already Exsits.</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal Athlete-Warning--end-->


<esp-modal-success [props]=modelDetails[0]></esp-modal-success>