.line-space {
    line-height: 23px;
    margin-bottom: 10px !important;
}

.label {
    display: block;
}

.btn-primary {
    margin-top: 16px;
}

.login-page .form-holder .form .form-group {
    margin-bottom: 16px;
}

.form-group {
    height: 87px;
}

.height-light {
    color: white;
    display: inline-block;
    margin-left: 10px;
}

.input-btn {
    border-right: none;
    border-radius: 5px 0px 0px 5px !important;
}

.eye-btn {
    border-left: none;
    background-color: transparent;
    width: 100%;
    padding: 14px !important;
    border-radius: 0px 5px 5px 0px !important;
}

::placeholder {
    color: #6f7175;
}

.space-y {
    font-size: 12px !important;
}

.loginPageWrapperIn .loginrightForm .contentForm {
    max-width: 1330px !important;
    width: 100% !important;
    margin-top: 27px !important;
}

.correct {
    color: green !important;
}

.correct:before {
    color: green !important;
    position: relative;
    left: -35px;
    content: "✔";
    width: 600 !important;
    padding-left: 30px;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrong {
    color: #dc3545 !important;
}

.wrong:before {
    position: relative;
    color: #dc3545 !important;
    left: -35px;
    content: "✖";
    width: 600 !important;
    padding-left: 30px;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    position: absolute;
    z-index: 4;
    margin-top: 50px;
}

p {
    margin: 3px !important;
}

.modal-title {
    font-size: 1.25rem !important;
}
