<div class="mainWrap">
    <div class="loginPageWrapperIn">
        <div class="bgLeftWrap">
            <div class="bgLeftContent">
                <div class="sitelogo">
                    <h3><strong>ATHLETE</strong> MANAGEMENT
                        <BR>& HEALTH PERFORMANCE MONITORING SYSTEMS</h3>
                    <p>We improve the performance of athletes and team</p>
                </div>
            </div>
        </div>
        <div class="loginrightForm">
            <div class="contentForm">
                <div class="contentFormIn">
                    <a href=""><img class="login-img" src="assets/img/evvo_m_logo.svg"></a>
                    <h4>Welcome to Evvo Sports <br><br> <span style="font-size:16px !important">Create your password & proceed to login</span> </h4>
                    <form [formGroup]="registerForm" class="form-validate mb-4" #loginSubmitForm='ngForm' (ngSubmit)='onSubmit()'>
                        <ng-container class="email-text" *ngIf="decryptedUrl">
                            <label>Email <span>:</span></label>
                            <h5 class="height-light">{{decryptedUrl}}</h5>
                        </ng-container>
                        <div class="form-group">
                            <label for="">ESP Entry Code</label>
                            <div class="input-group">
                                <input type="text" (keypress)="keysPressAlphaNumeric($event)" placeholder="Enter  ESP entry code" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': f.code.touched && f.code.errors && f.code.invalid }" />
                                <div *ngIf="f.code.invalid && f.code.errors && f.code.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.code.errors.required">Esp Entry Code is required</div>
                                    <div *ngIf="f.code.errors.maxlength">Enter maximum of 6 numbers</div>
                                    <div *ngIf="f.code.errors.minlength">Enter minimum of 6 numbers</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="height: 75px !important;">
                            <label for="">New Password</label>
                            <div class="input-group">
                                <div class="description" *ngIf="isDisplay">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Password must contain<br> the following:</h5>
                                            <p id="letter" class="wrong" *ngIf="!lowerCase">A lowercase letter</p>
                                            <p id="letter" class="correct" *ngIf="lowerCase">A lowercase letter</p>
                                            <p id="capital" class="correct" *ngIf="upperCase">A uppercase letter</p>
                                            <p id="capital" class="wrong" *ngIf="!upperCase">A uppercase letter</p>
                                            <p id="number" class="correct" *ngIf="eightCharLength">Minimum 8 characters in length</p>
                                            <p id="number" class="wrong" *ngIf="!eightCharLength">Minimum 8 characters in length</p>
                                            <p id="number" class="wrong" *ngIf="!numberCase">A number</p>
                                            <p id="number" class="correct" *ngIf="numberCase">A number</p>
                                            <p id="number" class="correct" *ngIf="specialCase">A special character</p>
                                            <p id="number" class="wrong" *ngIf="!specialCase">A special character</p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <input type="password" (mouseenter)="showBox('true')" (mouseleave)="hideBox('false')" placeholder="Enter New Password" (keyup)='validatePassword($event)' formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors && f.password.invalid }"
                                />
                                <div *ngIf="f.password.invalid && f.password.errors && f.password.touched" class="invalid-feedback space-y">
                                    <div>
                                        {{f.password.errors.required?'Password is required':' '}}</div>
                                    <div *ngIf="f.password.errors.pattern || f.password.errors.minlength"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <div class="row">
                                <div class="input-group">
                                    <input [type]="show_button ? 'email' : 'password'" placeholder="Enter Confirm Password" formControlName="confirmPassword" class="form-control input-btn" [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors && f.confirmPassword.invalid }"
                                    />
                                    <div class="input-group-prepen"><i class="form-control eye-btn" [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors && f.confirmPassword.invalid }" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"></i>
                                    </div>
                                    <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                                        <div *ngIf="f.confirmPassword.errors.confirmedValidator || f.confirmPassword.errors.minlength">
                                            New password and confirm password doesn't match.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group submitBtn">
                            <button class="btn btn-primary" [disabled]="!registerForm.valid" type="submit">Create
                                Password</button><br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="errorLoginAdmin12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p> Email or password incorrect.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Try Again</button>
            </div>
        </div>
    </div>
</div>
<div id="result12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                width: 55px;     position: relative;
    right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Password created successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" routerLink="/login" class="btn btn-primary toast-btn">Proceed to login</button>
            </div>
        </div>
    </div>
</div>
<div id="alreadyExist12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Password already exist.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" routerLink="/login" class="btn btn-primary toast-btn">Proceed To Login</button>
            </div>
        </div>
    </div>
</div>
<div id="modelError12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Error!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Something went wrong.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
