<esp-content [title]="'Team details'">
    <div class="container-fluid">
        <!-- <esp-page-info-bar [props]="teamBasicDetails"></esp-page-info-bar> -->

        <div class="statistic-block block">
            <a class="team_edit_icon"><img src="assets/img/icons/edit_athlete.svg" /></a>
            <div class="row">
                <div class="col-lg-2" *ngFor="let prop of teamBasicDetails">
                    <div class="label_value_Div">
                        <span>{{ prop.name }}</span>
                        <p>{{ prop.value }}</p>
                    </div>
                </div>
            </div>
        </div>





        <div class="row">
            <div class="col-md-3 col-sm-6">
                <esp-statistic-block [props]="statistics[0]"></esp-statistic-block>
            </div>
            <div class="col-md-3 col-sm-6">
                <esp-statistic-block [props]="statistics[1]"></esp-statistic-block>
            </div>
            <div class="col-md-3 col-sm-6">
                <esp-statistic-block [props]="statistics[2]"></esp-statistic-block>
            </div>

            <div class="col-md-3 col-sm-6">
                <esp-statistic-block [props]="statistics[3]"></esp-statistic-block>
            </div>
        </div>
        <div class="row  ">
            <div class="col-lg-6">
                <div class="chart block">
                    <div [chart]="columnchart">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="chart block">
                    <esp-area-chart [chart]="areachart">
                    </esp-area-chart>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <div class="title">
                    <strong class="d-block">Athletes</strong> <br />
                </div>
            </div>
            <div class="col-6">
                <a class="add-link" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Invite New Athlete
          <i class="material-icons">add_circle_outline</i></a
        >
      </div>
    </div>
    <div>
      <esp-athelete-block [details] = "userdetails[0]"></esp-athelete-block>
      <esp-athelete-block [details] = "userdetails[1]"></esp-athelete-block>
      <esp-athelete-block [details] = "userdetails[2]"></esp-athelete-block>


    </div>
  </div>



  <!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Invite New Athlete</strong>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>



      <div class="modal-body">
        <p>Enter details below for <br>invite a athlete under selected team</p>
        <form #inviteData="ngForm" (ngSubmit)="onSubmit(inviteData.value)">
          <div class="form-group">
            <label>Athlete Name</label>
            <input type="email"name='athleteName' placeholder="Enter Athlete Name" [(ngModel)]='add.athleteName' class="form-control">
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter Email Address" [(ngModel)]='add.email' class="form-control">
          </div>
          <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" name="mobileNo" placeholder="Enter Mobile Number" [(ngModel)]='add.mobileNo' class="form-control">
          </div>



          <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Invite Athlete</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>


</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
  <esp-loading></esp-loading>
</ng-template>