<!-- Role Start Here -->

<div class="public-user-block block" *ngFor="let card of getRoles">
    <div class="row d-flex align-items-center">
        <div class="col-lg-6 d-flex align-items-center">

            <div class="avatar"> <img src="./assets/img/icons/admin-user.svg" alt="..." class="img-fluid"></div><a class="name"><strong class="d-block">{{card.roleName}}</strong><span class="d-block">{{card.description}}</span></a>
        </div>
        <div class="col-lg-4 text-center d-flex">
            <div class="item">
                <span>Total Modules</span><br>
                <strong>{{props.totalModules}}</strong>

            </div>

            <div class="item">
                <span>Active Modules</span><br>
                <strong>{{props.activeModules}}</strong>

            </div>
        </div>



        <div class="col-lg-2 d-flex">
            <button class="btn pad-0 float-right Setting-spacing" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+'collapseExample'+props.themeId" aria-expanded="false" aria-controls="collapseExample">
                    <!-- 1st use this to bind the interface data [attr.data-bs-target]="'#'+'collapseExample'+props.themeId" -->
                     <img src="./assets/img/icons/edit_settings.svg">
                    </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="collapse" [id]="'collapseExample'+props.themeId">
                <!-- 2nd use this  -->
                <br>
                <div class="card card-body m-0 brdr-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Dashboard</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Manage Team</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Coaches</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Athlete Data</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Training</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Planing</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Assessments</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Attendance</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Reports</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Setting</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="switchh-div">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>Help & Support</p>
                                    </div>
                                    <div class="col-md-5 switch-flex">
                                        <label class="switch switch-spacing float-right">
                                    <input type="checkbox" class="switch-input" (click)="onButtonClick()" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button [disabled]="click" class="btn btn-primary float-right" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+'collapseExample'+props.themeId" aria-expanded="false" aria-controls="collapseExample">
                              Save Settings
                            </button>
                            <!-- https://www.netjstech.com/2020/04/angular-disable-button-example.html#DisableButtonAfterClick  -- refer this link for click enable button -->
                            <!--1st add this code in save button ---[disabled]="click" -->
                            <!-- 2nd add this code in every input/btn tag ---(click)="onButtonClick()" -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Role Ends Here -->