<div class="mainWrap">
    <div class="loginPageWrapperIn">
        <div class="bgLeftWrap">
            <div class="bgLeftContent">
                <div class="sitelogo">
                    <a href=""><img src="assets/img/evvo_m_logo.svg" alt="" /></a>
                </div>
                <h3><strong>Welcome onboarding,</strong> We are glad to see you again!</h3>

            </div>
        </div>
        <div class="loginrightForm">
            <div class="contentForm">
                <div class="contentFormIn FormBlock">
                    <h2>Coach Onboarding</h2>
                    <form class="form-validate mb-4" [formGroup]="coachForm">
                        <div class="row grid16">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" maxlength="50" formControlName="coacheName" name="coacheName" placeholder="Enter Name" (keypress)="keyPressAlphaNumeric($event)" class="form-control" [ngClass]="{ 'is-invalid': f.coacheName.touched && f.coacheName.errors && f.coacheName.invalid }">
                                    <div *ngIf="f.coacheName.invalid && f.coacheName.errors && f.coacheName.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.coacheName.errors.required">Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="Email" disabled formControlName="email" name="email" placeholder="Enter Email Address" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" formControlName="mobile" name="mobile" placeholder="Enter Phone Number" (keypress)="keyPressAlphaNumerics($event)" class="form-control" [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors && f.mobile.invalid }">
                            <div *ngIf="f.mobile.invalid && f.mobile.errors && f.mobile.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.mobile.errors.required">Phone Number is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" maxlength="500" formControlName="address" name="address" placeholder="Enter Address" class="form-control" [ngClass]="{ 'is-invalid': f.address.touched && f.address.errors && f.address.invalid }">
                            <div *ngIf="f.address.invalid && f.address.errors && f.address.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>DOB</label>
                            <input type="text" formControlName="dob" name="dob" placeholder="Enter Date of Birth DD/MM/YYYY" (keypress)="keyPressAlphaNumericS($event)" class="form-control" [ngClass]="{ 'is-invalid': f.dob.touched && f.dob.errors && f.dob.invalid }">
                            <div *ngIf="f.dob.invalid && f.dob.errors && f.dob.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.dob.errors.required">Date Of Birth is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="imgUploader">
                                <div class="img">

                                    <!-- <img [src]="url" type="button" title="click To Upload File">
                                    <input type="file" accept="image/*" (change)="onSelectFile($event.target.files)" #file placeholder="Choose  
                                        file" style="display: none" /> -->
                                    <input type='file' id="imgInp" (change)="onSelectFile($event.target.files)" />
                                    <img [src]="url" />
                                </div>
                                <div class="content">
                                    <h6>Upload Profile photo</h6>
                                    <p>Square Jpg or PNG no larger than 10MB</p>
                                </div>
                            </div>
                        </div>
                        <!-- <button type="button" class="btn btn-primary upload" style="background-color: #f79b3e" (click)="file.click()" title="click To Upload File">
                       
                      </button>
                        <input type="file" #file placeholder="Choose
                                        file" (change)="onSelectFile(file.files)" style="display: none" /> -->
                        <div class="form-group">
                            <label>Gender</label>
                            <div class="inputInlineWrap">
                                <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="genderMale" type="radio" formControlName="gender" name="gender" value="male">
                                        <label for="genderMale">Male</label>
                                    </div>
                                </div>
                                <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="genderfeMale" formControlName="gender" type="radio" name="gender" value="female">
                                        <label for="genderfeMale">Female</label>
                                    </div>
                                </div>
                                <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="other" type="radio" formControlName="gender" name="gender" value="Other">
                                        <label for="other">Other</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Biography</label>
                            <textarea class="form-control" maxlength="600" formControlName="biography" name="biography" placeholder="Enter Biography" [ngClass]="{ 'is-invalid': f.biography.touched && f.biography.errors && f.biography.invalid }"></textarea>
                            <div *ngIf="f.biography.invalid && f.biography.errors && f.biography.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.biography.errors.required">Biography is required</div>
                            </div>
                        </div>
                        <div class="form-group submitBtn">
                            <button type="button" [disabled]="!coachForm.valid" data-dismiss="modal" class="btn btn-primary toast-btn" (click)="submitCoach()">Add Coach</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>