<ngx-spinner> </ngx-spinner>

<esp-content [title]="'Create New Role'">
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="statistic-block block">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="sports_Categ_title_1">{{ selected_title }}</h2>
                        <p class="descrip_text">
                            Lorem ipsum is placeholder text commonly used in the graphic
                        </p>
                    </div>
                </div>

                <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Role Title</label>
                                <input type="text" formControlName="title" placeholder="Enter role title" name="roleName" [(ngModel)]="roleName" maxlength="50" class="form-control" [ngClass]="{
                    'is-invalid':
                      f.title.touched && f.title.errors && f.title.invalid
                  }" />

                                <div *ngIf="f.title.invalid && f.title.errors && f.title.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.title.errors.required">
                                        Role Title is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Role Description</label>
                                <input type="text" formControlName="description" [(ngModel)]="description" name="description" placeholder="Enter role description" maxlength="250" class="form-control" [ngClass]="{
                    'is-invalid':
                      f.description.touched &&
                      f.description.errors &&
                      f.description.invalid
                  }" />

                                <div *ngIf="
                    f.description.invalid &&
                    f.description.errors &&
                    f.description.touched
                  " class="invalid-feedback space-y">
                                    <div *ngIf="f.description.errors.required">
                                        Role Description is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card d-flex justify-content-between card-body m-0 brdr-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="h5 no-margin-bottom">Module Access</h2>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let p of parent; let i = index">
                                        <div class="switchh-div">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <p>{{ p.parentNodeName }}</p>
                                                </div>
                                                <div class="col-md-5 switch-flex">
                                                    <label class="switch switch-spacing float-right">
                            <input
                              type="checkbox"
                              class="switch-input"
                              (change)="onToggleClick(i, p.parentNodeName)"
                              [checked]="checkedArray[i]"
                            />
                            <span
                              class="switch-label"
                              data-on="On"
                              data-off="Off"
                            ></span>
                            <span class="switch-handle"></span>
                          </label>
                                                </div>
                                            </div>

                                            <div class="row" style="
                          padding: 0 14px !important;
                          padding-top: 3px !important;
                        ">
                                                <div class="col-md-12">
                                                    <div class="check-bx-div">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" [disabled]="disabledCreateCheckedArrays[i]" [checked]="createCheckedArray[i]" (change)="checkboxClick('create', i)" />
                                                            <label class="form-check-label" for="inlineCheckbox1">Create</label
                              >
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox1"
                                value="option1"
                                [disabled]="disabledViewCheckedArrays[i]"
                                [checked]="viewCheckedArray[i]"
                                (change)="checkboxClick('view', i)"
                              />
                              <label
                                class="form-check-label"
                                for="inlineCheckbox1"
                                >View</label
                              >
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox2"
                                value="option2"
                                [disabled]="disabledEditCheckedArrays[i]"
                                [checked]="editCheckedArray[i]"
                                (change)="checkboxClick('edit', i)"
                              />
                              <label
                                class="form-check-label"
                                for="inlineCheckbox2"
                                >Edit</label
                              >
                            </div>
                            <div class="form-check form-check-inline"  >
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox3"
                                value="option3"
                                [disabled]="disabledDeleteCheckedArrays[i]"
                                [checked]="deleteCheckedArray[i]"
                                (change)="checkboxClick('delete', i)"
                                
                              />
                              <label
                                class="form-check-label"
                                for="inlineCheckbox3"
                                >Delete
                              </label>
                                                        </div>
                                                        <!-- <div class="form-check form-check-inline" *ngIf="p.parentNodeName=='Coaches'||p.parentNodeName=='Athlete Data'||p.parentNodeName=='Trainings'||p.parentNodeName=='Manage Practitioner'||p.parentNodeName=='Assessments'||p.parentNodeName=='Attendance'||p.parentNodeName=='Messages' ">
                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" [disabled]="disabledDeleteCheckedArrays[i]" [checked]="deleteCheckedArray[i]" (change)="checkboxClick('delete', i)" />
                                                            <label class="form-check-label" for="inlineCheckbox3">Delete
                                                            </label>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex mt-2">
                            <br />
                            <button type="submit" class="btn btn-primary float-right" [disabled]="!myForm.valid">
                Create New Role
              </button>
                        </div>
                    </div>
                    <br />
                </form>

                <!-- Modal-->
                <!-- <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                            </div>

                            <div class="modal-body">
                                <p>New role has been created successfully. <br> Onboarding link sent to organization email ID</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- Modal-->
            </div>
        </div>
    </section>

    <div id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><span class="dashbg_txt_4" *ngIf="success"
              ><img
                src="./assets/img/tick.svg"
                alt=""
                style="
                  height: 45px;
                  width: 55px;
                  position: relative;
                  right: 12px;
                "
              />Success Message!</span
            >
            <span style="color: #ff4433" *ngIf="exist">Warning!</span>
          </strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
                </div>

                <div class="modal-body">
                    <p *ngIf="success">Roles created successfully.</p>
                    <p *ngIf="exist">Roles already exist.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" routerLink="/esp-super-admin/manage-roles" class="btn btn-primary toast-btn" *ngIf="success">
            Okay
          </button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" *ngIf="exist">
            Okay
          </button>
                </div>
            </div>
        </div>
    </div>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
    <esp-loading></esp-loading>
</ng-template>