/* .col-md-12{
    display: flex;
} */

.btn {
    margin-left: auto;
    margin-top: 20px;
}

.check {
    background-color: green !important;
}

p {
    margin-bottom: 0.3rem;
}

.mb {
    margin-bottom: 20px;
}


/* edit ,view and delete css starts here */

.switchh-div {
    width: 100 !important;
}

label {
    display: inline-block;
}

.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0.6rem;
}

.form-check-input[type=checkbox] {
    border-radius: 0em;
    width: 0.75em;
    height: 0.75em;
}

.form-check-inline .form-check-input {
    position: static;
    margin-right: .3125rem;
    margin-top: 0;
    margin-left: 0px;
}

form label {
    font-size: .9rem;
    color: #8a8d93;
}

label.form-check-label {
    margin: 0px;
}


/*
.delete {
    position: relative;
    bottom: 27px;
    left: 77%;
} */

@media screen and(max-width:1375px) {
    .delete {
        position: relative !important;
        bottom: 27px !important;
        left: 77% !important;
        background-color: red !important;
    }
}

.active_tag {
    background-color: red !important;
}


/* edit ,view and delete css ends here */

.modal-title {
    font-size: 1.25rem !important;
}