<esp-content [title]="'DASHBOARD'">
    <div class="container-fluid">


        <h1>Coach Dashboard</h1>

    </div>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
    <esp-loading></esp-loading>
</ng-template>