<ng-container>
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h2 class="h5 no-margin-bottom">{{title}}</h2>
                </div>
                <div class="col-6">

                </div>
            </div>

        </div>
    </div>

    <section class="no-padding-bottom">
        <ng-content></ng-content>
        <!-- <div class="container-fluid">

            <div class="statistic-block block">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="sports_Categ_title_1"> Tennis | 3 Teams</h2>
                    </div>
                    <div class="col-lg-6">
                        <a class="add-link" data-toggle="modal" data-target="#myModal" href="">Create Team <i
                                class="material-icons">add_circle_outline</i></a>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
</ng-container>