<div class="user-block user-block-coach block text-center position-rel">
    <div class="avatar"><img src={{props.avatar}} alt="..." class="img-fluid">
        <div class="order dashbg-2">{{props.order}}</div>
    </div>


    <div class="icon-block edit_delete">
        <a><img src="./assets/img/icons/message.svg"></a>
        <a><img src="./assets/img/icons/edit_athlete.svg"></a>
        <a><img src="./assets/img/icons/delete Athlete.svg"></a>


    </div>

    <a class="user-title">
        <h3 class="h5">{{props.name}} </h3><span>{{props.email}} <br> {{props.phone_number}}</span></a>
</div>



<!-- Modal--for--remove-->
<div id="myRemove-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Remove!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Are you sure to remove this block. <br></p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">NO</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal----for--remove-->