li {
    list-style-type: none !important;
    color: grey !important;
    margin: 5px !important;
}

li button {
    margin: 5px !important;
}

.spacing-block {
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.addButton {
    color: #1AA4E8;
    margin-left: auto;
    cursor: pointer;
}

li {
    list-style-type: none !important;
    color: grey !important;
    margin: 5px !important;
}

li button {
    margin: 5px !important;
}

.ends {
    margin-left: auto;
}

#view_details input {
    color: white;
    pointer-events: none;
}

.input-disable {
    pointer-events: none;
}

.example-chip-list {
    border: 1px solid #616161;
    width: 100%;
    background-color: #14171E;
    padding-bottom: 10px;
}

.example-chip-list input::placeholder {
    color: #585a5f;
}

.mat-standard-chip {
    background-color: white;
    color: black;
}

.cancel {
    color: #ff0000;
}

.example-chip-list-2 {
    height: 38px;
    border: 1px solid #616161;
    width: 100%;
    background-color: #14171E;
    padding-bottom: 10px;
    width: 75%;
}

.input-btn {
    display: flex;
}

.inputCatagory {
    padding: 0px !important;
    margin: 0px !important;
}

.rmBtn {
    margin-left: 4px;
    width: 24%;
}

.rm-color {
    color: #8a8d93;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -34px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
}

.modal-title {
    font-size: 1.25rem !important;
}
