<ngx-spinner></ngx-spinner>
<div class="row">
    <div class="col-md-6">
        <div class="title form-title">
            <strong class="d-block">Prescriptions</strong
        ><span class="d-block"></span>
                </div>
                <br />
            </div>
            <div class="col-md-6" *ngIf="isCreate">
                <a class="add-link" data-bs-toggle="modal" data-bs-target="#prescription"   >New Prescriptions<i class="material-icons"
          >add_circle_outline</i
        ></a
      >
    </div>
  </div>
<ng-container *ngIf='prescription?.length==0; else statusActive;'>
    <div class="public-user-block block">
        <div class="empty_mess_div text-center">
            <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
            <p>Currently there are no prescription added for this athlete <br> </p>
        </div>
    </div>
</ng-container>
<ng-template #statusActive>
    <div class="questionaire-div block m-btm-15" *ngFor="let pres of prescription">
        <div class="row d-flex align-items-center" >
            <div class="col-lg-4 col-md-4 col-sm-5  d-flex align-items-center">
                <a class="name"><strong class="d-block strip-heading">{{pres?.drugName}}</strong><span class="d-block rm-color">1 Tablet | {{pres?.frequency}} | For {{pres?.duration}} Days</span></a>
        </div>
        <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
        <div class="col-lg-6 align-item-center col-md-6 col-sm-5 ">
            <div class="details align-item-top d-flex row">
                <div class="item  col-md-3">
                    <span>From</span>
                    <strong>{{pres?.drugStartDate | date: 'dd/MM/yyyy'}}</strong>
                </div>
                <div class="item col-md-3">
                    <span>To</span>
                    <strong>{{pres?.dosage | date: 'dd/MM/yyyy'}}</strong>
                </div>
                <div class="item col-md-3">
                    <span> Route</span>
                    <strong>{{pres?.routes}}</strong>
                </div>
                <div class="item col-md-3">
                    <span>Total Quantity</span>
                    <strong>{{pres?.unit}} Units</strong>
                </div>
            </div>
        </div>
        <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
        <div class="col-lg-2 col-md-2 col-sm-2 text-right " *ngIf="isView">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="check(pres)">
        Actions
      </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)='editPres(pres)' style="cursor: pointer;" *ngIf="isEdit">Edit Drug</a>
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myDownloadeds" style="cursor: pointer;" (click)="download(pres?.id)">Download Details</a>
                    <div class="border-top w-100 pt--sm mt--sm"></div>
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#opens" (click)='deletePres(pres?.id)' style="cursor: pointer;" *ngIf="isDelete">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div id="myDownloadeds" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4 ">Download!</strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p class="">Click to download. <br></p>
                </div>
                <div class="modal-footer">
                    <li>
                        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="EXCEL()" style="width: 80px !important;">EXCEL</button>
                        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="PDF()" style="width: 80px !important;">PDF</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-template>
<div id="prescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog larger-modal">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Add New Prescription</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <form [formGroup]="myReactiveForms" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Drug  Name</label>
                                <input type="text" formControlName="drugName" placeholder="Enter Drug Name" class="form-control" maxlength="30" [ngClass]="{ 'is-invalid': f.drugName.touched && f.drugName.errors && f.drugName.invalid }">
                                <div *ngIf="f.drugName.invalid && f.drugName.errors && f.drugName.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.drugName.errors.required"> Drug Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Drug Given By</label>
                                <select formControlName="practitioneerid" (change)='passData($event)' name="practitioneerid" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.practitioneerid.touched && f.practitioneerid.errors && f.practitioneerid.invalid }">
                                    <option value="null" >- Select -</option>
                                    <option value="{{namer.id}}" *ngFor="let namer of practitioner" >{{namer.practitionerName}}</option>
                                  </select>
                                <div *ngIf="f.practitioneerid.invalid && f.practitioneerid.errors && f.practitioneerid.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.practitioneerid.errors.required"> Doctor name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Drug Start Date</label>
                                <input formControlName="drugStartDate" type="date" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': f.drugStartDate.touched && f.drugStartDate.errors && f.drugStartDate.invalid }">
                                <div *ngIf="f.drugStartDate.invalid && f.drugStartDate.errors && f.drugStartDate.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.drugStartDate.errors.required"> Drug Start Date is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Duration in Days</label>
                                <input formControlName="duration" maxlength="2" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter Days" class="form-control" [ngClass]="{ 'is-invalid': f.duration.touched && f.duration.errors && f.duration.invalid }">
                                <div *ngIf="f.duration.invalid && f.duration.errors && f.duration.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.duration.errors.required"> Duration is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Dosage</label>
                                <input formControlName="dosage" type="date" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': f.dosage.touched && f.dosage.errors && f.dosage.invalid }">
                                <div *ngIf="f.dosage.invalid && f.dosage.errors && f.dosage.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.dosage.errors.required"> Dosage Date is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Unit</label>
                                <input formControlName="unit" maxlength="2" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter Units" class="form-control" [ngClass]="{ 'is-invalid': f.unit.touched && f.unit.errors && f.unit.invalid }">
                                <div *ngIf="f.unit.invalid && f.unit.errors && f.unit.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.unit.errors.required"> Unit is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Frequency</label>
                                <select formControlName="frequency" class="form-control mb-1 mb-1" [ngClass]="{ 'is-invalid': f.frequency.touched && f.frequency.errors && f.frequency.invalid }">
                          <option value="null" Selected disabled>- Select -</option>
                          <option>Daily Once</option>
                          <option>Daily Twice</option>
                          <option>Two Days Once</option>
                          <option>Value 1</option>
                          <option>Value 2</option>
                        </select>
                                <div *ngIf="f.frequency.invalid && f.frequency.errors && f.frequency.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.frequency.errors.required"> Frequency is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Route</label>
                                <select formControlName="routes" class="form-control mb-1 mb-1" [ngClass]="{ 'is-invalid': f.routes.touched && f.routes.errors && f.routes.invalid }">
                          <option value="null" Selected disabled>- Select -</option>
                          <option>Oral</option>
                          <option>Value 1</option>
                          <option>Value 2</option>
                        </select>
                                <div *ngIf="f.routes.invalid && f.routes.errors && f.routes.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.routes.errors.required"> Route is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Comments</label>
                                <textarea formControlName="comments" rows="3" placeholder="Enter Comments" maxlength="500" class="capitalize"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-bs-dismiss="modal" [disabled]="!myReactiveForms.valid" class="btn btn-primary toast-btn">Add New Prescriptions</button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="editPrescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog larger-modal">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Update Prescription</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" (click)="close()">×</span></button>
            </div>
            <form [formGroup]="myReactiveForms" (ngSubmit)="onEdit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Drug  Name</label>
                                <input type="text" formControlName="drugName" placeholder="Enter Drug Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Drug Given By</label>
                                <select formControlName="practitioneerid" (change)='passData($event)' name="practitioneerid" class="form-control mb-3 mb-3">
                                    <option value="">- Select -</option>
                                    <option value="{{name.id}}" *ngFor="let name of practitioner" >{{name.practitionerName}}</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Drug Start Date</label>
                                <input formControlName="drugStartDate" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Duration in Days</label>
                                <input formControlName="duration" maxlength="2" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter Days" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Dosage</label>
                                <input formControlName="dosage" type="date" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Unit</label>
                                <input formControlName="unit" maxlength="2" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter Units" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Frequency</label>
                                <select formControlName="frequency" class="form-control mb-1 mb-1">
                          <option value="" Selected disabled>- Select -</option>
                          <option>Daily Once</option>
                          <option>Daily Twice</option>
                          <option>Two Days Once</option>
                          <option>Value 1</option>
                          <option>Value 2</option>
                        </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Route</label>
                                <select formControlName="routes" class="form-control mb-1 mb-1">
                          <option value="" Selected disabled>- Select -</option>
                          <option>Oral</option>
                          <option>Value 1</option>
                          <option>Value 2</option>
                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Comments</label>
                                <textarea class="capitalize" formControlName="comments" rows="3" placeholder="Enter Comments"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Update Prescriptions</button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary" (click)="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="myRemove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Remove!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to remove this block. <br></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">NO</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Yes</button>
            </div>
        </div>
    </div>
</div>
<div id="opens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"> <img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the prescription</span></strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton" aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this prescription.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" (click)="Delete()">Delete</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
<esp-modal-update [props]=modelDetails[0]></esp-modal-update>
<esp-modal-success [props]=modelDetails[0]></esp-modal-success>
<esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>
<esp-modal-already-exist [props]=modelDetails[0]></esp-modal-already-exist>
