.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -30px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
}

.modal-title {
    font-size: 1.25rem !important;
}

// @media (min-width: 991px) {
.statistic-block strong {
    margin-bottom: 0px !important;
}

.d-block {
    margin-bottom: -2px !important;
}

// }