<div class="row">
    <div class="col-lg-6">
        <h2 class="sports_Categ_title_1"> {{props.label}} | {{props.list}}</h2>
    </div>
    <div class="col-lg-6">
        <a class="add-link" data-bs-toggle="modal"  data-bs-target="#myModal">{{props.clickOption}}<i class="material-icons">{{props.iconOption}}</i></a>
         <!-- {{props.iconOption}} is material-icons(name of icon to display) -->
    </div>
</div>



<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Create New Team</strong>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
              <p>Enter details below for <br>create a new team under sport category</p>
              <form>
                <div class="form-group">
                  <label>Sports Category: {{props.label}} </label>

                </div>

                <div class="form-group">
                  <label>Team Name</label>
                  <input type="email" placeholder="Enter Team Name" class="form-control">
                </div>

                <div class="form-group">
                  <label>Select Coach</label>
                  <select name="account" class="form-control mb-1 mb-1">
                    <option disabled selected>-- Select Coach --</option>
                    <option>Coach Name 1</option>
                    <option>Coach Name 2</option>
                    <option>Coach Name 3</option>
                    <option>Coach Name 4</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Team Size</label>
                  <input type="text" placeholder="Enter Number of Athletes" class="form-control">
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
              <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Create Team</button>
            </div>
          </div>
        </div>
</div>



