<!-- Document div starts here -->
<!-- <div class="doc-div position-rel">
    <div class="icon-block">
        <a data-bs-toggle="modal" data-bs-target="#myDownload1"><img src="./assets/img/icons/download_small.svg"></a>
        <a data-bs-toggle="modal" data-bs-target="#myRemove1"><img src="./assets/img/icons/delete-small.svg"></a>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-item-center doc-border">
            <img src="./assets/img/icons/files-1.svg">
            <h4>{{props.title}}</h4>
            <p>{{props.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="float-left d-center">{{props.label}}</label>
        </div>
        <div class="col-md-6">
            <label class="float-right d-center">Date:{{props.date}}</label>
        </div>
    </div>
</div> -->


<!-- <div id="myRemove1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_2">Remove!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Are you sure to remove this block. <br></p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">NO</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Yes</button>
            </div>
        </div>
    </div>
</div> -->
<!-- Modal----for--remove-->



<!-- Modal--for--download-->
<!-- <div id="myDownload1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">File Downloaded!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Your file is downloaded. <br></p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okey</button>
            </div>
        </div>
    </div>
</div> -->
<!-- Modal----for--download-->