<div class="public-user-block block">
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 d-flex align-items-center">
            <div class="order">{{details.order}}</div>
            <div class="avatar"><img src="{{details.avatar}} " alt="..." class="img-fluid"></div><a class="name"><strong class="d-block">{{details.name}}</strong><span class="d-block">Body Mass : {{details.body_mass}}</span></a>
        </div>
        <div class="col-lg-3 text-center">
            <div class="contributions">Grade: A </div>

        </div>
        <div class="col-lg-6">
            <div class="details d-flex">

                <div class="item">
                    <span>Current Injury</span><br>
                    <strong>{{details.current_injury}}</strong>

                </div>

                <div class="item">
                    <span>Training Days</span><br>
                    <strong>{{details.training_days}}</strong>
                </div>

                <div class="item">
                    <span>Missed Days</span><br>
                    <strong>{{details.missed_days}}</strong>
                </div>

                <div class="item">
                    <span [class]="details.color_class">
              {{details.status}}
              </span>
                </div>

                <div class="item text-right">
                    <a data-bs-toggle="modal" data-bs-target="#myDownload5"><img class="icon_link" src="./assets/img/icons/download.svg"></a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/home/athelete-details"><img class="icon_link" src="./assets/img/icons/go_arrow.svg"></a>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- Modal--for--download-->
<div id="myDownload5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">File Downloaded!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Your file is downloaded. <br></p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">NO</button> -->
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okey</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal----for--download-->