<esp-content [title]="'Manage Athlete Device'">
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="statistic-block block">
                <div class="row">
                    <div class="col-lg-3">

                        <select (change)="onChange($event)" name="account" class="form-control mb-3 mb-3 m-0">
                    <option value="default">- Select Organisation -</option>
                    <option value="org1">Organisation 1</option>
                    <option value="org2">Organisation 2</option>
                    <option value="org3">Organisation 3</option>
                  </select>


                    </div>
                    <div class="col-lg-9">
                        <a class="add-link m_top_8">Add New Device<i class="material-icons">add_circle_outline</i></a>
                    </div>
                </div>
            </div>

            <div class="statistic-block block">

                <div class="row">

                    <div class="col-lg-6">
                        <h2 class="sports_Categ_title_1">{{selected_title}}</h2>
                        <p class="descrip_text">Lorem ipsum is placeholder text commonly used in the graphic, </p>

                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12">
                        <esp-manage-athlete-device-block [props]="manageathletedevicedata[0]" *ngIf="block1"></esp-manage-athlete-device-block>
                    </div>
                    <div class="col-md-12">
                        <esp-manage-athlete-device-block [props]="manageathletedevicedata[1]" *ngIf="block2"></esp-manage-athlete-device-block>
                    </div>
                    <div class="col-md-12">
                        <esp-manage-athlete-device-block [props]="manageathletedevicedata[2]" *ngIf="block3"></esp-manage-athlete-device-block>
                    </div>
                    <div class="col-md-12">
                        <esp-manage-athlete-device-block [props]="manageathletedevicedata[3]" *ngIf="block1"></esp-manage-athlete-device-block>
                    </div>
                    <div class="col-md-12">
                        <esp-manage-athlete-device-block [props]="manageathletedevicedata[4]" *ngIf="block1"></esp-manage-athlete-device-block>
                    </div>
                </div>
            </div>


        </div>
    </section>
</esp-content>
<esp-footer></esp-footer>