<ngx-spinner></ngx-spinner>
<div class="block" *ngIf="isView">
    <div class="title form-title"><strong class="d-block">Treatment Information</strong><span class="d-block">Lorem
      ipsum dolor sit amet consectetur.</span></div><br>
    <form [formGroup]="myTreatmentForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-3">
                <div class="i-checks form-group">
                    <input id="radioCustom1" type="radio" formControlName="consultationType" checked="" value="New Consultation" name="consultationType" class="radio-template" [ngClass]="{ 'is-invalid': f.consultationType.touched && f.consultationType.errors && f.consultationType.invalid }">
                    <div *ngIf="f.consultationType.invalid && f.consultationType.errors && f.consultationType.touched" class="invalid-feedback space-y">
                        <div *ngIf="f.consultationType.errors.required">Event is required</div>
                    </div>
                    <label for="radioCustom1">New Consultation</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="i-checks form-group">
                    <input id="radioCustom2" type="radio" formControlName="consultationType" value="Recurrent Consultation" name="consultationType" class="radio-template">
                    <label for="radioCustom2">Recurrent Consultation</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label">Diseases / Injury</label>
                    <input type="text" maxlength="50" formControlName="disease" placeholder="Enter Disease  or Injury Details" class="form-control" [ngClass]="{ 'is-invalid': f.disease.touched && f.disease.errors && f.disease.invalid }">
                    <div *ngIf="f.disease.invalid && f.disease.errors && f.disease.touched" class="invalid-feedback space-y">
                        <div *ngIf="f.disease.errors.required">Disease is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label">Treatment Type</label>
                    <input formControlName="treatmentType" maxlength="50" type="text" placeholder="Enter Treatment Type" class="form-control" [ngClass]="{ 'is-invalid': f.treatmentType.touched && f.treatmentType.errors && f.treatmentType.invalid }">
                    <div *ngIf="f.treatmentType.invalid && f.treatmentType.errors && f.treatmentType.touched" class="invalid-feedback space-y">
                        <div *ngIf="f.treatmentType.errors.required">Treatment Type is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label">Treatment Location</label>
                    <input formControlName="location" maxlength="50" type="text" placeholder="Hospital/Campus/Area" class="form-control" [ngClass]="{ 'is-invalid': f.location.touched && f.location.errors && f.location.invalid }">
                    <div *ngIf="f.location.invalid && f.location.errors && f.location.touched" class="invalid-feedback space-y">
                        <div *ngIf="f.location.errors.required">Location is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label">Select Practitioner name</label> <br>
                    <select formControlName="practitionerID" (change)='passData($event)' name="practitionerID" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.practitionerID.touched && f.practitionerID.errors && f.practitionerID.invalid }">
            <option value="">- Select -</option>
            <option value="{{name.id}}" *ngFor="let name of practitioner">{{name.practitionerName}}</option>
          </select>
                    <div *ngIf="f.practitionerID.invalid && f.practitionerID.errors && f.practitionerID.touched" class="invalid-feedback space-y">
                        <div *ngIf="f.practitionerID.errors.required">Practitioner Name is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label">Consultation Date</label>
                    <input formControlName="consultationDate" type="date" placeholder="Enter Date" class="form-control" [ngClass]="{ 'is-invalid': f.consultationDate.touched && f.consultationDate.errors && f.consultationDate.invalid }">
                    <div *ngIf="f.consultationDate.invalid && f.consultationDate.errors && f.consultationDate.touched" class="invalid-feedback space-y">
                        <div *ngIf="f.consultationDate.errors.required">Consultation Date is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-control-label">Consultation Time</label>
                        <input formControlName="consultationTime" type="time" placeholder="Enter Date" class="form-control" [ngClass]="{ 'is-invalid': f.consultationTime.touched && f.consultationTime.errors && f.consultationTime.invalid }">
                        <div *ngIf="f.consultationTime.invalid && f.consultationTime.errors && f.consultationTime.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.consultationTime.errors.required">Consultation Time is required</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-block" *ngFor="let getDetails of newPractitioner">
                    <div class="row m-btm-10">
                        <div class="col-md-4">
                            <div class="label_value_Div">
                                <span>Practitioner Name</span>
                                <p>{{getDetails.practitionerName}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="label_value_Div">
                                <span>Practitioner Role</span>
                                <p>{{getDetails.practitionerRole}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="label_value_Div">
                                <span>Practitioner No</span>
                                <p>{{getDetails.contactNo}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="label_value_Div">
                                <span>Practitioner Email ID</span>
                                <p>{{getDetails.email}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="label_value_Div">
                                <span>Practice Name</span>
                                <p>{{getDetails.practiceName}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="label_value_Div">
                                <span>Practice Address</span>
                                <p>{{getDetails.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">Presenting Complaints</label> <br>
                    <textarea class="capitalize" formControlName="complaints" rows="2" placeholder="Enter your comments here" maxlength="350" [ngClass]="{ 'is-invalid': f.complaints.touched && f.complaints.errors && f.complaints.invalid }"></textarea>
                    <div *ngIf="f.complaints.invalid && f.complaints.errors && f.complaints.touched" class="invalid-feedback space-y">
                        <div *ngIf="f.complaints.errors.required">Presenting Complaints is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">Examination</label> <br>
                    <textarea class="capitalize" formControlName="examination" rows="2" placeholder="Enter your comments here" maxlength="400" [ngClass]="{ 'is-invalid': f.examination.touched && f.examination.errors && f.examination.invalid }"></textarea>
                    <div *ngIf="f.examination.invalid && f.examination.errors && f.examination.touched" class="invalid-feedback space-y">
                        <div *ngIf="f.examination.errors.required">Examination is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-control-label">Documents Upload</label> <br>
                <ng-container formArrayName="documents" *ngFor="let item of abc.controls; let i = index;">
                    <div [formGroupName]="i">
                        <div class="border-block">
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="m-0">Document {{i+1}}</p>
                                </div>
                                <div class="col-md-3">
                                    <input formControlName="documentType" type="text" placeholder="Enter Document Name" maxlength="50" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" disabled formControlName="fileNameToDisplay" class="form-control disableField" placeholder="Upload Document">
                                            <i class="fa fa-close text-alert" style="position: relative; right: 16px; top:8px" (click)="cancel(i)" *ngIf="myTreatmentForm.controls['documents']['controls'][i].value.cancelBtn"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group m-0">
                                        <div class="input-group d-flex justify-content-around">
                                            <div class="input-group-append mx-1">
                                                <input type="file" class="form-control disableField" #file placeholder="Upload Document" multiple id="importFile+{{i}}" (change)="uploadFile(file.files,i)" style="display: none !important;">
                                                <label class="btn btn-primary upload uploadBtn spaceBtn" *ngIf="!myTreatmentForm.controls['documents']['controls'][i].value.btnUpload" style="background-color: #f79b3e" [style.backgroundColor]="uploadButtonGreen" (click)="file?.click(); clicked()" title="click To Upload File"
                                                    #labelImport for="importFile+{{i}}">
                          Upload
                        </label>
                                                <label class="btn btn-primary upload uploadBtn" *ngIf="myTreatmentForm.controls['documents']['controls'][i].value.btnUpload" [style.backgroundColor]="uploadButtonOrange" title="click To Upload File" #labelImport for="importFile+{{i}}"><i
                          class="fa fa-check text-white"
                          style="position: relative; right: 8px"
                        ></i>
                          Uploaded
                        </label>
                                            </div>
                                            <div class="input-group-append mx-1">
                                                <button type="button" class="btn btn-danger spaceBtn" (click)="removeSkill(i)">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="add-link" (click)="addSkills()">Add Document<i
            class="material-icons">add_circle_outline</i></button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <button [disabled]="!myTreatmentForm.valid" type="submit" class="btn btn-primary" *ngIf="isCreate">Submit Treatment Info
        </button>
            </div>
        </div>
    </form>
</div>
<div id="createTreatmentInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
              width: 55px;     position: relative;
  right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Treatment Information has been created successfully. <br> </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<div id="modelErrorTreatmentInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><span
            class="dashbg_txt_4">Error!</span>
        </strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Something went wrong</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>
            </div>
        </div>
    </div>
</div>
