.btn-primary {
    float: right;
}

.disableField {
    background: #25272B !important;
}

::-webkit-file-upload-button {
    background: black;
    color: red;
    padding: 1em;
    display: none;
}

.uploadBtn {
    margin: 0px;
    background-color: rgb(119, 119, 119);
}

.uploadBtn:hover {
    background-color: #fd7e14;
}

.disableField {
    cursor: none;
}

.closeButton {
    position: relative;
    left: 0px;
    top: 6px;
}

.spaceBtn {
    padding-left: 30px;
    padding-right: 30px;
}

.modal-title {
    font-size: 1.25rem !important;
}
