<ng-container *ngIf='injuryData?.length==0; else showInjury;'>

    <div class="public-user-block block">
        <div class="empty_mess_div text-center">
            <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
            <p>Currently there are no injury details has been added for this athlete<br> </p>

        </div>
    </div>

</ng-container>

<ng-template #showInjury>

    <div *ngIf="injury">
        <div *ngFor="let injuryById of injuryData">
            <div class="public-user-block questionaire-div block m-btm-15">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-5  d-flex align-items-center">
                        <a class="name"><strong
                            class="d-block strip-heading">{{injuryById?.event}}</strong><span
                            class="d-block">{{injuryById?.injuryDetails}}</span></a>
                    </div>
                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block ">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-5 ">
                        <div class="details d-flex row">
                            <div class="item col-md-4">
                                <span>Injured Date</span>
                                <strong>{{injuryById?.timeOfInjury | date: 'dd/MM/yyyy'}}</strong>
                            </div>
                            <div class="item col-md-4">
                                <span> Injury Closed Date</span>
                                <strong>{{injuryById?.expectedDateOfReturn | date:
                                'dd/MM/yyyy'}}</strong>
                            </div>

                            <div class="item col-md-4">
                                <span>Treatment Status</span>
                                <strong>{{injuryById?.treatmentStatus}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block ">
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 text-right ">





                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="check(pres)">
              Actions
            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)="view(injuryById)" style="cursor: pointer;">View Injury Details</a>
                                <!-- <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)="editInjury(injuryById)" style="cursor: pointer;">Edit Injury Details</a>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmInjuryDelete" (click)="deleteTreatInfo(injuryById.id)" style="cursor: pointer;">Remove</a> -->

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid box" *ngIf="viewInjurySection">

        <div class="block">
            <div class="title form-title"><strong class="d-block">View Injury Details</strong><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div><br>

            <div class="block-body">

                <form [formGroup]="myInjuryForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="i-checks form-group">
                                <input disabled formControlName="injuryType" id="radioCustom1" name="injuryType" value="New Injury" type="radio" checked="" class="radio-template">

                                <label for="radioCustom1">New Injury</label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="i-checks form-group">
                                <input disabled formControlName="injuryType" id="radioCustom2" name="injuryType" value="Recurrent Injury" type="radio" class="radio-template">
                                <label for="radioCustom2">Recurrent Injury</label>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Date of Injury</label>
                                <input disabled formControlName="dateOfInjury" name="dateOfInjury" type="text" class="form-control">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Time of Injury</label>
                                <input disabled formControlName="timeOfInjury" name="timeOfInjury" type="text" class="form-control">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Event Name</label>
                                <input disabled (keypress)="keyPressAlphaNumeric($event)" formControlName="event" name="event" type="text" placeholder="Enter Event Name" class="form-control">

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Diagnostic Code</label> <br>
                                <select disabled formControlName="diagnosticCode" name="diagnosticCode" class="form-control mb-3 mb-3">
              <option value="" selected disabled>- Select -</option>
              <option>Hard Tissue</option>
              <option>Soft Tissue</option>
              <option>Dislocation/Sublocation</option>
              <option>Skin Injury</option>
              <option>Other</option>
            </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Injury Onset</label> <br>
                                <select disabled formControlName="injuryOnset" name="injuryOnset" class="form-control mb-3 mb-3">
                                <option value="" selected disabled>- Select -</option>
                                <option>Acute</option>
                                <option>Repetative - Sudden Onset</option>
                                <option>Gradual - Sudden Onset</option>
                                <option>Other</option>

                            </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Referred to</label> <br>
                                <select disabled formControlName="referredTo" name="referredTo" class="form-control mb-3 mb-3">
                                <option value="" selected disabled>- Select -</option>
                                <option>Hospital</option>
                                <option>Doctor</option>
                                <option>Physiotherapist</option>
                                <option>Other</option>
                            </select>

                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-block">
                                <!-- <div class="title form-title"><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div><br> -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Incident Type 1</label> <br>
                                            <select disabled formControlName="incidentType" name="incidentType" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Head</option>
                                            <option>Eye</option>
                                            <option>Hand</option>
                                            <option>Value 4</option>
                                        </select>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Level 1 Injury</label> <br>
                                            <select disabled formControlName="level1Injury" name="level1Injury" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Value 1</option>
                                            <option>Value 2</option>
                                            <option>Value 3</option>
                                            <option>Value 4</option>
                                        </select>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Level 2 Injury</label> <br>
                                            <select disabled formControlName="level2Injury" name="level2Injury" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Value 1</option>
                                            <option>Value 2</option>
                                            <option>Value 3</option>
                                            <option>Value 4</option>
                                        </select>

                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Swelling</label> <br>
                                            <select disabled formControlName="swelling" name="swelling" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Minor</option>
                                            <option>Mild</option>
                                            <option>Moderate</option>
                                            <option>Significant</option>
                                            <option>Severe</option>
                                        </select>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Stability</label> <br>
                                            <select disabled formControlName="stability" name="stability" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Abnormal</option>
                                            <option>Normal</option>
                                            <option>N/A</option>
                                        </select>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Strength</label> <br>
                                            <select disabled formControlName="strength" name="strength" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Abnormal</option>
                                            <option>Normal</option>
                                            <option>N/A</option>
                                        </select>

                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label m-bottom">Enter Any known medical conditions</label> <br>
                                <textarea disabled class="capitalize" formControlName="medicalCondition" name="medicalCondition  " rows="2" placeholder="Enter Any known medical conditions"></textarea>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Enter what happened, how happened, what was felt, where
                                hurt,</label> <br>
                                <textarea disabled class="capitalize" formControlName="injuryDetails" name="injuryDetails" rows="2" placeholder="Enter what happened, how happened, what was felt, where hurt"></textarea>

                            </div>
                        </div>
                    </div>






                    <ng-container formArrayName="injuryAssessments" *ngFor="let item of abcInjury?.controls; let i = index;">
                        <div [formGroupName]="i">




                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-control-label">Injury Assessments</label> <br>

                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Danger</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input disabled formControlName="danger" name="danger" id="a" type="checkbox">
                                                    <label for="a">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input disabled formControlName="commentToDanger" name="commentToDanger" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->




                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Response</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input disabled formControlName="response" name="response" id="b" type="checkbox">
                                                    <label for="b">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input disabled formControlName="commentToResponse" name="commentToResponse" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->





                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Airway</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input disabled formControlName="airway" name="airway" id="g" type="checkbox">
                                                    <label for="g">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input disabled formControlName="commentToAirway" name="commentToAirway" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->




                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Breathing</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input disabled formControlName="breathing" name="breathing" id="c" type="checkbox">
                                                    <label for="c">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input disabled formControlName="commentToBreathing" name="commentToBreathing" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->





                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Circulation</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input disabled formControlName="circulation" name="circulation" id="d" type="checkbox">
                                                    <label for="d">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input disabled formControlName="commentToCirculation" name="commentToCirculation" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->
                                </div>
                            </div>


                        </div>
                    </ng-container>

                    <br>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Continue to Play</label>
                                <select disabled formControlName="continueToPlay" name="continueToPlay" class="form-control mb-3 mb-3">
                                <option value="" selected disabled>- Select -</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Treatment Status</label>
                                <select disabled formControlName="treatmentStatus" name="treatmentStatus" class="form-control mb-3 mb-3">
                                <option value="" selected disabled>- Select -</option>
                                <option>Open</option>
                                <option>Close</option>
                                <option>Yet to Start</option>
                            </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Expected Date of Return</label>
                                <input disabled formControlName="expectedDateOfReturn" name="expectedDateOfReturn" type="text" placeholder="" class="form-control">

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="modal-footer">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-secondary backBtn" (click)="cancel()">Back</button>
                            </div>
                        </div>
                    </div><br>
                </form>



            </div>
        </div>

    </div>

    <div class="container-fluid box" *ngIf="editInjurySection">

        <div class="block">
            <div class="title form-title"><strong class="d-block">Edit Injury Details</strong><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div><br>

            <div class="block-body">

                <form [formGroup]="myInjuryForm" (ngSubmit)="onInjuryUpdate()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="i-checks form-group">
                                <input formControlName="injuryType" id="radioCustom1" name="injuryType" value="New Injury" type="radio" checked="" class="radio-template">

                                <label for="radioCustom1">New Injury</label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="i-checks form-group">
                                <input formControlName="injuryType" id="radioCustom2" name="injuryType" value="Recurrent Injury" type="radio" class="radio-template">
                                <label for="radioCustom2">Recurrent Injury</label>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Date of Injury</label>
                                <input formControlName="dateOfInjury" name="dateOfInjury" type="date" class="form-control">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Time of Injury</label>
                                <input formControlName="timeOfInjury" name="timeOfInjury" type="time" class="form-control">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Event Name</label>
                                <input (keypress)="keyPressAlphaNumeric($event)" formControlName="event" name="event" type="text" placeholder="Enter Event Name" class="form-control">

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Diagnostic Code</label> <br>
                                <select formControlName="diagnosticCode" name="diagnosticCode" class="form-control mb-3 mb-3">
              <option value="" selected disabled>- Select -</option>
              <option>Hard Tissue</option>
              <option>Soft Tissue</option>
              <option>Dislocation/Sublocation</option>
              <option>Skin Injury</option>
              <option>Other</option>
            </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Injury Onset</label> <br>
                                <select formControlName="injuryOnset" name="injuryOnset" class="form-control mb-3 mb-3">
                                <option value="" selected disabled>- Select -</option>
                                <option>Acute</option>
                                <option>Repetative - Sudden Onset</option>
                                <option>Gradual - Sudden Onset</option>
                                <option>Other</option>

                            </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Referred to</label> <br>
                                <select formControlName="referredTo" name="referredTo" class="form-control mb-3 mb-3">
                                <option value="" selected disabled>- Select -</option>
                                <option>Hospital</option>
                                <option>Doctor</option>
                                <option>Physiotherapist</option>
                                <option>Other</option>
                            </select>

                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-block">
                                <!-- <div class="title form-title"><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div><br> -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Incident Type 1</label> <br>
                                            <select formControlName="incidentType" name="incidentType" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Head</option>
                                            <option>Eye</option>
                                            <option>Hand</option>
                                            <option>Value 4</option>
                                        </select>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Level 1 Injury</label> <br>
                                            <select formControlName="level1Injury" name="level1Injury" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Value 1</option>
                                            <option>Value 2</option>
                                            <option>Value 3</option>
                                            <option>Value 4</option>
                                        </select>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Level 2 Injury</label> <br>
                                            <select formControlName="level2Injury" name="level2Injury" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Value 1</option>
                                            <option>Value 2</option>
                                            <option>Value 3</option>
                                            <option>Value 4</option>
                                        </select>

                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Swelling</label> <br>
                                            <select formControlName="swelling" name="swelling" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Minor</option>
                                            <option>Mild</option>
                                            <option>Moderate</option>
                                            <option>Significant</option>
                                            <option>Severe</option>
                                        </select>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Stability</label> <br>
                                            <select formControlName="stability" name="stability" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Abnormal</option>
                                            <option>Normal</option>
                                            <option>N/A</option>
                                        </select>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Strength</label> <br>
                                            <select formControlName="strength" name="strength" class="form-control mb-3 mb-3">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Abnormal</option>
                                            <option>Normal</option>
                                            <option>N/A</option>
                                        </select>

                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label m-bottom">Enter Any known medical conditions</label> <br>
                                <textarea class="capitalize" formControlName="medicalCondition" name="medicalCondition  " rows="2" placeholder="Enter Any known medical conditions"></textarea>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Enter what happened, how happened, what was felt, where
                                hurt,</label> <br>
                                <textarea class="capitalize" formControlName="injuryDetails" name="injuryDetails" rows="2" placeholder="Enter what happened, how happened, what was felt, where hurt"></textarea>

                            </div>
                        </div>
                    </div>






                    <ng-container formArrayName="injuryAssessments" *ngFor="let item of abcInjury?.controls; let i = index;">
                        <div [formGroupName]="i">




                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-control-label">Injury Assessments</label> <br>

                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Danger</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input formControlName="danger" name="danger" id="a" type="checkbox">
                                                    <label for="a">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input formControlName="commentToDanger" name="commentToDanger" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->




                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Response</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input formControlName="response" name="response" id="b" type="checkbox">
                                                    <label for="b">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input formControlName="commentToResponse" name="commentToResponse" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->





                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Airway</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input formControlName="airway" name="airway" id="g" type="checkbox">
                                                    <label for="g">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input formControlName="commentToAirway" name="commentToAirway" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->




                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Breathing</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input formControlName="breathing" name="breathing" id="c" type="checkbox">
                                                    <label for="c">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input formControlName="commentToBreathing" name="commentToBreathing" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->





                                    <!-- Border Block Start Here -->
                                    <div class="border-block">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="m-0">Circulation</p>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="can-toggle">
                                                    <input formControlName="circulation" name="circulation" id="d" type="checkbox">
                                                    <label for="d">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input formControlName="commentToCirculation" name="commentToCirculation" type="text" placeholder="Enter Action If Any" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Border Block Start Here -->
                                </div>
                            </div>


                        </div>
                    </ng-container>

                    <br>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Continue to Play</label>
                                <select formControlName="continueToPlay" name="continueToPlay" class="form-control mb-3 mb-3">
                                <option value="" selected disabled>- Select -</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Treatment Status</label>
                                <select formControlName="treatmentStatus" name="treatmentStatus" class="form-control mb-3 mb-3">
                                <option value="" selected disabled>- Select -</option>
                                <option>Open</option>
                                <option>Close</option>
                                <option>Yet to Start</option>
                            </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Expected Date of Return</label>
                                <input formControlName="expectedDateOfReturn" name="expectedDateOfReturn" type="date" placeholder="" class="form-control">

                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="modal-footer">
                            <div class="ends">
                                <button type="submit" class="btn btn-primary  toast-btn">Update Injury Details</button>
                                <button type="button" (click)="cancel()" class="btn btn-secondary  leftspace">Back</button>

                            </div>
                        </div>
                    </div><br>
                </form>



            </div>
        </div>

    </div>

</ng-template>










<!-- Modal--for--confirmation-->
<div id="confirmInjuryDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"><img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the injury details</span></strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton"
                    aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to delete this injury details.</p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" (click)="removeInjury()">Delete</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>

            </div>
        </div>
    </div>
</div>










<esp-modal-update [props]=modelDetails[0]></esp-modal-update>
<esp-modal-success [props]=modelDetails[0]></esp-modal-success>
<esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>
<esp-modal-already-exist [props]=modelDetails[0]></esp-modal-already-exist>