.backBtn {
    display: flex;
    margin-left: auto;
}

.leftspace {
    margin-left: 10px;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -34px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
}

@media (max-width: 1311px) {
    .m-bottom {
        margin-bottom: 30px;
    }
}

.modal-title {
    font-size: 1.25rem !important;
}