<ngx-spinner> </ngx-spinner>
<esp-content [title]="'Manage Teams'" *ngIf="(teams$ | async) as teams else loading">
    <ng-container *ngIf='TeamsRecived?.length==0; else statusActive;'>
        <div class="public-user-block block">
            <div class="empty_mess_div text-center">
                <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                <p>Currently there are no teams. <br> </p>
            </div>
        </div>
    </ng-container>
    <ng-template #statusActive>
        <div class="container-fluid" *ngFor="let details of TeamsRecived; let i = index">
            <div *ngIf="isView">
                <div class="statistic-block block">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 id='abc' class="sports_Categ_title_1"> {{details.category}} | {{details.team.length}} Teams
                                </h2>
                            </div>
                            <div class="col-lg-6">
                                <a class="add-link" data-bs-toggle="modal" [attr.data-bs-target]="'#'+'myModal'+details.category" (click)="createTeam(details)" *ngIf="isCreate">Create
                            Team<i class="material-icons">add_circle_outline</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngFor="let det of details.team; let ii = index;let l = count;">
                        <div class="user-block block text-center position-rel">
                            <div class="icon-block">
                                <a data-bs-toggle="modal" (click)="downloadTeam(det.id)" data-bs-target="#myDownload4"><img src="assets/img/icons/download_small.svg"></a>
                                <a [attr.data-bs-target]="'#'+'editMyModal'+details.category" data-bs-toggle="modal" (click)="editTeam(det)"><img src="assets/img/icons/settings_small.svg"></a>
                            </div>
                            <div class="team_avatar"><img src="assets/img/icons/team_icon.svg" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h5">{{det.teamName}}</h3>
                            <a class="user-title" (click)="editTeam(det)" *ngIf="det.coachName =='';else showBlock" data-bs-toggle="modal" [attr.data-bs-target]="'#'+'coach_modal'+det.id">
                                <h5>{{det?.coachSelected ? "Assign Coach ":'Assign Coach'}}
                                </h5>
                            </a>
                            <ng-template #showBlock>
                                <a class="user-title">
                                    <h6>{{det.coachName}}</h6>
                                </a>
                            </ng-template>
                            <div class="contributions">Total Athletes {{det.totalAthlete}}</div>
                            <div class="details d-flex m-top-20">
                                <div class="item">Active<br><strong class="active_txt">{{det.active}}</strong></div>
                                <div class="item">Injured<br><strong class="injured_txt">{{det.injured}}</strong></div>
                                <div class="item">Invited<br><strong>{{det.invited}}</strong></div>
                            </div>
                            <div class="view_team_cta">
                                <a routerLink="/home/create-team-details" (click)="configPage(det)">Configure Team</a>
                            </div>
                            <div [id]="'coach_modal'+det.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                                <div role="document" class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Select Coach!</strong>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                                            aria-hidden="true">×</span></button>
                                        </div>
                                        <form [formGroup]='myUpdateTeamForms' (ngSubmit)="onSet()">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="d-flex mr-auto">Select Coach Below</label><br>
                                                    <select class="form-control mb-1 mb-1" formControlName="coachId" (change)="selectCoach($event,i,ii)">
                                                <option value="" disabled selected>-- Select Coach --</option>
                                                <option *ngFor="let coachDetails of filteredCoach"
                                                    value="{{coachDetails.id}}">
                                                    {{coachDetails.coacheName}}
                                                </option>
                                            </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn">SAVE</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="myDownload4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Download!</strong>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                                        aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="">Click to download. <br></p>
                                    </div>
                                    <div class="modal-footer">
                                        <li>
                                            <button class="btn btn-primary" data-bs-dismiss="modal" (click)="EXCEL()">EXCEL</button>
                                            <button class="btn btn-primary" data-bs-dismiss="modal" (click)="PDF()">PDF</button>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [id]="'myModal'+details.category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Create New
                            Team</strong>
                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                                aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Enter details below to create a new team under sport category</p>
                            <form [formGroup]='myCreateTeamForms' (ngSubmit)="onSubmit(details?.category)">
                                <div class="form-group">
                                    <label>Sports Category  </label><span class="p-1">:</span> <label class="text-white"> {{details?.category}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Team Name</label>
                                    <input type="text" formControlName="teamName" name="teamName" placeholder="Enter Team Name" class="form-control" [ngClass]="{ 'is-invalid': f.teamName.touched && f.teamName.errors && f.teamName.invalid }">
                                    <div *ngIf="f.teamName.invalid && f.teamName.errors && f.teamName.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.teamName.errors.required">Team Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Sports Coach</label>
                                    <select class="form-control mb-1 mb-1" formControlName="coachId" name="coachId">
                                    <option value="" disabled selected>-- Select Coach --</option>
                                    <option *ngFor="let coachDetails of filteredCoach2" value="{{coachDetails?.id}}">
                                        {{coachDetails?.coacheName}}</option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <label>Team Size</label>
                                    <input type="text" (keypress)="keyPressAlphaNumerics($event)" maxlength="3" formControlName="teamSize" name='teamSize' placeholder="Enter Number of Athletes" class="form-control" [ngClass]="{ 'is-invalid': f.teamSize.touched && f.teamSize.errors && f.teamSize.invalid }">
                                    <div *ngIf="f.teamSize.invalid && f.teamSize.errors && f.teamSize.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.teamSize.errors.required">Team Size is required</div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" data-bs-dismiss="modal" [disabled]="!myCreateTeamForms.valid" (click)="checking()" class="btn btn-primary toast-btn">Create Team</button>
                                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div [id]="'editMyModal'+details.category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Update Team</strong>
                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                                aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Enter details below to edit team under sport category</p>
                            <form [formGroup]='myUpdateTeamForms' (ngSubmit)="updateItems(myUpdateTeamForms.value,details.category)">
                                <div class="form-group">
                                    <label>Sports Category </label> <span class="p-1">:</span> <label class="text-focus"> {{details.category}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Team Name</label>
                                    <input type="text" formControlName="teamName" name="teamName" placeholder="Enter Team Name" class="form-control" [ngClass]="{ 'is-invalid': f.teamName.touched && f.teamName.errors && f.teamName.invalid }">
                                    <div *ngIf="f.teamName.invalid && f.teamName.errors && f.teamName.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.teamName.errors.required">Team Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Sports Coach</label>
                                    <select class="form-control mb-1 mb-1" formControlName="coachId" name="coachId">
                                    <option value="" disabled selected>-- Select Coach --</option>
                                    <option *ngFor="let coachDetails of filteredCoach" value="{{coachDetails.id}}">
                                        {{coachDetails.coacheName}}</option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <label>Team Size</label>
                                    <input type="text" maxlength="3" formControlName="teamSize" name='teamSize' placeholder="Enter Number of Athletes" class="form-control" [ngClass]="{ 'is-invalid': f.teamSize.touched && f.teamSize.errors && f.teamSize.invalid }">
                                    <div *ngIf="f.teamSize.invalid && f.teamSize.errors && f.teamSize.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.teamSize.errors.required">Team Size is required</div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Update
                                    Team</button>
                                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <esp-modal-update [props]=modelDetails[0]></esp-modal-update>
    <esp-modal-success [props]=modelDetails[1]></esp-modal-success>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
    <esp-loading></esp-loading>
</ng-template>