.col-md-12 {
    display: flex;
}

.btn-first {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 33px;
}

.dashboard_title_1 {
    text-align: left;
    font: bold 16px/19px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.pagination-block {
    background-color: #2E3136;
    margin-top: 13px;
    margin-bottom: 25px;
}

.pagination-contant {
    background: #2E3136 0% 0% no-repeat padding-box;
    opacity: 1;
}

.pagination-text {
    width: 94px;
    letter-spacing: 0px;
    color: #606060;
    opacity: 1;
    display: inline;
    margin: 7px;
}

.page-link {
    border: none;
}

.page-item.active .page-link {
    background-color: transparent;
    color: #17A4E8;
}

.dashboard_title_2 {
    letter-spacing: 0px;
    color: #B4B4B4;
    font: bold 16px/19px Helvetica;
    margin-top: 35px;
}

.widget-radio-btn {
    top: 225px;
    left: 322px;
    width: 22px;
    height: 22px;
    margin-left: 14px;
}

.nav-tabs .nav-link {
    display: inline-block;
    font-size: smaller;
}

.path_arrow {
    width: 9px;
    height: 16px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 12.2%;
        *width: 12.285714285714285714285714285714%;
    }
}

@media (max-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 12%;
        *width: 12.285714285714285714285714285714%;
    }
    .icons-widgets {
        margin-left: 0px;
    }
    .btn {
        margin-right: 18px !important;
    }
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 12.5% !important;
        *width: 12.285714285714285714285714285714%;
    }
    .widget-text {
        font-size: 0.63rem !important;
    }
    .widget-icons {
        margin: 14px 18px 13px 23px !important;
    }
    .icons-widgets {
        margin-left: -5px !important;
    }
    .widget-radio-btn {
        margin-left: 6px;
    }
    .nav-tabs .nav-link {
        font-size: 12px !important;
    }
    .path_arrow {
        margin-top: 13px;
        height: 14px;
    }
}

@media (min-width: 1300px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 11.7%;
        *width: 12.285714285714285714285714285714%;
    }
    .widget-icons[_ngcontent-nes-c243] {
        margin: 14px 18px 13px 19px !important;
    }
    .icons-widgets {
        margin-left: 10px !important;
    }
}

.col-md-1 {
    border: 1px dashed #575757;
    margin: 7px !important;
}

.widget-icons {
    width: 37px;
    height: 40px;
    margin: 15px 25px 15px 25px;
}

.widget-text {
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.icons-widgets {
    margin-left: 0px;
}

.active_box {
    color: green;
    border: 1px dashed green;
    padding-left: 0px;
    margin-left: -13px;
    margin-right: -13px;
    justify-content: center;
    padding: 0px 5px 0 12px;
}

.nav-link.active {
    color: #17A4E8;
    border: none;
    background-color: #2E3136;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.nav {
    background-color: #2E3136;
    padding-bottom: 1px;
    margin-top: 15px;
}

table {
    border: 1px solid #4E5155;
    margin: auto auto;
    width: 98%;
}

thead {
    background-color: #2E3136;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: smaller;
    color: #BCBCBC;
    text-align: center;
}

td {
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #4E5155;
}

.dashboard_title_3 {
    letter-spacing: 0px;
    color: #B4B4B4;
    font: bold 16px/19px Helvetica;
    margin-top: 25px;
    margin-bottom: 15px;
}

.btn-second {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 0px;
}

.nav-first-item {
    margin-left: 13px;
}

.greenColor {
    color: #17BA07;
}

.modal-title {
    font-size: 1.25rem !important;
}

table tr td.chck_box {
    max-width: 20px;
}

@media(max-width: 767.98px) {
    table tr td.chck_box {
        max-width: 20px;
    }
}

.checkmark {
    position: absolute;
    top: -10px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: transparent;
    border: 1px solid #6B6E74;
}

label.container input:checked~.checkmark {
    background-color: #17BA07;
    border-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

label.container input:checked~.checkmark:after {
    display: block;
}

label.container {
    display: block;
    position: relative;
    cursor: pointer;
    margin-left: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

label.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Style the checkmark/indicator */

label.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.secTData {
    margin-left: 10px;
}

ul li {
    cursor: none !important;
}

ul li a {
    cursor: none !important;
}