<esp-content [title]="'Dashboard Widgets'">
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid mb-4">
            <div class="statistic-block">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="dashboard_title_1">Create Widget</h2>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <img *ngIf="blueRadioBtnOne" class="widget-radio-btn nav-first-item" src="./assets/img/widgets/Group-radio-btn.png" alt="">
                            <img *ngIf="greenTicActiveOne" class="widget-radio-btn nav-first-item" src="./assets/img/widgets/green_tic.png" alt="">
                            <a class="nav-link active" [class.greenColor]="greenTicActiveOne" (click)="selectedFirstTab()" id="home-tab" data-bs-toggle="tab" href="#define_widget" role="tab" aria-controls="home" aria-selected="true">Define Widget</a>
                        </li>
                        <img class="path_arrow" [class.greenColor]="greenTicActiveOne" src="./assets/img/widgets/path.png" alt="">
                        <li class="nav-item" role="presentation">
                            <img *ngIf="greyTicActiveTwo" class="widget-radio-btn" src="./assets/img/widgets/grey-tic.png" alt="">
                            <img *ngIf="blueRadioBtnTwo" class="widget-radio-btn nav-first-item" src="./assets/img/widgets/Group-radio-btn.png" alt="">
                            <img *ngIf="greenTicActiveTwo" class="widget-radio-btn nav-first-item" src="./assets/img/widgets/green_tic.png" alt="">
                            <a class="nav-link" id="profile-tab1" data-bs-toggle="tab" (click)="selectedSecondTab()" href="#select_column_filter" role="tab" aria-controls="profile" aria-selected="false">Select Column & Filter</a>
                        </li>
                        <img class="path_arrow" src="./assets/img/widgets/path.png" alt="">
                        <!-- <li class="nav-item" role="presentation">
                            <img class="widget-radio-btn" src="./assets/img/widgets/grey-tic.png" alt="">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#configure_filter" role="tab" aria-controls="profile" aria-selected="false">
                            Configure Filter</a>
                        </li>
                        <img class="path_arrow" src="./assets/img/widgets/path.png" alt="">
                        <li class="nav-item" role="presentation">
                            <img class="widget-radio-btn" src="./assets/img/widgets/grey-tic.png" alt="">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#define_filter" role="tab" aria-controls="profile" aria-selected="false">
                            Define Filter</a>
                        </li>
                        <img class="path_arrow" src="./assets/img/widgets/path.png" alt=""> -->
                        <li class="nav-item" role="presentation">
                            <img class="widget-radio-btn" src="./assets/img/widgets/grey-tic.png" alt="">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" (click)="selectedPreviewTab()" href="#widget_preview" role="tab" aria-controls="profile" aria-selected="false">
                            Widget Preview</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="define_widget" role="tabpanel" aria-labelledby="home-tab">
                            <div class="" id="defineWidget">
                                <form [formGroup]="myAddWidgetForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <h2 class="dashboard_title_2">Widget Basic Details</h2>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Widget Name</label>
                                                <input type="text" placeholder="Wellness Score" formControlName="widgetName" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-control-label">Widget Description</label>
                                                <input type="text" formControlName="widetDescription" placeholder="Lorem ipsum is placeholder text commonly used in" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md12">
                                            <div class="form-group">
                                                <label class="form-control-label">Collection</label>
                                                <select formControlName="collectionName" class="form-control mb-1 mb-1">
                                              <option value="" disabled selected>-- Select Category --</option>
                                              <option *ngFor="let coll of collectionData" value="{{coll.id}}">{{coll.collectionName}}</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h2 class="dashboard_title_2">Select Widget Type</h2>
                                        <div class="row icons-widgets">
                                            <div class="container">
                                                <div class="row seven-cols">
                                                    <div class="col-md-1" *ngFor="let typeData of widgetsTypeData;let i=index">
                                                        <div [class.active_box]="selectedBox ==i" (click)="onBoxSelect(typeData.id,i)">
                                                            <img *ngIf="selectedBox ==i" formControlName="widgetTypeId" class="widget-icons" src="{{typeData.icon2}}" alt="">
                                                            <img *ngIf="selectedBox !=i" class="widget-icons" src="{{typeData.icon}}" alt="">
                                                            <p class="widget-text">{{typeData.name}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container">
                                            <div class="col-md-12">
                                                <br>
                                                <button type="submit" [disabled]="clickedBox" class="btn btn-primary float-right btn-first">Next</button>
                                                <!-- <button type="submit" class="btn btn-primary float-right btn-first">Next</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="select_column_filter" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <h2 class="dashboard_title_3">Table Details</h2>
                                    </div>
                                    <div class="row">
                                        <table>
                                            <thead>
                                                <th></th>
                                                <th>Dataset Name</th>
                                            </thead>
                                            <tbody *ngFor="let dName of datasets">
                                                <tr ng-repeat="subscription in entities">
                                                    <td class="chck_box">
                                                        <label class="container">
                                  <input ng-model="subscription.checked" type="checkbox" (change)="onCheckedDataSet(dName)" name="oneItem" />
                                  <span class="checkmark"></span>
                                </label>
                                                    </td>
                                                    <td class="secTData">{{dName.datasetName}}</td>
                                                </tr>
                                            </tbody>

                                            <!-- <tbody>
                                                <tr>
                                                    <td class="chck_box">
                                                        <label class="container">
                          <input type="checkbox" />
                          <span class="checkmark"></span>
                        </label>
                                                    </td>
                                                    <td>Dataset Name</td>
                                                </tr>
                                                <tr>
                                                    <td class="chck_box">
                                                        <label class="container">
                          <input type="checkbox" />
                          <span class="checkmark"></span>
                        </label>
                                                    </td>
                                                    <td class="secTData">Table Details</td>
                                                </tr>
                                            </tbody> -->
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="container">
                                            <div class="col-md-12">
                                                <br>
                                                <button type="button" [disabled]="checkedDataset" (click)="goToWidgetPreviewTab()" class="btn btn-primary float-right btn-second">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="widget_preview" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <h2 class="dashboard_title_3">Widget Preview</h2>
                                    </div>
                                    <div class="row">

                                    </div>
                                    <!-- <div class="row">
                                      <div class="container">
                                          <div class="col-md-12">
                                              <br>
                                              <button type="button" [disabled]="checkedDataset" (click)="goToWidgetPreviewTab()" class="btn btn-primary float-right btn-second">Next</button>
                                          </div>
                                      </div>
                                  </div> -->
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
</ng-template>





<esp-modal-success [props]=modelDetails[0]></esp-modal-success>
<esp-modal-update [props]=modelDetails[1]></esp-modal-update>
<esp-modal-error></esp-modal-error>