<!-- <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid"> -->
<div class="statistic-block box-spacing">
    <form>
        <div class="switchh-div">
            <div class="row">
                <div class="col-md-7">
                    <p>{{props.label}}</p>
                </div>
                <div class="col-md-5 switch-flex">
                    <label class="switch switch-spacing float-right">
                        <input type="checkbox" class="switch-input" checked="">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-div">
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{props.description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-fluid" src="{{props.widgetImage}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- </div>
      </section> -->

<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>New organization has been created successfully. <br> Onboarding link sent to organization email ID</p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->