<div class="mainWrap">
    <div class="loginPageWrapperIn">
        <div class="bgLeftWrap">
            <div class="bgLeftContent">
                <h3><strong>ATHLETE</strong> MANAGEMENT
                    <BR>& HEALTH PERFORMANCE MONITORING SYSTEMS</h3>
                <p>We improve the performance of athletes and team</p>
            </div>
        </div>
        <div class="loginrightForm">
            <div class="contentForm">
                <div class="contentFormIn">
                    <a href=""><img class="login-img" src="assets/img/evvo_m_logo.svg"></a>
                    <h2>Evvo Sports Platform</h2>
                    <p>Login with your Email & Password</p>
                    <form [formGroup]="loginForm" class="form-validate mb-4" (ngSubmit)='onSubmit()'>
                        <div class="form-group">
                            <label class="control-label">Email Address </label>
                            <input type="email" placeholder="Enter Email" formControlName="userName" name="userName" class="form-control" [ngClass]="{ 'is-invalid': f.userName.touched && f.userName.errors && f.userName.invalid }" />
                            <div *ngIf="f.userName.invalid && f.userName.errors && f.userName.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.userName.errors.required">Email is required</div>
                                <div *ngIf="f.userName.errors.pattern">
                                    Email must be a valid email address
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password
                            <a routerLink="/forgot-password" class="forgot-pass mb-2">Forgot
                                Password?</a>
                            <div class="d-flex" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors && f.password.invalid }">
                                <div class="col-10">
                                    <input [type]="fieldTextType ? 'email' : 'password'" class="inputPass-box" placeholder="Enter Password"
                                    formControlName="password" name="password" />
                                    <div style="font-size: 14px;" *ngIf="f.password.invalid && f.password.errors && f.password.touched" class="invalid-feedback space-y">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="eyeLogin-box">
                                        <span>
                                        <i
                                          class="fa"
                                          [ngClass]="{
                                            'fa-eye-slash': !fieldTextType,
                                            'fa-eye': fieldTextType
                                          }"
                                          (click)="toggleFieldTextType()"
                                        ></i>
                                      </span>
                                    </div>
                                </div>
                            </div>
                            <div style="font-size: 14px;" *ngIf="f.password.invalid && f.password.errors && f.password.touched"
                            class="invalid-feedback space-y">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                          </label>
                            <p class="pt-1 passInvalid" *ngIf="incorrect">Email or password is incorrect.</p>
                            <br>
                        </div>
                        <div class="form-group submitBtn">
                            <button class="btn btn-primary login-btn" type="submit" [disabled]="!loginForm.valid">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="errorLoginAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                      aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p> Email or password incorrect.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Try Again</button>
            </div>
        </div>
    </div>
</div>
