.btn {
    margin-left: auto;
}


/* edit ,view and delete css starts here */

.switchh-div {
    width: 99%;
}

label {
    display: inline-block;
}

.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 1.1rem;
}

.form-check-input[type=checkbox] {
    border-radius: 0em;
    width: 0.75em;
    height: 0.75em;
}

.form-check-inline .form-check-input {
    position: static;
    margin-right: .3125rem;
    margin-top: 0;
    margin-left: 0px;
}

form label {
    font-size: .9rem;
    color: #8a8d93;
}

label.form-check-label {
    margin: 0px;
}


/* edit ,view and delete css ends here */

.modal-title {
    font-size: 1.25rem !important;
}