<esp-content [title]="'Manage Roles'">
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="m-btm-15">{{title}}</h5>
                </div>
            </div>
            <form>

                <div class="row">
                    <div class="col-md-12">
                        <!-- Role Start Here -->
                        <div class="public-user-block block" *ngFor="let card of getRoles;let i = index;">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-5 d-flex align-items-center">
                                    <div class="avatar"> <img src="./assets/img/icons/admin-user.svg" alt="..." class="img-fluid"></div><a class="name"><strong class="d-block">{{card.roleName}}</strong><span class="d-block">{{card.description}}</span></a>
                                </div>
                                <div class="col-lg-5 text-center d-flex">
                                    <div class="item">
                                        <span>Total Modules</span><br>
                                        <!-- <strong>{{card.totalModules}}</strong> -->
                                        <strong>{{card.totalModules}}</strong>

                                    </div>

                                    <div class="item">
                                        <span>Active Modules</span><br>
                                        <!-- <strong>{{card.activeModules}}</strong> -->
                                        <strong>{{card.activeModules}}</strong>

                                    </div>
                                </div>



                                <div class="col-lg-2 d-flex">
                                    <button class="btn pad-0 float-right Setting-spacing" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+'collapseExample'+card.id" aria-expanded="false" aria-controls="collapseExample">
                                    <img src="./assets/img/icons/edit_settings.svg">
                                </button >
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="collapse" [id]="'collapseExample'+card.id">
                                    <!-- 2nd use this  -->
                                    <br>
                                    <div class="card card-body m-0 brdr-1">
                                        <div class="row">
                                            <div class="col-md-4"  *ngFor="let p of card.parentNode; let j = index">
                                                <div class="switchh-div" (click)="Open(p?.id)">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <p>{{p.name}}</p>
                                                        </div>
                                                        <div class="col-md-5 switch-flex">
                                                            <label class="switch switch-spacing float-right">
                                                                <input  type="checkbox" class="switch-input" (change)="onToggleClick(i, j)" [checked]="isActive[i][j]">
                                                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                  <span class="switch-handle"></span>
                                </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="check-bx-div">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox"    [disabled]="x[i][j]"    [checked]="p.isCreate" value="option1" (change)="checkboxClick('create',i, j)">
                                                                    <label class="form-check-label" >Create</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox"  value="option2"  [disabled]="x[i][j]"   [checked]="p.isView" (change)="checkboxClick('view',i, j)">
                                                                    <label class="form-check-label">View</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox"  value="option2"   [disabled]="x[i][j]"  [checked]="p.isEdit" (change)="checkboxClick('edit',i, j)">
                                                                    <label class="form-check-label" >Edit</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox"  value="option3"  [disabled]="x[i][j]"    [checked]="p.isDelete" (change)="checkboxClick('delete',i, j)">
                                                                    <label class="form-check-label" >Delete </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-12 d-flex">
                                                    <button (click)="onSubmit(card, i)"  class="btn btn-primary float-right" type="button" data-bs-toggle="collapse"     [attr.data-bs-target]="'#'+'collapseExample'+card.id" aria-expanded="false" aria-controls="collapseExample">
                                                        Save Settings
                                                     </button>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
        </div>
        </div>
        </div>
        <!-- Role Ends Here -->


        </div>
        </div>
        </form>
        </div>
    </section>


    <div id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                    width: 55px;     position: relative;
        right: 12px;" >Success Message! </strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <p>Roles updated successfully.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                </div>
            </div>
        </div>
    </div>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
    <esp-loading></esp-loading>
</ng-template>