// .user-title {
//     color: aqua !important;
// }
.add-link {
    cursor: pointer;
}

li {
    list-style-type: none !important;
    color: grey !important;
    margin: 5px !important;
}

li button {
    margin: 5px !important;
}

.user-title h5 {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.add-link {
    cursor: pointer;
}

.text-focus {
    color: #ffffff;
}

.modal-title {
    font-size: 1.25rem !important;
}