<div class="mainWrap">
    <div class="loginPageWrapperIn">
        <div class="bgLeftWrap">
            <div class="bgLeftContent">
                <div class="sitelogo">
                    <a href=""><img src="assets/img/evvo_m_logo.svg" alt="" /></a>
                </div>
                <h3><strong>Welcome onboarding,</strong> We are glad to see you again!</h3>
            </div>
        </div>
        <div class="loginrightForm">
            <div class="contentForm">
                <div class="contentFormIn FormBlock">
                    <h2>Coach Onboarding</h2>
                    <form class="form-validate mb-4">
                        <div class="row grid16">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" formControlName="coacheName" name="coacheName" placeholder="Enter Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="Email" formControlName="email" name="email" placeholder="Enter Email Address" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" formControlName="mobile" name="mobile" placeholder="Enter Phone Number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" formControlName="address" name="address" placeholder="Enter Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>DOB</label>
                            <input type="text" formControlName="dob" name="dob" placeholder="Enter Date of Birth DD-MM-YYYY" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="imgUploader">
                                <div class="img">
                                    <input accept="image/*" type='file' id="imgInp" />
                                    <img id="blah" src="" alt="your image" />
                                </div>
                                <div class="content">
                                    <h6>Upload Profile photo</h6>
                                    <p>Square Jpg or PNG no larger than 10MB</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Gender</label>
                            <div class="inputInlineWrap">
                                <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="genderMale" type="radio" name="gender" value="male">
                                        <label for="genderMale">Male</label>
                                    </div>
                                </div>
                                <!-- <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="genderfeMale"  [(ngModel)]="Coache.coacheName"   type="radio" name="gender" value="female">
                                        <label for="genderfeMale">Female</label>
                                    </div>
                                </div>
                                <div class="inputInline">
                                    <div class="customRadio">
                                        <input id="other" type="radio" name="gender" value="Other">
                                        <label for="other">Other</label>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Biography</label>
                            <textarea class="form-control" formControlName="biography" name="biography" placeholder="Enter Biography"></textarea>
                        </div>
                        <div class="form-group submitBtn">
                            <button type="button" data-dismiss="modal" class="btn btn-primary toast-btn" (click)="submitCoach(coachForm.value)">Add Coach</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
