<!-- <div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2 class="h5 no-margin-bottom">
                    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                    Loading...
                </h2>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
</div> -->
