<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="home-tab">
        <div class="user-block block text-center position-rel">
            <span class="active_tag active_tag_position">Active Will Play</span>

            <div class="icon-block">
                <a data-bs-toggle="modal" data-bs-target="#myDownload6"><img src="./assets/img/icons/download_small.svg"></a>
                <a><img src="./assets/img/icons/settings_small.svg"></a>
            </div>

            <div class="team_avatar">
                <div class="avatar"> <img src="assets/img/avatar-1.jpg" alt="..." class="img-fluid"></div>

            </div>
            <a class="user-title">
                <h3 class="h5">{{details.name}}</h3><span>Sports : Tennis</span></a>
            <div class="contributions">Grade: A</div>
            <div class="details d-flex m-top-20">
                <div class="item">Current Injury<br><strong>0</strong></div>
                <div class="item">Training Days<br><strong>5</strong></div>
                <div class="item">Missed Days<br><strong>0</strong></div>
            </div>
        </div>
    </div>

</div>


<!-- Modal--for--download-->
<div id="myDownload6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">File Downloaded!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Your file is downloaded. <br></p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">NO</button> -->
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okey</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal----for--download-->