<esp-content [title]="'Athlete Details'">

    <div class="statistic-block block">
        <div class="row sltBox">
            <div class="col-sm-3">
                <!-- <h3 class="m-0">Tomas Hecktor <i><img class="drop_dwn_img" src="./img/icons/arrow.svg"></i></h3> -->

                <select name="sportsCategory" class="form-control mb-3 mb-3 m-0" (change)="sports($event)">
                  <option selected>Select Sports Category</option>
                  <option *ngFor="let data of orgData" value="{{data.category}}">{{data.category}}</option>

              </select>
            </div>
            <div class="col-sm-3">
                <!-- <h3 class="m-0">Tomas Hecktor <i><img class="drop_dwn_img" src="./img/icons/arrow.svg"></i></h3> -->

                <select name="account" class="form-control mb-3 mb-3 m-0" (change)="inviteAthelete($event)">
                  <option selected>Select Athletes</option>
                  <option value="{{invite.id}}" *ngFor="let invite of athlete">{{invite.athleteName}}</option>
              </select>
            </div>


            <div class=" col-6  position-rel">
                <div class="next_prev_div">
                    <a><img class="mx-1" src="./assets/img/icons/prev.svg"></a>
                    <a><img src="./assets/img/icons/next.svg"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <esp-athelete-info-list></esp-athelete-info-list><br />
        <div class="statistic-block block">
            <esp-athelete-navtab-items></esp-athelete-navtab-items>
            <br />
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="user-block block text-center position-rel">
                                            <span class="active_tag active_tag_position">Active Will Play</span>

                                            <div class="icon-block">
                                                <a data-bs-toggle="modal" data-bs-target="#myDownload6"><img src="./assets/img/icons/download_small.svg"></a>
                                                <a><img src="./assets/img/icons/settings_small.svg"></a>
                                            </div>

                                            <div class="team_avatar">
                                                <div class="avatar"> <img src="assets//img//coache-avatar.png" alt="..." class="img-fluid"></div>

                                            </div>
                                            <a class="user-title">
                                                <h3 class="h5">{{athleteName}}</h3><span>Sports : Tennis</span></a>
                                            <div class="contributions">Grade: A</div>
                                            <div class="details d-flex m-top-20">
                                                <div class="item">Current Injury<br><strong>N/A</strong></div>
                                                <div class="item">Training Days<br><strong>N/A</strong></div>
                                                <div class="item">Missed Days<br><strong>N/A</strong></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- <esp-athelete-activecard  [details]="userdetails[0]"></esp-athelete-activecard> -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <esp-athelete-performance-block [props]="statistics[0]">
                                        </esp-athelete-performance-block>
                                    </div>
                                    <div class="col-sm-4">
                                        <esp-athelete-performance-block [props]="statistics[1]">
                                        </esp-athelete-performance-block>
                                    </div>
                                    <div class="col-sm-4">
                                        <esp-athelete-performance-block [props]="statistics[2]">
                                        </esp-athelete-performance-block>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="chart block">

                                    <esp-polar-chart [options]="polarChartOptions"></esp-polar-chart>





                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="chart block">
                                    <esp-athelete-sleepquality-column-chart [chart]="columnchart">
                                    </esp-athelete-sleepquality-column-chart>
                                </div>
                            </div><br /><br />

                            <div class="col-lg-6">
                                <div class="chart block">
                                    <esp-atheleteworkload-spline-chart [chart]="splinechart">
                                    </esp-atheleteworkload-spline-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="injury" role="tabpanel" aria-labelledby="profile-tab">
                    <!-- Block Div -->
                    <app-data-injury-details [atheleteId]="atheId"></app-data-injury-details>

                </div>
                <div class="tab-pane fade" id="treatmentInformation" role="tabpanel" aria-labelledby="contact-tab">
                    <app-data-treatment-info [atheleteId]="atheId"></app-data-treatment-info>

                </div>
                <div class="tab-pane fade" id="Investigations" role="tabpanel" aria-labelledby="contact-tab">

                    <app-data-assessments [atheleteId]="atheId"></app-data-assessments>




                </div>
                <div class="tab-pane fade" id="attendance" role="tabpanel" aria-labelledby="contact-tab">
                    <ng-container>

                        <div class="public-user-block block">
                            <div class="empty_mess_div text-center">
                                <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                                <p>Currently there are no attendance details has been added for this athlete <br> </p>

                            </div>
                        </div>

                    </ng-container>
                </div>
                <div class="tab-pane fade" id="Vaccinations" role="tabpanel" aria-labelledby="contact-tab">

                    <!-- Block Div -->


                    <ng-container *ngIf='vaccination?.length==0; else showVaccination;'>

                        <div class="public-user-block block">
                            <div class="empty_mess_div text-center">
                                <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                                <p>Currently there are no vaccination details has been added for this athlete <br> </p>

                            </div>
                        </div>

                    </ng-container>

                    <ng-template #showVaccination>

                        <div *ngIf="vaccinationBlock">
                            <!-- Block Div -->
                            <div class="questionaire-div block m-btm-15" *ngFor="let vac of vaccination">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-4 col-md-4 col-sm-5  d-flex align-items-center">
                                        <a class="name"><strong class="d-block strip-heading">{{vac?.vaccinationName}}</strong><span class="d-block rm-color">{{vac?.description}}</span></a>
                                    </div>
                                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>

                                    <div class="col-lg-6 align-item-center col-md-6 col-sm-5 ">

                                        <div class="details d-flex row">
                                            <div class="item col-md-3">
                                                <!-- <span>Frequency</span>
                  <strong>N/A</strong> -->
                                            </div>
                                            <div class="item col-md-3">
                                                <!-- <span> Vacc Unit</span>
                  <strong>N/A</strong> -->
                                            </div>

                                            <div class="item col-md-3">
                                                <span>Vacc Date</span>
                                                <strong>{{vac?.vaccinationDate  | date: 'dd/MM/yyyy'}}</strong>
                                            </div>

                                            <div class="item col-md-3">
                                                <span>Quantity</span>
                                                <strong>{{vac?.quantity}} Ml</strong>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 text-right ">




                                        <div class="dropdown">
                                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="check(pres)">
    Actions
  </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)="viewVaccinationDetails(vac)" style="cursor: pointer;">View Vaccination</a>
                                                <!-- <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)="editVacc(vac)" style="cursor: pointer;">Edit Vaccination</a>
                                                <a class="dropdown-item" (click)="deletePres(vac?.id)" data-bs-toggle="modal" data-bs-target="#Opens">Remove</a> -->
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- Block Div -->
                        </div>





                        <!-- Vaccination view Modal-->




                        <div *ngIf="viewVaccinationSection">
                            <div class="container-fluid box">
                                <div class="block">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h2 class="sports_Categ_title_1">View Vaccination</h2><br>
                                        </div>
                                    </div>

                                    <form [formGroup]="myVaccinationForm">
                                        <!-- <form action=""> -->

                                        <div class="modal-body">


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Vaccination Name</label>
                                                        <input disabled formControlName="vaccinationName" type="text" placeholder="Enter Vaccine Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Vaccinated By</label>
                                                        <select disabled formControlName="practionerId" (change)='passData($event)' name="practionerId" class="form-control mb-3 mb-3">
                                                          <option value="">- Select -</option>
                                                          <option value="{{name.id}}"
                                                              *ngFor="let name of practitioner">
                                                              {{name.practitionerName}}</option>
                                                      </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Vaccination Date</label>
                                                        <input disabled formControlName="vaccinationDate" type="date" placeholder="" class="form-control">
                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Quantity</label>
                                                        <input disabled maxlength="3" formControlName="quantity" type="text" placeholder="Enter in Ml" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Description</label>
                                                        <textarea disabled formControlName="description" rows="3" placeholder="Enter Comments"></textarea>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" (click)="vaccinationBack()" class="btn btn-secondary backBtn">Back</button>
                                        </div>

                                    </form>






                                </div>
                            </div>
                        </div>



                        <div *ngIf="editVaccinationSection">
                            <div class="container-fluid box">
                                <div class="block">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h2 class="sports_Categ_title_1">Edit Vaccination</h2><br>
                                        </div>
                                    </div>

                                    <form [formGroup]="myVaccinationForm" (ngSubmit)="onEdit()">
                                        <!-- <form action=""> -->

                                        <div class="modal-body">


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Vaccination Name</label>
                                                        <input formControlName="vaccinationName" type="text" placeholder="Enter Vaccine Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Vaccinated By</label>
                                                        <select formControlName="practionerId" (change)='passData($event)' name="practionerId" class="form-control mb-3 mb-3">
                                                        <option value="">- Select -</option>
                                                        <option value="{{name.id}}"
                                                            *ngFor="let name of practitioner">
                                                            {{name.practitionerName}}</option>
                                                    </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Vaccination Date</label>
                                                        <input formControlName="vaccinationDate" type="date" placeholder="" class="form-control">
                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Quantity</label>
                                                        <input maxlength="3" formControlName="quantity" type="text" placeholder="Enter in Ml" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Description</label>
                                                        <textarea formControlName="description" rows="3" placeholder="Enter Comments"></textarea>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="modal-footer">
                                            <div class="ends">
                                                <button type="submit" class="btn btn-primary  toast-btn">Update Vaccination</button>
                                                <button type="button" (click)="vaccinationBack()" class="btn btn-secondary  leftspace">Back</button>

                                            </div>
                                        </div>

                                    </form>






                                </div>
                            </div>
                        </div>

                        <!-- Modal--for-Vaccination-update-->
                        <div id="updateVaccination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                                  width: 55px;     position: relative;
                      right: 12px;" >Success Message!</strong>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                    </div>

                                    <div class="modal-body">
                                        <p>Vaccination updated successfully.</p>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal--for-Vaccination-delete-->

                        <div id="deleteVaccination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                                width: 55px;     position: relative;
                    right: 12px;" >Success Message!</strong>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                    </div>

                                    <div class="modal-body">
                                        <p>Vaccination deleted successfully.</p>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal--for-Vaccination-confirmation-->
                        <div id="Opens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"><img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the vaccination</span></strong>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton"
                    aria-hidden="true">×</span></button>
                                    </div>

                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this vaccination.</p>

                                    </div>
                                    <div class="modal-footer">
                                        <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" (click)="Delete()">Delete</button>
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </div>





                    </ng-template>


                    <!-- Block Div -->

                </div>
                <div class="tab-pane fade" id="Prescriptions" role="tabpanel" aria-labelledby="contact-tab">

                    <ng-container *ngIf='prescription?.length==0; else showPrescription;'>

                        <div class="public-user-block block">
                            <div class="empty_mess_div text-center">
                                <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                                <p>Currently there are no prescription details has been added for this athlete<br> </p>

                            </div>
                        </div>

                    </ng-container>

                    <ng-template #showPrescription>
                        <div *ngIf="viewPrescriptionData">
                            <!-- Block Div -->
                            <div class="questionaire-div block m-btm-15" *ngFor="let pres of prescription">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-4 col-md-4 col-sm-5  d-flex align-items-center">
                                        <a class="name"><strong class="d-block strip-heading">{{pres?.drugName}}</strong><span class="d-block rm-color">1 Tablet | {{pres?.frequency}} | For {{pres?.duration}} Days</span></a>
                                    </div>
                                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>

                                    <div class="col-lg-6 align-item-center col-md-6 col-sm-5 ">
                                        <div class="details align-item-top d-flex row">
                                            <div class="item  col-md-3">
                                                <span>From</span>
                                                <strong>{{pres?.drugStartDate | date: 'dd/MM/yyyy'}}</strong>
                                            </div>
                                            <div class="item col-md-3">
                                                <span>To</span>
                                                <strong>{{pres?.dosage | date: 'dd/MM/yyyy'}}</strong>
                                            </div>
                                            <div class="item col-md-3">
                                                <span> Route</span>
                                                <strong>{{pres?.routes}}</strong>
                                            </div>
                                            <div class="item col-md-3">
                                                <span>Total Quantity</span>
                                                <strong>{{pres?.unit}} Units</strong>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 text-right ">






                                        <div class="dropdown">
                                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="check(pres)">
                                Actions
                              </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)='viewPrescription(pres)' style="cursor: pointer;">View Prescription</a>
                                                <!-- <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)='editPrescription(pres)' style="cursor: pointer;">Edit Prescription</a>
                                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#opens" (click)='getDeletePres(pres?.id)' style="cursor: pointer;">Remove</a> -->
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- Block Div -->
                        </div>




                        <div *ngIf="viewprescriptionSection">
                            <div class="container-fluid box">
                                <div class="block">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h2 class="sports_Categ_title_1">View Prescription</h2><br>
                                        </div>
                                    </div>

                                    <form [formGroup]="myPrescriptionForm">
                                        <div class="modal-body">


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Drug Name</label>
                                                        <input disabled type="text" formControlName="drugName" placeholder="Enter Drug Name" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Drug Given By</label>
                                                        <select disabled formControlName="practitioneerid" (change)='passData($event)' name="practitioneerid" class="form-control mb-3 mb-3">
                                                          <option value="null">- Select -</option>
                                                          <option value="{{namer.id}}"
                                                              *ngFor="let namer of practitioner">
                                                              {{namer.practitionerName}}</option>
                                                      </select>


                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Drug Start Date</label>
                                                        <input disabled formControlName="drugStartDate" type="date" placeholder="" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Duration in Days</label>
                                                        <input disabled formControlName="duration" maxlength="2" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter Days" class="form-control">

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Dosage</label>
                                                        <input disabled formControlName="dosage" type="date" placeholder="" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Unit</label>
                                                        <input disabled formControlName="unit" maxlength="2" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter Units" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Frequency</label>
                                                        <select disabled formControlName="frequency" class="form-control mb-1 mb-1">
                                                          <option value="null" Selected disabled>- Select -</option>
                                                          <option>Daily once</option>
                                                          <option>Daily Twice</option>
                                                          <option>Two days once</option>
                                                          <option>Value 1</option>
                                                          <option>Value 2</option>
                                                      </select>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Route</label>
                                                        <select disabled formControlName="routes" class="form-control mb-1 mb-1">
                                                          <option value="null" Selected disabled>- Select -</option>
                                                          <option>Oral</option>
                                                          <option>Value 1</option>
                                                          <option>Value 2</option>
                                                      </select>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Comments</label>
                                                        <textarea disabled formControlName="comments" rows="3" placeholder="Enter Comments"></textarea>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" data-bs-dismiss="modal" (click)="backPrescription()" class="btn btn-secondary backBtn">Back</button>
                                        </div>
                                    </form>






                                </div>
                            </div>





                        </div>
                        <div *ngIf="editPrescriptionSection">
                            <div class="container-fluid box">
                                <div class="block">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h2 class="sports_Categ_title_1">Edit Prescription</h2><br>
                                        </div>
                                    </div>

                                    <form [formGroup]="myPrescriptionForm" (ngSubmit)="onPrescriptionEdit()">
                                        <div class="modal-body">


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Drug Name</label>
                                                        <input type="text" formControlName="drugName" placeholder="Enter Drug Name" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Drug Given By</label>
                                                        <select formControlName="practitioneerid" (change)='passData($event)' name="practitioneerid" class="form-control mb-3 mb-3">
                                                          <option value="null">- Select -</option>
                                                          <option value="{{namer.id}}"
                                                              *ngFor="let namer of practitioner">
                                                              {{namer.practitionerName}}</option>
                                                      </select>


                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Drug Start Date</label>
                                                        <input formControlName="drugStartDate" type="date" placeholder="" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Duration in Days</label>
                                                        <input formControlName="duration" maxlength="2" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter Days" class="form-control">

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Dosage</label>
                                                        <input formControlName="dosage" type="date" placeholder="" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Unit</label>
                                                        <input formControlName="unit" maxlength="2" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter Units" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Frequency</label>
                                                        <select formControlName="frequency" class="form-control mb-1 mb-1">
                                                          <option value="null" Selected disabled>- Select -</option>
                                                          <option>Daily once</option>
                                                          <option>Daily Twice</option>
                                                          <option>Two days once</option>
                                                          <option>Value 1</option>
                                                          <option>Value 2</option>
                                                      </select>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Route</label>
                                                        <select formControlName="routes" class="form-control mb-1 mb-1">
                                                          <option value="null" Selected disabled>- Select -</option>
                                                          <option>Oral</option>
                                                          <option>Value 1</option>
                                                          <option>Value 2</option>
                                                      </select>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Comments</label>
                                                        <textarea formControlName="comments" rows="3" placeholder="Enter Comments"></textarea>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="modal-footer">
                                            <div class="ends">
                                                <button type="submit" class="btn btn-primary  toast-btn">Update Prescription</button>
                                                <button type="button" (click)="backPrescription()" class="btn btn-secondary  leftspace">Back</button>

                                            </div>
                                        </div>
                                    </form>






                                </div>
                            </div>





                        </div>


                        <!-- Modal--for-Prescription-update-->
                        <div id="updatePrescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                                  width: 55px;     position: relative;
                      right: 12px;" >Success Message!</strong>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                    </div>

                                    <div class="modal-body">
                                        <p>Prescription updated successfully.</p>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Modal--for--delete-->
                        <div id="deletePrescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                                  width: 55px;     position: relative;
                      right: 12px;" >Success Message!</strong>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                    </div>

                                    <div class="modal-body">
                                        <p>Prescription deleted successfully.</p>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <!-- Modal--for--confirmation-->
                        <div id="opens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"><img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the prescription</span></strong>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" class="closeButton">×</span></button>
                                    </div>

                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this prescription.</p>
                                        <p></p>

                                    </div>
                                    <div class="modal-footer">
                                        <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" (click)="prescriptionDelete()">Delete</button>
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal----for--remove-->

                    </ng-template>

                </div>
                <div class="tab-pane fade" id="Documents" role="tabpanel" aria-labelledby="contact-tab">
                    <!-- <ng-container>

                      <div class="public-user-block block">
                          <div class="empty_mess_div text-center">
                              <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                              <p>Currently there are no Athlete Documents has been added for this athlete<br> </p>
                          </div>
                      </div>

                  </ng-container> -->
                    <ng-container *ngIf="atheleteDocumentList?.length == 0; else statusActive">
                        <div class="public-user-block block">
                            <div class="empty_mess_div text-center">
                                <img style="height: 100px" src="../../../assets/img/athlete-avatar.png" />
                                <p>
                                    Currently there are no athlete documents has been added for this athlete <br />
                                </p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #statusActive>

                        <div class="card-deck">
                            <div class="row">
                                <div class="col-lg-3 col-sm-4 col-md-4" *ngFor="
                              let item of atheleteDocumentList;
                              let i = Index">
                                    <div class=" doc-div position-rel">
                                        <div class="icon-block">
                                            <a><img src="./assets/img/icons/download_small.svg" (click)="Check(item)" /></a>
                                            <a><img src="./assets/img/icons/delete-small.svg" data-bs-toggle="modal" data-bs-target="#delete" (click)="click(item.id)" /></a>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 align-item-center doc-border">
                                                <img src="./assets/img/icons/files-1.svg" />
                                                <h4>{{ item.documentTitle }}</h4>
                                                <p>{{ item.documentDescription }}</p>
                                            </div>
                                        </div>
                                        <div class="row" *ngFor="let abc of item.documents">
                                            <div class="col-md-12">
                                                <label class="float-left d-center">{{
                                        abc.fileName
                                      }}</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong id="exampleModalLabel" class="modal-title dashbg_txt_5">
                    <img class="deleteIcon" src="./assets/img/delete.svg"><span class="">Delete the Document</span>
        </strong>
                    <a type="" data-bs-dismiss="modal" aria-label="Close" class="close">
                        <span class="closeButton" aria-hidden="true">×</span>
                    </a>
                </div>

                <div class="modal-body">
                    <p>Are you sure you want to delete this document.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" (click)="deleteCard()">
          Delete
        </button>

                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">
          Cancel
        </button>
                </div>
            </div>
        </div>
    </div>


    <div id="myDownloadedd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Download!</strong
        >
        <a type="" data-bs-dismiss="modal" aria-label="Close" class="close">
          <span aria-hidden="true">×</span>
        </a>
      </div>

      <div class="modal-body">
        <p class="">Click to download. <br /></p>
        <!-- <p>
                  <li *ngFor="let f of formats" class="text-white "><input type="radio" name="columnName" value="{{f.value}}" (change)="opens($event)" class="m-2"> {{f.columnName}}</li>
              </p> -->
      </div>
      <div class="modal-footer">
        <li  style="list-style-type: none;">
          <button
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="EXCEL()"
            style="width: 110px !important"
          >
            Download
          </button>
        </li>
      </div>
    </div>
  </div>
</div>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
  <esp-loading></esp-loading>
</ng-template>



<!-- Modal-- successfully DeletedModal - start-->


<div id="successfullyDeletedDocumentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
<div role="document" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
          width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <p>Athlete document deleted successfully.<br> </p>

                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-- successfully DeletedModal - end-->




    <esp-modal-update [props]=modelDetails[0]></esp-modal-update>
    <esp-modal-success [props]=modelDetails[0]></esp-modal-success>
    <esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>
    <esp-modal-already-exist [props]=modelDetails[0]></esp-modal-already-exist>