.chart {
    align-items: center;
    display: flex;
    justify-content: center;
}

.backBtn {
    display: flex;
    margin-left: auto;
}

.leftspace {
    margin-left: 10px;
}

.d-center {
    display: flex !important;
    justify-content: center !important;
    font-size: 12px !important;
}

.box {
    padding: 0%;
}

.rm-color {
    color: #8a8d93;
}

.dwnBtn {
    margin-top: 0px;
}

.ends {
    margin-left: auto;
    display: flex;
}

::-webkit-file-upload-button {
    background: black;
    color: red;
    padding: 1em;
    display: none;
}

.uploadBtn {
    margin: 0px;
    background-color: rgb(119, 119, 119);
}

.uploadBtn:hover {
    background-color: #fd7e14;
}

.disableField {
    cursor: none;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -34px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
    cursor: pointer;
}

.modal-title {
    font-size: 1.25rem !important;
}
@media (max-width: 575.98px) {
  .sltBox{
    width:43%;
    display: flex;
    flex-wrap: initial;
  }
  .next_prev_div {
    position: absolute;
    right: 9px;
    display: inline-flex;
    top: 0px;
  }

 }
