<div class="public-user-block block">
    <div class="row d-flex align-items-center">
        <div class="col-lg-6 d-flex align-items-center">

            <div class="avatar">
                <img src="" alt="..." class="img-fluid"></div>
            <a class="name">{{Name}}
                <strong class="d-block"></strong>
                <span class="d-block"> Email: {{Email}}  |  Phoneno: {{Mobile}}</span>
            </a>
        </div>

        <div class="col-lg-6">
            <div class="details d-flex">


                <div class="item">
                    <span>DOB</span><br>
                    <strong>{{Dob}}</strong>

                </div>

                <div class="item">
                    <span>Status</span><br>
                    <strong [ngClass]="{'statusColor': Status ==='Invited'}">{{Status}}</strong>
                </div>

                <div class="item">
                    <!-- <span>DOJ</span><br>
                    <strong>{{props.doj}}</strong> -->
                </div>

                <div class="item">

                </div>

                <div class="item text-right">
                    <a><img class="icon_link" src="./img/icons/download.svg"></a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/home/athelete-details"><img class="icon_link" src="./assets/img/icons/go_arrow.svg"></a>
                </div>
            </div>
        </div>
    </div>
</div>