<div class="d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar">
                <label class="hoverable" for="fileInput">
          <!-- <img class="img-fluid rounded-circle" [src]="url ? url : 'assets//img//coache-avatar.png'" /> -->
          <img class="img-fluid rounded-circle" [src]="enablePic ? dummyPic : profilePicPath" />
          <div class="overlay">Edit</div>
        </label>
            </div>
            <br />
            <input id="fileInput" type="file" (change)="onSelectFile($event)" />

            <div class="title">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-7 col-md-7">
                            <h5 class="h5 ">{{name}}</h5>
                            <!-- <span>{{name.length}}</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <ul class="list-unstyled" id="main_contents" *ngFor="let item of itemsList; let i = index">
                <li routerLinkActive="active-link">
                    <a *ngIf="item.parentNodeName=='Manage Teams'" [attr.data-bs-target]="'#'+'teams_menu'+i" class="manage" aria-expanded="true" data-bs-toggle="collapse" [attr.aria-expanded]="!isCollapsed"><i
              class="material-icons">{{item.icon}}</i>{{item.parentNodeName}}
          </a>
                    <a *ngIf="item.parentNodeName=='Manage Practitioner'" [attr.data-bs-target]="'#'+'teams_menu'+i" class="manage" aria-expanded="true" data-bs-toggle="collapse" [attr.aria-expanded]="!isCollapsed"><i
              class="material-icons">{{item.icon}}</i>{{item.parentNodeName}}
          </a>

                    <a routerLink="{{ item.path }}" *ngIf="item.parentNodeName!='Manage Teams'&&item.parentNodeName!='Manage Practitioner'"><i
              class="material-icons">{{item.icon}}</i>{{item.parentNodeName}}
          </a>
                </li>
                <ul [id]="'teams_menu'+i" class="collapse list-unstyled auto">

                    <li routerLinkActive="active-link" *ngFor="let  subItem of item.permission; let j=index">
                        <a routerLink="{{ subItem.path }}"><i class="material-icons">{{subItem.icon}}</i>{{subItem.childName}}
            </a>
                    </li>
                </ul>


            </ul>
        </div>
    </nav>
    <div class="page-content">
        <ng-content></ng-content>
    </div>
</div>
