#sidebar ul {
    list-style: none;
}

.active-link {
    font-weight: bold;
    color: #BFC1C4;
    li {
        color: #6a6c70;
    }
    background-color: #34373D;
    .material-icons {
        color: yellow;
    }
}

.manage {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#fileInput {
    display: none;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: black;
    color: #000000;
    width: 100%;
    height: 40%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 13px;
    text-align: center;
}

.hoverable:hover .overlay {
    opacity: 0.7;
}

.h5 {
    text-transform: capitalize !important;
    position: relative !important;
    right: 32px !important;
    font-size: 16px !important;
}

.avatar {
    position: relative !important;
    right: 14px !important;
}

@media screen and (max-width:1200px) {
    .h5 {
        font-size: 12px !important;
    }
}
