<esp-content [title]="'Dashboard'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-6 abc">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="material-icons">{{ orgIcon }}</i>
                            </div>
                            <strong>Total Organizations</strong>
                        </div>
                        <div class="number" [class]="color_class">{{ orgCount }}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template" [class]="progress_color_class" [ngStyle]="{ width: progress_percentage + '%' }"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 abc">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="material-icons">{{ activeIcon }}</i>
                            </div>
                            <strong>Active organizations</strong>
                        </div>
                        <div class="number" [class]="color_class1">{{ activeCount }}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template" [class]="progress_color_class1" [ngStyle]="{ width: progress_percentage1 + '%' }"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 abc">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="material-icons">{{ inactiveIcon }}</i>
                            </div>
                            <strong>Inactive Organizations</strong>
                        </div>
                        <div class="number" [class]="color_class2">{{ inactiveCount }}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template" [class]="progress_color_class2" [ngStyle]="{ width: progress_percentage2 + '%' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</esp-content>
<esp-footer></esp-footer>
