<!-- <div class="d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar">
                <label class="hoverable" for="fileInput">
          <img
            class="img-fluid rounded-circle"
            [src]="url ? url : 'assets//img//coache-avatar.png'"
          />
          <div class="overlay">Edit</div>
        </label>
            </div>
            <br />
            <input id="fileInput" type="file" (change)="onSelectFile($event)" />

            <div class="title">
                <h1 class="h5">{{ name }}</h1>
            </div>
        </div>

        <div class="accordion-group">
            <ul class="list-unstyled" id="main_contents" *ngFor="let item of itemsList; let i = index">
                <li routerLinkActive="active-link">
                    <a *ngIf="item.parentNodeName=='Manage Teams'" [attr.data-bs-target]="'#'+'teams_menu'+i" class="manage" aria-expanded="true" data-bs-toggle="collapse" [attr.aria-expanded]="!isCollapsed"><i class="material-icons">{{item.icon}}</i>{{item.parentNodeName}}
</a>
                    <a *ngIf="item.parentNodeName=='Manage Practitioner'" [attr.data-bs-target]="'#'+'teams_menu'+i" class="manage" aria-expanded="true" data-bs-toggle="collapse" [attr.aria-expanded]="!isCollapsed"><i class="material-icons">{{item.icon}}</i>{{item.parentNodeName}}
</a>

                    <a routerLink="{{ item.path }}" *ngIf="item.parentNodeName!='Manage Teams'&&item.parentNodeName!='Manage Practitioner'"><i class="material-icons">{{item.icon}}</i>{{item.parentNodeName}}
          </a>
                </li>
                <ul [id]="'teams_menu'+i" class="collapse list-unstyled auto">

                    <li routerLinkActive="active-link" *ngFor="let  subItem of item.permission; let j=index">
                        <a routerLink="{{ subItem.path }}"><i class="material-icons">{{subItem.icon}}</i>{{subItem.childName}}
          </a>
                    </li>
                </ul>

            </ul>
        </div>
    </nav>
    <div class="page-content">
        <ng-content></ng-content>
    </div>
</div> -->


<!-- Sidebar Navigation -->
<div class="d-flex align-items-stretch">
    <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
            <!-- <div class="avatar">
        <img src="assets//img//avatar-6.jpg" alt="..." class="img-fluid rounded-circle">
      </div> -->

            <div class="avatar">
                <label class="hoverable" for="fileInput">
          <img class="img-fluid rounded-circle" [src]="url ? url : 'assets//img//coache-avatar.png'">
          <div class="overlay">Edit</div>
        </label>
            </div>
            <br/>
            <input id="fileInput" type='file' (change)="onSelectFile($event)">


            <div class="title">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-sm-7 col-md-7">
                            <h1 class="h5">{{ name }}</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <!-- <span class="heading">Menus</span> -->
        <ul class="list-unstyled">
            <li routerLinkActive="active-link" (click)="myFun1()"><a routerLink="/coach/dashboard"><i class="material-icons">space_dashboard</i>Dashboard </a></li>

            <!-- link for (collapse close) when clicked on other menues -->
            <!--1. https://www.codegrepper.com/code-examples/javascript/%5Bcollapse%5D+angular -->
            <!--1.1  https://stackoverflow.com/questions/52264749/getting-ngbcollapse-since-it-isnt-a-known-property-of-div-error-after-movi -->




            <!-- <li routerLinkActive="active-link">
                <a data-bs-target="#teams_menu" class="manage" aria-expanded="true" data-bs-toggle="collapse" (click)="myFun2()" [attr.aria-expanded]="!isCollapsed">
                    <i class="material-icons md-20">group</i>Manage Teams
                </a> -->
            <!-- <ul id="teams_menu" [ngbCollapse]="isCollapsed" class="collapse list-unstyled auto"> -->
            <li>
                <a routerLink="/coach/teams"> <i class="material-icons md-20">group</i>Team List</a>
            </li>
            <!-- </ul>
            </li> -->






            <li routerLinkActive="active-link">
                <a routerLink="/coach/athlete-data"> <i class="material-icons md-18">save</i>Athlete Data</a>
            </li>
            <li routerLinkActive="active-link">
                <a routerLink="/coach/coach-trainings"> <i class="material-icons md-18">downhill_skiing</i>Training</a>
            </li>

            <li routerLinkActive="active-link">
                <a routerLink="/coach/messages"> <i class="material-icons md-18">pending_actions</i>Messages</a>
            </li>
            <li routerLinkActive="active-link">
                <a routerLink="/coach/coach-assessments"> <i class="material-icons md-18">assessment</i>Assessment</a>
            </li>
            <li routerLinkActive="active-link">
                <a routerLink="/coach/help"> <i class="material-icons md-18">face</i>Help and Support</a>
            </li>

            <li routerLinkActive="active-link">
                <a routerLink="/coach/coach-attendence"> <i class="material-icons md-18">pending_actions</i>Attendance</a>
            </li>
            <!-- <li routerLinkActive="active-link"><a routerLink="/coach"> <i class="material-icons md-18">model_training</i>Admin</a></li> -->
        </ul>
    </nav>
    <div class="page-content">
        <ng-content></ng-content>
    </div>

</div>