



<div id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
            width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>

          <div class="modal-body">
              <p>{{props.modelName}} updated successfully.<br> </p>

          </div>
          <div class="modal-footer">
              <button type="button" data-bs-dismiss="modal"  class="btn btn-primary toast-btn">Okay</button>
          </div>
      </div>
  </div>
</div>

