<esp-content [title]="'DASHBOARD'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 abc">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="material-icons">{{icon1}}</i>
                            </div>
                            <strong>Total Athletes</strong>
                        </div>
                        <div class="number dashtext-1">{{totalLabel}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template" [class]="progress_color_class" [ngStyle]="{'width' :progress_percentage + '%'}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 abc">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="material-icons">{{icon2}}</i>
                            </div>
                            <strong>Active Athletes</strong>
                        </div>
                        <div class="number dashtext-4">{{totalActive}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template" [class]="progress_color_class1" [ngStyle]="{'width' :progress_percentage1 + '%'}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 abc">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="material-icons">{{icon3}}</i>
                            </div>
                            <strong>Total Injuries</strong>
                        </div>
                        <div class="number dashtext-2">{{injury}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template" [class]="progress_color_class2" [ngStyle]="{'width' :progress_percentage2 + '%'}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 abc">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="material-icons">{{icon4}}</i>
                            </div>
                            <strong>Athletes Under Risks</strong>
                        </div>
                        <div class="number dashtext-3">{{risk}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template" [class]="progress_color_class3" [ngStyle]="{'width' :progress_percentage3 + '%'}"></div>
                    </div>
                </div>
            </div>
        </div>
        <esp-dashboard-charts></esp-dashboard-charts>
        <br />
        <div>
            <div class="title abc"> <strong class="d-block">Teams Leader Board</strong> <br></div>
            <esp-dash-teams-leader-board [props]="userdetails[0]"></esp-dash-teams-leader-board>
            <esp-dash-teams-leader-board [props]="userdetails[1]"></esp-dash-teams-leader-board>
            <esp-dash-teams-leader-board [props]="userdetails[2]"></esp-dash-teams-leader-board>
        </div>
    </div>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
    <esp-loading></esp-loading>
</ng-template>
