.btn-primary {
    float: right;
}

.space-y {
    height: 3px;
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    padding: 0%;
}

@media (max-width: 1311px) {
    .m-bottom {
        margin-bottom: 30px;
    }
}

.modal-title {
    font-size: 1.25rem !important;
}
