<div class="container-fluid">
    <div class="block" *ngIf="isView">
        <div class="title form-title"><strong class="d-block">Injury Details</strong><span class="d-block">Lorem ipsum
                dolor sit amet consectetur.</span></div><br>
        <div class="block-body">
            <form [formGroup]="myReactiveForms" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="i-checks form-group">
                            <input formControlName="injuryType" id="radioCustom1" name="injuryType" value="New Injury" type="radio" checked="" class="radio-template" [ngClass]="{ 'is-invalid': f.injuryType.touched && f.injuryType.errors && f.injuryType.invalid }">
                            <label for="radioCustom1">New Injury</label>
                            <div *ngIf="f.injuryType.invalid && f.injuryType.errors && f.injuryType.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.injuryType.errors.required">New Injury is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="i-checks form-group">
                            <input formControlName="injuryType" id="radioCustom2" name="injuryType" value="Recurrent Injury" type="radio" class="radio-template" [ngClass]="{ 'is-invalid': f.injuryType.touched && f.injuryType.errors && f.injuryType.invalid }">
                            <label for="radioCustom2">Recurrent Injury</label>
                            <div *ngIf="f.injuryType.invalid && f.injuryType.errors && f.injuryType.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.injuryType.errors.required">Recurrent Injury is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Date of Injury</label>
                            <input formControlName="dateOfInjury" name="dateOfInjury" type="date" class="form-control" [ngClass]="{ 'is-invalid': f.dateOfInjury.touched && f.dateOfInjury.errors && f.dateOfInjury.invalid }">
                            <div *ngIf="f.dateOfInjury.invalid && f.dateOfInjury.errors && f.dateOfInjury.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.dateOfInjury.errors.required">Date of Injury is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Time of Injury</label>
                            <input formControlName="timeOfInjury" name="timeOfInjury" type="time" class="form-control" [ngClass]="{ 'is-invalid': f.timeOfInjury.touched && f.timeOfInjury.errors && f.timeOfInjury.invalid }">
                            <div *ngIf="f.timeOfInjury.invalid && f.timeOfInjury.errors && f.timeOfInjury.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.timeOfInjury.errors.required">Time of Injury is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Event Name</label>
                            <input (keypress)="keyPressAlphaNumeric($event)" formControlName="event" name="event" type="text" placeholder="Enter Event Name" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': f.event.touched && f.event.errors && f.event.invalid }">
                            <div *ngIf="f.event.invalid && f.event.errors && f.event.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.event.errors.required">Event Name is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Diagnostic Code</label> <br>
                            <select formControlName="diagnosticCode" name="diagnosticCode" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.diagnosticCode.touched && f.diagnosticCode.errors && f.diagnosticCode.invalid }">
              <option value="" selected disabled>- Select -</option>
              <option>Hard Tissue</option>
              <option>Soft Tissue</option>
              <option>Dislocation/Sublocation</option>
              <option>Skin Injury</option>
              <option>Other</option>
            </select>
                            <div *ngIf="f.diagnosticCode.invalid && f.diagnosticCode.errors && f.diagnosticCode.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.diagnosticCode.errors.required">Diagnostic Code is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Injury Onset</label> <br>
                            <select formControlName="injuryOnset" name="injuryOnset" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.injuryOnset.touched && f.injuryOnset.errors && f.injuryOnset.invalid }">
                                <option value="" selected disabled>- Select -</option>
                                <option>Acute</option>
                                <option>Repetative - Sudden Onset</option>
                                <option>Gradual - Sudden Onset</option>
                                <option>Other</option>
                            </select>
                            <div *ngIf="f.injuryOnset.invalid && f.injuryOnset.errors && f.injuryOnset.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.injuryOnset.errors.required">Injury Onset is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Referred to</label> <br>
                            <select formControlName="referredTo" name="referredTo" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.referredTo.touched && f.referredTo.errors && f.referredTo.invalid }">
                                <option value="" selected disabled>- Select -</option>
                                <option>Hospital</option>
                                <option>Doctor</option>
                                <option>Physiotherapist</option>
                                <option>Other</option>
                            </select>
                            <div *ngIf="f.referredTo.invalid && f.referredTo.errors && f.referredTo.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.referredTo.errors.required">Referred to is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Incident Type 1</label> <br>
                                        <select formControlName="incidentType" name="incidentType" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.incidentType.touched && f.incidentType.errors && f.incidentType.invalid }">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Head</option>
                                            <option>Eye</option>
                                            <option>Hand</option>
                                            <option>Value 4</option>
                                        </select>
                                        <div *ngIf="f.incidentType.invalid && f.incidentType.errors && f.incidentType.touched" class="invalid-feedback space-y">
                                            <div *ngIf="f.incidentType.errors.required">Incident type is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Level 1 Injury</label> <br>
                                        <select formControlName="level1Injury" name="level1Injury" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.level1Injury.touched && f.level1Injury.errors && f.level1Injury.invalid }">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Value 1</option>
                                            <option>Value 2</option>
                                            <option>Value 3</option>
                                            <option>Value 4</option>
                                        </select>
                                        <div *ngIf="f.level1Injury.invalid && f.level1Injury.errors && f.level1Injury.touched" class="invalid-feedback space-y">
                                            <div *ngIf="f.level1Injury.errors.required">level 1 injury is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Level 2 Injury</label> <br>
                                        <select formControlName="level2Injury" name="level2Injury" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.level2Injury.touched && f.level2Injury.errors && f.level2Injury.invalid }">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Value 1</option>
                                            <option>Value 2</option>
                                            <option>Value 3</option>
                                            <option>Value 4</option>
                                        </select>
                                        <div *ngIf="f.level2Injury.invalid && f.level2Injury.errors && f.level2Injury.touched" class="invalid-feedback space-y">
                                            <div *ngIf="f.level2Injury.errors.required">level 2 injury is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Swelling</label> <br>
                                        <select formControlName="swelling" name="swelling" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.swelling.touched && f.swelling.errors && f.swelling.invalid }">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Minor</option>
                                            <option>Mild</option>
                                            <option>Moderate</option>
                                            <option>Significant</option>
                                            <option>Severe</option>
                                        </select>
                                        <div *ngIf="f.swelling.invalid && f.swelling.errors && f.swelling.touched" class="invalid-feedback space-y">
                                            <div *ngIf="f.swelling.errors.required">Swelling status is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Stability</label> <br>
                                        <select formControlName="stability" name="stability" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.stability.touched && f.stability.errors && f.stability.invalid }">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Abnormal</option>
                                            <option>Normal</option>
                                            <option>N/A</option>
                                        </select>
                                        <div *ngIf="f.stability.invalid && f.stability.errors && f.stability.touched" class="invalid-feedback space-y">
                                            <div *ngIf="f.stability.errors.required">Stability status is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Strength</label> <br>
                                        <select formControlName="strength" name="strength" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.strength.touched && f.strength.errors && f.strength.invalid }">
                                            <option value="" selected disabled>- Select -</option>
                                            <option>Abnormal</option>
                                            <option>Normal</option>
                                            <option>N/A</option>
                                        </select>
                                        <div *ngIf="f.strength.invalid && f.strength.errors && f.strength.touched" class="invalid-feedback space-y">
                                            <div *ngIf="f.strength.errors.required">Strength status is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label m-bottom">Enter any known medical conditions</label> <br>
                            <textarea class="capitalize" formControlName="medicalCondition" name="medicalCondition  " rows="2" placeholder="Enter any known medical conditions" maxlength="500" [ngClass]="{ 'is-invalid': f.medicalCondition.touched && f.medicalCondition.errors && f.medicalCondition.invalid }"></textarea>
                            <div *ngIf="f.medicalCondition.invalid && f.medicalCondition.errors && f.medicalCondition.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.medicalCondition.errors.required">Comments is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Enter what happened, how happened, what was felt, where
                                hurt.</label> <br>
                            <textarea class="capitalize" formControlName="injuryDetails" name="injuryDetails" rows="2" placeholder="Enter what happened, how happened, what was felt, where hurt" maxlength="500" [ngClass]="{ 'is-invalid': f.injuryDetails.touched && f.injuryDetails.errors && f.injuryDetails.invalid }"></textarea>
                            <div *ngIf="f.injuryDetails.invalid && f.injuryDetails.errors && f.injuryDetails.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.injuryDetails.errors.required">Comments is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container formArrayName="injuryAssessments" *ngFor="let item of abcInjury.controls; let i = index;">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-control-label">Injury Assessments</label> <br>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Danger</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input formControlName="danger" name="danger" id="a" type="checkbox">
                                                <label for="a">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input formControlName="commentToDanger" value="false" name="commentToDanger" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Response</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input formControlName="response" name="response" id="b" type="checkbox">
                                                <label for="b">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input formControlName="commentToResponse" name="commentToResponse" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Airway</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input formControlName="airway" name="airway" id="g" type="checkbox">
                                                <label for="g">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input formControlName="commentToAirway" name="commentToAirway" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Breathing</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input formControlName="breathing" name="breathing" id="c" type="checkbox">
                                                <label for="c">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input formControlName="commentToBreathing" name="commentToBreathing" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Circulation</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input formControlName="circulation" name="circulation" id="d" type="checkbox">
                                                <label for="d">
                                                    <div class="can-toggle__switch" data-checked="Yes"
                                                        data-unchecked="No"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input formControlName="commentToCirculation" name="commentToCirculation" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Continue to Play</label>
                            <select formControlName="continueToPlay" name="continueToPlay" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.continueToPlay.touched && f.continueToPlay.errors && f.continueToPlay.invalid }">
                                <option value="" selected disabled>- Select -</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                            <div *ngIf="f.continueToPlay.invalid && f.continueToPlay.errors && f.continueToPlay.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.continueToPlay.errors.required">Continue To Play is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Treatment Status</label>
                            <select formControlName="treatmentStatus" name="treatmentStatus" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.treatmentStatus.touched && f.treatmentStatus.errors && f.treatmentStatus.invalid }">
                                <option value="" selected disabled>- Select -</option>
                                <option>Open</option>
                                <option>Close</option>
                                <option>Yet to Start</option>
                            </select>
                            <div *ngIf="f.treatmentStatus.invalid && f.treatmentStatus.errors && f.treatmentStatus.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.treatmentStatus.errors.required">Treatment Status is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Expected Date of Return</label>
                            <input formControlName="expectedDateOfReturn" name="expectedDateOfReturn" type="date" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': f.expectedDateOfReturn.touched && f.expectedDateOfReturn.errors && f.expectedDateOfReturn.invalid }">
                            <div *ngIf="f.expectedDateOfReturn.invalid && f.expectedDateOfReturn.errors && f.expectedDateOfReturn.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.expectedDateOfReturn.errors.required">Date of Return is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" data-bs-toggle="modal" [disabled]="!myReactiveForms.valid" class="btn btn-primary " *ngIf="isCreate">Submit Injury Data </button>
                    </div>
                </div><br>
            </form>
        </div>
    </div>
</div>
<div id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Deleted</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<div id="createInjurydata" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"> <img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                width: 55px;     position: relative;
    right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Injury data has been created successfully. <br> </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<div id="modelError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Error!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Something went wrong.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>
            </div>
        </div>
    </div>
</div>
