<div id="modelError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Error!</strong>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
          </div>

          <div class="modal-body">
              <p>Something went wrong.</p>


          </div>
          <div class="modal-footer">
              <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>


          </div>
      </div>
  </div>
</div>
