<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="home" aria-selected="true">Athlete Overview</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link " id="profile-tab" data-bs-toggle="tab" href="#injury" role="tab" aria-controls="profile" aria-selected="false">Injury Details</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#treatmentInformation" role="tab" aria-controls="contact" aria-selected="false">Treatment Information</a>
    </li>
  
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#Investigations" role="tab" aria-controls="contact" aria-selected="false">Assessments</a>
    </li>
  
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#attendance" role="tab" aria-controls="contact" aria-selected="false">Attendance</a>
    </li>
  
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#Vaccinations" role="tab" aria-controls="contact" aria-selected="false">Vaccinations</a>
    </li>
  
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#Prescriptions" role="tab" aria-controls="contact" aria-selected="false">Prescriptions</a>
    </li>
  
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#Documents" role="tab" aria-controls="contact" aria-selected="false">Documents</a>
    </li>
  </ul>
  

