<div class="mainWrap">
    <div class="loginPageWrapperIn">
        <div class="bgLeftWrap">
            <div class="bgLeftContent">
                <div class="sitelogo">
                </div>
                <h3><strong>Welcome,</strong> We are glad to see you again!</h3>
            </div>
        </div>
        <div class="loginrightForm">
            <div class="contentForm">
                <div class="contentFormIn">
                    <a href=""><img class="login-img" src="assets/img/evvo_m_logo.svg"></a>
                    <h2>Login to Evvo Sports <span style="font-size:80%;">Super-Admin Platform</span></h2>
                    <form [formGroup]="loginForm" #loginSubmitForm='ngForm' (ngSubmit)='onSubmit(loginSubmitForm.value)' class="form-validate mb-4">
                        <div class="form-group">
                            <label class="control-label mt-4">Email Address </label>
                            <input type="email" placeholder="Enter Email" formControlName="userName" name="email" [(ngModel)]="Email" class="form-control" [ngClass]="{ 'is-invalid': f.userName.touched && f.userName.errors && f.userName.invalid }" />
                            <div *ngIf="f.userName.invalid && f.userName.errors && f.userName.touched" class="invalid-feedback space-y">
                                <div *ngIf="f.userName.errors.required">Email is required</div>
                                <div *ngIf="f.userName.errors.pattern">
                                    Email must be a valid email address
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password
                          <div class="d-flex" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors && f.password.invalid }">
                              <div class="col-10">
                                  <input [type]="fieldTextType ? 'email' : 'password'" class="inputPass-box mt-2" placeholder="Password" formControlName="password"
                                  name="pass" [(ngModel)]="Password"/>
                                  <div style="font-size: 14px;" *ngIf="f.password.invalid && f.password.errors && f.password.touched" class="invalid-feedback space-y">
                                      <div *ngIf="f.password.errors.required">Password is required</div>
                                  </div>
                              </div>
                              <div class="col-2">
                                  <div class="eyeLogin-box  mt-2">
                                      <span>
                                      <i
                                        class="fa"
                                        [ngClass]="{
                                          'fa-eye-slash': !fieldTextType,
                                          'fa-eye': fieldTextType
                                        }"
                                        (click)="toggleFieldTextType()"
                                      ></i>
                                    </span>
                                  </div>
                              </div>
                          </div>
                          <div style="font-size: 14px;" *ngIf="f.password.invalid && f.password.errors && f.password.touched"
                          class="invalid-feedback space-y">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                      </div>
                        </label>
                            <p class="pt-1 passInvalid" *ngIf="incorrect">Email or password is incorrect.</p>
                            <br>
                        </div>
                        <div class="form-group submitBtn">
                            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary login-btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>`
<div id="errorLoginAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Warning!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p> Email or password incorrect. </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Try Again</button>
            </div>
        </div>
    </div>
</div>
