<form>
          <div class="switchh-div">
            <div class="row">
              <div class="col-md-7">
                <p>{{props.label}}</p>
              </div>
              <div class="col-md-5 switch-flex ">
                <label class="switch float-righ switch-spacing">
                  <input type="checkbox" class="switch-input" checked="">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="widget-div">

                  <div class="row">
                    <div class="col-md-12">
                      <p>{{props.descrip_text}}</p>
                    </div>
                  </div>
               

                </div>
              </div>
            </div>
          </div>
</form>


        <!-- Modal-->
        <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                  <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                
                <div class="modal-body">
                  <p>New organization has been created successfully. <br> Onboarding link sent to organisation email ID</p>
                  
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                  <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
                </div>
              </div>
            </div>
          </div>         <!-- Modal-->
          