<esp-content [title]="'Report Widgets'">
    <section class="no-padding-top no-padding-bottom">
      <div class="container-fluid mb-4">
        <div class="statistic-block">
            <div class="row">

                <div class="col-lg-6">
                  <h2 class="sports_Categ_title_1">{{selected_title}}</h2>
                  <p class="descrip_text">Lorem ipsum is placeholder text commonly used in the graphic, </p>

                </div>

                <div class="col-md-6">
                  <select (change)="onChange($event)" name="account" class="form-control mb-3 mb-3 m-0">
                    <option value="default" disabled selected>- Select Organisation -</option>
                    <option value="org1">Organisation 1</option>
                    <option value="org2">Organisation 2</option>
                    <option value="org3">Organisation 3</option>
                  </select>
                </div>

              </div>
              <div class="row">

                <div class="col-md-6">
                    <esp-report-widgets-block (click)="onButtonClick()" [props] = "reportwidgetsdata[0]" *ngIf="block1"></esp-report-widgets-block>
                </div>
                <div class="col-md-6">
                    <esp-report-widgets-block (click)="onButtonClick()" [props] = "reportwidgetsdata[1]" *ngIf="block1"></esp-report-widgets-block>
                </div>
                <div class="col-md-6">
                    <esp-report-widgets-block (click)="onButtonClick()" [props] = "reportwidgetsdata[2]" *ngIf="block2"></esp-report-widgets-block>
                </div>
                <div class="col-md-6">
                    <esp-report-widgets-block (click)="onButtonClick()" [props] = "reportwidgetsdata[1]" *ngIf="block2"></esp-report-widgets-block>
                </div>
                <div class="col-md-6">
                    <esp-report-widgets-block (click)="onButtonClick()" [props] = "reportwidgetsdata[0]" *ngIf="block2"></esp-report-widgets-block>
                </div>
                <div class="col-md-6">
                    <esp-report-widgets-block (click)="onButtonClick()" [props] = "reportwidgetsdata[1]" *ngIf="block3"></esp-report-widgets-block>
                </div>
                <!-- <div class="col-md-6">
                    <esp-report-widgets-block [props] = "reportwidgetsdata[1]" *ngIf="block3"></esp-report-widgets-block>
                </div> -->
            </div>

            <div class="row">
                <div class="col-md-12">
                  <br>
                  <button [disabled]="click" type="button" data-bs-toggle="modal" data-bs-target="#myModal"  class="btn btn-primary float-right">Save Changes</button>
                </div>
              </div>

              <br>
        </div>
      </div>
    </section>
</esp-content>
<esp-footer></esp-footer>
<ng-template #loading>
    <esp-loading></esp-loading>
    </ng-template>
