<div class="user-block block text-center position-rel">
    <div class="profile-tiles spacing">
     <span>{{props.label}}</span>
     <p
     [class]="props.color_class">{{props.statistic}}</p>
     <span class="date_span">As on{{props.date_span}}</span>
    </div>
</div>
