<ngx-spinner></ngx-spinner>
<div class="row" *ngIf="isView">
    <div class="col-md-4">
        <div class="form-group">
            <label for="radioCustom2">Sort by categories</label>
            <select name="account" class="form-control mb-3 mb-3" (change)="Select($event)">
        <option selected disabled>- All -</option>
        <option value="Injury Data">Injury Information</option>
        <option value="treat">Treatment Information</option>
      </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-control-label">From Date</label>
            <input type="date" (change)="startDateEvent($event)" placeholder="mm-dd-yyyy" class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-control-label">To Date</label>
            <input type="date" placeholder="" (change)="endDateEvent($event)" class="form-control" />
        </div>
    </div>
</div>
<ng-container *ngIf='detailList?.length==0; else statusActive;'>
    <div class="public-user-block block">
        <div class="empty_mess_div text-center">
            <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
            <p>Currently there are no medical history & records added for this athlete <br> </p>
        </div>
    </div>
</ng-container>
<ng-template #statusActive>
    <div *ngIf="injury">
        <div *ngIf="isView">
            <div class="public-user-block questionaire-div block m-btm-15" *ngFor="let detail of detailList">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-5 d-flex align-items-center" *ngIf="injuryGetList">
                        <a class="name"><strong class="d-block strip-heading">{{ detail.injuryType }}</strong
          ><span class="d-block"></span
        ></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 d-flex align-items-center" *ngIf="treatList">
                        <a class="name"><strong class="d-block strip-heading">{{detail.consultationType}}</strong
          ><span class="d-block"></span
        ></a>
                    </div>
                    <div class="
          border-top
          w-100
          pt--sm
          mt--sm
          brdr-line-m
          d-lg-none d-md-none d-sm-block
        "></div>
                    <div class="col-lg-6 col-md-6 col-sm-5">
                        <div class="details d-flex row">
                            <div class="item col-md-4" *ngIf="injuryGetList">
                                <span>Strength</span>
                                <strong>{{ detail.strength }}</strong>
                            </div>
                            <div class="item col-md-4" *ngIf="treatList">
                                <span>Diseases</span>
                                <strong>{{ detail.disease}}</strong>
                            </div>
                            <div class="item col-md-4" *ngIf="injuryGetList">
                                <span>Event</span>
                                <strong>{{ detail.event}}</strong>
                            </div>
                            <div class="item col-md-4" *ngIf="treatList">
                                <span>Location</span>
                                <strong>{{ detail.location}}</strong>
                            </div>
                            <div class="item col-md-4" *ngIf="injuryGetList">
                                <span>Incident Type</span>
                                <strong>{{ detail.incidentType }}</strong>
                            </div>
                            <div class="item col-md-4" *ngIf="treatList">
                                <span>Treatment Type</span>
                                <strong>{{ detail.treatmentType}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="
          border-top
          w-100
          pt--sm
          mt--sm
          brdr-line-m
          d-lg-none d-md-none d-sm-block
        "></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="check(detail)">
            Actions
          </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" *ngIf="injuryGetList">
                                <a class="dropdown-item" style="cursor: pointer" (click)="view(detail)" *ngIf="isEdit">View Details</a>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#open" (click)="download(detail.id)" style="cursor: pointer">Download Details</a
            >
            <div class="border-top w-100 pt--sm mt--sm"></div>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" *ngIf="treatList">
            <a class="dropdown-item" style="cursor: pointer" (click)="viewTreatInfo(detail)" *ngIf="isEdit">View Details</a>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#open" (click)="downloadTreat(detail.id)" style="cursor: pointer">Download Details</a
>
                                <div class="border-top w-100 pt--sm mt--sm"></div>
                            </div>
                        </div>
                        <div id="open" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Download!</strong>
                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close">
                <span aria-hidden="true">×</span>
              </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="">
                                            Click to download.<br />
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <li *ngIf="injuryGetList">
                                            <button class="btn btn-primary" data-bs-dismiss="modal" (click)="PDF()" style="width: 80px !important;">PDF</button>
                                            <button class="btn btn-primary" data-bs-dismiss="modal" (click)="EXCEL()" style="width: 80px !important;">EXCEL</button>
                                        </li>
                                        <li *ngIf="treatList">
                                            <button class="btn btn-primary" data-bs-dismiss="modal" (click)="PDFF()" style="width: 80px !important;">PDF</button>
                                            <button class="btn btn-primary" data-bs-dismiss="modal" (click)="excelTreat()" style="width: 80px !important;">EXCEL</button>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<div class="container-fluid box" *ngIf="editSection">
    <div class="block">
        <div class="title form-title"><strong class="d-block">View Injury Details</strong><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div><br>
        <div class="block-body">
            <form [formGroup]="myInjuryForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="i-checks form-group">
                            <input disabled formControlName="injuryType" id="radioCustom1" name="injuryType" value="New Injury" type="radio" class="radio-template">
                            <label for="radioCustom1">New Injury</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="i-checks form-group">
                            <input disabled formControlName="injuryType" id="radioCustom2" name="injuryType" value="Recurrent Injury" type="radio" class="radio-template">
                            <label for="radioCustom2">Recurrent Injury</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Date of Injury</label>
                            <input disabled formControlName="dateOfInjury" name="dateOfInjury" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Time of Injury</label>
                            <input disabled formControlName="timeOfInjury" name="timeOfInjury" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Event Name</label>
                            <input disabled (keypress)="keyPressAlphaNumeric($event)" formControlName="event" name="event" type="text" placeholder="Enter Event Name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Diagnostic Code</label> <br>
                            <select disabled formControlName="diagnosticCode" name="diagnosticCode" class="form-control mb-3 mb-3">
          <option value="" selected disabled>- Select -</option>
          <option>Hard Tissue</option>
          <option>Soft Tissue</option>
          <option>Dislocation/Sublocation</option>
          <option>Skin Injury</option>
          <option>Other</option>
        </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Injury Onset</label> <br>
                            <select disabled formControlName="injuryOnset" name="injuryOnset" class="form-control mb-3 mb-3">
                            <option value="" selected disabled>- Select -</option>
                            <option>Acute</option>
                            <option>Repetative - Sudden Onset</option>
                            <option>Gradual - Sudden Onset</option>
                            <option>Other</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Referred to</label> <br>
                            <select disabled formControlName="referredTo" name="referredTo" class="form-control mb-3 mb-3">
                            <option value="" selected disabled>- Select -</option>
                            <option>Hospital</option>
                            <option>Doctor</option>
                            <option>Physiotherapist</option>
                            <option>Other</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Incident Type 1</label> <br>
                                        <select disabled formControlName="incidentType" name="incidentType" class="form-control mb-3 mb-3">
                                        <option value="" selected disabled>- Select -</option>
                                        <option>Head</option>
                                        <option>Eye</option>
                                        <option>Hand</option>
                                        <option>Value 4</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Level 1 Injury</label> <br>
                                        <select disabled formControlName="level1Injury" name="level1Injury" class="form-control mb-3 mb-3">
                                        <option value="" selected disabled>- Select -</option>
                                        <option>Value 1</option>
                                        <option>Value 2</option>
                                        <option>Value 3</option>
                                        <option>Value 4</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Level 2 Injury</label> <br>
                                        <select disabled formControlName="level2Injury" name="level2Injury" class="form-control mb-3 mb-3">
                                        <option value="" selected disabled>- Select -</option>
                                        <option>Value 1</option>
                                        <option>Value 2</option>
                                        <option>Value 3</option>
                                        <option>Value 4</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Swelling</label> <br>
                                        <select disabled formControlName="swelling" name="swelling" class="form-control mb-3 mb-3">
                                        <option value="" selected disabled>- Select -</option>
                                        <option>Minor</option>
                                        <option>Mild</option>
                                        <option>Moderate</option>
                                        <option>Significant</option>
                                        <option>Severe</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Stability</label> <br>
                                        <select disabled formControlName="stability" name="stability" class="form-control mb-3 mb-3">
                                        <option value="" selected disabled>- Select -</option>
                                        <option>Abnormal</option>
                                        <option>Normal</option>
                                        <option>N/A</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Strength</label> <br>
                                        <select disabled formControlName="strength" name="strength" class="form-control mb-3 mb-3">
                                        <option value="" selected disabled>- Select -</option>
                                        <option>Abnormal</option>
                                        <option>Normal</option>
                                        <option>N/A</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label m-bottom">Enter Any known medical conditions</label> <br>
                            <textarea disabled class="capitalize" formControlName="medicalCondition" name="medicalCondition  " rows="2" placeholder="Enter Any known medical conditions"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Enter what happened, how happened, what was felt, where
                            hurt,</label> <br>
                            <textarea disabled class="capitalize" formControlName="injuryDetails" name="injuryDetails" rows="2" placeholder="Enter what happened, how happened, what was felt, where hurt"></textarea>
                        </div>
                    </div>
                </div>
                <ng-container formArrayName="injuryAssessments" *ngFor="let item of abcInjury?.controls; let i = index;">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-control-label">Injury Assessments</label> <br>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Danger</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input disabled formControlName="danger" name="danger" id="a" type="checkbox">
                                                <label for="a">
                                                <div class="can-toggle__switch" data-checked="Yes"
                                                    data-unchecked="No"></div>
                                            </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input disabled formControlName="commentToDanger" name="commentToDanger" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Response</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input disabled formControlName="response" name="response" id="b" type="checkbox">
                                                <label for="b">
                                                <div class="can-toggle__switch" data-checked="Yes"
                                                    data-unchecked="No"></div>
                                            </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input disabled formControlName="commentToResponse" name="commentToResponse" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Airway</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input disabled formControlName="airway" name="airway" id="g" type="checkbox">
                                                <label for="g">
                                                <div class="can-toggle__switch" data-checked="Yes"
                                                    data-unchecked="No"></div>
                                            </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input disabled formControlName="commentToAirway" name="commentToAirway" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Breathing</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input disabled formControlName="breathing" name="breathing" id="c" type="checkbox">
                                                <label for="c">
                                                <div class="can-toggle__switch" data-checked="Yes"
                                                    data-unchecked="No"></div>
                                            </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input disabled formControlName="commentToBreathing" name="commentToBreathing" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Circulation</p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="can-toggle">
                                                <input disabled formControlName="circulation" name="circulation" id="d" type="checkbox">
                                                <label for="d">
                                                <div class="can-toggle__switch" data-checked="Yes"
                                                    data-unchecked="No"></div>
                                            </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input disabled formControlName="commentToCirculation" name="commentToCirculation" type="text" placeholder="Enter Action If Any" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Continue to Play</label>
                            <select disabled formControlName="continueToPlay" name="continueToPlay" class="form-control mb-3 mb-3">
                            <option value="" selected disabled>- Select -</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Treatment Status</label>
                            <select disabled formControlName="treatmentStatus" name="treatmentStatus" class="form-control mb-3 mb-3">
                            <option value="" selected disabled>- Select -</option>
                            <option>Open</option>
                            <option>Close</option>
                            <option>Yet to Start</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Expected Date of Return</label>
                            <input disabled formControlName="expectedDateOfReturn" name="expectedDateOfReturn" type="text" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary backButton" (click)="cancel()">Back</button>
                    </div>
                </div><br>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid box" *ngIf="editTreatSection">
    <div class="block">
        <div class="title form-title"><strong class="d-block">Treatment Information</strong><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div><br>
        <form [formGroup]="myTreatmentForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <div class="i-checks form-group">
                        <input disabled id="radioCustom1" type="radio" formControlName="consultationType" checked="" value="New Consultation" name="consultationType" class="radio-template">
                        <label for="radioCustom1">New Consultation</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="i-checks form-group">
                        <input disabled id="radioCustom2" type="radio" formControlName="consultationType" value="Recurrent Consultation" name="consultationType" class="radio-template">
                        <label for="radioCustom2">Recurrent Consultation</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Disease  / Injury</label>
                        <input disabled type="text" maxlength="20" formControlName="disease" placeholder="Enter Disease  or Injury Details" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Treatment Type</label>
                        <input disabled formControlName="treatmentType" maxlength="20" type="text" placeholder="Enter Treatment Type" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Treatment Location</label>
                        <input disabled formControlName="location" maxlength="50" type="text" placeholder="Hospital/Campus/Area" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Select Practitioner name</label> <br>
                        <select disabled formControlName="practitionerID" name="practitionerID" class="form-control mb-3 mb-3">
              <option value="">- Select -</option>
              <option value="{{name?.id}}" *ngFor="let name of practitioner" >{{name?.practitionerName}}</option>
            </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Consultation Date</label>
                        <input disabled formControlName="consultationDate" type="text" placeholder="Enter Date" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-control-label">Consultation Time</label>
                            <input disabled formControlName="consultationTime" type="text" placeholder="Enter Date" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block" *ngFor="let getDetails of newPractitioner">
                        <div class="row m-btm-10">
                            <div class="col-md-4">
                                <div class="label_value_Div">
                                    <span>Practitioner Name</span>
                                    <p>{{getDetails.practitionerName}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="label_value_Div">
                                    <span>Practitioner Role</span>
                                    <p>{{getDetails.practitionerRole}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="label_value_Div">
                                    <span>Practitioner No</span>
                                    <p>{{getDetails.contactNo}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="label_value_Div">
                                    <span>Practitioner Email ID</span>
                                    <p>{{getDetails.email}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="label_value_Div">
                                    <span>Practice Name</span>
                                    <p>{{getDetails.practiceName}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="label_value_Div">
                                    <span>Practice Address</span>
                                    <p>{{getDetails.address}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Presenting Complaints</label> <br>
                        <textarea disabled formControlName="complaints" rows="2" placeholder="Enter your comments here"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Examination</label> <br>
                        <textarea disabled formControlName="examination" rows="2" placeholder="Enter your comments here"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="form-control-label">Documents Upload</label> <br>
                    <ng-container>
                        <div>
                            <div class="border-block">
                                <div class="row my-2" *ngFor="let doc of demo">
                                    <div class="col-md-6">
                                        <input disabled type="" value="{{doc.documentType}}" placeholder="Enter Document Type" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <div class="input-group">
                                                <input disabled type="email" value="{{doc.fileName}}" class="form-control" placeholder="Upload Document">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-secondary backButton" (click)="cancel()">Back </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"> <span style="color: #6ed94d;">Success!</span>  </strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Organization deleted successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>