.form-group label {
    margin: 1px 0px;
}

li {
    list-style-type: none !important;
    color: grey !important;
    margin: 5px !important;
}

li button {
    margin: 5px !important;
}

.btn-primary {
    float: right;
}

.space-y {
    height: 3px;
    margin: 0px;
    padding: 0px;
}

.box {
    padding: 0%;
}

.button {
    float: right !important;
    width: 80px !important;
}

.label {
    margin-left: 12px !important;
}

.radio-template+label {
    margin-left: 15px;
}

.backButton {
    display: flex;
    margin-left: auto;
}

@media (max-width: 1311px) {
    .m-bottom {
        margin-bottom: 21px!important;
    }
}

.modal-title {
    font-size: 1.25rem !important;
}
