<!-- Prescription Modal-->
<div id="prescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog larger-modal">
      <div class="modal-content">
              <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Add New Prescription</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              </div>

              <div class="modal-body">


                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Practitioner Name</label>
                      <input type="text" placeholder="Practitioner Name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Practitioner Role</label>
                      <input type="text" placeholder="Enter Practitioner Role" class="form-control">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Practitioner No</label>
                      <input type="text" placeholder="Practitioner No" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Practitioner Email ID</label>
                      <input type="text" placeholder="Enter Practitioner Email ID" class="form-control">
                    </div>
                  </div>
                </div>



                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Practice Name</label>
                      <input type="text" placeholder="Practice Name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Practice Address</label>
                      <input type="text" placeholder="Enter Practice Addresss" class="form-control">
                    </div>
                  </div>

                </div>




              </div>
              <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Add Prescription</button>
              </div>
      </div>
  </div>
</div>
