<ngx-spinner></ngx-spinner>

<esp-content [title]="'Practitioner List'">
    <div class="container-fluid" *ngIf="isView">
        <div class="statistic-block-in block">
            <div class="row">
                <div class="col-6 ">
                    <h2 class="sports_Categ_title_1"> Total Practitioner {{totalPractitioner?.length}}</h2>
                </div>
                <div class="col-6">
                    <a class="add-link" routerLink="/home/create-practitioner" *ngIf="isCreate">Add New Practitioner<i class="material-icons">add_circle_outline</i></a>
                </div>
            </div>
        </div>


        <ng-container *ngIf='totalPractitioner?.length==0; else statusActive;'>

            <div class="public-user-block block">
                <div class="empty_mess_div text-center">
                    <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                    <p>Currently there is no practitioner in this team. <br> </p>

                </div>
            </div>

        </ng-container>

        <ng-template #statusActive>
            <div class="statistic-block block">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <ng-container *ngFor='let practNav of orgData'>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" href="" [ngClass]="{'active': select==practNav.practitionerRole}" data-bs-toggle="tab" role="tab" aria-controls="home" (click)='filterCoach(practNav.practitionerRole)' aria-selected="true">{{practNav.practitionerRole}}</a>
                        </li>
                    </ng-container>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="football" role="tabpanel" aria-labelledby="home-tab">
                        <br>
                        <div class="row">
                            <div class="col col-lg-6 col-md-12  col-sm-12 " *ngFor="let details of catch">
                                <div class="user-block user-block-coach block text-center position-rel">
                                    <div class="avatar"><img src={{details.image}} alt="..." class="img-fluid">
                                        <div class="order dashbg-2">1st</div>
                                    </div>
                                    <div class="icon-block edit_delete">
                                        <!-- <a  ><img src="./assets/img/icons/message.svg"></a> -->
                                        <a data-bs-toggle="modal" data-bs-target="#editPractitionerModal" (click)="openEditPage(details)" *ngIf="isEdit"><img src="./assets/img/icons/edit_athlete.svg"></a>
                                        <a data-bs-toggle="modal" data-bs-target="#deletePractitioner" *ngIf="isDelete"><img src="./assets/img/icons/delete Athlete.svg"></a>
                                    </div>




                                    <!-- Modal-- delete - start-->
                                    <div id="deletePractitioner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                                        <div role="document" class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"><img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the practitioner</span></strong>
                                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton" aria-hidden="true">×</span></button>
                                                </div>

                                                <div class="modal-body">
                                                    <p>Are you sure want to delete this practitioner.</p>

                                                </div>
                                                <div class="modal-footer">
                                                    <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                                                    <button type="submit" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#successfullyDeletedModal" (click)="deletePractitioner(details.id)" class="btn btn-primary toast-btn">Delete</button>
                                                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal-- delete - end-->




                                    <a class="user-title">
                                        <h3 class="h5">{{details.practitionerName}} </h3><span>{{details.email}} <br> {{details.contactNo}}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>





    </div>
    <esp-modal-update [props]=modelDetails[0]></esp-modal-update>

</esp-content>
<esp-footer></esp-footer>





<!-- Modal-- edit-->
<div id="editPractitionerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Edit Practitioner</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
            aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]='myPractitionerForm' (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Practitioner Name</label>
                                <input type="text" (keypress)="keyPressAlphaNumeric($event)" formControlName="practitionerName" placeholder="Enter Practitioner Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Practitioner Role</label>
                                <input type="email" (keypress)="keyPressAlphaNumeric($event)" formControlName="practitionerRole" placeholder="Enter Practitioner Role" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                <label class="form-control-label">Practitioner No</label>
                <input type="text" formControlName="contactNo" placeholder="Enter Practitioner No" class="form-control">
              </div> -->



                            <!-- <div class="col-md-4"> -->
                            <div class="form-group">

                                <label class="form-control-label">Practitioner Mobile Number</label>
                                <div class="d-flex">
                                    <!-- <div class="left-box col-3">
                      <select  formControlName="mobileNumber" class="form-control mb-1 mb-1">
                        <option [value]='null' disabled selected>+</option>
                        <option value="{{callingCodes}}" *ngFor='let callingCodes of phoneCode'>{{callingCodes}}</option>
                      </select>
                    </div> -->

                                    <!-- <div class="right-box col-9"> -->
                                    <input type="text" (keypress)="keyPressAlphaNumerics($event)" maxlength="10" formControlName="contactNo" placeholder="Enter Practitioner Mobile Number" class="form-control">

                                    <!-- <div *ngIf="f.contactNo.invalid && f.contactNo.errors && f.contactNo.touched" class="invalid-feedback">
                    <div *ngIf="f.contactNo.errors.required">Phone is required</div>
                </div>  -->
                                    <!-- </div> -->
                                </div>
                            </div>
                            <!-- </div> -->


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Practitioner Email ID</label>
                                <input type="email" formControlName="email" placeholder="Enter Practitioner Email ID" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Practice Name</label>
                                <input type="text" formControlName="practiceName" placeholder="Enter Practice Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Practice Address</label>
                                <input type="text" formControlName="address" placeholder="Enter Practice Address" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="modal-footer">
                                <button type="submit" data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary toast-btn">Update Practitioner</button>
                                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                                <!-- <button type="button" (click)='closeView()' data-bs-dismiss="modal" class="btn btn-secondary">Close</button> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal-- deleted - success - start-->
<!-- <div id="deletedSuccessPractitioner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Practitioner deleted successfully.</p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" (click)='pageReload()' class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div> -->
<!-- Modal-- deleted - success - end-->









<!-- <esp-modal-success [props]=modelSucess[0]></esp-modal-success> -->
<esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>