.left-box {
    width: 38%;
}

.right-box {
    width: 62%;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 83px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -34px;
    font-weight: 1000;
    color: #ff9090;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
}

.modal-title {
    font-size: 1.25rem !important;
}