<esp-content [title]="'View Assessments'">
    <div class="statistic-block block">


        <ng-container *ngIf='questionsList?.length==0; else viewQuestionList;'>

            <div class="public-user-block block">
                <div class="empty_mess_div text-center">
                    <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
                    <p>Currently there is no questionnaire to view <br> </p>

                </div>
            </div>

        </ng-container>

        <ng-template #viewQuestionList>


            <div class="quest_div" *ngFor="let itemList of questionsList; let i = index">
                <p>{{i+1}}. {{itemList.question}}</p>
                <div class="edit_ques_icon">
                    <a (click)="editQues(itemList)" data-bs-toggle="modal" data-bs-target="#editQuesModal"><img class="icon_link" src="./assets/img/icons/go_arrow.svg" /></a>
                    <!-- <a data-bs-toggle="modal" data-bs-target="#removeQueList" (click)="getQueListId(itemList.id)"><img src="./assets/img/icons/remove_questionaire.svg"></a> -->
                </div>
            </div>

        </ng-template>
    </div>
</esp-content>

<!-- Create New Questionaire Modal- start-->
<div id="editQuesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog modal_large">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">View Questionnaire</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
           aria-hidden="true">×</span></button>
            </div>



            <div class="modal-body">

                <form [formGroup]="editQuestionnaireForm" (ngSubmit)="onUpdate()">

                    <div class="form-group form-group-textarea">

                        <textarea disabled rows="1" formControlName="question" placeholder="Type Questionnaire Title..." [ngClass]="{ 'is-invalid': f.question.touched && f.question.errors && f.question.invalid }"></textarea>
                        <div *ngIf="f.question.invalid && f.question.errors && f.question.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.question.errors.required">Question is required</div>
                        </div>
                    </div>

                    <div class="form-group form-group-textarea">

                        <textarea disabled rows="2" formControlName="type" placeholder="Type Questionnaire Description..." [ngClass]="{ 'is-invalid': f.type.touched && f.type.errors && f.type.invalid }"></textarea>
                        <div *ngIf="f.type.invalid && f.type.errors && f.type.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.type.errors.required">Type is required</div>
                        </div>

                    </div>

                    <div class="form-group form-group-textarea">
                        <label>Select Answer Type</label>
                        <select disabled (change)="selectedOption($event)" formControlName="typedataValue" class="form-control mb-3 mb-3 m-0" [ngClass]="{ 'is-invalid': f.typedataValue.touched && f.typedataValue.errors && f.typedataValue.invalid }">
             <option selected value="" disabled>- Select -</option>
             <option value="yesOrNo">Yes / No</option>
             <option value="Text Area">Text Area</option>
             <option value="Text Box">Text Box</option>
             <option value="Radio Buttons">Radio Buttons</option>
             <option value="Check Boxes">Check Boxes</option>
             <option value="Star Ratings">Star Ratings</option>
           </select>

                        <div *ngIf="f.typedataValue.invalid && f.typedataValue.errors && f.typedataValue.touched" class="invalid-feedback space-y">
                            <div *ngIf="f.typedataValue.errors.required">TypedataValue is required</div>
                        </div>

                    </div>


                    <div *ngIf='yesOrNo' class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button disabled type="button" class="btn btn-secondary">Yes</button>
                            <button disabled type="button" class="btn btn-secondary">No</button>

                        </div>
                    </div>

                    <div></div>

                    <div *ngIf='arrayBox'>
                        <div formArrayName="data">
                            <div *ngFor="let skill of addInputs.controls; let i=index">
                                <div class="row ">
                                    <div class="col-md-10" [formGroupName]="i">



                                        <input type="text" formControlName="value" value="i" style="display: none;">


                                        <textarea disabled rows="1" formControlName="name" placeholder="Type Questionnaire Description..."></textarea>



                                    </div>
                                    <div class="col-md-2 addDelBtns">

                                        <button disabled type="button" class="btn btn-danger spaceBtn" (click)="removeSkill(i)">Delete</button>


                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="row">
                        </div>
                    </div>






                    <div class="modal-footer">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>

<!-- Create New Questionaire Modal- end-->




















<!-- Modal-- created - success - start-->
<!-- <div id="questionnaireUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
class="modal fade text-left">
<div role="document" class="modal-dialog">
<div class="modal-content">
  <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
        aria-hidden="true">×</span></button>
  </div>

  <div class="modal-body">
    <p>Questionnaire updated successfully.</p>

  </div>
  <div class="modal-footer">
    <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
  </div>
</div>
</div>
</div> -->
<!-- Modal-- created - success - end-->



<!-- Modal-Error-->
<!-- <div id="modelError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
<div role="document" class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Error!</strong>
          <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
      aria-hidden="true">×</span></button>
      </div>

      <div class="modal-body">
          <p>Something went wrong.</p>


      </div>
      <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>


      </div>
  </div>
</div>
</div> -->
<!-- Modal-->









<!-- Modal--for--remove-->
<!-- <div id="removeQueList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"> <img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the questionnaire</span></strong>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton" aria-hidden="true">×</span></button>
          </div>

          <div class="modal-body">
              <p>Are you sure you want to delete this questionnaire.<br></p>

          </div>
          <div class="modal-footer">
              <button type="submit" data-bs-dismiss="modal" (click)="deleteQueList()" class="btn btn-primary toast-btn">Delete</button>
              <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>

          </div>
      </div>
  </div>
</div> -->
<!-- Modal----for--remove-->








<!-- Modal-- deleted - success - start-->
<!-- <div id="deletedSuccessQue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
<div role="document" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
            width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
aria-hidden="true">×</span></button>
        </div>

        <div class="modal-body">
            <p>Question deleted successfully.</p>

        </div>
        <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
        </div>
    </div>
</div>
</div> -->
















<!--
<esp-modal-update [props]=modelDetails[0]></esp-modal-update>
<esp-modal-success [props]=modelDetails[0]></esp-modal-success>
<esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>
<esp-modal-already-exist [props]=modelDetails[0]></esp-modal-already-exist> -->