<section class="no-padding-bottom">
    <!-- <div class="container-fluid"> -->
    <div class="public-user-block block">
        <div class="row d-flex align-items-center">
            <div class="col-lg-4 d-flex align-items-center">
                <div class="order">{{props.position}}</div>
                <div class="avatar"> <img src="{{props.avatar}}" alt="..." class="img-fluid"></div><a class="name"><strong class="d-block">{{props.name}}</strong><span class="d-block">{{props.which_coach}}</span></a>
            </div>
            <div class="col-lg-4 text-center">
                <div class="contributions">{{props.which_team}}</div>
            </div>
            <div class="col-lg-4">
                <div class="details d-flex">
                    <div class="item"><i class="icon-info"></i><strong>{{props.item_1}}</strong></div>
                    <div class="item"><i class="fa fa-gg"></i><strong>{{props.item_2}}</strong></div>
                    <div class="item"><i class="icon-flow-branch"></i><strong>{{props.item_3}}</strong></div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>










<!-- <div class="public-user-block block">
    <div class="row d-flex align-items-center">
      <div class="col-lg-3 d-flex align-items-center">
        <div class="order">{{props.order}}</div>
        <div class="avatar"><img src="{{props.avatar}} " alt="..." class="img-fluid"></div><a   class="name"><strong class="d-block">{{props.name}}</strong><span class="d-block">Body Mass : {{props.body_mass}}</span></a>
      </div>
      <div class="col-lg-3 text-center">
        <div class="contributions">Grade: A </div>

      </div>
      <div class="col-lg-6">
        <div class="details d-flex">

          <div class="item">
            <span>Current Injury</span><br>
            <strong>{{props.current_injury}}</strong>

          </div>

          <div class="item">
            <span>Training Days</span><br>
            <strong>{{props.training_days}}</strong>
          </div>

          <div class="item">
            <span>Missed Days</span><br>
            <strong>{{props.missed_days}}</strong>
          </div>

          <div class="item">
            <span [class]="props.color_class">
              {{props.status}}
              </span>
          </div>

          <div class="item text-right">
            <a  ><img class="icon_link" src="./assets/img/icons/download.svg"></a> &nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/home/athelete-details"><img class="icon_link" src="./assets/img/icons/go_arrow.svg"></a>
          </div>
        </div>
      </div>
    </div>
</div> -->


<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Invite New Athlete</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>



            <div class="modal-body">
                <p>Enter details below for <br>invite a athlete under selected team</p>
                <form>
                    <div class="form-group">
                        <label>Athlete Name</label>
                        <input type="email" placeholder="Enter Athlete Name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" placeholder="Enter Email Address" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input type="text" placeholder="Enter Mobile Number" class="form-control">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Invite Athlete</button>
            </div>
        </div>
    </div>
</div>