<div class="login-page">
  <div class="container d-flex align-items-center">
      <div class="form-holder has-shadow">
          <div class="row">

              <!-- Form Panel    -->
              <div style="margin: auto;" class="col-lg-5">
                  <div class="form d-flex align-items-center">
                      <div class="content">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                              <img class="login-img" src="assets/img/evvo_m_logo.svg">

                              <h4 class="color-white line-space">Verify your code & email to login ESP admin</h4>
                              <br>
                              <div class="form-group">
                                  <div class="form-group">
                                      <div class="input-group">
                                          <div class="input-group-prepen"><span class="input-group-text">@</span>
                                          </div>
                                          <input type="text" placeholder="enter your ESP entry code" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': f.code.touched && f.code.errors && f.code.invalid }" />
                                          <div *ngIf="f.code.invalid && f.code.errors && f.code.touched" class="invalid-feedback">
                                              <div *ngIf="f.code.errors.required">Code is required</div>
                                              <div *ngIf="f.code.errors.maxlength">Enter maxium of 6 numbers</div>
                                              <div *ngIf="f.code.errors.minlength">Enter minimum of 6 numbers</div>
                                              <div *ngIf="f.code.errors.pattern">Enter only number.</div>
                                            </div>


                                      </div>



                                    </div>
                              </div>
                              <div class="form-group">
                                  <div class="form-group">
                                      <div class="input-group">
                                          <div class="input-group-prepend"><span class="input-group-text">@</span>
                                          </div>
                                          <!-- <input formControlName='email' name="emails" type="email" placeholder="Enter email" class="form-control"> -->



                                          <input placeholder="Enter email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors && f.email.invalid  }" />
                      <div *ngIf="f.email.invalid && f.email.errors && f.email.touched" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>



                                        </div>
                                      <!-- <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">enter the proper email</span> -->
                                  </div>
                              </div>

                              <!-- <a class="btn btn-primary"  type="button" data-bs-toggle="modal" data-bs-target="#myModal">Verify</a> -->
                              <!-- <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Verify</button> -->


                              <div class="form-group">
                                <button [disabled]="!registerForm.valid" type="submit"  data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-primary">Verify</button>
                                <!-- [disabled]="this.registerForm.invalid" -->
                            </div>
                          </form>
                      <!-- <br><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyrights text-center">
      <p>Powered by Evvo Sports</p>
      <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
  </div>
</div>


      <!-- Modal-->
      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
              <p>Your code and email has been  successfully verified<br> you can proceed to create password page</p>

            </div>
            <div class="modal-footer">
              <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
              <button type="button" data-bs-dismiss="modal" routerLink="/register"  class="btn btn-primary">Create Password</button>
            </div>
          </div>
        </div>
      </div>         <!-- Modal-->

































































      <!-- main app container -->
<!-- <div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>Angular 6 Reactive Form Validation</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                  <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>

                  <div class="form-group">
                      <button class="btn btn-primary">Register</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> -->

