<div class="user-block block text-center position-rel">
    <div class="icon-block">
        <a data-bs-toggle="modal" data-bs-target="#myDownload4"><img src="assets/img/icons/download_small.svg"></a>
        <a><img src="assets/img/icons/settings_small.svg"></a>
    </div>

    <div class="team_avatar"><img src="assets/img/icons/team_icon.svg" alt="..." class="img-fluid">

    </div>
    <h3 class="h5">{{team?.name}}</h3><a class="user-title" data-bs-toggle="modal" data-bs-target="#coach_modal">{{coachName}}</a>

    <div class="contributions">Total Athletes 12</div>
    <div class="details d-flex m-top-20">
        <div class="item">Active<br><strong class="active_txt">N/A</strong></div>
        <div class="item">Injured<br><strong class="injured_txt">N/A</strong></div>
        <div class="item">Invited<br><strong>N/A</strong></div>
    </div>
    <div class="view_team_cta">
        <a routerLink="/home/team-details">Configure Team</a>
    </div>

</div>






<!-- Modal-->
<div id="coach_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Success!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>



            <div class="modal-body">
                <div class="form-group">
                    <label>Select Coach</label>
                    <select (change)="onChange($event)" name="account" class="form-control mb-1 mb-1">
                  <option disabled selected>-- Select Coach --</option>
                  <option value="Coach1">Coach Name 1</option>
                  <option value="Coach2">Coach Name 2</option>
                  <option value="Coach3">Coach Name 3</option>
                  <option value="Coach4">Coach Name 4</option>
                </select>
                </div>



            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">SAVE</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->




<!-- Modal--for--download-->
<div id="myDownload4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">File Downloaded!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Your file is downloaded. <br></p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">NO</button> -->
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okey</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal----for--download-->