a {
    cursor: pointer;
}

li {
    list-style-type: none !important;
    color: grey !important;
    margin: 5px !important;
}

li button {
    margin: 5px !important;
}

.rm-color {
    color: #8a8d93;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -34px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
}

.modal-title {
    font-size: 1.25rem !important;
}
