<ngx-spinner></ngx-spinner>
<div class="row" *ngIf="isView">
    <div class="col-md-6">
        <div class="title form-title">
            <strong class="d-block">Vaccination History</strong
        ><span class="d-block"></span>
      </div>
      <br />
    </div>
    <div class="col-md-6" *ngIf="isCreate">
      <a
        class="add-link"
        data-bs-toggle="modal"
        data-bs-target="#vaccination"

        >New Vaccination<i class="material-icons"
          >add_circle_outline</i
        ></a
      >
    </div>
  </div>
<ng-container *ngIf='vaccination?.length==0; else showVaccination;'>
    <div class="public-user-block block">
        <div class="empty_mess_div text-center">
            <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
            <p>Currently there are no vaccination added for this athlete.
                <br> </p>
        </div>
    </div>
</ng-container>
<ng-template #showVaccination>
<div class="questionaire-div block m-btm-15" *ngFor="let vac of vaccination">
    <div class="row d-flex align-items-center" *ngIf="isView">
        <div class="col-lg-4 col-md-4 col-sm-5  d-flex align-items-center">
            <a   class="name"><strong class="d-block strip-heading">{{vac?.vaccinationName}}</strong><span class="d-block rm-color">{{vac?.description}}</span></a>
        </div>
        <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
        <div class="col-lg-6 align-item-center col-md-6 col-sm-5 ">
            <div class="details d-flex row">
                <div class="item col-md-3">
                </div>
                <div class="item col-md-3">
                </div>
                <div class="item col-md-3">
                    <span>Vacc Date</span>
                    <strong>{{vac?.vaccinationDate  | date: 'dd/MM/yyyy'}}</strong>
                </div>
                <div class="item col-md-3">
                    <span>Quantity</span>
                    <strong>{{vac?.quantity}} Ml</strong>
                </div>
            </div>
        </div>
        <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block "></div>
        <div class="col-lg-2 col-md-2 col-sm-2 text-right ">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="check(vac)">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editvaccination" (click)="editPres(vac)" *ngIf="isEdit">Edit Details</a>
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myRemoved" (click)="download(vac?.id)">Download Details</a>
                    <div class="border-top w-100 pt--sm mt--sm"></div>
                    <a class="dropdown-item" (click)="deletePres(vac?.id)" data-bs-toggle="modal" data-bs-target="#Opens" *ngIf="isDelete">Remove</a>
                </div>
            </div>
            <div id="myRemoved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Download!</strong>
                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                                    aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p class="">Click to download. <br></p>
                        </div>
                        <div class="modal-footer">
                            <li>
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="EXCEL()" style="width: 80px;">EXCEL</button>
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="PDF()" style="width: 80px;">PDF</button>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myDownloaded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">File
                                Downloaded!</strong>
                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                                    aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Your file is downloaded. <br></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okey</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-template>
<div id="vaccination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog larger-modal">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Add New Vaccination</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <form [formGroup]="myVaccinationForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vaccination Name</label>
                                <input (keypress)="keyPressAlphaNumeric($event)" formControlName="vaccinationName" type="text" placeholder="Enter Vaccine Name" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': f.vaccinationName.touched && f.vaccinationName.errors && f.vaccinationName.invalid }">
                                <div *ngIf="f.vaccinationName.invalid && f.vaccinationName.errors && f.vaccinationName.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.vaccinationName.errors.required">Vaccine Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vaccinated By</label>
                                <select (keypress)="keyPressAlphaNumeric($event)" formControlName="practionerId" (change)='passData($event)' name="practionerId" class="form-control mb-3 mb-3" [ngClass]="{ 'is-invalid': f.practionerId.touched && f.practionerId.errors && f.practionerId.invalid }">
                                    <option value="">- Select -</option>
                                    <option value="{{name.id}}" *ngFor="let name of practitioner">
                                        {{name.practitionerName}}</option>
                                </select>
                                <div *ngIf="f.practionerId.invalid && f.practionerId.errors && f.practionerId.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.practionerId.errors.required">Practitioner Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vaccination Date</label>
                                <input formControlName="vaccinationDate" type="date" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': f.vaccinationDate.touched && f.vaccinationDate.errors && f.vaccinationDate.invalid }">
                                <div *ngIf="f.vaccinationDate.invalid && f.vaccinationDate.errors && f.vaccinationDate.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.vaccinationDate.errors.required">Vaccination Date is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input formControlName="quantity" maxlength="3" (keypress)="keyPressAlphaNumerics($event)" type="text" placeholder="Enter in Ml" class="form-control" [ngClass]="{ 'is-invalid': f.quantity.touched && f.quantity.errors && f.quantity.invalid }">
                                <div *ngIf="f.quantity.invalid && f.quantity.errors && f.quantity.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Description</label>
                                <textarea formControlName="description" rows="3" class="capitalize" placeholder="Enter Comments" maxlength="350" [ngClass]="{ 'is-invalid': f.description.touched && f.description.errors && f.description.invalid }">
                                    </textarea>
                                <div *ngIf="f.description.invalid && f.description.errors && f.description.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.description.errors.required">Description is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" data-bs-dismiss="modal" [disabled]="!myVaccinationForm.valid" class="btn btn-primary toast-btn">Add New
                            Vaccination</button>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="editvaccination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog larger-modal">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Update Vaccination</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <form [formGroup]="myVaccinationForm" (ngSubmit)="onEdit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vaccination Name</label>
                                <input formControlName="vaccinationName" type="text" placeholder="Enter Vaccine Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vaccinated By</label>
                                <select formControlName="practionerId" (change)='passData($event)' name="practionerId" class="form-control mb-3 mb-3">
                                    <option value="">- Select -</option>
                                    <option value="{{name.id}}" *ngFor="let name of practitioner">
                                        {{name.practitionerName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vaccination Date</label>
                                <input formControlName="vaccinationDate" type="date" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input maxlength="3" (keypress)="keyPressAlphaNumerics($event)" formControlName="quantity" type="text" placeholder="Enter in Ml" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Description</label>
                                <textarea class="capitalize" formControlName="description" rows="3" placeholder="Enter Comments"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Update
                        Vaccination</button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Opens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"><img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the vaccination</span></strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton"
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this vaccination.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" (click)="Delete()">Delete</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="updateVaccination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
            width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Vaccination updated successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<div id="addVaccination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
            width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Vaccination added successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>
<div id="deleteVaccination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
            width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Vaccination deleted successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>