<ngx-spinner></ngx-spinner>

<esp-content [title]="'Create Practitioner'">

    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid" *ngIf="isView">
            <div class="statistic-block block">
                <div class="row">
                    <div class="col-lg-3">
                        <h2 class="sports_Categ_title_1">Add New Practitioner</h2><br>
                        <div class=""></div>
                    </div>
                </div>



                <form [formGroup]='myPractitionerForm' (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Practitioner Name</label>
                                <input type="text" (keypress)="keyPressAlphaNumeric($event)" formControlName="practitionerName" placeholder="Enter Practitioner Name" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': f.practitionerName.touched && f.practitionerName.errors && f.practitionerName.invalid }">
                                <div *ngIf="f.practitionerName.invalid && f.practitionerName.errors && f.practitionerName.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.practitionerName.errors.required">Practitioner Name is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Practitioner Role</label>
                                <input type="text" (keypress)="keyPressAlphaNumeric($event)" formControlName="practitionerRole" placeholder="Enter Practitioner Role" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': f.practitionerRole.touched && f.practitionerRole.errors && f.practitionerRole.invalid }">
                                <div *ngIf="f.practitionerRole.invalid && f.practitionerRole.errors && f.practitionerRole.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.practitionerRole.errors.required">Practitioner Role is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">

                                <label class="form-control-label">Practitioner Mobile Number</label>
                                <!-- <div class="d-flex"> -->
                                <!-- <div class="left-box col-3">
                  <select  formControlName="mobileNumber" class="form-control mb-1 mb-1">
                    <option [value]='null' disabled selected>+</option>
                    <option value="{{callingCodes}}" *ngFor='let callingCodes of phoneCode'>{{callingCodes}}</option>
                  </select>
                </div> -->

                                <!-- <div class="right-box col-9"> -->
                                <input type="text" (keypress)="keyPressAlphaNumerics($event)" maxlength="15" formControlName="contactNo" placeholder="Enter Practitioner Mobile Number" class="form-control" [ngClass]="{ 'is-invalid': f.contactNo.touched && f.contactNo.errors && f.contactNo.invalid }">

                                <div *ngIf="f.contactNo.invalid && f.contactNo.errors && f.contactNo.touched" class="invalid-feedback">
                                    <div *ngIf="f.contactNo.errors.required">Practitioner Mobile Number is required</div>
                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>





                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Practitioner Email ID</label>
                                <input type="email" formControlName="email" placeholder="Enter Practitioner Email ID" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors && f.email.invalid }">
                                <div *ngIf="f.email.invalid && f.email.errors && f.email.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.email.errors.required">Practitioner Email is required</div>
                                    <div *ngIf="f.email.errors.pattern">
                                        Email must be a valid email address
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Practice Name</label>
                                <input (keypress)="keyPressAlphaNumeric($event)" type="text" formControlName="practiceName" placeholder="Enter Practice Name" class="form-control" maxlength="30" [ngClass]="{ 'is-invalid': f.practiceName.touched && f.practiceName.errors && f.practiceName.invalid }">
                                <div *ngIf="f.practiceName.invalid && f.practiceName.errors && f.practiceName.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.practiceName.errors.required">Practice Name is required</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label">Practice Address</label>
                                <input type="text" formControlName="address" placeholder="Enter Practice Address" class="form-control" maxlength="500" [ngClass]="{ 'is-invalid': f.address.touched && f.address.errors && f.address.invalid }">
                                <div *ngIf="f.address.invalid && f.address.errors && f.address.touched" class="invalid-feedback space-y">
                                    <div *ngIf="f.address.errors.required">Practice Address is required</div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="modal-footer">
                                <button [disabled]="!myPractitionerForm.valid" type="submit" data-bs-toggle="modal" data-bs-target="#createPractitioner" class="btn btn-primary toast-btn" *ngIf="isCreate">Add Practitioner</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>




    <!-- Modal-->
    <div id="createPractitioner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
                    width: 55px;     position: relative;
        right: 12px;" >Success Message!</strong>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <p>New practitioner has been created successfully. <br> </p>

                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" routerLink='/home/practitioner-list' class="btn btn-primary toast-btn">Okay</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-->



</esp-content>
<esp-footer></esp-footer>