<div id="removeConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title marginLeft dashbg_txt_5"> <img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the message</span></strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton" aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this message.<br></p>
            </div>
            <div class="modal-footer">
                <!-- <button type="submit" data-bs-dismiss="modal" (click)="deleteCoache()" class="btn btn-primary toast-btn">Delete</button> -->
                <button type="submit" data-bs-dismiss="modal" (click)="callDeleteMsg()" class="btn btn-primary toast-btn">Delete</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
