<div class="statistic-block block">
    <a class="team_edit_icon"><img src="assets/img/icons/edit_athlete.svg" /></a>
    <div class="row">
        <div class="col-lg-2" *ngFor="let prop of props">
            <div class="label_value_Div">
                <span>{{ prop.name }}</span>
                <p>{{ prop.value }}</p>
            </div>
        </div>
    </div>
</div>