<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#injury" role="tab" aria-controls="home" aria-selected="true">Injury Data</a>
    </li>
    
    <li class="nav-item" role="presentation">
      <a class="nav-link " id="contact-tab" data-bs-toggle="tab" href="#treatment" role="tab" aria-controls="contact" aria-selected="false">Treatment Information</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#prescriptions" role="tab" aria-controls="contact" aria-selected="false">Prescriptions</a>
    </li>


    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#Vaccinations" role="tab" aria-controls="contact" aria-selected="false">Vaccinations</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#medica_history" role="tab" aria-controls="contact" aria-selected="false">Medical History & Records</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#documents" role="tab" aria-controls="contact" aria-selected="false">Athlete Documents</a>
    </li>
    
</ul>
