<div class="container-fluid" style="display:none;">
    <div class="row d-flex align-items-stretch">
        <div class="col-lg-4">
            <div class="stats-with-chart-1 block">
                <div class="title"> <strong class="d-block">Athletes Invite Count</strong><span class="d-block">Overview</span>
                </div>
                <div class="row d-flex align-items-end justify-content-between">
                    <div class="col-4">
                        <div class="text"><strong class="d-block dashtext-1">65%</strong><span class="d-block">Fitness</span><small class="d-block">Strength</small> <small class="d-block">Speed</small> <small class="d-block">Power</small> </div>
                    </div>
                    <div class="col-8">
                        <div class="bar-chart chart">
                            <div id="container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stats-with-chart-1 block">
                <div class="title"> <strong class="d-block">Team Training Completion</strong><span class="d-block">Overall
            Performance</span></div>
                <div class="row d-flex align-items-end justify-content-between">
                    <div class="col-5">
                        <div class="text"><strong class="d-block dashtext-2">80%</strong><span class="d-block">May 2021</span><small class="d-block">10 Days Cycle</small></div>
                    </div>
                    <div class="col-7">
                        <div class="bar-chart chart">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stats-with-chart-1 block">
                <div class="title"> <strong class="d-block">Questionnaire Completion</strong><span class="d-block">Lorem ipsum
            dolor sit</span></div>
                <div class="row d-flex align-items-end justify-content-between">
                    <div class="col-5">
                        <div class="text"><strong class="d-block dashtext-2">80%</strong><span class="d-block">May 2021</span><small class="d-block">10 Days Cycle</small></div>
                    </div>
                    <div class="col-7">
                        <div class="bar-chart chart">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
           background: #2d3035;">
                    <canvas id="bar"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
           background: #2d3035;">
                    <canvas id="line"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
           background: #2d3035;">
                    <canvas id="myPie"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;border-color: white;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
           background: #2d3035;">
                    <canvas id="radar"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
         background: #2d3035;">
                    <canvas id="doughnut"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
           background: #2d3035;">
                    <canvas id="polarArea"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
         background: #2d3035;">
                    <canvas id="horizontalBar"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
           background: #2d3035;">
                    <canvas id="scatter"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="divchart">
                <div class="card" style="border-radius: 0px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;
         background: #2d3035;">
                    <canvas id="bubble"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>