.ends {
    margin-left: auto;
    display: flex;
}

.backBtn {
    display: flex;
    margin-left: auto;
}

.leftspace {
    margin-left: 10px;
}

::-webkit-file-upload-button {
    background: black;
    color: red;
    padding: 1em;
    display: none;
}

.uploadBtn {
    margin: 0px;
    background-color: rgb(119, 119, 119);
}

.uploadBtn:hover {
    background-color: #fd7e14;
}

.disableField {
    cursor: none;
}

.deleteIcon {
    height: 45px;
    width: 55px;
    position: relative;
    right: 12px;
}

.positioning {
    position: relative;
    right: -50px;
    font-size: 87% !important;
    top: -34px;
    font-weight: 1000;
}

.closeButton {
    position: relative;
    left: -2px;
    font-size: 25px;
    top: 9.5px;
}

.downloadIcon {
    margin-top: 6px;
}

.modal-title {
    font-size: 1.25rem !important;
}