<ng-container *ngIf='treatmentInfoData?.length==0; else showTreatment;'>

    <div class="public-user-block block">
        <div class="empty_mess_div text-center">
            <img style="height: 100px;" src="../../../assets/img/athlete-avatar.png">
            <p>Currently there are no treatment information details has been added for this athlete <br> </p>

        </div>
    </div>

</ng-container>

<ng-template #showTreatment>

    <div *ngIf="treatment">
        <div *ngFor="let treatById of treatmentInfoData">
            <div class="public-user-block questionaire-div block m-btm-15">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-5  d-flex align-items-center">
                        <a class="name"><strong
                              class="d-block strip-heading">{{treatById?.disease}}</strong><span
                              class="d-block">{{treatById?.examination}}</span></a>
                    </div>
                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block ">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-5 ">
                        <div class="details d-flex row">
                            <div class="item col-md-4">
                                <span>Practitioner Name</span>
                                <strong>John Doe</strong>
                            </div>
                            <div class="item col-md-4">
                                <span> Treatment Date</span>
                                <strong>{{treatById?.consultationDate | date :
                                  'dd/MM/yyy'}}</strong>
                            </div>

                            <div class="item col-md-4">
                                <span>Treatment Status</span>
                                <strong>{{treatById?.consultationDate | date :
                                  'dd/MM/yyy'}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="border-top w-100 pt--sm mt--sm brdr-line-m d-lg-none d-md-none d-sm-block ">
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 text-right ">

                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="check(pres)">
                  Actions
                </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)="viewTreatInfo(treatById)" style="cursor: pointer;">View Treatment Information</a>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPrescription" (click)="editTreatInfo(treatById)" style="cursor: pointer;">Edit Treatment Information</a>

                                <!-- <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myDownloadeds" style="cursor: pointer;">Download Details</a> -->
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmTreatDelete" (click)="deleteTreatInfo(treatById.id)" style="cursor: pointer;">Remove</a>

                            </div>
                        </div>
                        <!-- <div _ngcontent-lpo-c239="" class="item text-right">
                          <a _ngcontent-lpo-c239="" (click)="viewTreatInfo(treatById)"><img
                                  _ngcontent-lpo-c239="" src="./assets/img/icons/go_arrow.svg"
                                  class="icon_link mx-5"></a>
                      </div> -->

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid box" *ngIf="viewTreatSection">
        <div class="block">
            <div class="title form-title"><strong class="d-block">View Treatment
                  Information </strong><span class="d-block">Lorem ipsum dolor sit amet
                  consectetur.</span></div><br>

            <form [formGroup]="myTreatmentForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col-md-3">
                        <div class="i-checks form-group">
                            <input disabled id="radioCustom1" type="radio" formControlName="consultationType" checked="" value="New Consultation" name="consultationType" class="radio-template">

                            <label for="radioCustom1">New Consultation</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="i-checks form-group">
                            <input disabled id="radioCustom2" type="radio" formControlName="consultationType" value="Recurrent Consultation" name="consultationType" class="radio-template">
                            <label for="radioCustom2">Recurrent Consultation</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Disease / Injury</label>
                            <input disabled type="text" maxlength="20" formControlName="disease" placeholder="Enter Disease  or Injury Details" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Treatment Type</label>
                            <input disabled formControlName="treatmentType" maxlength="20" type="text" placeholder="Enter Treatment Type" class="form-control">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Treatment Location</label>
                            <input disabled formControlName="location" maxlength="50" type="text" placeholder="Hospital/Campus/Area" class="form-control">

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Select Practitioner name</label> <br>
                            <select disabled formControlName="practitionerID" name="practitionerID" class="form-control mb-3 mb-3">
                              <option value="">- Select -</option>
                              <option value="{{name?.id}}" *ngFor="let name of practitioner">
                                  {{name?.practitionerName}}</option>
                          </select>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Consultation Date</label>
                            <input disabled formControlName="consultationDate" type="date" placeholder="Enter Date" class="form-control">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="form-control-label">Consultation Time</label>
                                <input disabled formControlName="consultationTime" type="time" placeholder="Enter Date" class="form-control">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-block" *ngFor="let getDetails of newPractitioner">
                            <div class="row m-btm-10">
                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practitioner Name</span>

                                        <p>{{getDetails.practitionerName}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practitioner Role</span>

                                        <p>{{getDetails.practitionerRole}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practitioner No</span>

                                        <p>{{getDetails.contactNo}}</p>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practitioner Email ID</span>

                                        <p>{{getDetails.email}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practice Name</span>

                                        <p>{{getDetails.practiceName}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practice Address</span>

                                        <p>{{getDetails.address}}</p>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Presenting Complaints</label> <br>
                            <textarea disabled formControlName="complaints" rows="2" placeholder="Enter your comments here"></textarea>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Examination</label> <br>
                            <textarea disabled formControlName="examination" rows="2" placeholder="Enter your comments here"></textarea>

                        </div>
                    </div>
                </div>







                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label">Documents Upload</label> <br>


                        <ng-container formArrayName="documents" *ngFor="let item of abc.controls; let i = index;">

                            <div [formGroupName]="i">

                                <!-- Border Block Start Here -->
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="m-0">Document {{i+1}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input disabled formControlName="documentType" type="text" placeholder="Enter Document Name" maxlength="50" class="form-control">


                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group m-0">



                                                <div class="input-group">

                                                    <input disabled type="text" class="form-control disableField" #file placeholder="Upload Document" multiple formControlName="fileName" id="importFile+{{i}}" (change)="uploadFile(file.files)">


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group m-0">
                                                <div class="input-group d-flex justify-content-around">
                                                    <div class="input-group-append mx-1">

                                                        <button disabled aria-disabled="true" type="button" class="btn btn-primary uploadBtn" #labelImport for="importFile+{{i}}">Upload</button>
                                                    </div>
                                                    <div class="input-group-append mx-1">
                                                        <button disabled type="button" class="btn btn-danger" (click)="removeSkill(i)">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Border Block Start Here -->
                            </div>

                        </ng-container>

                    </div>
                </div>



                <br />

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary backBtn" (click)="treatBack()">Back
                      </button>
                    </div>
                </div>

            </form>



        </div>
    </div>

    <div class="container-fluid box" *ngIf="editTreatSection">
        <div class="block">
            <div class="title form-title"><strong class="d-block">Edit Treatment
                  Information </strong><span class="d-block">Lorem ipsum dolor sit amet
                  consectetur.</span></div><br>

            <form [formGroup]="myTreatmentForm" (ngSubmit)="updateTreatInfo()">

                <div class="row">
                    <div class="col-md-3">
                        <div class="i-checks form-group">
                            <input id="radioCustom1" type="radio" formControlName="consultationType" checked="" value="New Consultation" name="consultationType" class="radio-template">

                            <label for="radioCustom1">New Consultation</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="i-checks form-group">
                            <input id="radioCustom2" type="radio" formControlName="consultationType" value="Recurrent Consultation" name="consultationType" class="radio-template">
                            <label for="radioCustom2">Recurrent Consultation</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Disease / Injury</label>
                            <input type="text" maxlength="20" formControlName="disease" placeholder="Enter Disease  or Injury Details" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Treatment Type</label>
                            <input formControlName="treatmentType" maxlength="20" type="text" placeholder="Enter Treatment Type" class="form-control">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Treatment Location</label>
                            <input formControlName="location" maxlength="50" type="text" placeholder="Hospital/Campus/Area" class="form-control">

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Select Practitioner name</label> <br>
                            <select formControlName="practitionerID" name="practitionerID" class="form-control mb-3 mb-3">
                              <option value="">- Select -</option>
                              <option value="{{name?.id}}" *ngFor="let name of practitioner">
                                  {{name?.practitionerName}}</option>
                          </select>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Consultation Date</label>
                            <input formControlName="consultationDate" type="date" placeholder="Enter Date" class="form-control">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="form-control-label">Consultation Time</label>
                                <input formControlName="consultationTime" type="time" placeholder="Enter Date" class="form-control">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-block" *ngFor="let getDetails of newPractitioner">
                            <div class="row m-btm-10">
                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practitioner Name</span>

                                        <p>{{getDetails.practitionerName}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practitioner Role</span>

                                        <p>{{getDetails.practitionerRole}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practitioner No</span>

                                        <p>{{getDetails.contactNo}}</p>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practitioner Email ID</span>

                                        <p>{{getDetails.email}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practice Name</span>

                                        <p>{{getDetails.practiceName}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="label_value_Div">
                                        <span>Practice Address</span>

                                        <p>{{getDetails.address}}</p>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Presenting Complaints</label> <br>
                            <textarea formControlName="complaints" rows="2" placeholder="Enter your comments here"></textarea>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Examination</label> <br>
                            <textarea formControlName="examination" rows="2" placeholder="Enter your comments here"></textarea>

                        </div>
                    </div>
                </div>







                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label">Documents Upload</label> <br>


                        <ng-container formArrayName="documents" *ngFor="let item of abc.controls; let i = index;">
                            <div [formGroupName]="i">
                                <div class="border-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="m-0">Document {{i+1}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input formControlName="documentType" type="text" placeholder="Enter Document Name" maxlength="50" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group m-0">
                                                <div class="input-group">
                                                    <input type="text" disabled formControlName="fileNameToDisplay" class="form-control" placeholder="Upload Document">
                                                    <input type="file" disabled class="form-control disableField" #file placeholder="Upload Document" multiple id="importFile+{{i}}" (change)="uploadFile(file.files,i)" style="display: none !important;">
                                                    <i class="fa fa-close text-alert" style="position: relative; right: 16px; top:8px" (click)="cancel(i)" *ngIf="myTreatmentForm.controls['documents']['controls'][i].value.cancelBtn"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group m-0">
                                                <div class="input-group d-flex justify-content-around">
                                                    <div class="input-group-append mx-1">
                                                        <label class="btn btn-primary upload uploadBtn spaceBtn" *ngIf="!myTreatmentForm.controls['documents']['controls'][i].value.btnUpload" style="background-color: #f79b3e" [style.backgroundColor]="uploadButtonGreen" (click)="file?.click(); clicked()" title="click To Upload File"
                                                            #labelImport for="importFile+{{i}}">
                                        Upload
                                      </label>
                                                        <label class="btn btn-primary upload uploadBtn" *ngIf="myTreatmentForm.controls['documents']['controls'][i].value.btnUpload" [style.backgroundColor]="uploadButtonOrange" title="click To Upload File" #labelImport for="importFile+{{i}}"><i
                                        class="fa fa-check text-white"
                                        style="position: relative; right: 8px"
                                      ></i>
                                        Uploaded
                                      </label>
                                                    </div>
                                                    <div class="input-group-append mx-1">
                                                        <button type="button" class="btn btn-danger spaceBtn" (click)="removeSkill(i)">Delete</button>
                                                    </div>

                                                    <div class="downloadIcon">
                                                        <i class="fa fa-download" *ngIf="myTreatmentForm.controls['documents']['controls'][i].value.btnUpload" (click)="downloadDoc(i)" aria-hidden="true"></i>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="add-link" (click)="addSkills()">Add Document<i
                                  class="material-icons">add_circle_outline</i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="modal-footer">
                        <div class="ends">
                            <button type="submit" class="btn btn-primary  toast-btn">Update Treatment Information</button>
                            <button type="button" (click)="treatBack()" class="btn btn-secondary  leftspace">Back</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



</ng-template>







<!-- Modal--for--confirmation-->
<div id="confirmTreatDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_5"><img class="deleteIcon" src="./assets/img/delete.svg"><span class="positioning">Delete the treatment information</span></strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span class="closeButton"
                      aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Are you sure want to delete this treatment information.</p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn" (click)="deleteData()">Delete</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary toast-btn">Cancel</button>

            </div>
        </div>
    </div>
</div>


<!-- Modal--for--update-->
<div id="updateTreatment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
          width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Treatment information updated successfully.</p>



            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal--for--delete-->
<div id="deleteTreatment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4"><img  src="./assets/img/tick.svg" alt="" style="height: 45px;
          width: 55px;     position: relative;
right: 12px;" >Success Message!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Treatment information deleted successfully.</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">Okay</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal-Error-->
<div id="modelError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title dashbg_txt_4">Error!</strong>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
          aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <p>Something went wrong.</p>


            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary toast-btn">OK</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal-->



<!--
<esp-modal-error></esp-modal-error>
<esp-modal-update [props]=modelDetails[0]></esp-modal-update>
<esp-modal-delete [props]=modelDetails[0]></esp-modal-delete>
<esp-modal-already-exist [props]=modelDetails[0]></esp-modal-already-exist> -->