<div class="statistic-block block">
    <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
            <div class="icon">
                <i class="material-icons">{{props.icon_name}}</i>
            </div>
            <strong>{{props.label}}</strong>
        </div>
        <div class="number" [class]="props.color_class">{{props.statistic}}</div>
    </div>
    <div class="progress progress-template">
        <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template" [class]="props.progress_color_class" [ngStyle]="{'width' : props.progress_percentage + '%'}"></div>
    </div>
</div>