.space-y {
    height: 3px;
    margin: 0px;
    padding: 0px;
}

.input-btn {
    border-right: none;
    // width: 100%;
    border-radius: 5px 0px 0px 5px !important;
}

::placeholder {
    color: #6f7175;
}

.fa-eye-slash:hover,
.fa-eye:hover {
    cursor: pointer;
    margin: 14px !important;
    justify-content: center !important;
    align-items: center !important;
}

.fa-eye-slash,
.fa-eye {
    cursor: pointer;
    margin: 14px !important;
}

.d-flex {
    width: 100%;
}

.eyeLogin-box {
    font-size: 15px;
    border: none;
    background: #282B33;
    line-height: normal;
    box-shadow: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    padding: 0 16px;
    height: 42px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.inputPass-box {
    font-size: 15px;
    border: none;
    background: #282B33;
    line-height: normal;
    box-shadow: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    padding: 0 16px;
    height: 42px;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.passInvalid {
    // position: absolute;
    color: #dc3545 !important;
}

.modal-title {
    font-size: 1.25rem !important;
}