::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 14px;
}

.form-group {
    margin-bottom: 1rem;
}

.w-50 {
    width: 50% !important;
}

.m-0 {
    margin: 0px !important;
}

.m-btm-0 {
    margin-bottom: 0px;
}

.m-btm-10 {
    margin-bottom: 10px;
}

.m-btm-15 {
    margin-bottom: 15px;
}

.m-top-20 {
    margin-top: 20px !important;
}

.pad-0 {
    padding: 0px;
}

.help-txt {
    font-size: 13px;
}

.login-page::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background: url(..\\img\\bg.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.user-block-coach .item {
    font-weight: 300;
    color: #75787f;
    font-size: 0.9em;
}

.user-block-coach .item strong {
    font-size: 0.8em;
}


/* your styles go here */

nav.navbar {
    /* background: #191C24; */
    color: #8a8d93;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #34373d;
    z-index: 10;
}

nav#sidebar {
    width: 280px;
    background: #191d25;
    color: #6a6c70;
    border-right: 1px dotted #34373d;
}

.page-content {
    position: relative;
    background: #000000;
    min-height: 100vh;
    /* width: calc(100% - 280px); */
    padding: 0px 0px 70px;
}

.statistic-block {
    padding: 20px;
    background: #191C24;
    color: #8a8d93;
}

.page-header {
    padding: 20px 15px;
    background: #191d25;
    color: rgb(138, 141, 147);
    margin-bottom: 30px;
}

.logo_img {
    height: 44px;
    margin-top: 10px;
    width: 55px;
}

nav.navbar {
    background: #282b33;
    color: #8a8d93;
    padding-top: 11px;
    padding-bottom: 4px;
    border-bottom: 1px dotted #34373d;
    z-index: 10;
}

nav.navbar {
    /* background: #191C24;
    color: #282b33; */
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px dotted #34373d;
    z-index: 10;
    position: relative;
}

nav.navbar .sidebar-toggle {
    width: 36px;
    height: 36px;
    margin-bottom: 0px;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
    background: rgb(40, 43, 47);
    color: rgb(138, 141, 147);
    font-size: 1.1rem;
    border: 2px solid rgb(61, 65, 72);
    outline: none;
    top: 17px;
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    margin-left: 25px;
}

nav#sidebar li a {
    padding: 14px 20px;
    display: block;
    font-weight: 400;
    font-size: 1em;
}

nav#sidebar a i {
    font-size: 1em;
    margin-right: 10px;
    -webkit-transition: none;
    transition: none;
}

nav#sidebar li.active::before {
    background: none;
}

.page-content {
    position: relative;
    background: #000000;
    min-height: 100vh;
    /* width: calc(100% - 260px); */
    padding: 0;
    padding-bottom: 70px;
}

.dashbg-1 {
    background: #00c3ff;
}

.dashbg_txt_1 {
    color: #00c3ff;
}

.dashbg_txt_2 {
    color: #ff1100 !important;
}

.dashbg-4 {
    background: #6ed94d;
}

.dashbg_txt_4 {
    color: #6ed94d !important;
}

.dashbg_txt_5 {
    color: #ff9090 !important;
}

.dashbg_txt_6 {
    color: #41b217 !important;
}

.dashbg-2 {
    background: #f84e4e;
}

.dashbg-3 {
    background: #f79b3f;
}

nav#sidebar li.active i {
    color: #ffc107;
}

.login-page .form-holder .form {
    background: #2d3035e8;
}

.btn-primary {
    color: color-yiq(#DB6574);
    background-color: #1aa4e8;
    border: none !important;
    border-radius: 0px;
    padding: 8px 20px;
}

.btn-danger {
    border: none !important;
    border-radius: 0px;
    padding: 8px 20px;
}

.btn-normal {
    color: #959595;
    background-color: #2E3036;
    border: none !important;
    border-radius: 0px;
    padding: 8px 20px;
    font-size: 1em;
    display: flex;
}

.btn-secondary {
    color: color-yiq(#868e96);
    background-color: #868e96;
    border-color: #868e96;
    border-radius: 0px;
}

.add-link {
    display: flex;
    color: #00aeff;
    font-size: 1em;
    float: right;
}

.add-link:hover {
    color: #fff;
    text-decoration: none;
}

.add-link:focus {
    color: #fff;
    text-decoration: none;
}

.add-link i {
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: #f79b3e;
}

.color-white {
    color: #fff;
}

.login-btn {
    width: 150px;
}

.login-page .form-holder .form a.forgot-pass,
.login-page .form-holder .form a.signup {
    font-size: 0.9rem;
    color: #f79b3e;
}

.form-control:focus {
    color: #979a9f;
    background-color: transparent;
    border-color: #53585c;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgb(219 101 116 / 2%);
    box-shadow: 0 0 0 0.2rem rgb(219 101 116 / 2%);
}

.modal .modal-content {
    border-radius: 0;
    background: #2d3035;
    border: 1px rgba(204, 204, 204, 0.425) dotted;
    padding: 22px 35px;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem 0px;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 0rem;
    border-bottom: 1px solid #3d4148;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-body p {
    line-height: 20px;
    display: flex;
}

.modal-footer {
    padding: 1rem 0rem;
    border-top: 1px solid #3d4148;
}

.login-page .form-holder .info,
.login-page .form-holder .form {
    min-height: 50vh;
    padding: 40px;
    height: 100%;
    border: 1px rgba(204, 204, 204, 0.425) dotted;
    -webkit-box-shadow: 0px 9px 19px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 0px 9px 19px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 0px 9px 19px 0px rgba(50, 50, 50, 0.35);
}

.active_tag {
    background: #0fab15;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

.doubt_tag {
    background: #dd940d;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

.injured_tag {
    background: #ff5656;
    padding: 2px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px !important;
    margin-top: 13px;
}

.icon_link {
    height: 27px;
    margin-top: 9px;
    float: left;
}

.label_value_Div {
    width: 100%;
    /* margin-bottom: 25px; */
}

.label_value_Div span {
    color: #6a6c70;
    font-size: 14px;
}

.label_value_Div p {
    color: #b0b1b3;
    font-size: 15px;
    margin-bottom: 0px;
}

.statistic-block {
    position: relative;
}

.team_edit_icon {
    position: absolute;
    right: 30px;
    top: 29px;
    z-index: 10;
}

.team_edit_icon img {
    height: 20px;
}


/* Teams Page */

.sports_Categ_title_1 {
    font-size: 1.1rem;
    margin-bottom: 0px;
    display: flex;
}

.sports_Categ_title_1 span {
    color: #545454;
}

.team_avatar {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 0px;
    margin: 15px auto;
    position: relative;
    margin-bottom: -10px;
}


/* // .view_team_cta
// {

// } */

.view_team_cta a {
    color: #e8e3e3;
    border: 1px #6f6f6f solid;
    width: 100%;
    padding: 11px 0px;
    margin-top: 19px;
    font-size: 0.9em;
}

.view_team_cta a:hover {
    background: #565656;
    text-decoration: none;
}

.active_txt {
    color: #0fab15;
}

.injured_txt {
    color: #ff5656;
}

.position-rel {
    position: relative;
}

.icon-block {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 10;
}

.icon-block a {
    margin-left: 10px;
}

.icon-block a:hover {
    opacity: 0.5;
}

#barChartCustom1 {
    height: 350px !important;
}

#lineChartCustom1 {
    height: 380px !important;
}

#barChartCustom2 {
    height: 350px !important;
}


/* // .profile-tiles{

// } */

.profile-tiles p {
    font-size: 2.7em;
    font-weight: 800;
    margin: 0px;
}

.date_span {
    font-size: 12px;
}


/* // .athlete_title{

// } */

.drop_dwn_img {
    margin-right: 10px;
}

.next_prev_div {
    position: absolute;
    right: 14px;
    top: 0px;
}

.nav-tabs {
    border-bottom: 1px solid #34373c;
}


/* .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #8a8d93;
    background-color: #22252a;
    border-color: #34373d;
    border-bottom: #1a1c24;
} */


/* .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #8a8d93;
    background-color: #1a1c24;
    border-color: #34373d;
    border: none;
    border-bottom:1.5px #fff solid;
}
 */

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #f79b3e;
    background-color: #1a1c24;
    border-color: #34373d;
    border: none;
    border-bottom: 1.5px #f79b3e solid;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #5f5f5f;
    border: none;
    padding: 0.6rem;
}

.nav-tabs .nav-item {
    margin-bottom: 0;
}

.nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 1.5px #fff solid;
}


/* atheletedetails */


/* .nav-tab {
    border-bottom: 1px solid #34373c;
}

 .nav-tab .nav-link.active, .nav-tab .nav-item.show .nav-link {
    color: #f79b3e;
    background-color: #1a1c24;
    border-color: #34373d;
    border: none;
    border-bottom: 1.5px #f79b3e solid;
}

.nav-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #5f5f5f;
    border: none;
    padding:0.5rem 0.68rem;
}

.nav-tab .nav-item {
    margin-bottom: 0;
}

.nav-tab .nav-link:hover {

    border: none;
    border-bottom:1.5px #fff solid;
} */

.statistic-block strong {
    text-transform: normal !important;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
    color: #8a8d93;
    margin-bottom: 5px;
}

.active_tag_position {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #fff !important;
}

.statistic-block-in {
    background-color: #282b33;
}

.statistic-block-in p {
    margin: 0px;
}

.access-div-coach {
    background-color: #26292D;
    margin-top: 15px;
}

.access-div-header {
    padding: 10px;
    border-bottom: 1px #555252 dotted;
}

.access-div-header p {
    color: #959595;
    font-size: 1em;
    margin-bottom: 0px;
}

.access-div-content {
    padding: 20px;
    padding-top: 10px;
}

.access-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.access-list li {
    text-align: center;
    padding: 5px 18px;
    color: #959595;
    background-color: #2E3036ed;
    font-size: 0.8em;
    border-radius: 24px;
    display: inline-block;
    margin: 0px 3px;
    margin-top: 10px;
}

.edit_delete img {
    height: 21px;
}

.checkbox-template:checked::before,
.radio-template:checked::before {
    background: #1aa4e8;
}

.form-control {
    font-size: 0.9em;
    color: rgb(138, 141, 147);
    -webkit-appearance: menulist;
}


/*
// .questionaire-div{

// } */

.questionaire-div .public-user-block .name strong {
    font-size: 1.5em !important;
    font-weight: 300;
}

.questionaire-div .dropdown a {
    background: none;
    border: 1px #6f6f6f solid;
    color: #a7a7a7;
}

.questionaire-div .dropdown-menu .dropdown-item {
    background: none;
    border: 1px #3e3e3e solid;
    border-bottom: 0px;
}

.border-top {
    border-top: 1px solid #5a5c5e!important;
}

.brdr-line-m {
    margin: 10px 10px;
}

.page-header h2 a {
    margin-right: 10px;
    cursor: pointer;
}

.quest_header_input {
    background: none;
    font-size: 1.5em;
    text-align: left;
    color: #878a8d;
    border: none;
    width: 100%;
    padding: 0px;
    border-bottom: 1px #5f5c5c dashed;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.quest_descrip_input {
    background: none;
    font-size: 0.9em;
    text-align: left;
    color: #5a5c5e;
    border: none;
    width: 100%;
    padding: 0px;
}

.quest_div {
    width: 100%;
    padding: 10px;
    border: 1px #414141 dotted;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.quest_div:hover {
    border: 1px #575656 dotted;
}

.quest_div p {
    font-size: 1em;
    color: #5a5c5e;
    margin: 0px;
}

.edit_ques_icon {
    position: absolute;
    top: 9px;
    right: 15px;
}

.edit_ques_icon img {
    height: 16px;
    margin-left: 15px;
}

.add_quest_div {
    width: 100%;
    padding: 10px;
    border: 1px #0f6c9a dashed;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    background: #2d3035;
}

.add_quest_div p {
    font-size: 1em;
    color: #1aa4e8;
    margin: 0px;
}

.add_ques_icon {
    position: absolute;
    top: 9px;
    right: 13px;
}

.add_ques_icon img {
    height: 20px;
}

.modal_large {
    max-width: 700px;
}

.form-group-textarea {
    display: grid;
}

.form-group-textarea textarea {
    border: 1px solid #444951;
    background: none;
    padding: 8px;
    color: rgb(138, 141, 147);
    font-size: 0.9em;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 2px #2d3035 solid;
}

.empty_mess_div {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.empty_mess_div p {
    color: #878A8D;
    font-size: 1em;
    text-align: center;
}

.empty_mess_div img {
    margin-bottom: 10px;
}

.form-title {
    line-height: 20px;
}

textarea {
    background: #0000002e;
    color: rgb(151, 151, 151);
    border-color: #484a4c;
    width: 100%;
    padding: 10px;
    border: 1px #616161 solidl;
}

textarea {
    outline: none;
}

.border-block {
    border: 1px #484a4c solid;
    padding: 10px;
    margin-bottom: 10px;
}

.border-block button {
    background-color: rgb(119, 119, 119);
}


/* Toggle Swithc Css */

.can-toggle {
    position: relative;
}

.can-toggle *,
.can-toggle *:before,
.can-toggle *:after {
    box-sizing: border-box;
}

.can-toggle input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.can-toggle input[type=checkbox][disabled]~label {
    pointer-events: none;
}

.can-toggle input[type=checkbox][disabled]~label .can-toggle__switch {
    opacity: 0.4;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:before {
    content: attr(data-unchecked);
    left: 0;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
    content: attr(data-checked);
}

.can-toggle label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 3px;
}

.can-toggle label .can-toggle__label-text {
    flex: 1;
    padding-left: 32px;
}

.can-toggle label .can-toggle__switch {
    position: relative;
}

.can-toggle label .can-toggle__switch:before {
    content: attr(data-checked);
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
}

.can-toggle label .can-toggle__switch:after {
    content: attr(data-unchecked);
    position: absolute;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    background: white;
    transform: translate3d(0, 0, 0);
}

.can-toggle input[type=checkbox][disabled]~label {
    color: rgba(234, 0, 48, 0.5);
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch {
    background-color: #ea0030;
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch:after {
    color: #b70026;
}

.can-toggle input[type=checkbox]:hover~label {
    color: #d1002b;
}

.can-toggle input[type=checkbox]:checked~label:hover {
    color: #55bc49;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch {
    background-color: #70c767;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
    color: #4fb743;
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch {
    background-color: #5fc054;
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
    color: #47a43d;
}

.can-toggle label .can-toggle__label-text {
    flex: 1;
}

.can-toggle label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    background: #ff0538;
}

.can-toggle label .can-toggle__switch:before {
    color: rgba(255, 255, 255, 0.5);
}

.can-toggle label .can-toggle__switch:after {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    color: #ea0030;
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
    transform: translate3d(65px, 0, 0);
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle label {
    font-size: 14px;
}

.can-toggle label .can-toggle__switch {
    height: 36px;
    flex: 0 0 134px;
    border-radius: 4px;
}

.can-toggle label .can-toggle__switch:before {
    left: 67px;
    font-size: 12px;
    line-height: 36px;
    width: 67px;
    padding: 0 12px;
}

.can-toggle label .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: 65px;
    line-height: 32px;
    font-size: 12px;
}

.can-toggle label .can-toggle__switch:hover:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle.can-toggle--size-small input[type=checkbox]:hover~label .can-toggle__switch:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small input[type=checkbox]:checked~label .can-toggle__switch:after {
    transform: translate3d(44px, 0, 0);
}

.can-toggle.can-toggle--size-small input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle.can-toggle--size-small input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small label {
    font-size: 13px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch {
    height: 28px;
    flex: 0 0 90px;
    border-radius: 2px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:before {
    left: 45px;
    font-size: 10px;
    line-height: 28px;
    width: 45px;
    padding: 0 12px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:after {
    top: 1px;
    left: 1px;
    border-radius: 1px;
    width: 44px;
    line-height: 26px;
    font-size: 10px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}


/* ----------------- */

.border-block p {
    margin-top: 6px !important;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    margin-left: 10px !important;
}

.form-block {
    background-color: #191d254f;
    padding: 13px 20px;
    margin: 10px 0px;
}

.form-control {
    height: calc(2.23rem + 2px);
    border: 1px solid #616161;
    background: #0000002e;
    border-radius: 0;
    color: #ffffff;
    padding: 0.45rem 0.75rem;
    line-height: 1.39rem;
}

.strip-heading {
    font-size: 18px !important;
    margin-bottom: 0px !important;
}

.doc-div {
    background-color: #2d3135;
    padding: 50px 15px;
    margin-top: 12px;
    border-radius: 3px;
    padding-bottom: 15px;
}

.doc-div h4 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    line-height: 15px;
}

.doc-div p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    margin-bottom: 30px;
}

.doc-div label {
    font-size: 12px;
}

.align-item-center {
    align-items: center;
    text-align: center;
}

.doc-border {
    border-bottom: 1px #545454 solid;
    margin-bottom: 20px;
}

.larger-modal {
    max-width: 800px !important;
    margin: 1.75rem auto;
}


/* Super Admin Style Starts Here ------------------------------------------- */

.descrip_text {
    color: #5a5a5a
}

.height_20 {
    height: 20px;
}

.m_top_8 {
    margin-top: 8px;
}

.active_bg {
    background-color: #0fab15 !important;
    color: #fff;
}

.btn-primary {
    border-radius: 2px !important;
}

.brdr-1 {
    border: 1px #525252 solid;
}

.switchh-div {
    background-color: #3e4348;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.switchh-div p {
    margin-left: 12px;
    margin-bottom: 0px;
    margin-top: 2px;
}

.widget-div {
    padding: 10px;
    background-color: rgb(40 44 50);
    margin-top: 10px;
    border-radius: 4px;
}

.widget-div p {
    line-height: 21px;
}

.widget-div img {
    margin-top: 15px;
    border-radius: 4px;
}


/* Switch UI Css starts here */

.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 25px;
    padding: 3px;
    border-radius: 18px;
    cursor: pointer;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 12px;
    text-transform: uppercase;
    background: #C81D25;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    transition: 0.15s ease-out;
    /* transition-property: opacity background; */
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    line-height: 1.2;
    transition: inherit;
    color: #fff;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    opacity: 0;
}

.switch-input:checked~.switch-label {
    background: #4fb845;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked~.switch-label:before {
    opacity: 0;
}

.switch-input:checked~.switch-label:after {
    opacity: 1;
}

.switch-input:checked~.switch-handle {
    left: 45px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 1px;
    width: 23px;
    height: 23px;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    transition: left 0.15s ease-out;
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: linear-gradient(to bottom, #eeeeee, white);
}

.switch-material-label {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.switch-material-label:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    content: "";
    transition: all 0.3s ease;
}

.switch-material-label:active:after {
    transform: scale(1.15, 0.85);
}

.switch-material-input:checked~label {
    background: #6fbeb5;
}

.switch-material-input:checked~label:after {
    left: 20px;
    background: #179588;
}

.switch-material-input:disabled~label {
    background: #d5d5d5;
    pointer-events: none;
}

.switch-material-input:disabled~label:after {
    background: #bcbdbc;
}

.switch-material-input.is-hidden {
    display: none;
}


/* Switch UI Ends Here */


/* Dashboard widgets start Here */

.box-spacing {
    padding: 2px;
}

.switch-flex {
    display: flex;
}

.switch-spacing {
    margin: 0px;
    margin-left: auto;
}

.widget-spacing {
    margin: 9px;
}


/* List-of-organizations start Here */

.action-spacing {
    margin-left: auto;
}


/* Manage-roles start Here */

.Setting-spacing {
    margin-left: auto;
}

.m-top-30 {
    margin-top: 30px;
}

.white-txt {
    color: #fff;
}

.key_features {
    margin: 0px;
    padding: 0px;
    margin-left: 18px;
    margin-top: 10px;
}

.m-right-20 {
    padding-right: 20px;
}


/* Athlete data > Treatment info > upload and delete btns  @media */

@media (max-width: 1399.98px) {
    .input-group .btn {
        padding: 7px 12px;
    }
}


/* super-admin login page line height */

.line-spacing {
    line-height: 15px;
}


/* login screen logo size */

.login-img {
    width: 80px;
    margin-bottom: 10px;
}


/* super-admin > manage-athlete-device >device settings-btn */

@media (max-width:1350px) {
    .widget-div {
        padding-bottom: 20px;
    }
}

@media (max-width: 1199px) {
    nav.navbar .sidebar-toggle {
        -webkit-transform: rotateY( 180deg);
        transform: rotateY( 180deg);
    }
}

@media (max-width: 1199px) {
    .page-content {
        width: 100%;
    }
    .page-content.active {
        width: calc(100% - 80px);
    }
    nav#sidebar {
        width: 80px;
        margin-left: -80px;
    }
    nav#sidebar .sidebar-header {
        padding: 10px;
    }
    nav#sidebar .sidebar-header .title {
        display: none;
    }
    nav#sidebar span.heading {
        margin-left: 0;
        display: block;
        text-align: center;
        font-size: 1rem;
    }
    nav#sidebar ul {
        max-height: none;
    }
    nav#sidebar ul a {
        padding: 12px 5px;
        display: block;
        font-weight: 400;
        text-align: center;
        font-size: 0.8rem;
    }
    nav#sidebar ul i {
        font-size: 1.2rem;
        text-align: center !important;
        width: 100%;
        display: block !important;
        border: none !important;
        padding: 0 !important;
    }
    nav#sidebar ul ul a {
        padding-left: 10px;
    }
    nav#sidebar.shrinked {
        margin-left: 0;
    }
    nav#sidebar a[data-toggle="collapse"]::after {
        content: '\f107';
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 88%;
        left: 50%;
    }
    nav#sidebar a[aria-expanded="true"]::after {
        content: '\f106';
    }
}

@media (max-width: 1199px) {
    nav.navbar .right-menu {
        margin-bottom: -3px;
    }
    nav.navbar .navbar-brand {
        margin-right: 5px;
    }
    nav.navbar .search-inner form input {
        font-size: 1.25rem !important;
    }
    nav.navbar .search-inner form button.submit {
        position: absolute;
        font-size: 2rem;
        top: 50px;
        display: block;
        width: 100%;
    }
    /* nav.navbar .sidebar-toggle { */
    /* width: 30px; */
    /* height: 30px; */
    /* line-height: 25px; */
    /* font-size: 1rem; */
    /* } */
    nav.navbar .messages-toggle,
    nav.navbar .tasks-toggle {
        margin-right: 0;
    }
    nav.navbar .brand-text {
        display: none !important;
    }
    nav.navbar .brand-text.visible {
        display: none !important;
    }
    nav.navbar .brand-text.brand-sm {
        display: block !important;
    }
    nav.navbar .sidebar-toggle {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@media (max-width: 991px) {
    nav.navbar .dropdown-menu {
        right: -140px;
    }
    nav.navbar .megamenu {
        right: 0 !important;
    }
    nav.navbar a.nav-link {
        font-size: 0.85rem;
    }
    nav.navbar a.nav-link .badge {
        width: 16px;
        height: 16px;
        line-height: 16px;
        color: #fff;
        text-align: center;
        font-size: 0.6rem;
    }
}

@media (max-width: 991px) {
    nav.navbar .dropdown-menu {
        right: -140px;
    }
    nav.navbar .megamenu {
        right: 0 !important;
    }
    nav.navbar a.nav-link {
        font-size: 0.85rem;
    }
    nav.navbar a.nav-link .badge {
        width: 16px;
        height: 16px;
        line-height: 16px;
        color: #fff;
        text-align: center;
        font-size: 0.6rem;
    }
}


/* athlete-details 3-boxes */

.spacing {
    padding: 10px;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545;
    background-image: url();
}

.border-blue {
    border: 1px #03aefe solid;
}

.capitalize {
    text-transform: capitalize;
}

input[type='text'] {
    text-transform: capitalize;
}


/* New Login Page -----------------------------------------------------------------------*/

html,
body {
    height: 100%;
}

.mainWrap {
    height: 100%;
}

.loginPageWrapperIn {
    display: flex;
    color: #fff;
    min-height: 100%;
}

.loginPageWrapperIn .bgLeftWrap {
    flex: 0 0 50%;
    position: relative;
    z-index: 1;
    padding: 48px 60px 48px;
    position: relative;
}

.loginPageWrapperIn .bgLeftWrap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/simon-connellan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    z-index: -1;
}

.loginPageWrapperIn .bgLeftWrap .sitelogo {
    margin: 0 0 30px 0px;
}

.loginPageWrapperIn .bgLeftWrap h3 {
    font-size: 2.25rem;
    font-weight: 400;
}

.loginPageWrapperIn .loginrightForm {
    flex: 0 0 50%;
    padding: 50px 0px;
    position: relative;
    z-index: 1;
    /* background:#111418; */
    background-image: linear-gradient(to right top, #1e1e1e, #232327, #282830, #2c2e39, #2f3443, #2d3646, #2a3948, #273b4a, #223943, #20363c, #1f3335, #20302f);
    display: flex;
    align-items: center;
}

.loginPageWrapperIn .loginrightForm .contentForm {
    max-width: 1330px;
    width: 100%;
    margin: 0px auto;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn {
    max-width: 400px;
    margin: 0px auto;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn.FormBlock {
    max-width: 500px;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn h2 {
    margin: 0 0 0px 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn p {
    margin: 0 0 30px 0;
    color: #939393;
    font-weight: 400;
    line-height: 1.5;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn .control-label {
    color: #87909A;
    font-size: 15px;
    margin: 0 0 8px 0;
    font-weight: normal;
    display: block;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn .form-control {
    font-size: 15px;
    border: none;
    background: #282B33;
    line-height: normal;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    padding: 0 16px;
    height: 42px;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn textarea.form-control {
    height: 100px;
    padding: 16px 16px;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn .form-control:focus {
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #404675;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn .control-label .forgot-pass {
    float: right;
    color: #f79b3e;
    font-size: 13px;
}

.loginPageWrapperIn .loginrightForm .contentForm .contentFormIn .control-label .forgot-pass:hover {
    color: #f79b3e;
}

.contentFormIn .submitBtn .btn-primary {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: 500 !important;
    width: auto;
    min-width: 120px;
    height: 48px;
    line-height: 45px;
    padding: 0 32px;
}


/* -webit-transform: scale(1); */

.radioBox input[type="radio"]:checked+label::before {
    box-shadow: 0 0 0 1px rgba(255, 118, 197);
}

.radioBox input[type="radio"]:checked+label {
    color: rgba(255, 118, 197);
}

.imgUploader {
    background: rgb(40, 43, 51);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 18px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
}

.imgUploader .img {
    flex: 0 0 72px;
    height: 72px;
    background-color: rgb(25, 28, 36);
    /* background: url(../img/imgPlaceholder.svg); */
    background-repeat: no-repeat;
    background-position: 22px 25px;
    width: 72px;
    border-radius: 100px;
    text-align: center;
    margin: 0 20px 0 0;
    overflow: hidden;
}

.imgUploader .img form {
    height: inherit;
}

.imgUploader .img input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.imgUploader .img img[src=""] {
    display: none;
}

.imgUploader .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgUploader .content h6 {
    margin: 0 0 4px 0;
    /* font-weight: ; */
    font-size: 14px;
    font-weight: 700;
    color: rgba(206, 206, 206, 1);
}

.imgUploader .content p {
    margin: 0 0 0px 0;
    /* font-weight: ; */
    font-size: 13px;
    font-weight: 700;
    color: rgba(206, 206, 206, 0.4);
}

.inputInlineWrap .inputInline {
    display: inline-block;
    margin: 0 0 0 32px;
}

.inputInlineWrap .inputInline label {
    margin: 0px;
}

.inputInlineWrap .inputInline:first-child {
    margin-left: 0;
}

.customRadio {
    position: relative;
}

.customRadio input {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.customRadio label {
    padding: 0 0 0 32px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
}

.customRadio label::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    box-shadow: 0 0 0px 1px rgb(230, 230, 230);
    -webkit-box-shadow: 0 0 0px 1px rgb(230, 230, 230);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.25s ease-out;
    -webkit-transition: 0.25s ease-out;
}

.customRadio label::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    background: #00aeff;
    box-shadow: 0 0 1px 0 #00aeff;
    -webkit-box-shadow: 0 0 1px 0 #00aeff;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    -webkit-transform: translateY(-50%) scale(0);
    transition: 0.25s ease-out;
    -webkit-transition: 0.25s ease-out;
}

.customRadio input:checked+label::before {
    box-shadow: 0 0 0px 1px #00aeff;
    -webkit-box-shadow: 0 0 0px 1px #00aeff;
}

.customRadio input:checked+label::after {
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
}

.FormBlock .imgUploader {
    margin: 24px 0 0 0;
}

.row.grid16 {
    margin-left: -8px;
    margin-right: -8px;
}

.row.grid16>[class*=" col-"],
.row.grid16>[class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}

@media (max-width:991px) {
    .loginPageWrapperIn {
        flex-wrap: wrap;
    }
    .loginPageWrapperIn .bgLeftWrap {
        flex: 100%;
        padding: 70px 60px 70px;
    }
    .loginPageWrapperIn .loginrightForm {
        flex: auto;
    }
    .loginPageWrapperIn .loginrightForm .contentForm .contentFormIn {
        max-width: 448px;
        margin: 0px auto;
        padding: 0 24px;
    }
}


/* New Login Page ends-----------------------------------------------------------------------*/

.modal-open .modal .modal-title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 0.5px;
    letter-spacing: 0.5px;
}